:host {
  display: block;
  max-width: 58.75rem;
  margin: 0 auto;
  padding-top: 10rem;
}

.heading-container {
  display: flex;
  align-items: center;

  h1 {
    font: var(--sys-display-large);
    letter-spacing: var(--sys-display-large-tracking);
    margin: 0;
  }

  img {
    height: 5rem;
    width: 5rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    justify-items: start;
    padding-left: 1.25rem;
  }

  .preview-label {
    font: var(--sys-label-large);
    letter-spacing: var(--sys-label-large-tracking);
  }
}

.info-text {
  margin-top: 3.5rem;
  font: var(--sys-body-large);
  letter-spacing: var(--sys-body-large-tracking);
  color: var(--sys-on-secondary-container);
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;

  .info-icon {
    display: flex;
    align-self: center;
  }

  .card-text {
    color: var(--sys-inverse-surface);
  }

  .card {
    height: 15.8125rem;
    width: 27rem;
    font: var(--sys-label-large);
    letter-spacing: var(--sys-label-large-tracking);

    &-1 {
      .buttons {
        display: flex;
        justify-content: space-between;
      }
    }

    &-2 {
      .buttons {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

::ng-deep {
  .tooltip-panel {
    background-color: white;
    margin-left: 0.5rem;
    box-shadow: 0 0.3125rem 1rem 0 #201e3d3d;
    border-radius: 0.5rem;
    max-width: 21rem;
    font: var(--sys-label-medium);
    letter-spacing: var(--sys-label-medium-tracking);
    color: var(--sys-primary);
  }
}
