@use '../../../styles/cta' as cta;

:host {
  font-family: 'Metropolis';
  display: flex;
  flex-wrap: wrap;
  // gap: 4rem;
  gap: 40px;

  .visual-card {
    // max-height: 30.5rem;
    // max-width: 30.5rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 5px 16px 0px rgba(32, 30, 61, 0.24);
    outline-offset: 0;
    cursor: pointer;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: calc(100vw - 3rem);

    &:hover {
      box-shadow: 0px 5px 16px 5px rgba(32, 30, 61, 0.24);
    }

    &:focus-visible .label {
      @include cta.flatFocus();
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    .label {
      // margin: 3.4063rem auto;
      // padding: 0.5rem 1.5rem;
      // font-size: 1.125rem;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto auto;

      //
      font-size: 11px;
      letter-spacing: 0.2px;
      font-weight: 500;
    }

    mat-icon {
      vertical-align: middle;
      // margin-left: 0.75rem;
      margin-left: 0.25rem;
      height: 1rem;
      width: 1rem;
      font-size: 1rem;
    }
  }

  @media (min-width: 430px) {
    .visual-card {
      height: calc(100vw - 80px) !important;
    }
  }

  @media (min-width: 544px) {
    gap: 3rem;

    .visual-card {
      width: 488px;
      height: 488px !important;
    }

    .label {
      font-size: 18px !important;
    }

    mat-icon {
      height: 1.5rem !important;
      width: 1.5rem !important;
      font-size: 1.5rem !important;
      margin-left: 12px !important;
    }
  }

  // @media (min-width: 768px) {
  //   .visual-card {
  //     height: calc(100vw - 280px) !important;
  //   }
  // }

  // @media (min-width: 1012px) {
  //   .visual-card {
  //     height: calc(100vw - 524px) !important;
  //   }
  // }
}
