@use '../../../styles/cta' as cta;

:host {
  font-family: 'Metropolis';
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

  .visual-card {
    max-height: 30.5rem;
    max-width: 30.5rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 5px 16px 0px rgba(32, 30, 61, 0.24);
    outline-offset: 0;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 5px 16px 5px rgba(32, 30, 61, 0.24);
    }

    &:focus-visible .label {
      @include cta.flatFocus();
    }

    img {
      height: 21rem;
      width: 100%;
      object-fit: contain;
    }

    .label {
      margin: 3.4063rem auto;
      padding: 0.5rem 1.5rem;
      font-size: 1.125rem;
      line-height: 1.6875rem;
      font-weight: 500;
      width: fit-content;
    }

    mat-icon {
      vertical-align: middle;
      margin-left: 0.75rem;
    }
  }
}
