@let root = rootNode();

<div class="header" [hraPlainTooltip]="tooltip()">
  {{ getNodeLabel(root.label ?? '') }}
  <div class="header-num-results">Tissue Blocks: {{ getCount(root) }}</div>
</div>

@if (root.id === 'biomarkers') {
  <div class="biomarkers-toggle">
    <mat-button-toggle-group
      hraFeature="biomarkers-toggle"
      multiple
      hideMultipleSelectionIndicator
      name="multiSelect"
      aria-label="Multi Select"
      hraButtonToggleSize="small"
      (change)="biomarkerOptionSelectionChange($event.value)"
    >
      @for (option of biomarkerMenuOptions(); track option) {
        <mat-button-toggle
          hraClickEvent
          [hraFeature]="option | slugify"
          [value]="option"
          [checked]="isBiomarkerOptionSelected(option)"
          [hraPlainTooltip]="(isBiomarkerOptionSelected(option) ? 'Hide ' : 'Show ') + option.toLowerCase()"
          >{{ option }}</mat-button-toggle
        >
      }
    </mat-button-toggle-group>
  </div>
}

<ng-scrollbar hraScrollOverflowFade>
  <mat-tree hraTreeSize="small" [dataSource]="nodes()" [childrenAccessor]="getChildren()" #tree>
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      hraFeature="leaf"
      matTreeNodePadding
      matTreeNodePaddingIndent="12"
      (click)="select($event.ctrlKey, node, true, !isSelected(node))"
    >
      <div
        hraClickEvent
        class="node-content leaf"
        [hraFeature]="node.label | slugify"
        [class.selected]="isSelected(node)"
      >
        <div hraFeature="label" hraClickEvent class="node-label">{{ node.label }}</div>
        <div hraFeature="count" hraClickEvent class="num-results">{{ getCount(node) }}</div>
      </div>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChildren"
      hraFeature="branch"
      matTreeNodePadding
      matTreeNodeToggle
      matTreeNodePaddingIndent="12"
      [cdkTreeNodeTypeaheadLabel]="node.label"
      (click)="select($event.ctrlKey, node, true, !isSelected(node))"
    >
      <div hraClickEvent class="node-content" [hraFeature]="node.label | slugify" [class.selected]="isSelected(node)">
        <button
          hraFeature="toggle"
          hraClickEvent
          class="tree-expand-icon"
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="`Toggle ${node.label}`"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ tree.isExpanded(node) ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </button>
        <div hraFeature="label" hraClickEvent class="node-label">{{ node.label }}</div>
        <div hraFeature="count" hraClickEvent class="num-results">{{ getCount(node) }}</div>
      </div>
    </mat-tree-node>
  </mat-tree>
</ng-scrollbar>
