<mat-tree
  class="ccf-ontology-tree"
  [class.header-hidden]="!header"
  [dataSource]="dataSource"
  [treeControl]="control"
  hraTreeSize="small"
>
  <!-- Templates with common structures for inner and leaf nodes -->
  <ng-template #selectableRegion let-node="node">
    <div
      class="text"
      [class.filtered-out]="!occurenceData[node.original.id] && !!termData[node.original.id]"
      [class.unavailable]="!termData[node.original.id]"
    >
      {{ getNodeLabel(node.label) }}
    </div>
  </ng-template>

  <!-- Leaf node template -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    class="node leaf-node block"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="indent"
    (click)="select($event.ctrlKey, node, true, !isSelected(node))"
  >
    <div class="node-content leaf" [class.selected]="isSelected(node)">
      <ng-container *ngTemplateOutlet="selectableRegion; context: { node: node }"></ng-container>
      <div class="num-results" [class.suborgan]="node.level > 1">
        {{ getCountLabel(node) }}{{ occurenceData[node.original.id] || 0 }}
      </div>
    </div>
  </mat-tree-node>

  <!-- Inner node template -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: isInnerNode"
    class="node inner-node block"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="indent"
    (click)="select($event.ctrlKey, node, true, !isSelected(node))"
  >
    <div class="node-content leaf" [class.selected]="isSelected(node)">
      <button class="toggle" mat-icon-button matTreeNodeToggle attr.aria-label="Toggle {{ node.label }}">
        <mat-icon class="icon font-icon">
          {{ control.isExpanded(node) ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </button>
      <ng-container *ngTemplateOutlet="selectableRegion; context: { node: node }"></ng-container>
      <div class="num-results" [class.suborgan]="node.level > 1">
        {{ getCountLabel(node) }}{{ occurenceData[node.original.id] || 0 }}
      </div>
    </div>
    <div class="biomarkers-toggle" *ngIf="showtoggle && node.original.id === 'biomarkers'">
      <mat-button-toggle-group
        multiple
        name="multiSelect"
        aria-label="Multi Select"
        hraButtonToggleSize="small"
        hideMultipleSelectionIndicator
      >
        @for (option of menuOptions; track option) {
          <mat-button-toggle [value]="option" checked>{{ option }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
  </mat-tree-node>
</mat-tree>
