:host {
  scrollbar-width: thin;

  mat-tree-node {
    display: flex;
    flex-direction: column;

    .num-results {
      margin-left: auto;
    }
  }

  .node-content {
    height: fit-content;
  }

  ::ng-deep .mat-mdc-button-touch-target {
    height: 1.5rem;
    width: 1.5rem;
  }
}
