@let root = rootNode();

<div class="header" [hraPlainTooltip]="tooltip()">
  {{ getNodeLabel(root.label ?? '') }}
  <div class="header-num-results">Tissue Blocks: {{ getCount(root) }}</div>
</div>

@if (root.id === 'biomarkers') {
  <div class="biomarkers-toggle">
    <mat-button-toggle-group
      multiple
      hideMultipleSelectionIndicator
      name="multiSelect"
      aria-label="Multi Select"
      hraButtonToggleSize="small"
      (change)="biomarkerOptionSelectionChange($event.value)"
    >
      @for (option of biomarkerMenuOptions(); track option) {
        <mat-button-toggle
          [value]="option"
          [checked]="isBiomarkerOptionSelected(option)"
          [hraPlainTooltip]="(isBiomarkerOptionSelected(option) ? 'Hide ' : 'Show ') + option.toLowerCase()"
          >{{ option }}</mat-button-toggle
        >
      }
    </mat-button-toggle-group>
  </div>
}

<ng-scrollbar hraScrollOverflowFade>
  <mat-tree [dataSource]="nodes()" [childrenAccessor]="getChildren()" hraTreeSize="small" #tree>
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodePadding
      (click)="select($event.ctrlKey, node, true, !isSelected(node))"
      matTreeNodePaddingIndent="12"
    >
      <div class="node-content leaf" [class.selected]="isSelected(node)">
        <div class="node-label">{{ node.label }}</div>
        <div class="num-results">{{ getCount(node) }}</div>
      </div>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChildren"
      matTreeNodePadding
      matTreeNodeToggle
      [cdkTreeNodeTypeaheadLabel]="node.label"
      (click)="select($event.ctrlKey, node, true, !isSelected(node))"
      matTreeNodePaddingIndent="12"
    >
      <div class="node-content" [class.selected]="isSelected(node)">
        <button class="tree-expand-icon" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.label">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ tree.isExpanded(node) ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </button>
        <div class="node-label">{{ node.label }}</div>
        <div class="num-results">{{ getCount(node) }}</div>
      </div>
    </mat-tree-node>
  </mat-tree>
</ng-scrollbar>
