<app-sidenav hraFeature="indented-list">
  <div header>
    <app-sidenav-header
      tooltipString="Traditional Indented List view of the data"
      [title]="`${currentSheet.display} Indented List`"
      (closeSideNav)="closeIL.emit(); visible = false"
    />
  </div>

  <div *ngIf="visible" body>
    <mat-tree class="tree-container" [dataSource]="dataSource" [treeControl]="treeControl" #indentTree>
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodePadding
        [ngClass]="{ 'background-highlight': activateNode === node }"
        (click)="activateNode = node; openBottomSheet.emit({ name: node.name, ontologyId: node.ontologyId })"
      >
        <button mat-icon-button disabled></button>
        <div class="d-flex align-items-center">
          <span class="h6 fw-normal m-0">{{ node.name }}</span
          ><span *ngIf="node.ontologyId" class="node-name-id"> {{ node.ontologyId }}</span>
        </div>
      </mat-tree-node>
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        [ngClass]="{ 'background-highlight': activateNode === node }"
        (click)="activateNode = node; openBottomSheet.emit({ name: node.name, ontologyId: node.ontologyId })"
      >
        <button
          mat-icon-button
          matTreeNodeToggle
          class="node-button"
          hraFeature="toggle"
          hraClickEvent
          [attr.aria-label]="`toggle${node.name}`"
        >
          <mat-icon class="mat-icon-rtl-mirror node-button-icon">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>

        <div class="d-flex align-items-center">
          <span class="h6 m-0 fw-bold">{{ node.name }} </span
          ><span *ngIf="node.ontologyId" class="node-name-id"> {{ node.ontologyId }}</span>
        </div>
      </mat-tree-node>
    </mat-tree>
  </div>

  <div *ngIf="!visible" body>
    <div class="px-4">
      <h3>Indent List not created yet.</h3>
    </div>
  </div>
</app-sidenav>
