@use 'vars';
@use 'utils';

.mat-tree-node {
  min-height: 2em !important;
  cursor: pointer;
}

.background-highlight {
  color: #1976d2;
}

.tree-container {
  padding: 1.25rem !important;
  width: fit-content !important;
  background-color: transparent;
}

.node-name-id {
  @include utils.use-font(label, small);
  color: vars.$primary;
  padding-left: 1.5rem;
}

div[body] {
  max-height: calc(100vh - 4rem);
  overflow: auto;
}
