:host {
  padding: 0.5rem 0 0rem 1rem;

  ::ng-deep hra-expansion-panel {
    .title {
      font: var(--sys-label-medium);
    }
  }

  .total-count,
  .term-bloc {
    font: var(--sys-label-small);
    letter-spacing: var(--sys-label-small-tracking);
    margin-right: 1rem;
  }

  .term-list {
    height: calc((100vh - 30rem) / 3);
    --_hra-scroll-overflow-fade-color: var(--sys-surface-container-low);
  }

  .term-bloc {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
    height: 1.5rem;
    color: var(--sys-secondary);

    .count {
      color: var(--sys-primary);
    }
  }
}
