<div class="header">
  <div class="header-left">
    <div class="title">Configure Spatial Search</div>
    <button class="info" mat-icon-button (click)="infoClicked.emit()">
      <mat-icon>help</mat-icon>
    </button>
  </div>
  <button class="close" mat-icon-button (click)="closeDialog.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="sex-toggle">
  <mat-form-field class="sex-field" subscriptSizing="dynamic">
    <mat-label>Donor Sex</mat-label>
    <mat-select
      panelClass="options-container"
      disableOptionCentering="true"
      disableRipple
      [(value)]="sex"
      (selectionChange)="updateSex.emit($event.value)"
    >
      @for (option of ['both', 'male', 'female']; track option) {
        <mat-option class="dropdown-option" [value]="option">
          <div>{{ option.charAt(0).toUpperCase() + option.slice(1) }}</div>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="organ-selector">
  <form class="organ-selector">
    <mat-form-field class="organ-field" subscriptSizing="dynamic">
      <mat-label>Organ</mat-label>
      <mat-icon class="search-icon" matPrefix>search</mat-icon>
      <input
        matInput
        hideSingleSelectionIndicator="true"
        type="text"
        placeholder="Organ"
        aria-label="Organ"
        [formControl]="organControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="updateOrgan.emit($event.option.value)"
      >
        @for (organ of filteredOrgans | async; track organ) {
          <mat-option [value]="organ">{{ organ.name }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<button mat-flat-button class="continue-button" [class.disabled]="!selectedOrgan" (click)="buttonClicked.emit()">
  Continue
</button>
