<ng-container hraFeature="organ-table-selector">
  <div class="selector-title-container">
    <div class="title">Select one or more datasets</div>

    <mat-slide-toggle
      hraFeature="cache-toggle"
      matTooltip="Toggle to get data from Cache"
      matTooltipPosition="below"
      [checked]="getFromCache"
      [hraClickEvent]="{ enabled: getFromCache }"
      (change)="getFromCache = !getFromCache"
    >
      <span class="cache-label">Cache</span>
    </mat-slide-toggle>
  </div>

  <mat-tab-group
    hraFeature="tabs"
    hraClickEvent
    hraClickEventTriggerOn="none"
    class="remove-border"
    animationDuration="0"
    [selectedIndex]="componentActive"
    [mat-stretch-tabs]="false"
    [fitInkBarToContent]="false"
    (selectedIndexChange)="changeTab($event)"
    (selectedTabChange)="event.logEvent(undefined, undefined, { tab: $event.tab.textLabel })"
    #event="hraClickEvent"
  >
    <mat-tab label="ASCT+B Tables" hraFeature="asctb-tables" [tabIndex]="0">
      <ng-template matTabContent>
        <div class="table-container">
          <table mat-table class="asctb" [dataSource]="dataSource">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell class="check-box">
                <mat-checkbox
                  hraFeature="select-all"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                  [hraClickEvent]="{ allSelected: isAllSelected() }"
                  (change)="$event ? masterToggle() : null"
                />
              </th>
              <td *matCellDef="let row" mat-cell class="check-box">
                <mat-checkbox
                  hraFeature="select-row"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                  [hraClickEvent]="{ selected: selection.isSelected(row) }"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selectRow(row) : null"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell id="organ-name">Organs</th>
              <td *matCellDef="let element" mat-cell>
                {{ element.display }}
              </td>
            </ng-container>
            <ng-container matColumnDef="version">
              <th *matHeaderCellDef mat-header-cell>Version</th>
              <td *matCellDef="let element" mat-cell>
                <div *ngIf="element.version.length > 1">
                  <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-select
                      hraFeature="data-version"
                      hraModelChangeEvent
                      [(ngModel)]="element.symbol"
                      (selectionChange)="changeVersion($event.value, element)"
                    >
                      <mat-option *ngFor="let option of element.version" [value]="option.value">
                        {{ option.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="element.version.length === 1">
                  <mat-label
                    >{{ element.version[0].viewValue }}
                    {{ changeVersion(element.version[0].value, element) }}</mat-label
                  >
                </div>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
          </table>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="OMAPs" hraFeature="omaps" [tabIndex]="1">
      <ng-template matTabContent>
        <div class="table-container">
          <table mat-table class="omaps" [dataSource]="omapdataSource">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell id="check-box">
                <mat-checkbox
                  hraFeature="select-all"
                  [checked]="omapselection.hasValue() && isAllSelected()"
                  [indeterminate]="omapselection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                  [hraClickEvent]="{ allSelected: isAllSelected() }"
                  (change)="$event ? masterToggle() : null"
                />
              </th>
              <td *matCellDef="let row" mat-cell>
                <mat-checkbox
                  hraFeature="select-row"
                  [checked]="omapselection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                  [hraClickEvent]="{ selected: omapselection.isSelected(row) }"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selectRow(row) : null"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="Organs">
              <th *matHeaderCellDef mat-header-cell id="organ-name">Organs</th>
              <td *matCellDef="let element" class="organ-name-label" mat-cell>
                {{ element.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Multiplexed antibody-based imaging method">
              <th *matHeaderCellDef mat-header-cell id="imagingMethod">Multiplexed antibody-based imaging method</th>
              <td *matCellDef="let element" class="organ-name-label imaging-method" mat-cell>
                {{ element.imagingMethod }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Tissue preservation method">
              <th *matHeaderCellDef mat-header-cell id="tissuePreservationMethod">Tissue preservation method</th>
              <td *matCellDef="let element" class="organ-name-label" mat-cell>
                {{ element.tissuePreservationMethod }}
              </td>
            </ng-container>
            <ng-container matColumnDef="OMAP-ID">
              <th *matHeaderCellDef mat-header-cell id="omapId">OMAP-ID</th>
              <td *matCellDef="let element" class="organ-name-label" mat-cell>
                {{ element.omapId }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Version">
              <th *matHeaderCellDef mat-header-cell id="version">Version</th>
              <td *matCellDef="let element" mat-cell>
                <div *ngIf="element.version.length > 1">
                  <mat-form-field class="version-dropdown" appearance="fill" subscriptSizing="dynamic">
                    <mat-select
                      hraFeature="data-version"
                      hraModelChangeEvent
                      [(ngModel)]="element.symbol"
                      (selectionChange)="changeVersion($event.value, element)"
                    >
                      <mat-option *ngFor="let option of element.version" [value]="option.value">
                        {{ option.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="element.version.length === 1">
                  <mat-label>{{ element.version[0].viewValue }}</mat-label>
                </div>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="omapdisplayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: omapdisplayedColumns" mat-row></tr>
          </table>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div footer>
    <div class="mt-2" class="dialog-actions">
      <div class="left">
        <button
          mat-button
          hraButtonVariant="primary"
          hraButtonSize="medium"
          hraFeature="back"
          hraClickEvent
          [mat-dialog-close]="onClose"
        >
          Back
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="right">
        <hra-help-button [action]="helpMenu" />
        <button
          mat-flat-button
          hraButtonSize="medium"
          hraFeature="visualize"
          hraClickEvent
          [disabled]="!hasSomeOrgans"
          (click)="addSheets()"
        >
          Visualize data
        </button>
      </div>
    </div>
  </div>

  <!-- LATER: Refactor into one shared menu component -->
  <mat-menu class="help-menu" hraFeature="help-menu" #helpMenu="matMenu">
    <a mat-menu-item href="https://humanatlas.io/asctb-reporter" target="_blank" hraFeature="app-guide" hraClickEvent>
      <div class="title">ASCT+B Reporter</div>
      <div class="description">App guide & documentation</div>
    </a>
    <mat-divider />
    <a mat-menu-item href="https://humanatlas.io/asctb-tables" target="_blank" hraFeature="asctb-tables" hraClickEvent>
      <div class="title">ASCT+B Tables</div>
      <div class="description">Data documentation</div>
    </a>
    <a mat-menu-item href="https://humanatlas.io/omap" target="_blank" hraFeature="omap" hraClickEvent>
      <div class="title">Organ Mapping Antibody Panels</div>
      <div class="description">Data documentation</div>
    </a>
    <mat-divider />
    <a mat-menu-item href="https://humanatlas.io/publications" target="_blank" hraFeature="publications" hraClickEvent
      >Read publications</a
    >
    <mat-divider />
    <a mat-menu-item hraHoverEvent hraFeature="hubmap-menu" [matMenuTriggerFor]="hubmapMenu">
      Human Biomolecular Atlas Program (HuBMAP)
      <mat-icon class="expand-arrow">arrow_right</mat-icon>
    </a>
  </mat-menu>

  <mat-menu #hubmapMenu="matMenu">
    <a
      mat-menu-item
      hraFeature="hubmap-website"
      hraClickEvent
      href="https://hubmapconsortium.org/wp-content/uploads/2020/06/DUA_FINAL_2020_02_03_for_Signature.pdf"
      target="_blank"
      >Terms and conditions</a
    >
    <a
      mat-menu-item
      href="https://hubmapconsortium.org/policies"
      target="_blank"
      hraFeature="hubmap-policies"
      hraClickEvent
      >Policies</a
    >
  </mat-menu>
</ng-container>
