@use '@angular/material' as mat;
@use 'vars';
@use 'utils';

:host {
  display: block;

  .selector-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid vars.$outline;

    .title {
      @include utils.use-font(title, small);
    }
  }

  @include mat.tabs-overrides(
    (
      active-indicator-color: vars.$on-tertiary-fixed,
      active-focus-indicator-color: vars.$on-tertiary-fixed,
      active-focus-label-text-color: vars.$secondary,

      inactive-label-text-color: vars.$primary,
    )
  );

  @include mat.table-overrides(
    (
      header-container-height: 2.5rem,
      header-headline-color: vars.$secondary,
      header-headline-font: vars.$label-medium-font,
      header-headline-line-height: vars.$label-medium-line-height,
      header-headline-size: vars.$label-medium-size,
      header-headline-tracking: vars.$label-medium-tracking,
      header-headline-weight: vars.$label-medium-weight,

      footer-container-height: 2.5rem,
      footer-supporting-text-font: vars.$label-medium-font,
      footer-supporting-text-line-height: vars.$label-medium-line-height,
      footer-supporting-text-size: vars.$label-medium-size,
      footer-supporting-text-tracking: vars.$label-medium-tracking,
      footer-supporting-text-weight: vars.$label-medium-weight,

      row-item-container-height: 2.5rem,
      row-item-label-text-color: vars.$primary,
      row-item-label-text-font: vars.$label-medium-font,
      row-item-label-text-line-height: vars.$label-medium-line-height,
      row-item-label-text-size: vars.$label-medium-size,
      row-item-label-text-tracking: vars.$label-medium-tracking,
      row-item-label-text-weight: vars.$label-medium-weight,
      row-item-outline-width: 0px,
    )
  );

  .button-container {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 1rem;
    height: 3.8rem;
    padding: 0.5rem 1rem 0rem 1rem;
  }

  .organ-name-label {
    font-size: 0.9rem;
    padding: unset;
  }
  .imaging-method {
    padding-left: 0.5rem;
  }

  .select-deselect-all {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.938rem;
  }

  .add-cancel-button {
    border: 0.063rem solid rgb(196, 196, 196);
    border-radius: 0.5rem !important;
  }

  .orgon-selection-box {
    margin-bottom: 0;
  }

  .orgon-selection-button {
    width: 100%;
  }

  .mat-table {
    overflow-x: scroll;
  }

  .table-container {
    margin-top: 0.625rem;
    max-height: 18.75rem;
    overflow: auto;

    table {
      th,
      td {
        @include utils.use-font(label, medium);
        padding: 0.5rem 1rem;
        min-width: fit-content;

        &:nth-child(1) {
          width: 3rem !important;
        }
      }

      th {
        color: vars.$secondary;
      }

      td {
        color: vars.$primary;
      }

      &.omaps {
        max-width: 50rem;

        th,
        td {
          &:nth-child(5) {
            min-width: 7rem;
          }

          &:nth-child(6) {
            max-width: 7rem;

            mat-form-field {
              width: 100%;
            }
          }
        }
      }

      &.asctb {
        min-width: 31.25rem;

        th,
        td {
          &:nth-child(2) {
            min-width: 6.75rem;
            max-width: 17.5rem;
          }

          &:nth-child(3) {
            max-width: 7rem;

            mat-form-field {
              width: 100%;
            }
          }
        }
      }
    }
  }

  th {
    font-size: 0.8rem;
    color: #7588a1;
    font-weight: 400;
  }

  ::ng-deep .mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-value-text {
    padding: unset;
  }
}
