@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
@import "node_modules/swiper/swiper";
@import "swiper/scss/effect-fade";

:root {
  --swiper-navigation-size: 0.6rem;
}

.carousel {
  height: 29.5rem;
  margin-bottom: 1rem;


  .swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    background: #fafafa;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination {
    text-align: left;
    top: 95.5%;
    margin-left: 20.71px;
    height: fit-content;
  }

  .swiper-button-prev {
    top: 97%;
    color: #444a65;
    left: 0.0625rem;
    display: inline-flex;
    background-image: url(../../../assets/images/swiper_left.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 6.59px;
    height: 11.17px;
  }

  .swiper-button-next {
    top: 97%;
    left: 19.5%;
    color: #444a65;
    display: inline-flex;
    background-image: url(../../../assets/images/swiper_right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 6.59px;
    height: 11.17px;
    z-index: 1000;
  }

  .carousel-left {
    height: 100%;
    width: 384px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 0;
    text-align: left;
    padding-left: 0.063rem;
  }

  .carousel-right {
    width: 840px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
    object-fit: cover;
  }

  .content-titles {
    font-family: "Inter", sans-serif;
    font-size: 1.75rem;
    color: #212121;
    padding-bottom: 5%;
    font-style: normal;
    font-weight: 300;
    line-height: 2.125rem;
    letter-spacing: 0.005em;
  }

  .content-body {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 5%;
    color: #212121;
    letter-spacing: 0.005em;
  }

  .get-button {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    position: absolute;
    border: 0.625rem solid black;
    color: black;
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    
  }

  .swiper-pagination-bullet-active {
    background-color: #444a65 !important;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
  }

  .swiper-pagination-bullet {
    border: 0.125rem solid #444a65 !important;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    background: unset;
    opacity: unset;
  }

  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
    outline: 0.30rem solid rgba(0, 0, 0, 0.04);
    background-color: rgba(0, 0, 0, 0.04);
    
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 1rem;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin-right: 1rem;
  }

  a:-webkit-any-link {
    text-decoration: unset !important;
  }
}
