@use '@angular/material' as mat;
@use 'utils';
@use 'vars';

:host {
  display: flex;
  min-width: 40rem;
  max-width: 81.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: vars.$surface;
  box-shadow: 0 0.3125rem 1rem 0 utils.with-alpha(vars.$on-background, 0.24);
  width: calc(100vw - 2rem);

  .featured-section {
    min-width: 14.5rem;
    max-width: 19.75rem;
    padding: 1.5rem;
    background: #0000000a;
  }

  .featured-link {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    height: fit-content;
  }

  .featured-content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .featured-image {
    border-radius: 0.5rem;
  }

  .featured-bottom {
    display: flex;
    text-align: start;
    padding: 1rem;
    min-height: 3.5rem;
    background: vars.$surface-container-low;
    border: 0.0625rem solid vars.$outline-variant;
    border-radius: 0.5rem;
    height: auto;

    ::ng-deep .mdc-button__label {
      width: 100%;
    }
  }

  .featured-label {
    display: flex;
    justify-content: space-between;
  }

  .featured-label-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    width: 12.5rem;

    .label {
      @include utils.use-font(label, large);
    }

    .tagline {
      @include utils.use-font(label, medium);
    }
  }

  .right-side {
    background: vars.$surface-bright;
    display: flex;
    flex-direction: column;
    min-width: 25.5rem;
    flex-grow: 1;
    align-items: center;
    gap: 1rem;
  }

  .nav-items {
    display: flex;
    justify-content: center;
    max-width: 44.5rem;
    width: 100%;
  }

  .groups {
    display: flex;
    width: 100%;
    max-width: 44.5rem;
    justify-content: space-between;
  }

  .group {
    @include utils.use-font(label, large);
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    max-width: 21rem;
    flex-grow: 1;
    padding: 1.5rem;
    width: 50%;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .group-label {
    color: vars.$on-secondary-fixed;
    height: 2rem;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
  }

  .item-label {
    min-height: 2.75rem;
    justify-content: start;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    height: auto;
  }

  .divider {
    margin: 6px 0;
    color: vars.$outline-variant;
  }

  .socials {
    display: flex;
    width: 100%;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    max-width: 44.5rem;
  }
}
