@use '@angular/material' as mat;
@use 'utils';
@use 'vars';

:host {
  display: flex;
  min-width: 640px;
  max-width: 724px;
  border-radius: 0.5rem;
  overflow: hidden;
  background: vars.$surface;

  .featured-section {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 280px;
    padding: 1.5rem;
    gap: 1rem;
    background: #0000000a;
  }

  .featured-link {
    text-align: start;
    justify-content: start;
    min-height: 3.5rem;
    width: 100%;
    padding: 0;
    border: 0.0625rem solid vars.$outline-variant;
    border-radius: 0.5rem;
    overflow: hidden;
    height: fit-content;
    background: vars.$surface-container-low;
  }

  .featured-content-container {
    display: flex;
    flex-direction: column;
  }

  .featured-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .featured-label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;

    .label {
      @include utils.use-font(label, medium);
    }

    .tagline {
      @include utils.use-font(label, small);
    }
  }

  .right-side {
    background: vars.$surface-bright;
    display: flex;
    flex-direction: column;
  }

  .nav-items {
    display: flex;
    padding: 1.5rem;
  }

  .groups {
    display: flex;
    gap: 2.5rem;
  }

  .group {
    @include utils.use-font(label, medium);
    display: flex;
    flex-direction: column;
    width: 178px;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .group-label {
    color: vars.$on-secondary-fixed;
    height: 2rem;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
  }

  .item-label {
    @include utils.use-font(label, medium);
    min-height: 2.5rem;
    justify-content: start;
    padding: 0 0.75rem;
  }

  .divider {
    margin: 6px 0;
    color: vars.$outline-variant;
  }

  .socials {
    display: flex;
    width: 100%;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    justify-content: space-between;
  }
}
