@use '@angular/material' as mat;
@use './themes/main' as main-theme;

$_theme: main-theme.$theme;

@include mat.elevation-classes();
@include mat.app-background();
@include mat.elevation-classes();
@include mat.app-background();
@include mat.typography-hierarchy($_theme);

// Add theme mixin for material components here!
@include mat.button-theme($_theme);
@include mat.button-toggle-theme($_theme);
@include mat.card-theme($_theme);
@include mat.divider-theme($_theme);
@include mat.form-field-theme($_theme);
@include mat.icon-theme($_theme);
@include mat.progress-bar-theme($_theme);
@include mat.select-theme($_theme);
