:host {

  .mat-card {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
    box-shadow: 0rem 0.125rem 0.063rem rgba(0, 0, 0, 0.16);
    letter-spacing: 0.005em;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .card-container {
    padding-bottom: 3.563rem;
  }

  ::ng-deep p {
    margin: 0 0 0px;
}
}
