.results-browser-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--sys-secondary);
  overflow: hidden;

  .results-header {
    font: var(--sys-label-large);
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 1rem 0.5rem 1rem;
    align-items: center;

    button {
      --mdc-icon-button-state-layer-size: 2rem;
    }
  }

  .stat-box {
    margin: 0.5rem 1rem;

    #title {
      font: var(--sys-label-medium);
      margin-bottom: 0.5rem;
    }

    .stat-table {
      display: flex;
      flex-wrap: wrap;
      max-height: 4.5rem;
      margin: 0 16.5px;
    }

    .stat-row {
      display: flex;
      flex-direction: row;
      font: var(--sys-label-small);
      color: var(--sys-primary-fixed);
      width: 50%;

      .stat-value {
        margin-right: 0.25rem;
      }
    }
  }

  hra-expansion-panel {
    padding: 0.25rem 0.5rem;
    margin-left: 0.75rem;
  }

  ng-scrollbar {
    flex-grow: 1;
  }

  .results-browser-list {
    --_hra-scroll-overflow-fade-color: var(--sys-surface-container-low);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 0.75rem;

    .browser-item-container {
      display: grid;
      grid-template-columns: 3rem auto;

      mat-checkbox {
        margin: 0.25rem auto;
      }
    }
  }

  ccf-donor-card {
    margin-left: 0.25rem;
  }
}
