.results-browser-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.25rem 1rem 0 1rem;
  color: var(--sys-secondary);

  .results-header {
    font: var(--sys-label-large);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;

    button {
      --mdc-icon-button-state-layer-size: 2rem;
    }
  }

  .stat-box {
    margin-bottom: 0.5rem;

    #title {
      font: var(--sys-label-medium);
      margin-bottom: 0.5rem;
    }

    .stat-table {
      display: flex;
      flex-wrap: wrap;
      max-height: 4.5rem;
      margin: 0 16.5px;
    }

    .stat-row {
      display: flex;
      flex-direction: row;
      font: var(--sys-label-small);
      color: var(--sys-primary-fixed);
      width: 50%;

      .stat-value {
        margin-right: 0.25rem;
      }
    }
  }

  hra-expansion-panel {
    padding: 0.25rem 0.5rem;
  }

  .results-browser-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: -0.25rem;

    .browser-item-container {
      display: flex;
    }
  }

  .scroll-gradient {
    position: absolute;
    height: 3rem;
    bottom: 0;
    pointer-events: none;

    &.hidden {
      display: none;
    }
  }

  ccf-donor-card {
    flex-grow: 1;
    padding-left: 0.25rem;
  }
}
