<ccf-page-header [headerCard]="pageHeader"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData" class="description"></ccf-page-data>
<ccf-page-data [data]="vccfDataFiles" class="description"></ccf-page-data>
<ccf-page-data [data]="license" class="description"></ccf-page-data>
<ccf-page-data [data]="citation" class="description"></ccf-page-data>
<ccf-page-data [data]="acknowledgments" class="description"></ccf-page-data>
<ccf-page-data [data]="references" class="description"></ccf-page-data>

