@use 'utils';

:host {
  .banner {
    @include utils.use-font(display, large);
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--mat-sys-secondary);
    align-items: center;
    flex-wrap: wrap;
    color: var(--mat-sys-on-primary);
  }

  .banner-text {
    min-width: 18.25rem;
    text-align: center;
  }

  .page-sections {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  @media (min-width: 792px) {
    .banner-text {
      min-width: 18rem;
      margin-left: 0.75rem;
    }
  }

  // Set the link styling here since we can't use hyperlink directive in markdown
  ::ng-deep a {
    text-decoration: none;

    &:link,
    &:link mat-icon {
      color: var(--mat-sys-on-tertiary-fixed);
    }

    &:visited,
    &:visited mat-icon {
      color: var(--mat-sys-tertiary-fixed);
    }

    &:focus-visible,
    &:hover,
    &:active {
      text-decoration: underline solid currentColor 0.0625rem;
      text-underline-offset: 0.125rem;
    }

    &:focus-visible {
      color: var(--mat-sys-secondary);
      outline: 0.125rem solid var(--mat-sys-tertiary);
      border-radius: 0.25rem;

      & mat-icon {
        color: var(--mat-sys-secondary);
      }
    }

    &:hover,
    &:hover mat-icon {
      color: var(--mat-sys-on-tertiary-fixed);
    }

    &:active,
    &:active mat-icon {
      color: var(--mat-sys-on-tertiary-fixed-variant);
    }
  }
}
