<div class="banner">
  <img src="assets/images-v2/publications.png" alt="Publications Banner" />
  <span class="banner-text">Publications</span>
</div>

<div class="page-content-container">
  <div class="page-content">
    <div class="navigation-panel small">
      <div class="navigation">Panel goes here</div>
    </div>
    <div class="page-sections">
      @for (year of years(); track year) {
        <hra-page-section>
          <hra-page-section-header>
            <hra-section-link level="2" [anchor]="toAnchor(year)" underlined> {{ year }} </hra-section-link>
          </hra-page-section-header>
          <hra-page-section-content>
            @for (pub of publications()[year]; track pub) {
              <markdown class="pub-info" [data]="pub"></markdown>
            }
          </hra-page-section-content>
        </hra-page-section>
      }
    </div>
  </div>

  <div class="navigation-panel large">
    <div class="navigation">Panel goes here</div>
  </div>
</div>
