<div class="banner">
  <img src="assets/images-v2/publications.png" alt="Publications Banner" />
  <span class="banner-text">Publications</span>
</div>

<div class="page-content">
  <div class="navigation-panel small">
    <div class="navigation">Panel goes here</div>
  </div>
  <div class="page-sections">
    @for (year of years(); track year) {
      <hra-page-section>
        <header-content>
          <hra-section-link level="2" [anchor]="year" underlined> {{ year }} </hra-section-link>
        </header-content>
        <section-content>
          @for (pub of publications[year]; track pub) {
            <markdown class="pub-info" [data]="pub"></markdown>
          }
        </section-content>
      </hra-page-section>
    }
  </div>
</div>

<div class="navigation-panel large">
  <div class="navigation">Panel goes here</div>
</div>
