:host {
  display: block;

  .main {
    display: flex;

    .content {
      flex: 1 1;
      width: 100%;
    }

    &.cta-active {
      --hra-site-navigation-top-offset: 3rem;
    }
  }

  @media (max-width: 1099.99px) {
    .main {
      hra-site-navigation {
        display: none;
      }
    }
  }

  @media (min-width: 1100px) {
    .main.navigation-visible .content {
      max-width: calc(100% - 20rem);
    }
  }
}
