:host {
  display: block;

  .main {
    display: flex;
  }

  hra-navigation-menu {
    height: calc(100dvh - 4.5rem);
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
