:host {
  display: block;

  @media (max-width: 1440px) {
    hra-header {
      margin-bottom: 6.5rem;
    }
  }

  @media (max-width: 1280px) {
    hra-header {
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 1012px) {
    hra-header {
      margin-bottom: 2rem;
    }
  }
}
