:host {
  .youtube-container {
    padding-bottom: 3rem;
  }

  .player-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
  }

  @media (max-width: 26.75rem) {
    youtube-player {
      width: 100%;
    }
  }
}
