:host {
  .youtube-container {
    padding-bottom: 3rem;
  }

  .player-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.125rem;
    letter-spacing: 0.005rem;
  }

  ::ng-deep youtube-player iframe {
    width: 100%;
    max-height: 584px;
  }

  @media (max-width: 26.75rem) {
    ::ng-deep youtube-player iframe {
      height: 232px;
    }
  }
}
