:host {
  .sop {
    margin-bottom: 2rem;
  }

  .sop-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #000000;
    margin-bottom: 1rem;
  }

  .sop-items {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    color: #0a6ebd;
  }

  a {
    text-decoration: none;
    &:visited {
      color: #3d72bf;
    }

    &:link{
      color: #3d72bf;
    }
  }
}
