<div class="content-container" hraFeature="metadata-content">
  <ng-content select="hra-metadata-layout-header" />

  @if (isSmallScreen()) {
    <hra-provenance-menu
      [rows]="rows()"
      [columns]="columns()"
      [version]="version()"
      [availableVersions]="availableVersions()"
      [downloadOptions]="downloadOptions()"
      (versionChange)="versionChange.emit($event)"
      hraFeature="provenance-menu"
    ></hra-provenance-menu>
  }

  <ng-content select="hra-metadata-layout-content" />
</div>

@if (isWideScreen()) {
  <hra-provenance-menu
    [rows]="rows()"
    [columns]="columns()"
    [version]="version()"
    [availableVersions]="availableVersions()"
    [downloadOptions]="downloadOptions()"
    (versionChange)="versionChange.emit($event)"
    hraFeature="provenance-menu"
  ></hra-provenance-menu>
}
