<div class="content-container">
  <ng-content select="hra-metadata-layout-header" />

  @if (isSmallScreen()) {
    <div class="metadata-table">
      <hra-version-selector
        [version]="version()"
        [availableVersions]="availableVersions()"
        (versionChange)="versionChange.emit($event)"
      ></hra-version-selector>
      <hra-table [rows]="rows()" [columns]="columns()" [verticalDividers]="true" />
    </div>
  }

  <ng-content select="hra-metadata-layout-content" />
</div>

@if (isWideScreen()) {
  <div class="metadata-table">
    <hra-version-selector
      [version]="version()"
      [availableVersions]="availableVersions()"
      (versionChange)="versionChange.emit($event)"
    ></hra-version-selector>
    <hra-table [rows]="rows()" [columns]="columns()" [verticalDividers]="true" />
  </div>
}
