@use 'utils' as utils;
@use 'vars' as vars;

:host {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  h1 {
    @include utils.use-font(title, medium);
    margin: 0;
  }

  .x-axis-group,
  .y-axis-group,
  .sort-group,
  .organ-dataset-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .sort-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .axes-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .visualization {
    padding: 1rem;

    img {
      max-width: 67.6875rem;
      min-width: 21.625rem;
      width: 100%;
    }
  }

  @media (min-width: 640px) and (max-width: 999px) {
    .sort-controls {
      display: flex;
      flex-direction: row;
      gap: 2rem;

    mat-form-field {
        width: 100%;
      }
    }

    .axes-group {
      flex-direction: row;

      .x-axis-group, .y-axis-group {
        width: 100%;
      }
    }
  }
}
