:host {
  display: block;
  max-width: 65rem;
  margin: 0 auto;
  padding-top: 96px;
  padding: 10rem 1rem;
}

.info-text {
  margin-top: 3.5rem;
  font: var(--sys-body-large);
  letter-spacing: var(--sys-body-large-tracking);
  color: var(--sys-on-secondary-container);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;

  .card {
    width: 42rem;

    .card-info-text {
      font: var(--sys-label-large);
      letter-spacing: var(--sys-label-large-tracking);
      color: var(--sys-primary);
    }
  }

  .card-1 {
    .file-format-info {
      display: flex;
      margin-top: 2rem;

      span,
      li {
        font: var(--sys-label-large);
        letter-spacing: var(--sys-label-large-tracking);
      }

      span {
        color: var(--sys-secondary);
      }

      li {
        color: var(--sys-primary);
      }

      & > div {
        width: 21.25rem;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
    }
  }

  .card-2 {
    p {
      margin-top: 2rem;
    }

    .data-filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 32px;

      .filters {
        width: 18.25rem;
      }
    }
  }

  .card-3 {
    button,
    .error-message {
      margin-top: 2rem;
    }
  }
}
