# Add files here to ignore them from prettier formatting

/.angular
/.nx
/dist
/coverage
nx.json
tsconfig.base.json


# Ignore big asset files
*.n3store.json

# Ignore polyfills
**/assets/polyfills/*
