@use '@angular/material' as mat;
@use 'utils';
@use '../../../../../../libs/design-system/styles/vars' as vars;

:host {
  display: block;

  .splash-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .splash-header-img {
    object-fit: cover;
    opacity: 16%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 34.375rem;
    background:
      linear-gradient(0deg, vars.$surface-dim, vars.$surface-dim),
      linear-gradient(172.57deg, vars.$surface-dim 29.28%, vars.$surface-dim 92.6%);
  }

  .splash-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 53rem;
    padding-top: 9rem;
    gap: 3rem;

    p {
      margin: 0;
      font: vars.$display-large;
      text-align: center;
      color: vars.$on-background;
    }
  }

  @include mat.button-toggle-overrides(
    (
      text-color: vars.$on-background,
      selected-state-text-color: vars.$on-background,
      background-color: vars.$on-primary,
    )
  );

  .apps-container {
    .section-container:nth-child(2n + 1) {
      background: linear-gradient(12.03deg, #eff1f4 -1.72%, vars.$secondary-container 84.47%);
    }

    .section-container:nth-child(2n + 2) {
      background: vars.$on-primary;
    }
  }

  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2.5rem 6rem 2.5rem;
    width: 100%;
  }

  .apps-header-text {
    @include utils.use-font(headline, large);
    max-width: 36rem;
    color: vars.$on-background;
    text-align: center;
    padding: 6rem 0rem 5rem 0rem;
    margin: 0;
  }

  .apps-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    max-width: 106.25rem;
    width: 100%;
  }

  @media (min-width: 320px) and (max-width: 639px) {
    .splash-header-img {
      height: 46.1875rem;
    }

    .splash-header-content {
      padding: 9rem 1rem 6rem 1rem;
    }

    .section-container {
      padding: 0rem 1rem 6rem 1rem;
    }

    .apps-list {
      max-width: 24.875rem;
    }
  }

  @media (min-width: 640px) and (max-width: 999px) {
    .apps-list {
      max-width: 56.25rem;
    }
  }

  @media (min-width: 1000px) and (max-width: 1920px) {
    .apps-list {
      max-width: 75rem;
    }
  }

  @media (min-width: 1000px) and (max-width: 1150px) {
    .apps-list {
      max-width: 63.75rem;
    }
  }
}
