@use '@angular/material' as mat;
@use 'utils';

:host {
  display: block;

  .splash-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .splash-header-img {
    opacity: 16%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 34.375rem;
    background:
      linear-gradient(0deg, #e6eaf0, #e6eaf0), linear-gradient(172.57deg, rgba(230, 234, 240, 0) 29.28%, #e6eaf0 92.6%);
  }

  .splash-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 53rem;
    padding-top: 9rem;
    gap: 3rem;

    p {
      margin: 0;
      font: var(--mat-sys-display-large);
      letter-spacing: var(--mat-sys-display-large-tracking);
      text-align: center;
      color: var(--mat-sys-on-background);
    }

    &.mobile-view {
      padding: 9rem 1rem 6rem 1rem;
    }
  }

  mat-button-toggle-group {
    width: 20.25rem;
  }

  @include mat.button-toggle-overrides(
    (
      selected-state-background-color: rgb(from var(--mat-sys-tertiary) r g b / 20%),
      text-color: var(--mat-sys-on-background),
      selected-state-text-color: var(--mat-sys-on-background),
    )
  );

  .apps-container {
    background: linear-gradient(12.03deg, #EFF1F4 -1.72%, #FCFCFC 84.47%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2.5rem 6rem 2.5rem;

    &.mobile-view {
      padding: 0rem 1rem 6rem 1rem;
    }
  }
  .apps-header-text {
    @include utils.use-font(headline, large);
    max-width: 36rem;
    color: var(--mat-sys-on-background);
    text-align: center;
    padding: 6rem 0rem 5rem 0rem;
    margin: 0;
  }

  .apps-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    max-width: 126.25rem;
    width: 100%;

    &.mobile-view {
      max-width: 24.875rem;
    }

    &.desktop-view {
      max-width: 75rem;
    }
  }
}
