:host {
  display: block;
  height: 100%;
  background-image: url(../../../public/assets/bg-homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  cns-footer {
    position: absolute;
    bottom: 0;
  }
}
