<ccf-page-header [headerCard]="twoDimHeaderCardDetails"></ccf-page-header>
<ccf-page-data [data]="overviewData"></ccf-page-data>
<ccf-sop-links [links]="sopData"></ccf-sop-links>
<ccf-choose-version [releaseDate]="versionData" [selectedDate]="version" (selectedVersion)="setVersion($event.version)" [label]="label"></ccf-choose-version>
<ccf-organ-tabs [tabs]="filterImages" [currentOrgan]="organData[0].name" (organName)="setOrgan($event)"></ccf-organ-tabs>
<ccf-two-dim-image [cardTitle]="cardTitle" [tissueData]="organData" [isMultirow]="true"></ccf-two-dim-image>
<ccf-page-data [data]="termsOfUseData"></ccf-page-data>