:host {
  display: block;
  width: 100%;
  max-width: 77rem;

  .table-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2rem;
  }

  .mat-raised-button {
    background-color: #fafafa;
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.005rem;
    color: #444c65;
    box-shadow: unset;
  }

  .raised-button {
    margin-bottom: 1rem;
  }

  .mat-raised-button:hover {
    background-color: #e4e9e9;
  }

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
  }

  @media (max-width: 26.75rem) {
    padding: 0rem 1rem;

    .table-heading-container .mat-raised-button {
      margin-top: 1rem;
    }
  }
}

::ng-deep .panelClass {
  position: relative;
  top: 40px;
  left: 1rem;
  min-width: unset !important;
}
