:host {
  display: block;
  width: 100%;
  max-width: 77rem;

  .table-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2rem;
  }

  .mat-raised-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0rem 1.5rem;
    margin-left: 1px;
    min-width: 124px;
    color: #444C65;
    border-radius: 6.25rem;
    height: 40px;
    background-color: #F7F2FA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .raised-button {
    margin-bottom: 1rem;
  }

  .mat-raised-button:hover {
    background-color: #e4e9e9;
  }

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
  }

  @media (max-width: 26.75rem) {
    padding: 0rem 1rem;

    .table-heading-container .mat-raised-button {
      margin-top: 1rem;
    }
  }
}

::ng-deep .panelClass {
  position: relative;
  top: 40px;
  left: 1rem;
  min-width: unset !important;
}
