@use 'utils';
@use 'vars';

:host {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 40rem;

  .data-source-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .submit-button {
    text-align: right;
    margin-top: 1rem;
  }

  .full-width {
    width: 100%;
  }

  .information {
    @include utils.use-font(label, medium);
    color: vars.$primary;
    margin-bottom: 1rem;
  }
}
