@use '../../../styles/breakpoints' as breakpoints;

:host {
  display: block;
  min-width: 545px;
  background: url('../../../assets/backgrounds/create-visualization-page-background.png') no-repeat;
  background-position: center;
  background-size: cover;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1rem 6rem;
    gap: 3rem;
    align-items: center;

    @include breakpoints.breakpoint('large', 'x-large', 'xx-large', 'xxx-large') {
      max-width: 53.5rem;
      align-items: flex-start;
      padding: 3rem 0rem 6rem;
    }
  }

  .page-nav {
    margin-bottom: -0.6rem;
    width: 100%;
    max-width: 42rem;

    .nav {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      & > :not(mat-icon) {
        padding: 0.375rem 0.5rem;
      }
    }

    .title {
      margin: 0;
    }
  }

  .card {
    box-shadow: 0rem 0.3125rem 1rem 0rem #201e3d3d;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 42rem;
    width: 100%;

    .header {
      grid-area: header;
      display: flex;

      .step-number {
        display: flex;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        font-size: 1rem;
      }

      .filler {
        flex-grow: 1;
      }

      .info {
        margin: 0.25rem;
      }
    }
  }

  .data-upload {
    display: grid;
    grid:
      'header header header header'
      '. subheader-required-columns . subheader-optional-columns'
      '. required-columns . optional-columns'
      '. upload-csv upload-csv upload-csv' / 3rem min-content 5rem auto;
    grid-template-rows: 4.25rem auto 4.5rem auto;

    .subheader-required-columns {
      grid-area: subheader-required-columns;
    }

    .subheader-optional-columns {
      grid-area: subheader-optional-columns;
    }

    .required-columns {
      grid-area: required-columns;
    }

    .optional-columns {
      grid-area: optional-columns;
    }

    .required-columns,
    .optional-columns {
      text-wrap: nowrap;
    }

    .upload-csv {
      grid-area: upload-csv;
    }
  }

  .anchor-selection {
    .header {
      margin-bottom: 0.5rem;
    }

    .select-form {
      width: calc(100% - 6rem);
      margin: 1.5rem 3rem;
    }
  }

  .metadata {
    display: grid;
    grid: 'header';
    gap: 0.5rem;
    column-gap: 2.5rem;

    @include breakpoints.breakpoint('medium', 'large', 'x-large', 'xx-large', 'xxx-large') {
      grid: 'header header';
    }

    .header {
      grid-area: header;
      margin-bottom: 0;
    }

    mat-form-field {
      margin: 1.5rem 0;
      max-width: 17.5rem;
    }
  }

  .color-config {
    display: grid;
    grid:
      'header'
      'toggle'
      'upload-colormap';

    mat-button-toggle-group {
      grid-area: toggle;
      --mat-standard-button-toggle-label-text-size: 1rem;
      --mat-standard-button-toggle-height: 2.5rem;
      --mat-standard-button-toggle-shape: 1rem;
      --mat-standard-button-toggle-label-text-weight: 500;

      mat-button-toggle {
        width: 50%;
        border: none;
      }
    }

    .upload-colormap {
      grid-area: upload-colormap;
      margin-top: 3rem;
    }
  }

  .visualize {
    .visualize-notification,
    .visualize-button {
      display: flex;
      margin-left: 3rem;
      --mdc-filled-button-label-text-size: 1rem;
      --mat-filled-button-horizontal-padding: 1.5rem;
      --mdc-filled-button-label-text-tracking: 0.02em;
      --mat-filled-button-icon-spacing: 0.75rem;
      --mat-filled-button-icon-offset: -0.375rem;

      mat-icon {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

::ng-deep mat-form-field {
  --mat-form-field-container-height: 3.625rem;
  --mat-form-field-filled-with-label-container-padding-top: 1.5rem;
  --mat-form-field-filled-with-label-container-padding-bottom: 0;
  box-shadow: 0 0.3125rem 1rem 0 #201e3d3d;
  border-radius: 1rem;

  .mat-mdc-text-field-wrapper {
    border-radius: 1rem;
    padding: 0 1.5rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mdc-line-ripple {
    &::before,
    &::after {
      display: none;
    }
  }
}

::ng-deep .info-tooltip-panel {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  min-width: 21rem;
  padding: 0.75rem 1rem;
  box-shadow: 0 0.3125rem 1rem 0 #201e3d3d;
  border-radius: 0.5rem;

  p:last-child {
    margin: 0;
  }
}

::ng-deep .select-panel {
  --mat-option-label-text-size: 1rem;
  --mat-option-label-text-line-height: 1.5rem;
  --mat-option-label-text-weight: 500;
  --mat-option-label-text-font: Metropolis;
  --mat-option-label-text-tracking: normal;
  border-radius: 0.5rem !important;
  box-shadow: 0 5px 0.25rem 0 #201e3d29 !important;
  padding: 1rem 0 !important;
}
