:host {
  --mat-card-title-text-font: 'Metropolis';
  --mat-card-title-text-size: 42px;
  --mat-card-title-text-line-height: 52.5px;
  --mdc-elevated-card-container-shape: 1rem;
  --mdc-elevated-card-container-elevation: 0px 5px 16px 0px #201e3d3d;

  --mat-form-field-container-text-font: 'Metropolis';
  --mat-select-trigger-text-font: 'Metropolis';
  --mat-option-label-text-font: 'Metropolis';

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  height: 100%;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../../assets/backgrounds/create-visualization-page-background.png');
    opacity: 0.45;
    background-size: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 72rem;

    .title {
      font-size: 72px;
      font-weight: 500;
      letter-spacing: -0.05em;
    }

    mat-card {
      padding: 56px 64px;

      mat-card-header {
        padding: 0 0 3rem;
      }

      mat-card-content {
        display: flex;
        padding: 0;
      }

      mat-card-actions {
        padding: 0;
      }
    }

    .metadata {
      mat-card-content {
        flex-direction: column;
        gap: 3rem;

        .row-1,
        .row-2,
        .row-3 {
          display: flex;
          justify-content: space-between;

          .metadata-option,
          .filler {
            display: flex;
            flex-direction: column;
            width: 288px;

            span {
              font-size: 15px;
              font-weight: 500;
              line-height: 22.5px;
            }
          }
        }
      }
    }
  }
}
