<cde-header></cde-header>
<form class="content" [formGroup]="visualizationForm" (ngSubmit)="submit()">
  <h2 class="title">Create a Cell Distance Visualization</h2>

  <div class="card data-upload">
    <h2 class="header">
      <span class="step-number">1</span>
      Format and Upload Data
      <mat-icon class="info"> info </mat-icon>
    </h2>

    <h3 class="subheader-1">Upload Cell Type Table</h3>
    <h4 class="subheader-required-columns">Required Columns</h4>
    <h4 class="subheader-optional-columns">Optional Columns</h4>
    <span class="required-columns">X, Y, and Cell Type</span>
    <span class="optional-columns">Z and Cell Ontology ID</span>
    <cde-file-upload
      class="upload-csv"
      accept="text/csv,.csv"
      [loader]="nodesLoader"
      [options]="nodesLoaderOptions"
      (loadCompleted)="setNodes($event[0])"
      (loadCancelled)="clearNodes()"
    >
    </cde-file-upload>

    <mat-divider vertical class="divider vertical"> </mat-divider>
    <mat-divider class="divider horizontal"> </mat-divider>

    <h3 class="subheader-2">Cell Type Table Template</h3>
    <div class="use-template">
      <button mat-button type="button" color="primary">
        Use Template
        <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
      </button>
    </div>
  </div>

  <div class="card anchor-selection">
    <h2 class="header">
      <span class="step-number">2</span>
      Optional: Select Anchor Cell Type
      <mat-icon class="info"> info </mat-icon>
    </h2>
    <mat-form-field class="select-form">
      <mat-label>Anchor Cell Type</mat-label>
      <mat-select
        class="select"
        formControlName="nodeTargetValue"
        panelClass="select-options-container"
        cdeMarkEmptyFormControl
      >
        @for (type of cellTypes; track type) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="card metadata" formGroupName="metadata">
    <h2 class="header">
      <span class="step-number">3</span>
      Add Metadata
      <mat-icon class="info"> info </mat-icon>
    </h2>
    <div class="metadata-options">
      <div class="metadata-option">
        <mat-form-field>
          <mat-label>Visualization Title</mat-label>
          <input matInput formControlName="title" cdeMarkEmptyFormControl />
        </mat-form-field>
      </div>
      <div class="metadata-option">
        <mat-form-field>
          <mat-label>Imaging Technology</mat-label>
          <input matInput formControlName="technology" cdeMarkEmptyFormControl />
        </mat-form-field>
      </div>
      <div class="metadata-option">
        <mat-form-field>
          <mat-label>Organ</mat-label>
          <mat-select formControlName="organ" cdeMarkEmptyFormControl>
            @for (organ of organs; track organ) {
              <mat-option [value]="organ.value">{{ organ.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="metadata-option">
        <mat-form-field>
          <mat-label>Sex</mat-label>
          <mat-select formControlName="sex" panelClass="select-options-container" cdeMarkEmptyFormControl>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="metadata-option">
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age" min="0" max="120" cdeMarkEmptyFormControl />
        </mat-form-field>
      </div>

      <div class="metadata-option">
        <mat-form-field>
          <mat-label>Thickness (µm)</mat-label>
          <input matInput type="number" formControlName="thickness" min="0" cdeMarkEmptyFormControl />
        </mat-form-field>
      </div>
      <div class="metadata-option">
        <mat-form-field>
          <mat-label>Pixel size (µm/pixel)</mat-label>
          <input matInput type="number" formControlName="pixelSize" min="0" cdeMarkEmptyFormControl />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="color-config card">
    <h2 class="header">
      <span class="step-number">4</span>
      Optional: Configure Color Map
      <mat-icon class="info"> info </mat-icon>
    </h2>
    <div class="toggle-actions">
      <mat-button-toggle-group aria-label="Font Style" formControlName="colorMapType">
        <mat-button-toggle value="default">Use Default Colors</mat-button-toggle>
        <mat-button-toggle value="custom">Upload Custom Color Map</mat-button-toggle>
      </mat-button-toggle-group>
      @if (useCustomColorMap) {
        <cde-file-upload
          class="upload-colormap"
          [fileTitle]="'Action Required: Upload Color Map'"
          accept="text/csv,.csv"
          [loader]="colorMapLoader"
          [options]="colorMapLoaderOptions"
          (loadCompleted)="setCustomColorMap($event[0])"
          (loadCancelled)="clearCustomColorMap()"
        >
        </cde-file-upload>
        <mat-divider vertical class="divider"> </mat-divider>
        <div class="colormap-template">
          <h3 class="template">Color Map Template</h3>
          <button mat-button class="cta-button use-template" type="button" color="primary">
            Use Template
            <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
          </button>
        </div>
      }
    </div>
  </div>

  <div class="card visualize">
    <h2 class="header">
      <span class="step-number">5</span>
      Visualize Cell Distance Data
      <mat-icon class="info"> info </mat-icon>
    </h2>
    <button
      mat-flat-button
      type="submit"
      class="visualize-button cta-filled"
      [disabled]="!hasValidNodes()"
      color="primary"
      data-testid="visualize"
    >
      Visualize
      <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
    </button>
  </div>
</form>
<cde-footer></cde-footer>
