@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../styles/constants/palettes' as palettes;
@use '../../../styles/breakpoints' as breakpoints;

$gray-palette: map.get(palettes.$palettes, 'gray');
$blue-palette: map.get(palettes.$palettes, 'blue');

@mixin color($theme) {
  cde-create-visualization-page {
    h1,
    h2,
    h3,
    h4 {
      color: mat.get-theme-color($theme, accent, darker);
    }

    .page-nav .nav {
      a {
        color: mat.get-theme-color($theme, primary, 700);
      }

      mat-icon,
      span {
        color: map.get($gray-palette, 700);
      }
    }

    .card {
      background-color: white;

      .header {
        .step-number {
          background-color: map.get($gray-palette, 700);
          color: white;
        }

        mat-icon {
          color: mat.get-theme-color($theme, accent, darker);
        }
      }
    }

    .data-upload {
      .required-columns,
      .optional-columns {
        color: mat.get-theme-color($theme, accent, 800);
      }

      .use-template {
        color: mat.get-theme-color($theme, primary, 700);
      }
    }

    .color-config {
      mat-button-toggle-group {
        border-color: map.get($gray-palette, 700);
        --mat-standard-button-toggle-text-color: #{mat.get-theme-color($theme, accent, darker)};
        --mat-standard-button-toggle-background-color: #{mat.get-theme-color($theme, accent, lighter)};
        --mat-standard-button-toggle-selected-state-text-color: white;
        --mat-standard-button-toggle-selected-state-background-color: #{mat.get-theme-color($theme, primary, default)};
      }

      .use-template {
        color: mat.get-theme-color($theme, primary, 700);
      }
    }

    .metadata {
      --mdc-filled-text-field-label-text-color: #{map.get($gray-palette, 700)};
    }
  }

  .info-tooltip-panel {
    background-color: white;
    color: map.get($gray-palette, 600);
  }

  mat-form-field {
    --mdc-filled-text-field-container-color: #{mat.get-theme-color($theme, accent, lighter)};
    --mdc-filled-text-field-focus-label-text-color: #{mat.get-theme-color($theme, primary, darker)};
    --mdc-filled-text-field-label-text-color: #{map.get($gray-palette, 700)};
    --mat-select-enabled-arrow-color: #{map.get($gray-palette, 700)};
    --mat-select-focused-arrow-color: #{mat.get-theme-color($theme, primary, darker)};
  }

  .mat-form-field-hide-placeholder {
    --mdc-filled-text-field-container-color: white;
  }

  .select-panel {
    --mat-option-selected-state-layer-color: #{mat.get-theme-color($theme, accent, lighter)};
    --mat-option-label-text-color: #{map.get($gray-palette, 700)};
    --mat-option-selected-state-label-text-color: #{mat.get-theme-color($theme, accent, darker)};
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #{mat.get-theme-color($theme, primary, 700)};
  }

  .visualize-notification {
    color: #{map.get($blue-palette, 800)};
  }

  .upload-errors {
    .error-message {
      color: #{mat.get-theme-color($theme, primary, darker)};
    }
    .error-instructions {
      color: #{map.get($gray-palette, 700)};
    }
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
