@use '@angular/material' as mat;

$higher-density-theme: mat.define-light-theme(
  (
    density: -1,
  )
);

::ng-deep {
  .cdk-overlay-container div.cdk-overlay-pane div.select-options-container {
    border-radius: 1rem;

    mat-option {
      --mat-option-selected-state-label-text-color: #201e3d;
      --mat-minimal-pseudo-checkbox-selected-checkmark-color: #b20a2f;
    }
  }
}

:host {
  display: block;
  background: url('../../../assets/backgrounds/create-visualization-page-background.png') no-repeat;
  background-size: 100% 100%;
  --mdc-filled-text-field-hover-label-text-color: #464954;
  --mat-standard-button-toggle-selected-state-background-color: #e00d3a;
  --mat-standard-button-toggle-selected-state-text-color: white;
  --mat-standard-button-toggle-divider-color: #4c4c58;

  cde-header,
  cde-footer {
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    width: 100%;
    padding: 8px 16px 48px 16px;

    @include mat.form-field-density($higher-density-theme);
    @include mat.select-density($higher-density-theme);

    .title {
      font-size: 1.5rem;
      max-width: 20rem;
      line-height: 36px;
      letter-spacing: -0.0325em;
      margin-bottom: 0;
    }

    .card {
      background-color: white;
      box-shadow: 0 5px 16px 0 rgba(32, 30, 61, 0.24);
      border-radius: 1rem;
      padding: 1rem;
      --mdc-filled-text-field-active-indicator-height: 0;
      --mdc-filled-text-field-focus-active-indicator-height: 0;
      --mdc-filled-button-container-height: 2.5rem;

      ::ng-deep {
        .mat-mdc-text-field-wrapper,
        .mdc-text-field {
          border-radius: 1rem;
          box-shadow: 0 5px 16px 0 rgba(32, 30, 61, 0.24);
        }
      }

      .header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 15px;
        line-height: 22.5px;

        .step-number {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 2rem;
          height: 2rem;
          background: #464954;
          text-align: center;
          margin-right: 0.5rem;
          border-radius: 50%;
          color: white;
        }

        .info {
          margin-left: auto;
        }
      }
    }

    .card-title {
      width: calc(100% - 4rem);
    }

    .upload-csv {
      grid-area: upload-csv;
    }

    ::ng-deep .upload-csv,
    ::ng-deep .upload-colormap,
    .upload-success {
      button {
        height: 28px;
      }

      mat-icon {
        height: 1rem;
        width: 1rem;
        font-size: 1rem;
      }

      span {
        font-size: 11px;
      }
    }

    .use-template,
    .colormap-template {
      button {
        padding: 0;
        font-size: 11px;
        letter-spacing: 0.02em;
        height: 2rem;
      }

      mat-icon {
        height: 1rem;
        width: 1rem;
        font-size: 1rem;
        margin-left: 4px;
      }
    }

    .select-form,
    .metadata-option {
      --mdc-filled-text-field-label-text-size: 18px;
      --mat-form-field-container-height: 58px;
      --mat-form-field-filled-with-label-container-padding-top: 11px;
      --mat-form-field-filled-with-label-container-padding-bottom: 0px;
      --mat-select-trigger-text-line-height: 47px;
    }

    .select-form {
      width: 100%;
      max-width: 448px;
    }

    .data-upload {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto auto 2rem auto auto;
      grid-template-areas:
        'header'
        'subheader-1'
        'subheader-required-columns'
        'required-columns'
        'subheader-optional-columns'
        'optional-columns'
        'upload-csv'
        'divider'
        'subheader-2'
        'use-template';

      .header {
        grid-area: header;
      }

      .subheader-1 {
        grid-area: subheader-1;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        margin-bottom: 12px;
      }

      .subheader-2 {
        grid-area: subheader-2;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        margin: 0;
      }

      .subheader-required-columns {
        grid-area: subheader-required-columns;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        margin: 0;
      }

      .subheader-optional-columns {
        grid-area: subheader-optional-columns;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        margin: 0;
      }

      mat-divider.vertical {
        grid-area: divider;
        place-self: center;
        height: 100%;
        display: none;
      }

      mat-divider.horizontal {
        grid-area: divider;
        place-self: center;
        width: 100%;
      }

      .required-columns {
        grid-area: required-columns;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0.05em;
        margin-bottom: 12px;
      }

      .optional-columns {
        grid-area: optional-columns;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0.05em;
        margin-bottom: 12px;
      }

      .use-template {
        grid-area: use-template;
      }
    }

    .metadata {
      .metadata-options {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2.5rem;
        row-gap: 3rem;
        padding: 1.5rem 0;

        .metadata-option {
          gap: 0.5rem;
          display: flex;
          flex-direction: column;
          width: 23.75rem;

          input {
            font-size: 18px;
            line-height: 47px;
          }
        }
      }
    }

    .color-config,
    .visualize {
      .header {
        margin-bottom: 1rem;
      }
    }

    .color-config {
      .mat-button-toggle {
        --mat-standard-button-toggle-height: 40px;
        padding: 0 1.5rem;
      }

      .toggle-actions {
        display: grid;
        grid-template-columns: 1.625fr 0.25fr 1.125fr;
        grid-template-areas:
          'upload-toggle upload-toggle upload-toggle'
          'upload-colormap divider colormap-template';

        mat-button-toggle-group {
          --mat-standard-button-toggle-label-text-size: 11px;
          grid-area: upload-toggle;
          width: 100%;
          margin-bottom: 1.5rem;
        }

        .button-toggle-horizontal {
          display: none;
        }

        .upload-colormap {
          grid-area: upload-colormap;
        }

        ::ng-deep .subtitle,
        .template {
          font-size: 14px;
          line-height: 21px;
        }

        .divider {
          height: 100%;
          grid-area: divider;
          place-self: center;
        }

        .colormap-template {
          grid-area: colormap-template;

          button {
            padding: 0;
          }
        }
      }
    }

    .visualize-button {
      display: flex;
      align-items: center;
      height: 2rem;
      font-size: 11px;
      color: white;
      background-color: rgba(224, 13, 58, 1);
      padding: 8px 12px 8px 12px;
      gap: 4px;
      letter-spacing: 0.2px;
      line-height: 0;

      mat-icon {
        height: 1rem;
        width: 1rem;
        font-size: 1rem;
      }
    }
  }

  @media (min-width: 430px) {
    .card {
      padding: 1rem 1.5rem 1.5rem 1.5rem !important;
    }

    .header {
      margin-bottom: 1.5rem !important;
    }
  }

  @media (min-width: 544px) {
    .content {
      padding: 16px 24px 104px 24px !important;
      gap: 2rem !important;
    }

    .title {
      font-size: 32px !important;
      line-height: 48px !important;
      width: calc(100% - 4.5rem) !important;
    }

    .header {
      font-size: 1.5rem !important;
      line-height: 36px !important;
      margin-bottom: 2rem !important;
    }

    .step-number {
      min-width: 3rem !important;
      height: 3rem !important;
      margin-right: 1rem !important;
    }

    .data-upload {
      grid-template-rows: auto auto auto auto auto auto auto 4rem auto auto !important;
    }

    .subheader-1,
    .subheader-2,
    .subheader-required-columns,
    .subheader-optional-columns,
    ::ng-deep .subtitle,
    .template {
      font-size: 20px !important;
      line-height: 30px !important;
    }

    .required-columns,
    .optional-columns {
      font-size: 18px !important;
      line-height: 27px !important;
    }

    ::ng-deep .upload-csv,
    ::ng-deep .upload-colormap {
      span {
        font-size: 18px !important;
      }

      button {
        height: 43px !important;
      }

      mat-icon {
        height: 1.5rem !important;
        width: 1.5rem !important;
        font-size: 1.5rem !important;
      }
    }

    ::ng-deep .upload-colormap {
      .upload-success {
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }

    .use-template,
    .colormap-template {
      button {
        font-size: 18px !important;
        height: 43px !important;
      }

      mat-icon {
        height: 1.5rem !important;
        width: 1.5rem !important;
        font-size: 1.5rem !important;
      }
    }

    .subheader-1,
    .required-columns,
    .optional-columns {
      margin-bottom: 24px !important;
    }

    .subheader-required-columns,
    .subheader-optional-columns {
      margin-bottom: 0.5rem !important;
    }

    .subheader-2 {
      margin-bottom: 1rem !important;
    }

    .toggle-actions {
      width: fit-content;
    }

    .button-toggle-horizontal {
      display: flex !important;
    }

    .button-toggle-vertical {
      display: none;
    }

    mat-button-toggle-group {
      width: fit-content !important;
    }

    .visualize-button {
      height: 40px !important;
      font-size: 18px !important;
      padding: 8px 24px 8px 24px !important;
      gap: 12px !important;

      mat-icon {
        height: 1.5rem !important;
        width: 1.5rem !important;
        font-size: 1.5rem !important;
      }
    }
  }

  @media (min-width: 768px) {
    .content {
      padding: 16px 72px 104px 72px !important;
      gap: 2rem !important;
    }

    .card {
      padding: 24px 32px 48px 32px !important;
    }

    .title {
      max-width: 100% !important;
    }

    .header {
      font-size: 1.5rem !important;
      line-height: 36px !important;
      margin-bottom: 3rem !important;
    }

    .step-number {
      min-width: 3.5rem !important;
      height: 3.5rem !important;
    }

    .data-upload {
      grid-template-columns: 1fr 1fr !important;
      grid-template-rows: auto auto auto auto auto 4rem auto auto !important;
      grid-template-areas:
        'header header'
        'subheader-1 subheader-1'
        'subheader-required-columns subheader-optional-columns'
        'required-columns optional-columns'
        'upload-csv upload-csv'
        'divider divider'
        'subheader-2 subheader-2'
        'use-template use-template' !important;
    }

    .required-columns,
    .subheader-required-columns,
    .optional-columns,
    .subheader-optional-columns {
      font-size: 18px !important;
      line-height: 27px !important;
    }

    mat-button-toggle-group {
      --mat-standard-button-toggle-label-text-size: 14px !important;
    }
  }

  @media (min-width: 1012px) {
    .content {
      padding-top: 2rem !important;
      gap: 3rem !important;
    }

    .card {
      padding: 32px 40px 48px 40px !important;
    }

    .header {
      font-size: 2rem !important;
      line-height: 3rem !important;
      margin-bottom: 40px !important;
    }

    .step-number {
      font-size: 1.5rem !important;
    }

    .data-upload {
      grid-template-rows: auto auto auto auto auto 80px auto auto !important;
    }

    .subheader-1,
    .subheader-2,
    ::ng-deep .subtitle,
    .template {
      font-size: 24px !important;
      line-height: 36px !important;
    }

    .metadata-options {
      column-gap: 28px !important;
    }
  }

  @media (min-width: 1280px) {
    .content {
      gap: 4rem !important;
      padding: 2rem 11rem 8rem 11rem !important;
    }

    .title {
      font-size: 42px !important;
      line-height: 63px !important;
    }

    .card {
      padding: 48px 56px !important;
    }

    .metadata-options {
      column-gap: 40px !important;
    }
  }

  @media (min-width: 1440px) {
    .content {
      padding: 48px 224px 128px 224px !important;
    }

    .header {
      margin-bottom: 3rem !important;
    }
  }

  @media (min-width: 1920px) {
    .content {
      gap: 5rem !important;
      padding: 72px 416px 128px 352px !important;
    }

    .card {
      padding: 56px 64px !important;
    }

    .data-upload {
      grid-template-columns: 1fr 1fr 0.5fr 1.5fr !important;
      grid-template-rows: auto !important;
      grid-template-areas:
        'header header header header'
        'subheader-1 subheader-1 divider subheader-2'
        'subheader-required-columns subheader-optional-columns divider use-template'
        'required-columns optional-columns divider .'
        'upload-csv upload-csv divider .' !important;
    }

    mat-divider.vertical {
      display: unset !important;
    }

    mat-divider.horizontal {
      display: none !important;
    }

    .metadata-options {
      column-gap: 5rem !important;
    }

    .metadata-option {
      width: unset !important;
    }

    div.metadata-option:nth-child(-n + 2) {
      width: calc(50% - 4rem) !important;
    }

    .metadata-option:nth-child(n + 3):nth-child(-n + 7) {
      width: calc(33% - 4rem) !important;
    }
  }
}
