@use '../../../../../../libs/design-system/styles/vars' as vars;

:host {
  display: flex;
  flex-direction: column;

  .header {
    --mat-dialog-headline-padding: 0 0 0 2rem;
    font: vars.$headline-small;
    letter-spacing: vars.$headline-small-tracking;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &::before {
      display: none;
    }

    .header-close {
      margin: 0.75rem;
    }
  }

  mat-dialog-content {
    --mat-dialog-with-actions-content-padding: 0 2rem;
    font: vars.$body-large;
    letter-spacing: vars.$body-large-tracking;
    --mdc-dialog-supporting-text-color: #{vars.$primary};
  }

  mat-dialog-actions {
    --mat-dialog-actions-padding: 1rem 2rem;
  }
}

::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    --mdc-dialog-container-shape: 1rem;
    box-shadow: unset;
  }
}
