:host {
  display: flex;
  flex-direction: column;

  .header {
    --mat-dialog-headline-padding: 0 0 0 2rem;
    font: var(--sys-headline-small);
    letter-spacing: var(--sys-headline-small-tracking);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &::before {
      display: none;
    }

    .header-close {
      margin: 0.75rem;
    }
  }

  mat-dialog-content {
    --mat-dialog-with-actions-content-padding: 0 2rem;
    font: var(--sys-body-large);
    letter-spacing: var(--sys-body-large-tracking);
    --mdc-dialog-supporting-text-color: var(--sys-primary);
  }

  mat-dialog-actions {
    --mat-dialog-actions-padding: 1rem 2rem;
  }
}

::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    --mdc-dialog-container-shape: 1rem;
    box-shadow: unset;
  }
}
