@use 'vars';

:host {
  padding: 0.5rem 0 0rem 1rem;
  overflow: hidden;

  ::ng-deep hra-expansion-panel {
    height: 100%;

    cdk-accordion-item {
      display: grid;
      height: 100%;
      grid-template-rows: 2.5rem calc(100% - 2.5rem);
    }

    .expansion-body {
      height: 100%;
    }

    .header {
      font: vars.$label-medium;
    }
  }

  .total-count,
  .term-bloc {
    font: vars.$label-small;
    letter-spacing: vars.$label-small-tracking;
    margin-right: 1rem;
  }

  .term-list {
    height: 100%;
    --_hra-scroll-overflow-fade-color: vars.$surface-container-low;
  }

  ::ng-deep ng-scrollbar {
    .ng-scroll-content {
      --_viewport-padding-top: 0.25rem;
      --_viewport-padding-bottom: 0.25rem;
    }
  }

  .term-bloc {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
    height: 1.5rem;
    color: vars.$secondary;
    align-items: center;

    .count {
      color: vars.$primary;
    }
  }
}
