@use 'sass:map';
@use './colors' as colors;

$_colors: colors.$colors;

$_red_palette_contrast_light: white;
$_red_palette_contrast_dark: map.get($_colors, 'blue-2');
$_red-palette: (
  50: #ffe0e8,
  100: #ffb3c7,
  200: #ff80a1,
  300: #ff4d7b,
  400: #ff265f,
  500: map.get($_colors, 'red-1'),
  600: map.get($_colors, 'red-2'),
  700: map.get($_colors, 'red-3'),
  800: map.get($_colors, 'red-4'),
  900: map.get($_colors, 'red-5'),
  A100: #ffffff,
  A200: #fff2f3,
  A400: #ffbfc3,
  A700: #ffa6ac,
  contrast: (
    50: $_red_palette_contrast_dark,
    100: $_red_palette_contrast_dark,
    200: $_red_palette_contrast_dark,
    300: $_red_palette_contrast_dark,
    400: $_red_palette_contrast_light,
    500: $_red_palette_contrast_light,
    600: $_red_palette_contrast_light,
    700: $_red_palette_contrast_light,
    800: $_red_palette_contrast_light,
    900: $_red_palette_contrast_light,
    A100: $_red_palette_contrast_dark,
    A200: $_red_palette_contrast_dark,
    A400: $_red_palette_contrast_dark,
    A700: $_red_palette_contrast_dark,
  ),
);

$_blue_palette_contrast_light: white;
$_blue_palette_contrast_dark: rgb(0 0 0 / 87%);
$_blue_palette: (
  50: #fdfdfe,
  100: #fafbfc,
  200: #f7f9fa,
  300: #f4f6f8,
  400: #f1f4f7,
  500: map.get($_colors, 'blue-5'),
  600: map.get($_colors, 'blue-4'),
  700: map.get($_colors, 'blue-3'),
  800: map.get($_colors, 'blue-2'),
  900: map.get($_colors, 'blue-1'),
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $_blue_palette_contrast_dark,
    100: $_blue_palette_contrast_dark,
    200: $_blue_palette_contrast_dark,
    300: $_blue_palette_contrast_dark,
    400: $_blue_palette_contrast_dark,
    500: $_blue_palette_contrast_dark,
    600: $_blue_palette_contrast_dark,
    700: $_blue_palette_contrast_light,
    800: $_blue_palette_contrast_light,
    900: $_blue_palette_contrast_light,
    A100: $_blue_palette_contrast_dark,
    A200: $_blue_palette_contrast_dark,
    A400: $_blue_palette_contrast_dark,
    A700: $_blue_palette_contrast_dark,
  ),
);

$_gray_palette_contrast_light: white;
$_gray_palette_contrast_dark: rgb(0 0 0 / 87%);
$_gray_palette: (
  50: #ffffff,
  100: #fefefe,
  200: #fefefe,
  300: #fdfdfd,
  400: #fcfcfc,
  500: map.get($_colors, 'gray-3'),
  600: map.get($_colors, 'gray-2'),
  700: map.get($_colors, 'gray-1'),
  800: #fbfbfb,
  900: #fafafa,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $_gray_palette_contrast_dark,
    100: $_gray_palette_contrast_dark,
    200: $_gray_palette_contrast_dark,
    300: $_gray_palette_contrast_dark,
    400: $_gray_palette_contrast_dark,
    500: $_gray_palette_contrast_dark,
    600: $_gray_palette_contrast_light,
    700: $_gray_palette_contrast_light,
    800: $_gray_palette_contrast_dark,
    900: $_gray_palette_contrast_dark,
    A100: $_gray_palette_contrast_dark,
    A200: $_gray_palette_contrast_dark,
    A400: $_gray_palette_contrast_dark,
    A700: $_gray_palette_contrast_dark,
  ),
);

$palettes: (
  'red': $_red_palette,
  'blue': $_blue_palette,
  'gray': $_gray_palette,
);
