@if (isSmallScreen() && !sidenav.opened) {
  <button mat-fab extended class="filter-button" (click)="sidenav.toggle()">
    <mat-icon>filter_list</mat-icon>
    Filters
  </button>
}

<mat-sidenav-container
  autosize
  [hasBackdrop]="!isWideScreen()"
  [class.small]="isSmallScreen()"
  [class.filter-closed]="!sidenav.opened"
>
  <mat-sidenav
    #sidenav
    [mode]="!isWideScreen() ? 'over' : 'side'"
    [opened]="isWideScreen()"
    [fixedInViewport]="true"
    [fixedTopGap]="isSmallScreen() ? 73 : 113"
  >
    <hra-filter-menu
      [filterCategories]="filterCategories()"
      (toggleForm)="sidenav.toggle()"
      [formClosed]="!sidenav.opened"
      (formChanges)="handleFilterChanges($event)"
    ></hra-filter-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-content">
      <div class="search-header">
        <mat-form-field class="object-search">
          <hra-icon matPrefix>search</hra-icon>
          <mat-label>Search</mat-label>
          <input matInput [formControl]="searchControl" />
        </mat-form-field>
        <hra-results-indicator
          description="Viewing"
          [value]="filteredRows().length"
          [total]="allRows().length"
        ></hra-results-indicator>
      </div>
      <hra-table
        [style]="'divider'"
        [enableSort]="true"
        [rows]="filteredRows()"
        [columns]="columns()"
        (downloadFile)="download.saveFile($event[0], $event[1])"
        (routeClicked)="router.navigate([$event])"
      />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
