<hra-filter-menu (closeDrawer)="closeDrawer($event)"></hra-filter-menu>

<div class="page-content">
  <div class="search-header">
    <mat-form-field class="object-search">
      <hra-icon matPrefix>search</hra-icon>
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl" />
    </mat-form-field>
    <hra-results-indicator
      description="Viewing"
      [value]="filteredRows().length"
      [total]="allRows().length"
    ></hra-results-indicator>
  </div>
  <hra-table
    [style]="'divider'"
    [enableSort]="true"
    [rows]="filteredRows()"
    [columns]="columns()"
    (downloadFile)="saveFile($event[0], $event[1])"
  />
</div>
