:host {
  max-width: 77rem;

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
    max-width: 100vw;
  }
}

::ng-deep .cell-link:hover {
  color: #444c65;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
