:host {
  display: flex;
  align-items: center;

  .versions {
    max-width: 21rem;
    height: 2.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #444c65;
    border: 1px solid #444c65;
    border-radius: 2px;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

    ::ng-deep .mat-select-trigger {
      height: 100%;
      justify-content: space-between;
      padding: 0rem 1rem;

      .mat-select-value {
        width: unset;
      }
    }

    ::ng-deep .mat-select-arrow-wrapper {
      padding-left: 12px;
    }
  }

  @media (max-width: 26.75rem) {
    .versions {
      max-width: 100%;
    }
  }
}

::ng-deep .mat-option-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005rem;
  color: #444a65;
}

::ng-deep .versions-panel {
  position: relative;
  top: 41px;
  left: 1rem;
  min-width: unset !important;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: unset;
}

::ng-deep .mat-select-panel{
  max-width: unset !important;
}
