<div class="version-container">
  <div class="version-label">
    {{ chooseLabel }}
  </div>
  <div>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-select [(value)]="selectedDate" disableOptionCentering="true" disableRipple="true">
        <mat-option *ngFor="let date of releaseDate" [value]="date" class="mat-select-value-text"
          (click)="selectedVersion.emit(date)">
          {{ date.release }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>