:host {
  display: flex;
  align-items: center;
  padding-bottom: 40px;

  .version-label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    padding-right: 2rem;
  }

  .versions {
    width: 17rem;
    height: 2.5rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #444c65;
    border: 1px solid #444c65;
    border-radius: 2px;

    ::ng-deep .mat-select-trigger {
      height: 100%;
      justify-content: center;

      .mat-select-value {
        width: unset;
      }
    }

    ::ng-deep .mat-select-arrow-wrapper {
      padding-left: 12px;
    }
  }

  
}

::ng-deep .mat-option-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005rem;
  color: #444a65;
}

::ng-deep .versions-panel {
  position: relative;
  top: 41px;
  left: 1rem;
  min-width: unset !important;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: unset;
}
