:host {
  display: block;

  .body-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    color: #000000;
    padding-bottom: 1rem;
  }

  .body-description {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
    color: #000000;
    text-decoration: none;
    overflow-wrap: break-word;
  }

  ::ng-deep a:-webkit-any-link {
    color: #3d72bf;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  ::ng-deep {
    h2, h4 {
      margin: 0 0 0px;
    }

    h4 {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.005em;
      color: #000000;
      text-decoration: none;
    }

    p {
      margin: 0 0 1rem;
    }
  }

  ::ng-deep h4::before {
    display: block;
    content: " ";
    margin-top: -3.75rem;
    height: 3.75rem;
    visibility: hidden;
    pointer-events: none;
  }
}
