:host {
  display: block;

  .body-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    color: #000000;
    padding-bottom: 1rem;
  }

  .body-description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
    color: #000000;
    // padding-top: 1rem;
    // padding-bottom: 2.5rem;
    text-decoration: none;
  }

  ::ng-deep a:-webkit-any-link {
    color: #3d72bf;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  ::ng-deep h2 {
    margin: 0 0 0px;
  }
}
