.filter-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-wrap: nowrap;
}

.options-container {
  display: grid;

  .option {
    display: flex;
    height: 2rem;
    align-items: center;
    min-width: 8rem;
    width: min-content;
  }

  &.three {
    grid-template-columns: auto auto auto;
  }

  &.five {
    grid-template-columns: auto auto auto auto auto;
  }
}
