<div class="footer-wrapper">
  <div class="footer-left">
    <img src="../../../assets/logo/hra_logo.svg" />
    <span class="copyright">
      <img src="../../../assets/logo/copyright.svg" />
      2024 CNS at Indiana University
    </span>
  </div>
  <div class="footer-right">
    <div class="social-funded">
      <div class="social-media">
        <a href="https://twitter.com/cnscenter" target="_blank">
          <mat-icon svgIcon="x"></mat-icon>
        </a>
        <a href="https://www.facebook.com/cnscenter/" target="_blank">
          <mat-icon svgIcon="facebook"></mat-icon>
        </a>
        <a href="https://www.instagram.com/cns_at_iu/" target="_blank">
          <mat-icon svgIcon="instagram"></mat-icon>
        </a>
        <a href="https://www.youtube.com/@CNSCenter/" target="_blank">
          <mat-icon svgIcon="youtube"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/company/cns-indiana-university-bloomington" target="_blank">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
        <a href="mailto:infoccf@indiana.edu">
          <mat-icon svgIcon="email"></mat-icon>
        </a>
      </div>
      <div class="funded-by">
        <span>Funded By:</span>
        <div class="funded-logo">
          <img src="../../../assets/logo/iu.svg" />
          <img src="../../../assets/logo/nih.svg" />
          <img src="../../../assets/logo/cifar.svg" />
        </div>
      </div>
    </div>
    <div class="disclaimer">
      <span>Medical Disclaimer:</span>
      <span
        >This resource is intended for research purposes only. It should not be used for emergencies or medical or
        professional advice.</span
      >
    </div>
  </div>
</div>
