:host {
  max-width: 77rem;

  .ontology-definitions {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    padding-bottom: 1rem;
  }

  .long-card-container > p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
  }

  @media (max-width: 26.75rem) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
