<div class="page-title">{{title}}</div>
<ccf-simple-tile [definitions]="description"></ccf-simple-tile>
<ccf-page-data [data]="overviewData"></ccf-page-data>
<ccf-simple-image [imageInfo]="ccfKnowledgeData"></ccf-simple-image>
<div class="ontology-definitions">
    <markdown *ngFor="let data of markdownData">
        {{data}}
    </markdown>
</div>
<ccf-simple-image [imageInfo]="spatialOntologyData"></ccf-simple-image>
<div class="long-card-container">
    <p>Related Tools</p>
    <ccf-card-button-long [longButtonItems]="relatedToolsData" (cardRoutes)="cardClicked($event)"></ccf-card-button-long>
</div>
<div class="long-card-container">
    <p>CCF Ontology on the Web</p>
    <ccf-card-button-long [longButtonItems]="ontologyWebData"></ccf-card-button-long>
</div>
<ccf-page-data [data]="referencesData"></ccf-page-data>