<form [formGroup]="filterForm">
  <span class="section-title">Demographics</span>
  <div class="patient-filters">
    <mat-form-field class="dropdown-form-field" subscriptSizing="dynamic">
      <mat-label>Sex</mat-label>
      <mat-select
        class="selected-value"
        (selectionChange)="updateFilter($event.value, 'sex')"
        disableOptionCentering="true"
        panelClass="option-panel"
        disableRipple
        hideSingleSelectionIndicator="true"
        [value]="filterForm.controls.sex.value"
      >
        @for (option of ['Both', 'Male', 'Female']; track option) {
          <mat-option [value]="option">
            <div>{{ option }}</div>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <ccf-dual-slider
      label="Age"
      [valueRange]="[1, 110]"
      [selection]="filterForm.controls.ageRange.value ?? []"
      (selectionChange)="updateFilter($event, 'ageRange')"
    ></ccf-dual-slider>
    <ccf-dual-slider
      label="BMI"
      [valueRange]="[13, 83]"
      [selection]="filterForm.controls.bmiRange.value ?? []"
      (selectionChange)="updateFilter($event, 'bmiRange')"
    ></ccf-dual-slider>
  </div>

  <span class="section-title">Provenance</span>
  <mat-form-field class="assay-form">
    <mat-label>Assay Types</mat-label>
    <mat-chip-grid #chipGrid aria-label="Assay selection">
      @for (assay of assays(); track assay) {
        <mat-chip-row (removed)="remove(assay)">
          {{ assay }}
          <button matChipRemove [attr.aria-label]="'remove ' + assay">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <mat-icon matPrefix>search</mat-icon>
    <input
      name="currentAssay"
      placeholder="Search"
      #assayInput
      [(ngModel)]="currentAssay"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      formControlName="technologies"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); assayInput.value = ''">
      @for (assay of filteredAssays(); track assay) {
        <mat-option [value]="assay">{{ assay }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<!-- <div class="filter assays">
  <ccf-checkbox
    label="Assay Types"
    [columns]="5"
    [options]="technologyFilters"
    [selection]="technologies"
    (selectionChange)="updateFilter($event, 'technologies')"
  ></ccf-checkbox>
</div>

<div class="filter providers">
  <ccf-checkbox
    label="Tissue Providers"
    [columns]="3"
    [options]="providerFilters"
    [selection]="tmc"
    (selectionChange)="updateFilter($event, 'tmc')"
  ></ccf-checkbox>
</div> -->

@if (spatialSearchFilters.length > 0) {
  <div class="filter spatial-locations">
    <ccf-spatial-search-list
      label="Spatial Locations"
      [items]="spatialSearchFilters"
      (selectionChanged)="updateSearchSelection($event)"
      (itemRemoved)="spatialSearchRemoved.emit($event.id)"
    >
    </ccf-spatial-search-list>
  </div>
}

<div class="button-container">
  <ccf-run-spatial-search></ccf-run-spatial-search>
  <div class="right-group">
    <button class="outline-button" mat-button (click)="applyButtonClick()">Apply Filters</button>
    <div class="refresh-icon">
      <mat-icon class="icon refresh" (click)="refreshFilters()">refresh</mat-icon>
    </div>
  </div>
</div>
