:host {
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
  }

  .section {
    .section-title {
      font: var(--sys-label-large);
      color: var(--sys-secondary);
      margin-bottom: 0.5rem;
    }
    padding: 0 1.5rem;
  }

  .patient-filters {
    display: flex;
    gap: 2rem;

    ::ng-deep mat-form-field {
      width: 11.25rem;
    }
  }

  .dropdown-form-field {
    ::ng-deep .mdc-floating-label {
      transform: translateY(-106%);
    }
  }

  .chips-area {
    display: flex;
    justify-content: space-between;
    --mdc-icon-button-state-layer-size: 2rem;
    margin-bottom: 0.25rem;
  }

  .search-area {
    display: flex;
  }

  .assay-form,
  .consortia-form {
    margin-bottom: 2rem;
  }

  .assay-form,
  .providers-form,
  .consortia-form {
    --mdc-filled-text-field-container-color: var(--sys-surface-container);
    width: 100%;
  }

  .spatial-search-header {
    display: flex;
    justify-content: space-between;
  }

  .filler {
    flex-grow: 1;
  }

  .button-container {
    padding: 0 1.5rem;
    display: flex;
    height: 5.5rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--sys-outline-variant);
  }
}
