:host {
  display: grid;
  grid-template-rows: auto 5.5rem;
  grid-template-areas:
    'form'
    'buttons';

  --mdc-filled-text-field-container-color: var(--sys-surface-container);

  form {
    grid-area: form;
    overflow-y: auto;
    width: 40.5rem;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: inputs;
  }

  .section {
    padding: 0 1.5rem;

    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      height: 2.5rem;
    }

    .section-title {
      font: var(--sys-label-large);
      color: var(--sys-secondary);
    }
  }

  .patient-filters {
    display: flex;
    gap: 2rem;

    ::ng-deep mat-form-field {
      --mat-form-field-filled-with-label-container-padding-top: 1.5rem;
    }
  }

  .dropdown-form-field {
    ::ng-deep .mdc-floating-label {
      transform: translateY(-106%);
    }
  }

  .providers-form {
    margin-bottom: 0;
  }

  .spatial-search {
    .section-header {
      margin-bottom: 0.25rem;
    }
  }

  .button-container {
    grid-area: buttons;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--sys-outline-variant);

    button {
      line-height: normal;
    }

    .reset.icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.dropdown-option {
  --mdc-list-list-item-label-text-color: var(--sys-primary) !important;
  font: var(--sys-label-medium) !important;
  min-height: 3rem !important;
  outline: none !important;

  &.mdc-list-item--selected {
    background-color: rgb(from var(--sys-tertiary) r g b / 0.2) !important;
  }
}
