// .filter {
//   margin-top: 1.5rem;

//   &.assays {
//     .option {
//       margin-right: 0 rem;
//       width: 25%;
//     }
//   }

//   ::ng-deep ccf-checkbox {
//     min-width: fit-content;
//     display: block;

//     .options-container {
//       position: relative;
//       left: -0.5rem;

//       .mdc-checkbox {
//         padding: 0.5rem;
//         width: 1rem;
//         height: 1rem;
//         flex: 0 0 1rem;

//         .mdc-checkbox__native-control {
//           height: 2rem;
//           width: 2rem;
//         }

//         .mdc-checkbox__background {
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//         }
//       }

//       .mdc-label {
//         font-weight: 400;
//         padding-left: 0;
//         text-wrap: nowrap;
//       }
//     }
//   }
// }

:host {
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section {
    .section-title {
      font: var(--sys-label-large);
      color: var(--sys-secondary);
      margin-bottom: 0.5rem;
    }
    padding: 0 1.5rem;
  }

  .patient-filters {
    display: flex;
    gap: 2rem;
  }

  .dropdown-form-field {
    ::ng-deep .mdc-floating-label {
      transform: translateY(-106%);
    }
  }

  .assay-form {
    margin-bottom: 2rem;
  }

  .assay-form,
  .providers-form {
    --mdc-filled-text-field-container-color: var(--sys-surface-container);
    width: 100%;
  }

  .filler {
    flex-grow: 1;
  }

  .button-container {
    padding: 0 1.5rem;
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--sys-outline-variant);
  }
}
