<mat-menu #childMenu="matMenu">
  <div class="nested-menu">
    <ng-scrollbar>
      @for (sheet of sheetDetails; track sheet) {
        <ng-container *ngIf="sheet.version && sheet.name !== 'all'">
          <button
            class="expanded"
            mat-menu-item
            matRipple
            matRippleColor="#201E3D14"
            [matMenuTriggerFor]="submenu"
            (focus)="(undefined)"
          >
            <span>{{ sheet.display }}</span>
            <mat-icon class="expand-arrow">arrow_right</mat-icon>
            <mat-icon class="expand-arrow">arrow_right</mat-icon>
          </button>

          <mat-menu #submenu="matMenu">
            @for (version of sheet?.version; track version) {
              <button mat-menu-item (click)="openURL(version)">
                <span>{{ version.viewValue }}</span>
              </button>
            }
          </mat-menu>
        </ng-container>
      }
    </ng-scrollbar>
  </div>
</mat-menu>
