<mat-menu hraFeature="asctb-table-menu" #childMenu="matMenu">
  <div class="nested-menu">
    <ng-scrollbar>
      @for (sheet of sheetDetails; track sheet) {
        <ng-container *ngIf="sheet.version && sheet.name !== 'all'">
          <button
            class="expanded"
            hraFeature="sheet-submenu"
            mat-menu-item
            matRipple
            matRippleColor="#201E3D14"
            [hraHoverEvent]="{ sheetDisplay: sheet.display }"
            [matMenuTriggerFor]="submenu"
            (focus)="(undefined)"
          >
            <span>{{ sheet.display }}</span>
            <mat-icon class="expand-arrow">arrow_right</mat-icon>
            <mat-icon class="expand-arrow">arrow_right</mat-icon>
          </button>

          <mat-menu #submenu="matMenu">
            @for (version of sheet?.version; track version) {
              <a
                mat-menu-item
                target="_blank"
                hraFeature="version-link"
                [attr.href]="getUrl(version)"
                [hraClickEvent]="{ version: version.viewValue }"
              >
                <span>{{ version.viewValue }}</span>
              </a>
            }
          </mat-menu>
        </ng-container>
      }
    </ng-scrollbar>
  </div>
</mat-menu>
