:host {
  display: block;
}

.publication-menu-item {
  .publication-label {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-wrap: wrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  ::ng-deep .mat-mdc-menu-item-text {
    overflow: hidden;
  }
}
