<app-sidenav>
  <div header>
    <div class="branding">
      <hra-icon [svgIcon]="'product:asctb-reporter'"></hra-icon>
      <div class="app-title">ASCT+B Reporter</div>
    </div>
    <button mat-icon-button hraIconButtonSize="large" hraIconButtonVariant="dark" [matMenuTriggerFor]="headerMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div body>
    <div class="control-pane-items">
      <ng-scrollbar>
        <app-legend
          [treeData]="(td$ | async) ?? []"
          [bimodalData]="bm$ | async"
          [compareData]="(cs$ | async) ?? []"
          [error]="error"
        ></app-legend>
        <app-functions
          [error]="error"
          [omaps]="(omapConfig$ | async)!"
          (updateConfig)="updateOmapConfig($event)"
        ></app-functions>
        <app-vis-controls
          [selectedOrgans]="(selectedOrgans$ | async) ?? []"
          [config]="(config$ | async)!"
          [error]="error"
          (updatedConfig)="updateConfigInSheet($event)"
          [currentSheet]="(sheet$ | async)!"
        ></app-vis-controls>
      </ng-scrollbar>
    </div>
  </div>
</app-sidenav>

<mat-menu #headerMenu="matMenu" class="header-menu">
  <button mat-menu-item (click)="togglePane()">
    <mat-icon>visibility_off</mat-icon>
    Hide legend & visualization controls
  </button>
  <button mat-menu-item (click)="toggleDebugLogs()">
    <mat-icon>bug_report</mat-icon>
    Debug log
  </button>
</mat-menu>
