<app-sidenav>
  <div body>
    <div class="control-pane-items">
      <ng-scrollbar>
        <app-legend
          [treeData]="(td$ | async) ?? []"
          [bimodalData]="bm$ | async"
          [compareData]="(cs$ | async) ?? []"
          [error]="error"
        />
        <app-functions [error]="error" [omaps]="(omapConfig$ | async)!" (updateConfig)="updateOmapConfig($event)" />
        <app-vis-controls
          [selectedOrgans]="(selectedOrgans$ | async) ?? []"
          [config]="(config$ | async)!"
          [error]="error"
          [currentSheet]="(sheet$ | async)!"
          (updatedConfig)="updateConfigInSheet($event)"
        />
      </ng-scrollbar>
    </div>
  </div>
</app-sidenav>
