<ccf-page-header [headerCard]="organVrHeader"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData" class="description"></ccf-page-data>
<img src="assets/images/OrganGallery.jpg">
<p><strong>Figure 1.</strong>
    <span class="hra-bold"> 2D vs. VR. (A)</span>: A user looks at the HRA with the 
    <a href="https://portal.hubmapconsortium.org/ccf-eui" target="_blank">Exploration User Interface</a> in a
    standard-size browser window on a 17-in display. 
    <span class="hra-bold">(B)</span>: The HRA Organ Gallery allows the user to view the organs, tissue blocks, and cell type counts of the HRA in true scale using
    immersive technology (VR). Source:
    <a href="https://doi.org/10.1101/2023.02.13.528002" target="_blank">https://doi.org/10.1101/2023.02.13.528002</a>
</p>
<ccf-page-data [data]="backgroundData" class="description"></ccf-page-data>
<ccf-page-data [data]="whyVrData" class="description"></ccf-page-data>
<ccf-page-data [data]="dataVisualizations" class="description"></ccf-page-data>
<ccf-page-data [data]="testingAndFeedback" class="description"></ccf-page-data>
<div class="content-title description">Video Demo</div>
<youtube-model [height]="height" [width]="width" [title]="title" [playerTitle]="playerTitle" [videoId]="videoId"></youtube-model>
<ccf-page-data [data]="referencesData" class="description"></ccf-page-data>