:host {
  max-width: 77rem;

  ::ng-deep .overview-image {
    text-align: center;
  }

  p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  img {
    width: 100%;
  }

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
  }
}
