:host {
  width: 5rem;

  .header {
    display: flex;
    padding: 0.5rem 0;

    .title {
      font: var(--sys-label-medium);
    }
  }

  .slider-box {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
