:host {
  .header {
    display: flex;
    padding: 0.5rem 0;

    .title {
      font: var(--sys-label-medium);
    }
  }

  .slider-box {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    mat-form-field {
      width: 5rem;
      --mdc-filled-text-field-input-text-color: var(--sys-on-primary-fixed-variant);
      --mdc-filled-text-field-label-text-color: var(--sys-on-primary-fixed-variant);

      ::ng-deep {
        .mdc-text-field {
          padding: 0 0.75rem;

          .mat-mdc-form-field-icon-suffix {
            padding: 1rem 0 0px 0.25rem;
          }
        }
        .mat-mdc-form-field-subscript-wrapper {
          height: 0;
        }

        .mdc-floating-label {
          transform: translateY(-100%);
        }
      }
    }

    .slider-container {
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 2rem;

      .slider {
        width: 100%;
      }

      ::ng-deep mat-slider-visual-thumb {
        transition: none;
      }
    }
  }
}
