<div class="header">
  <span class="text title" hraMicroTooltip="Use sliders below to rotate tissue block for registration">Rotation</span>
</div>

<div class="slider-box">
  @if (displayedSlider !== 'x') {
    <mat-form-field class="rotation-value" subscriptSizing="dynamic" (click)="displaySlider('x')">
      <mat-label class="text form-input-label">X</mat-label>
      <input matInput [value]="rotation.x" />
    </mat-form-field>
  } @else {
    <div class="slider-container">
      <mat-slider class="slider" [max]="180" [min]="-180" [step]="step" disableRipple>
        <input
          class="slider-x"
          matSliderThumb
          [value]="rotation.x"
          (input)="changeRotation(sliderX.value, 'x')"
          #sliderX
        />
      </mat-slider>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label class="text form-input-label">X</mat-label>
        <input
          matInput
          class="input"
          type="number"
          [value]="rotation.x"
          [min]="-180"
          [max]="180"
          (change)="changeRotation($any($event.target).value, 'x')"
        />
      </mat-form-field>
    </div>
  }
</div>

<div class="slider-box">
  @if (displayedSlider !== 'y') {
    <mat-form-field class="rotation-value" subscriptSizing="dynamic" (click)="displaySlider('y')">
      <mat-label class="text form-input-label">Y</mat-label>
      <input matInput [value]="rotation.y" />
    </mat-form-field>
  } @else {
    <div class="slider-container">
      <mat-slider class="slider" [max]="180" [min]="-180" [step]="step" disableRipple>
        <input
          class="slider-y"
          matSliderThumb
          [value]="rotation.y"
          (input)="changeRotation(sliderY.value, 'y')"
          #sliderY
        />
      </mat-slider>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label class="text form-input-label">Y</mat-label>
        <input
          matInput
          class="input"
          type="number"
          [value]="rotation.y"
          [min]="-180"
          [max]="180"
          (change)="changeRotation($any($event.target).value, 'y')"
        />
      </mat-form-field>
    </div>
  }
</div>

<div class="slider-box">
  @if (displayedSlider !== 'z') {
    <mat-form-field class="rotation-value" subscriptSizing="dynamic" (click)="displaySlider('z')">
      <mat-label class="text form-input-label">Z</mat-label>
      <input matInput [value]="rotation.z" />
    </mat-form-field>
  } @else {
    <div class="slider-container">
      <mat-slider class="slider" [max]="180" [min]="-180" [step]="step" disableRipple>
        <input
          class="slider-z"
          matSliderThumb
          [value]="rotation.z"
          (input)="changeRotation(sliderZ.value, 'z')"
          #sliderZ
        />
      </mat-slider>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label class="text form-input-label">Z</mat-label>
        <input
          matInput
          class="input"
          type="number"
          [value]="rotation.z"
          [min]="-180"
          [max]="180"
          (change)="changeRotation($any($event.target).value, 'z')"
        />
      </mat-form-field>
    </div>
  }
</div>
