<div class="header">
  <span class="text title" matTooltip="Use sliders below to rotate tissue block for registration">Rotation</span>
</div>

<div class="slider-box">
  <mat-form-field>
    <mat-label class="text form-input-label">X</mat-label>
    <input
      matInput
      class="input"
      type="number"
      [value]="rotation.x"
      [min]="-180"
      [max]="180"
      (change)="changeRotation($any($event.target).value, 'x')"
    />
  </mat-form-field>
</div>

<div class="slider-box">
  <mat-form-field>
    <mat-label class="text form-input-label">Y</mat-label>
    <input
      matInput
      class="input"
      type="number"
      [value]="rotation.y"
      [min]="-180"
      [max]="180"
      (change)="changeRotation($any($event.target).value, 'y')"
    />
  </mat-form-field>
</div>

<div class="slider-box">
  <mat-form-field>
    <mat-label class="text form-input-label">Z</mat-label>
    <input
      matInput
      class="input"
      type="number"
      [value]="rotation.z"
      [min]="-180"
      [max]="180"
      (change)="changeRotation($any($event.target).value, 'z')"
    />
  </mat-form-field>
</div>
