@use 'utils';
@use 'vars';

:host {
  .drawer-header {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-bottom: 1rem;
    color: vars.$secondary;

    .filter-icon {
      padding: 0.5rem;
    }

    .drawer-title {
      padding: 0.5rem 0.75rem;
      @include utils.use-font(title, small);
    }

    .filler {
      flex-grow: 1;
    }
  }

  .menu-icon,
  .menu-content {
    transition: 0.3s;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    opacity: 1;
  }

  &.closed {
    .menu-icon {
      transform: rotate(180deg);
    }

    .menu-content {
      pointer-events: none;
      opacity: 0;
    }

    ng-scrollbar {
      overflow-y: hidden;
    }

    ::ng-deep scrollbars {
      display: none;
    }

    ::ng-deep .ng-scroll-content {
      --_viewport-padding-right: 0.75rem;
    }
  }

  mat-divider {
    border-top-color: vars.$outline-variant;
  }

  ::ng-deep .ng-scroll-content {
    max-width: 100%;
    --_viewport-padding-top: 2rem;
    --_viewport-padding-right: 1rem;
    --_viewport-padding-left: 1rem;
  }
}
