:host {
  max-width: 77rem;

  .contact-button {
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    background-color: #fafafa;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    color: #444c65;
    height: 2.5rem;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
  }

  .contact-card-container {
    margin: 2rem 0.5rem;
  }

  .page-body {
    flex-direction: row;
  }

  .mat-drawer {
    background-color: #fafafa;
  }

  .mat-drawer-side {
    border-right: unset;
    padding-right: 2.5rem;
  }

  .intro-gif {
    padding-bottom: 2rem;
    height: 336px;
    width: 344px;
  }

  .three-dim-gif {
    height: 335px;
    width: 888px;
    padding-bottom: 1rem;
  }

  .rui-gif {
    width: 888px;
    height: 509px;
    padding-bottom: 1rem;
  }

  .date, .button-bottom {
    padding-bottom: 1rem;
  }

  .section {
    margin: 1rem 0rem;
  }

  mat-drawer {
    width: 306px;
  }

  .toc-list {
    border: #e0e0e0 2px solid;
    padding-top: unset;
    position: fixed;
    list-style: none;
    margin: unset;
    padding: unset;
    border-radius: 4px;

    li {
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: 500;
      font-size: 1rem;
      line-height: 2.25rem;
      border-bottom: #e0e0e0 1px solid;
      color: #0a6ebd;
      height: 37px;

      &:hover {
        background-color: #f5f5f5;
        text-decoration: underline;
        cursor: pointer;
      } 
    }
  }
  
  div::before {
    display: block;
    content: "";
    margin-top: -3.75rem;
    height: 3.75rem;
    visibility: hidden;
    pointer-events: none;
  }

  .text {
    padding-bottom: 1rem;
  }

  .preview-button {
    padding-bottom: 2rem;
  }

  .mat-drawer-content {
    overflow: hidden;
  }

  .mat-raised-button {
    background-color: #fafafa;
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.005rem;
    color: #444c65;
    box-shadow: unset;
  }

  .raised-button {
    margin-bottom: 1rem;
  }

  .mat-raised-button:hover{
    background-color: #e4e9e9;
  }

  .material-symbols-outlined {
    padding-right: 0.5rem;
  }

  @media (max-width: 26.75rem) {
    padding-left: 1.5rem;

    mat-divider {
      width: 23.75rem;
    }

    .mat-drawer {
      display: none;
    }
  }
}
