<menu-tree class="menu" [treeItems]="mobileNavigationItems" [icon]="icon" [overlayClass]="'overlay-position'"
  [treeClass]="'tree-class'" [positions]="TableOfContentsPosition"></menu-tree>
<ccf-page-header [headerCard]="headerData" class="page-header"></ccf-page-header>
<mat-drawer-container class="example-container" [autosize]="true">
  <mat-drawer mode="side" opened>
    <ul class="toc-list" [ngClass]="{'scrolled': scrolled}">
      <li *ngFor="let items of navigationItems" [value]="items" (click)="scrollTo(items.id || '')">
        {{ items.menuName }}
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div class="release-data">
      <div class="content-title date">December 15th, 2022</div>
      <div id="intro">
        <ccf-page-data [data]="fourthReleaseIntro"></ccf-page-data>
        <img src="assets/images/intro_gif.gif" class="intro-gif" />
        <mat-divider></mat-divider>
      </div>
      <div id="whats-new">
        <ccf-page-data [data]="fourthReleaseStats"></ccf-page-data>
        <mat-divider></mat-divider>
      </div>
      <div id="24-hr-event">
        <ccf-page-data [data]="hraHourEvent"></ccf-page-data>
        <ccf-use-button [buttonData]="hourEventPageButton" class="button-bottom"></ccf-use-button>
        <ccf-use-button [buttonData]="hourEventUseButton" class="button-container"></ccf-use-button>
        <mat-divider></mat-divider>
      </div>

      <div id="hra-release-calendar">
        <ccf-page-data [data]="hraReleaseCalendar"></ccf-page-data>
        <a mat-raised-button href="assets/images/hra-release-calendar.jpg" download class="raised-button">
          <span class="material-symbols-outlined">download</span>Download JPG
        </a>
        <img src="assets/images/hra-release-calendar.svg" style="padding-bottom: 2rem" />
      </div>
      <mat-divider></mat-divider>
      <div id="asctb-tables">
        <ccf-page-data [data]="asctbTables"></ccf-page-data>
        <ccf-use-button [buttonData]="asctbTablesButton" class="button-container"></ccf-use-button>
        <img src="assets/images/4th_release_asctb_table.svg" style="padding-bottom: 2rem" />
        <p class="page-data">
          <strong>Fig 1.</strong>
          Processes, anatomical structures, cell types, biomarkers and disease
          relevant for understanding proteinuria, in kidney. The example shows
          how the ASCT+B tables help link clinicopathology information and
          ontology data. Read more at
          <a href="https://www.nature.com/articles/s41556-021-00788-6" target="_blank">
            Anatomical structures, cell types and biomarkers of the Human
            Reference Atlas</a>
        </p>
      </div>
      <mat-divider></mat-divider>
      <div id="asctb-reporter">
        <ccf-page-data [data]="asctbReporter"></ccf-page-data>
        <ccf-use-button [buttonData]="asctbReporterButton" class="button-container"></ccf-use-button>
        <img src="assets/images/4th_release_asctb_reporter.svg" style="padding-bottom: 2rem" />
        <p class="page-data">
          <strong>Fig 2.</strong>
          An exemplary ASCT+B table showing anatomical structures (AS) and cell
          types (CT) and some biomarkers (B) for the glomerulus in the kidneys,
          annotated with the names of the three entity types (anatomical
          structures, cell types and biomarkers) and four relationship types
          (<i>part_of, is_a, located_in</i> and characterize). Note that the <i>is_a</i>
          relationship exists for cell types and biomarkers. Read more at
          <a href="https://www.nature.com/articles/s41556-021-00788-6" target="_blank">
            Anatomical structures, cell types and biomarkers of the Human
            Reference Atlas</a>.
        </p>
      </div>
      <mat-divider></mat-divider>
      <div id="asctb-ontology-validations">
        <ccf-page-data [data]="ontologyValidations"></ccf-page-data>
        <ccf-use-button [buttonData]="ontologyValidationsButton" class="button-container"></ccf-use-button>
        <mat-divider></mat-divider>
      </div>

      <div id="3d-reference-objects">
        <ccf-page-data [data]="threeDimRefObjects"></ccf-page-data>
        <ccf-use-button [buttonData]="threeDimRefObjectsButton"></ccf-use-button>
        <img src="assets/images/4th_release_3d.gif" class="gif" />
        <p class="page-data">
          <strong>Fig 3.</strong>
          A user interacts with a 3D Reference Object in the HRA Portal.
        </p>
      </div>
      <mat-divider></mat-divider>
      <div id="exploration-user-interface">
        <ccf-page-data [data]="explorationUserInterface"></ccf-page-data>
        <ccf-use-button [buttonData]="explorationUserInterfaceButton" class="button-container"></ccf-use-button>
        <img src="assets/images/4th_release_eui.svg" style="padding-bottom: 2rem" />
        <p class="page-data">
          <strong>Fig 4.</strong>
          3D Reference Objects featured within the Exploration User Interface.
        </p>
      </div>
      <mat-divider></mat-divider>
      <div id="registration-user-interface">
        <ccf-page-data [data]="registrationUserInterface"></ccf-page-data>
        <ccf-use-button [buttonData]="registrationUserInterfaceButton" class="button-container">
        </ccf-use-button>
        <img src="assets/images/4th_release_rui_gif.gif" class="gif" />
        <p class="page-data">
          <strong>Fig 5.</strong>
          A user registers a tissue block within a 3D Reference Object of the
          heart in the Registration User Interface.
        </p>
      </div>
      <mat-divider></mat-divider>
      <div id="vr-organ-gallery">
        <ccf-page-data [data]="vrOrganGallery"></ccf-page-data>
        <ccf-use-button [buttonData]="vrOrganGalleryButton" class="button-container"></ccf-use-button>
        <img src="assets/images/ccf-og-1.png" style="padding-bottom: 2rem" />
        <p class="page-data">
          <strong>Fig 6.</strong>
          Three stages. Top left: the whole body is visible. Top right: a
          gallery of individual organs. Bottom left and center: A user explodes
          an organ into individual anatomical structures. Bottom right: a user
          explores cells around a kidney in a virtual box.
        </p>
      </div>
      <mat-divider></mat-divider>
      <div class="page-data section" id="previews">
        <strong>Previews</strong>
      </div>
      <div class="page-data">
        <p>
          Starting from an accessible overview of the Atlas project, readers will
          be able to link to the HRA topics, concepts, and practices they wish to
          explore in more detail.
        </p>
      </div>
      <ccf-use-button [buttonData]="previewScrollytellingButton" class="preview-button"></ccf-use-button>
      <p class="page-data">
        Comparing Tabula Sapiens to the Human Reference Atlas
      </p>
      <ccf-use-button [buttonData]="previewComparingTabula" class="preview-button"></ccf-use-button>
      <p class="page-data">
        Kaggle competition results are used to develop and optimize machine
        learning algorithms that can segment functional tissue units (FTUs)
      </p>
      <ccf-use-button [buttonData]="previewFtuSegmentation" class="preview-button"></ccf-use-button>
      <p class="page-data">
        Tissue Block annotation provides even better collision detection when
        registering with the RUI.
      </p>
      <ccf-use-button [buttonData]="previewCcfTissueBlock" class="preview-button"></ccf-use-button>
      <mat-divider></mat-divider>
      <div class="page-data section" id="contact-us">
        <strong>Contact Us</strong>
        <br /><br />
        Interested in contributing or using the HRA? &nbsp;
        <a href="mailto:infoccf@indiana.edu" mat-button class="contact-button">
          <mat-icon>mail_outline</mat-icon>Contact MC-IU
        </a>
      </div>
      <contact-card [contactCard]="contactCardData" class="contact-card-container"></contact-card>
      <mat-divider></mat-divider>
      <p class="page-data section" id="outro">
        <strong>Outro</strong>
        <br /><br />
        Every six months, a new version of Human Reference Atlas data is
        released together with user interfaces that make it possible to visually
        explore the atlas or programmatically access the data. The 5th release
        is in May. Thanks for reading!
      </p>
      <img src="assets/images/4th_release_outro.svg" style="padding-bottom: 4rem" />
    </div>
  </mat-drawer-content>
</mat-drawer-container>