:host {
  max-width: 77rem;

  .contact-button {
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    background-color: #fafafa;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    color: #444c65;
    min-height: 2.5rem;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
  }

  .menu {
    position: fixed;
    top: 3.5rem;
    z-index: 10;
  }

  .contact-card-container {
    margin: 2rem 0.5rem;
  }

  .page-body {
    flex-direction: row;
  }

  .mat-drawer {
    background-color: #fafafa;
  }

  .mat-drawer-side {
    border-right: unset;
    padding-right: 2.5rem;
  }

  .intro-gif {
    padding-bottom: 2rem;
    max-height: 310px;
    max-width: 310px;
  }

  .gif {
    height: 100%;
    width: 100%;
    margin: 1rem 0rem;
  }

  .rui-gif {
    max-width: 888px;
    min-height: 509px;
    padding-bottom: 1rem;
  }

  .date,
  .button-bottom {
    padding-bottom: 1rem;
  }

  .section {
    margin: 1rem 0rem;
  }

  mat-drawer {
    min-width: 306px;
  }

  .toc-list {
    border: #e0e0e0 2px solid;
    padding-top: unset;
    position: static;
    list-style: none;
    margin: unset;
    padding: unset;
    border-radius: 4px;

    li {
      display: flex;
      align-items: center;
      padding: 0rem 1rem;
      font-weight: 500;
      font-size: 1rem;
      line-height: 2.25rem;
      border-bottom: #e0e0e0 1px solid;
      color: #0a6ebd;
      height: 3rem;

      &:hover {
        background-color: #f5f5f5;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        color: #444C65;
        cursor: pointer;
      }
    }
  }

  .scrolled {
    position: fixed;
    top: 4rem;
  }

  div::before {
    display: block;
    content: "";
    margin-top: -3.75rem;
    height: 3.75rem;
    visibility: hidden;
    pointer-events: none;
  }

  .text {
    padding-bottom: 1rem;
  }

  .preview-button {
    padding-bottom: 2rem;
  }

  .mat-drawer-content {
    overflow: hidden;
  }

  .mat-raised-button {
    background-color: #fafafa;
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.005rem;
    color: #444c65;
    box-shadow: unset;
  }

  .raised-button {
    margin-bottom: 1rem;
  }

  .mat-raised-button:hover {
    background-color: #e4e9e9;
  }

  .material-symbols-outlined {
    padding-right: 0.5rem;
  }

  img {
    width: 100%;
  }

  menu-tree {
    display: none;
  }

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
    max-width: 100vw;
  }

  @media (max-width: 40rem) {
    .mat-drawer {
      display: none;
    }

    menu-tree {
      display: block;
      padding-top: 0.5rem;
    }
  }

  @media (max-width: 26.75rem) {

    .mat-drawer {
      display: none;
    }

    .contact-card-container {
      margin: unset;
    }

    .contact-button {
      width: calc(100vw - 2rem);
      justify-content: center;
      margin: 1rem 0rem;
    }

    menu-tree {
      display: block;
      padding-top: 0.5rem;
    }

    .mat-tree {
      border-radius: 0.25rem;
      max-width: 288px;
    }
  }
}

::ng-deep {
  .tree-class {
    border-radius: 0.25rem;
    max-width: 288px;
    padding: unset;

    .table-of-contents {
      padding: 0.75rem 0rem;
      padding-left: 1rem;
    }

    .mat-tree-node:first-child {
      font-weight: 300;
      color: black;
    }

    .mat-tree-node {
      flex-direction: column;
      align-items: flex-start;
      font-weight: 500;
      color: #0a6ebd;
    }

    .mat-divider {
      width: 100%;
    }
  }

  .overlay-position {
    max-height: calc(100vh - 4.5rem);
  }
}
