<div class="toolbar-nav">
  <div header>
    <div class="branding">
      <hra-icon [svgIcon]="'product:asctb-reporter'"></hra-icon>
      <div class="app-title">ASCT+B Reporter</div>
    </div>
    <button mat-icon-button hraIconButtonSize="large" hraIconButtonVariant="dark" [matMenuTriggerFor]="headerMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="nav-wrapper">
    <div class="nav-item">
      <app-search [disabled]="(ui$ | async)?.error?.hasError ?? false"></app-search>
    </div>

    <div class="nav-item">
      <mat-form-field class="datasets-field" subscriptSizing="dynamic" (click)="openSelectOrgansDialog()">
        <mat-label>Datasets</mat-label>
        <input matInput readonly value="{{ (mode$ | async) === 'vis' ? selectedOrgansLabel : 'Example' }}" />
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<mat-menu #headerMenu="matMenu" class="header-menu">
  <button mat-menu-item (click)="togglePane()">
    <mat-icon>visibility_{{ controlPaneOpen() ? 'off' : 'on' }}</mat-icon>
    {{ controlPaneOpen() ? 'Hide' : 'Show' }} legend & visualization controls
  </button>
  <button mat-menu-item (click)="toggleDebugLogs()">
    <mat-icon>bug_report</mat-icon>
    Debug log
  </button>
</mat-menu>
