<div class="notice" [class.visible]="noticeVisible">
  <div class="inner-notice">
    <mat-icon class="material-symbols-rounded info">info</mat-icon>
    <div class="message">
      <span> Help us improve this website by taking a 2-minute survey: </span>
      <a
        href="https://app.lyssna.com/do/k0gkmg7ej7ch/xtlymv"
        target="_blank"
        rel="noopener noreferrer"
        class="register"
        >Give feedback</a
      >
    </div>
    <div style="flex-grow: 1"></div>
    <button mat-icon-button (click)="noticeVisible = false">
      <mat-icon class="material-symbols-rounded close-notice">close</mat-icon>
    </button>
  </div>
</div>

<mat-toolbar class="mat-toolbar">
  <a class="hubmap-header" [routerLink]="['/']">HuBMAP</a>
  <a class="hra-header" [routerLink]="['/']">Human Reference Atlas</a>
  <div style="flex-grow: 1"></div>
  <ccf-navbar [items]="navigationItems"></ccf-navbar>
  <menu-tree [treeItems]="hubmapMobileMenu" [positions]="MENU_TREE_POSITIONS"></menu-tree>
  <span class="material-symbols-rounded apps-icon" [matMenuTriggerFor]="childMenu" #menuTrigger="matMenuTrigger"
    >apps</span
  >
  <mat-menu #childMenu="matMenu" class="hubmap-menu-container" xPosition="before" yPosition="below">
    <hubmap-nav [navItems]="hubmapNavItems"></hubmap-nav>
  </mat-menu>
</mat-toolbar>
