:host {
  background: linear-gradient(to right, #4b4b5e 0%, #4b4b5e 50%, #e6eaf0 50%, #e6eaf0 100%) no-repeat;
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  letter-spacing: 0.2px;

  .footer-wrapper {
    max-width: 120rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    height: fit-content;
  }

  .footer-left {
    background-color: #4b4b5e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;
    row-gap: 1rem;

    img {
      width: 50vw;
    }

    .copyright {
      display: flex;
      align-items: center;

      letter-spacing: 0.2px;
      color: white;

      mat-icon {
        vertical-align: bottom;
        margin-right: 0.25rem;
      }
    }
  }

  .footer-right {
    background-color: #e6eaf0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 3rem 2rem;

    .social-funded {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2rem;

      .social-media {
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: flex-end;

        a {
          height: 36px;
          width: 36px;

          .mat-icon {
            color: hsla(347, 89%, 46%, 1);
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }

          &:hover .mat-icon {
            color: hsla(347, 89%, 37%, 1);
          }

          &:active .mat-icon {
            color: hsla(347, 89%, 29%, 1);
          }

          &:focus-visible {
            outline: none;
            position: relative;

            ::ng-deep {
              .mat-icon svg {
                color: white;

                .label {
                  fill: hsla(244, 34%, 18%, 1);
                }
              }
            }
            .mat-icon::after {
              content: '';
              position: absolute;
              color: white;
              border: solid hsla(347, 89%, 46%, 1) 4px;
              height: 100%;
              width: 100%;
              left: 0;
              top: 0;
              border-radius: 50%;
            }
          }
        }
      }

      .funded-by {
        span {
          display: block;
          margin-bottom: 1rem;
          color: hsla(240, 11%, 33%, 1);
        }

        .funded-logo {
          display: flex;
          align-items: center;
          gap: 2rem;
          height: 40px;
        }
      }
    }

    .disclaimer {
      color: hsla(240, 11%, 33%, 1);
      span {
        display: block;
      }
    }
  }

  @media (min-width: 430px) {
    .footer-left {
      padding: 56px 40px;
    }

    .footer-right {
      padding: 37.5px 40px;
      row-gap: 3rem;
    }

    .social-funded {
      row-gap: 3rem !important;
    }

    .social-media a {
      height: 3rem !important;
      width: 3rem !important;
    }
  }

  @media (min-width: 544px) {
    .footer-left {
      padding: 56px 3rem;
      row-gap: 2rem;

      img {
        max-width: 258px;
      }
    }

    .copyright mat-icon {
      margin-right: 0.5rem !important;
    }

    .footer-right {
      padding: 56px 3rem;
    }
  }

  @media (min-width: 768px) {
    .footer-left {
      padding: 56px 40px;
    }

    .footer-right {
      padding: 3rem 4rem;
    }
  }

  @media (min-width: 1012px) {
    font-size: 14px;
    line-height: 21px;

    .footer-wrapper {
      grid-template-columns: auto 1fr;
    }

    .footer-right {
      padding: 56px 4rem;
    }
  }

  @media (min-width: 1280px) {
    .footer-left {
      min-width: 448px;
    }

    .footer-right {
      padding: 4rem 72px;
      row-gap: 80px;
    }

    .social-media {
      width: 348px !important;
    }

    .social-funded {
      column-gap: 0;
      justify-content: space-between;
    }
  }

  @media (min-width: 1440px) {
    font-size: 18px;
    line-height: 27px;

    .footer-left {
      padding: 0 72px;
    }

    .footer-right {
      padding: 4rem 88px;
    }

    .social-media {
      width: 368px !important;
    }
  }

  @media (min-width: 1920px) {
    font-size: 18px;
    line-height: 27px;

    .footer-left {
      padding: 0 88px;
    }

    .footer-right {
      padding: 4rem 104px;

      .social-funded {
        max-width: 933px;

        .social-media {
          width: 488px !important;
        }
      }
    }
  }
}
