:host {
  display: block;
  background: linear-gradient(to right, #4b4b5e 0%, #4b4b5e 50%, #e6eaf0 50%, #e6eaf0 100%) no-repeat;
  max-height: 30.3125rem;

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .footer-left {
    background-color: #4b4b5e;

    > img {
      margin: 9.2813rem 5.5rem 2rem 5.5rem;
    }

    .copyright {
      display: block;
      font-weight: 500;
      font-size: 0.9375rem;
      line-height: 1.4063rem;
      color: white;
      margin-left: 5.5rem;

      span {
        vertical-align: bottom;
        margin-right: 0.5rem;
      }
    }
  }

  .footer-right {
    background-color: #e6eaf0;

    .social-funded {
      display: flex;
      margin: 8.5rem 24.375rem 0 6.5rem;
      gap: 13.875rem;

      .social-media {
        display: flex;
        align-items: flex-end;
        gap: 2.5rem;

        a {
          height: 3rem;
          width: 3rem;
          .mat-icon {
            color: hsla(347, 89%, 46%, 1);
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }

          &:hover .mat-icon {
            color: hsla(347, 89%, 37%, 1);
          }

          &:active .mat-icon {
            color: hsla(347, 89%, 29%, 1);
          }

          &:focus-visible {
            outline: none;
            position: relative;

            ::ng-deep {
              .mat-icon svg {
                color: white;

                .label {
                  fill: hsla(244, 34%, 18%, 1);
                }
              }
            }
            .mat-icon::after {
              content: '';
              position: absolute;
              color: white;
              border: solid hsla(347, 89%, 46%, 1) 4px;
              height: 100%;
              width: 100%;
              left: 0;
              top: 0;
              border-radius: 50%;
            }
          }
        }
      }

      .funded-by {
        span {
          display: block;
          font-size: 0.9375rem;
          line-height: 1.4063rem;
          font-weight: 500;
          margin-bottom: 1rem;
          color: hsla(240, 11%, 33%, 1);
        }

        .funded-logo {
          display: flex;
          align-items: center;
          gap: 2rem;
        }
      }
    }

    .disclaimer {
      margin: 5rem 6.5rem 8.5rem;
      color: hsla(240, 11%, 33%, 1);
      span {
        display: block;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.6875rem;
      }
    }
  }
}
