<div class="footer-wrapper">
  <div class="footer-left">
    <img src="../../../assets/logo/hra_logo.svg" />
    <span class="copyright">
      <span class="material-symbols-rounded"> copyright </span>
      2024 CNS at Indiana University
    </span>
  </div>
  <div class="footer-right">
    <div class="social-funded">
      <div class="social-media">
        <a href="https://twitter.com/cnscenter" target="_blank" rel="noopener noreferrer">
          <mat-icon svgIcon="social:x"></mat-icon>
        </a>
        <a href="https://www.facebook.com/cnscenter/" target="_blank" rel="noopener noreferrer">
          <mat-icon svgIcon="social:facebook"></mat-icon>
        </a>
        <a href="https://www.instagram.com/cns_at_iu/" target="_blank" rel="noopener noreferrer">
          <mat-icon svgIcon="social:instagram"></mat-icon>
        </a>
        <a href="https://www.youtube.com/@CNSCenter/" target="_blank" rel="noopener noreferrer">
          <mat-icon svgIcon="social:youtube"></mat-icon>
        </a>
        <a
          href="https://www.linkedin.com/company/cns-indiana-university-bloomington"
          target="_blank"
          rel="noopener noreferrer"
        >
          <mat-icon svgIcon="social:linkedin"></mat-icon>
        </a>
        <a href="mailto:infoccf@indiana.edu" rel="noopener noreferrer">
          <mat-icon svgIcon="social:email"></mat-icon>
        </a>
      </div>
      <div class="funded-by">
        <span>Funded By:</span>
        <div class="funded-logo">
          <a href="https://www.iu.edu/index.html" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/logo/iu.svg" />
          </a>
          <a href="https://www.nih.gov/" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/logo/nih.svg" />
          </a>
          <a href="https://cifar.ca/" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/logo/cifar.svg" />
          </a>
        </div>
      </div>
    </div>
    <div class="disclaimer">
      <span>Medical Disclaimer:</span>
      <span
        >This resource is intended for research purposes only. It should not be used for emergencies or medical or
        professional advice.</span
      >
    </div>
  </div>
</div>
