:host {
  background: linear-gradient(to right, #4b4b5e 0%, #4b4b5e 50%, #e6eaf0 50%, #e6eaf0 100%) no-repeat;
  display: flex;
  justify-content: center;

  .footer-wrapper {
    max-width: 120rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    height: fit-content;
  }

  .footer-left {
    background-color: #4b4b5e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    row-gap: 1rem;

    img {
      width: 50vw;
    }

    .copyright {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      color: white;

      mat-icon {
        vertical-align: bottom;
        margin-right: 0.25rem;
      }
    }
  }

  .footer-right {
    background-color: #e6eaf0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    padding: 1.5rem;

    .social-funded {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;

      .social-media {
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: flex-end;

        a {
          height: 2.25rem;
          width: 2.25rem;

          .mat-icon {
            color: hsla(347, 89%, 46%, 1);
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }

          &:hover .mat-icon {
            color: hsla(347, 89%, 37%, 1);
          }

          &:active .mat-icon {
            color: hsla(347, 89%, 29%, 1);
          }

          &:focus-visible {
            outline: none;
            position: relative;

            ::ng-deep {
              .mat-icon svg {
                color: white;

                .label {
                  fill: hsla(244, 34%, 18%, 1);
                }
              }
            }
            .mat-icon::after {
              content: '';
              position: absolute;
              color: white;
              border: solid hsla(347, 89%, 46%, 1) 0.25rem;
              height: 100%;
              width: 100%;
              left: 0;
              top: 0;
              border-radius: 50%;
            }
          }
        }
      }

      .funded-by {
        margin: 0.25rem 0;

        h3 {
          display: block;
          margin-bottom: 0.75rem;
          color: hsla(240, 11%, 33%, 1);
          margin-top: 0.25rem;
        }

        .funded-logo {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          height: 2.25rem;
          margin-bottom: 0.25rem;

          a {
            height: 100%;
          }
        }
      }
    }

    .disclaimer {
      color: hsla(240, 11%, 33%, 1);
      h3 {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 430px) {
    .footer-left {
      padding: 3.5rem 2.5rem;
    }

    .footer-right {
      padding: 37.5px 2.5rem;
      row-gap: 3rem;
    }

    .social-funded {
      row-gap: 3rem !important;
    }

    .social-media a {
      height: 3rem !important;
      width: 3rem !important;
    }
  }

  @media (min-width: 544px) {
    .footer-left {
      padding: 3.5rem 3rem;
      row-gap: 2rem;

      img {
        max-width: 16.125rem;
      }
    }

    .copyright mat-icon {
      margin-right: 0.5rem !important;
    }

    .footer-right {
      padding: 3.5rem 3rem;
    }
  }

  @media (min-width: 768px) {
    .footer-left {
      padding: 3.5rem 2.5rem;
    }

    .footer-right {
      padding: 3rem 4rem;
    }
  }

  @media (min-width: 1012px) {
    font-size: 0.875rem;
    line-height: 21px;

    .footer-wrapper {
      grid-template-columns: auto 1fr;
    }

    .footer-right {
      padding: 3.5rem 4rem;
    }
  }

  @media (min-width: 1280px) {
    .footer-left {
      min-width: 28rem;
    }

    .footer-right {
      padding: 4rem 4.5rem;
      row-gap: 5rem;
    }

    .social-media {
      width: 21.75rem !important;
    }

    .social-funded {
      column-gap: 0;
      justify-content: space-between;
    }
  }

  @media (min-width: 1440px) {
    font-size: 1.125rem;
    line-height: 27px;

    .footer-left {
      padding: 0 4.5rem;
    }

    .footer-right {
      padding: 4rem 5.5rem;
    }

    .social-media {
      width: 368px !important;
    }
  }

  @media (min-width: 1920px) {
    font-size: 1.125rem;
    line-height: 27px;

    .footer-left {
      padding: 0 5.5rem;
    }

    .footer-right {
      padding: 4rem 6.5rem;

      .social-funded {
        max-width: 933px;

        .social-media {
          width: 30.5rem !important;
        }
      }
    }
  }
}
