@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../styles/constants/palettes' as palettes;

$blue: mat.m2-define-palette(map.get(palettes.$palettes, 'blue'), 600, 800, 900);
$blue-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $blue,
      accent: $blue,
    ),
  )
);

:host {
  --mdc-filled-button-label-text-size: 1rem;
  --mat-filled-button-horizontal-padding: 0.5rem;
  --mdc-filled-button-label-text-tracking: 0.02em;
  --mat-filled-button-icon-spacing: 0.25rem;
  @include mat.button-color($blue-theme);

  .layout-a {
    .error,
    .upload {
      margin-left: 0;
    }

    .error {
      margin-bottom: 3rem;
    }

    &.uploaded {
      grid: 'success' 'use-template';

      .error,
      .upload {
        display: none;
      }

      .upload-success {
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  .layout-b {
    .error,
    .upload {
      margin-left: 3rem;
    }

    .error {
      margin-bottom: 2rem;
    }

    &.uploaded {
      display: flex;
      margin-left: 3rem;

      .error,
      .upload {
        display: none;
      }

      .upload-success {
        display: flex;
        align-items: normal;
        flex-direction: column;
        gap: 1.5rem;
      }

      .use-template {
        align-self: flex-end;
      }
    }
  }

  mat-icon {
    --mat-filled-button-icon-offset: 0;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .upload-success {
    display: none;

    .filename span {
      display: block;
      min-width: 145px;
    }

    .loaded-label {
      color: mat.get-theme-color($blue-theme, primary, 900);
    }

    .file-name {
      color: mat.get-theme-color($blue-theme, primary, 800);
    }

    .remove-file {
      --mdc-filled-button-label-text-color: #{mat.get-theme-color($blue-theme, primary, 900)};
      padding: 0.25rem 0.5rem;
      width: fit-content;
      margin-right: 5rem;
    }
  }

  .upload {
    margin-right: 5rem;
  }

  .error {
    display: flex;
    flex-direction: column;
  }

  .action-required {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    mat-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  .use-template {
    --mdc-text-button-label-text-size: 1rem;
    --mat-text-button-with-icon-horizontal-padding: 0rem;
    --mdc-text-button-label-text-tracking: 0.02em;
    --mat-text-button-icon-spacing: 0.25rem;
  }
}
