<div class="column-content">
  @if (!file && fileTitle()) {
    <h3 class="subtitle">{{ fileTitle() }}</h3>
  }
  @if (file) {
    <div class="upload-success">
      <div class="filename">
        @if (fileTitle()) {
          <h3 class="subtitle">File Loaded:</h3>
        } @else {
          <span class="loaded-label">File loaded:</span>
        }
        <span class="column-info-list mat-body-2 file-name">{{ file.name }}</span>
      </div>
      <button mat-flat-button class="remove-file" type="button" color="primary" (click)="cancelLoad()">
        <mat-icon class="material-symbols-rounded">cancel</mat-icon>
        Remove CSV
      </button>
    </div>
  } @else {
    <button mat-flat-button class="upload" type="button" color="primary" (click)="fileInput.click()">
      <mat-icon class="material-symbols-rounded">upload</mat-icon>
      Upload CSV
    </button>
    <input
      type="file"
      style="display: none"
      name="fileInput"
      [attr.accept]="accept()"
      (change)="load(fileInput)"
      data-testid="file-upload"
      #fileInput
    />
  }
</div>
