<ng-container hraFeature="footer">
  <div class="content-container">
    <div class="logo-and-socials">
      <a
        class="logo"
        hraFeature="logo"
        hraClickEvent
        [inlineSVG]="'assets/logo/cns_footer_logo.svg' | assetUrl"
        aria-label="Visit CNS"
        href="https://cns.iu.edu"
        target="_self"
      >
      </a>
      <div class="socials">
        @for (id of socials(); track id) {
          <hra-social-media-button [id]="$any(id)" size="large" variant="color"></hra-social-media-button>
        }
      </div>
    </div>

    <cns-funding [funders]="funders()"></cns-funding>
  </div>

  <mat-divider></mat-divider>

  <div class="privacy-container">
    <span class="privacy">
      <a hraHyperlink href="#privacy-preferences" (click)="openPrivacyPreferences($event)">Privacy Preferences</a>
      <div class="separator">&#183;</div>
      <a hraHyperlink hraFeature="hra-privacy-policy" href="https://humanatlas.io/privacy-policy">Privacy Policy</a>
    </span>

    <span class="copyright"> © 2025 Cyberinfrastructure for Network Science Center at Indiana University </span>
  </div>
</ng-container>
