@use '@angular/material' as mat;
@use 'utils' as utils;
@use 'vars' as vars;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: vars.$on-primary-fixed;
  color: vars.$on-primary;

  > * {
    width: 100%;
    max-width: 106.25rem;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 2.5rem;

    @media (max-width: 840px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .logo-and-socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 840px) {
      align-items: center;
    }

    .logo {
      width: 16.25rem;
      height: fit-content;
    }

    .socials {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .privacy-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 2.5rem;
    gap: 1.5rem;
    background-color: vars.$tertiary;

    @media (max-width: 840px) {
      flex-direction: column;
      align-items: center;
    }

    span {
      display: flex;
      @include utils.use-font(label, medium);
      align-items: center;
      width: fit-content;
    }

    .separator {
      width: 21px;
      text-align: center;
    }
  }

  @include mat.divider-overrides(
    (
      color: vars.$outline,
    )
  );
}
