<mat-form-field hraFeature="server-selector" class="server-select-field" [hintLabel]="selectedServer().description">
  <mat-label>Server</mat-label>
  <mat-select
    disableRipple
    panelWidth="auto"
    panelClass="options-container server-selector-panel"
    [hraModelChangeEvent]="['label']"
    [(ngModel)]="selectedServer"
    #serverSelect
  >
    <mat-select-trigger>
      {{ selectedServer().url }}
    </mat-select-trigger>

    @for (server of servers(); track $index) {
      <mat-option [value]="server">
        <div class="server-url">{{ server.url }}</div>
        <div class="server-description">{{ server.description }}</div>
      </mat-option>
    } @empty {
      <mat-option disabled> No servers available. </mat-option>
    }
  </mat-select>
</mat-form-field>
