<mat-form-field class="server-select-field" hintLabel="{{ serverSelect?.value?.description }}">
  <mat-label>Server</mat-label>
  <mat-select
    disableRipple
    panelWidth="auto"
    panelClass="options-container server-selector-panel"
    [value]="selectedServer()"
    (selectionChange)="selectedServer.set($event.value)"
    #serverSelect
  >
    <mat-select-trigger>
      {{ serverSelect.value.url }}
    </mat-select-trigger>
    @if (servers().length > 0) {
      @for (server of servers(); track $index) {
        <mat-option [value]="server">
          <div class="server-url">{{ server.url }}</div>
          <div class="server-description">{{ server.description }}</div>
        </mat-option>
      }
    } @else {
      <mat-option disabled> No servers available. </mat-option>
    }
  </mat-select>
</mat-form-field>
