@use 'vars';

:host {
  display: flex;
  align-items: center;

  .pagination-container {
    display: flex;

    ::ng-deep span {
      position: relative;
      width: 1.25rem;
      height: 1.25rem;
      margin: 0.875rem;
      border-width: 0.125rem;
      border-style: solid;
      border-color: vars.$primary;
      border-radius: 100%;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        border-color: vars.$tertiary;
      }
    }

    ::ng-deep .swiper-pagination-bullet-active::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      width: 0.625rem;
      height: 0.625rem;
      margin: auto;
      border-radius: 100%;
      background-color: vars.$tertiary;
    }
  }
}
