@use '../../../../../../../libs/design-system/styles/vars' as vars;

:host {
  display: flex;
  flex-direction: column;
  max-height: 55vh;
  overflow-y: auto;

  .item-entry {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;

    &.selected {
      z-index: 1;
      background: color-mix(in srgb, vars.$tertiary 20%, transparent);
    }

    .opacity-icon {
      transition: 0.6s;
      min-width: 1.5rem;
      cursor: pointer;

      &.fade {
        opacity: 0.12;
      }
    }

    .item-name {
      font: vars.$label-small;
      color: vars.$primary;
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0.25rem;
    }

    .slider {
      position: fixed;
      left: 21rem;
      transition-timing-function: ease-in-out;
      transition-property: opacity;
      transition-duration: 0.3s;

      &.hidden {
        transition-duration: 0.1s;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
