@for (item of items(); track item.id) {
  @let name = (item.name[0] | uppercase) + (item.name.slice(1) | lowercase);
  @let selected = selection()?.id === item.id;
  @let overlayScrollStrategy = overlay.scrollStrategies.close();

  <ng-container [hraFeature]="name | slugify">
    <div cdkOverlayOrigin class="item-entry" [class.selected]="selected" #origin="cdkOverlayOrigin">
      <mat-icon
        hraFeature="opacity-toggle"
        [hraClickEvent]="{ visible: item.visible }"
        hraPlainTooltip="Edit opacity"
        class="opacity-icon"
        [class.fade]="!item.visible"
        svgIcon="app:opacity"
        (click)="selection.set(item)"
      ></mat-icon>

      <div hraFeature="name" hraClickEvent class="item-name" [hraPlainTooltip]="name">
        {{ name }}
      </div>
    </div>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayHasBackdrop]="false"
      [cdkConnectedOverlayOpen]="selected"
      [cdkConnectedOverlayOrigin]="origin"
      [cdkConnectedOverlayPositions]="overlayPosition"
      [cdkConnectedOverlayScrollStrategy]="overlayScrollStrategy"
      (overlayOutsideClick)="selection.set(undefined)"
      (detach)="selection.set(undefined)"
    >
      <ccf-opacity-slider
        hraFeature="opacity-slider"
        [opacity]="item.opacity ?? 20"
        (opacityChange)="updateOpacity($event)"
        (opacityReset)="resetItem()"
        (visibilityToggle)="toggleVisibility(item)"
      >
      </ccf-opacity-slider>
    </ng-template>
  </ng-container>
}
