@use '@angular/material' as mat;
@use '../../../../../../../libs/design-system/styles/vars' as vars;

::ng-deep .metadata-help {
  @include mat.divider-overrides(
    (
      color: vars.$outline,
    )
  );

  @include mat.menu-overrides(
    (
      divider-bottom-spacing: 0,
      divider-top-spacing: 0,
    )
  );
}
