@use '@angular/material' as mat;
@use 'vars';

::ng-deep .metadata-help {
  @include mat.divider-overrides(
    (
      color: vars.$outline-variant,
    )
  );

  @include mat.menu-overrides(
    (
      divider-bottom-spacing: 0,
      divider-top-spacing: 0,
    )
  );
}
