@use 'utils';
@use 'vars';
@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  border: 0.0625rem solid vars.$outline;
  overflow: hidden;
  min-height: 35.625rem;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0.0625rem solid vars.$outline;

    .left {
      align-items: center;
      display: flex;
      gap: 1rem;

      .icons {
        display: flex;
        gap: 0.25rem;
      }

      .title {
        @include utils.use-font(title, medium);
      }
    }
  }

  .content {
    display: flex;

    height: 100%;
    .organ-title {
      @include utils.use-font(title, small);
      margin-bottom: 1rem;
    }

    .info-view {
      padding: 1.5rem;
      min-width: 21rem;
      max-width: 23.25rem;

      .params {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;

        mat-button-toggle-group {
          width: 9.375rem;

          mat-button-toggle {
            width: 100%;
          }
        }
      }
    }

    .organ-view {
      flex: 1 1;
      background-color: #000;
    }
  }
}

.menu-divider {
  @include mat.divider-overrides(
    (
      color: vars.$outline-variant,
    )
  );
}
