<ng-container hraFeature="web-components">
  <div class="content-container">
    <div class="heading-container">
      <div class="title-logo-div">
        <hra-app-label logo="product:web-components" tagline="Web Components" />
      </div>
      <p class="description">
        Explore, use, and share web components to improve Human Reference Atlas data access and analysis.
      </p>
    </div>

    <div class="card-container">
      <p>Select organ:</p>
      <mat-form-field hraFeature="organ" appearance="fill" class="organ-select">
        <mat-label>Organ</mat-label>
        <mat-select [hraModelChangeEvent]="['id']" [(ngModel)]="activeOrgan">
          @for (organ of organs; track organ.id) {
            <mat-option [value]="organ">{{ organ.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    @if (activeOrgan(); as organ) {
      <div class="card-collection">
        <div class="cards" [hraFeature]="organ.label">
          @for (component of components; track component.id) {
            <hra-action-card
              class="component-card"
              variant="elevated"
              [hraFeature]="component.productTitle | slugify"
              [tagline]="component.webComponentName || component.productTitle"
              [subtagline]="component.webComponentName && component.productTitle"
              [image]="component.previewImage"
            >
              {{ component.description }}

              <hra-action-card-action>
                <button
                  hraClickEvent
                  hraFeature="use-app"
                  mat-button
                  hraPrimaryButton
                  hraButtonSize="medium"
                  (click)="onUseApp(organ, component)"
                >
                  Use app
                </button>
              </hra-action-card-action>

              @if (component.embedAs !== 'external') {
                <hra-action-card-action alignment="right">
                  <button
                    hraClickEvent
                    hraFeature="embed"
                    mat-flat-button
                    hraPrimaryButton
                    hraButtonSize="medium"
                    (click)="openSidenav(organ, component, 0)"
                  >
                    Embed
                  </button>
                </hra-action-card-action>
              }
            </hra-action-card>
          }
        </div>
      </div>
    }
  </div>

  <ng-template #sidenavTemplate>
    @if (sidenavData(); as data) {
      <hra-embed-sidenav-content
        data-testid="sidenav-overlay"
        [tagline]="data.tagline"
        [code]="data.code"
        [showApp]="data.showApp"
        [tabIndex]="data.tabIndex"
        [documentLink]="data.docLink"
        (closeSidenav)="sidenavData.set(undefined)"
      />
    }
  </ng-template>

  <ng-template #appIframeTemplate>
    @if (appIframeData(); as data) {
      <hra-back-button-bar class="back-bar" (backClick)="appIframeData.set(undefined)" />
      <iframe title="appIframe" class="app-iframe" data-testid="iframe-overlay" [srcdoc]="data.code"></iframe>
    }
  </ng-template>
</ng-container>
