@use '@angular/material' as mat;
@use 'utils';
@use '../../../../../../libs/design-system/styles/vars' as vars;

:host {
  display: block;
  background: linear-gradient(180deg, vars.$surface-dim 0%, #ffffff 100%);

  .content-container {
    transition: 0.3s ease-out;
  }

  .heading-container {
    margin: 10rem auto 0 auto;
    max-width: 48.75rem;
  }

  .title-logo-div {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    h1 {
      color: vars.$on-background;
      margin: 0;
      @include utils.use-font(title, large);
      letter-spacing: vars.$display-large-tracking;
    }
  }

  .description {
    @include utils.use-font(body, large);
    color: vars.$on-secondary-container;
    padding-top: 3.5rem;
    margin: 0;
    letter-spacing: vars.$body-large-tracking;
  }

  .card-container {
    margin: 6rem auto 6rem auto;
    max-width: 24.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.3125rem 1rem 0rem rgb(from vars.$shadow r g b / 0.24);
    background-color: vars.$secondary-container;

    p {
      margin: 0 0 1rem 0;
      color: vars.$on-background;
      @include utils.use-font(title, medium);
      letter-spacing: vars.$title-medium-tracking;
    }

    .organ-select {
      min-width: 20.5rem;
    }
  }

  .card-collection {
    display: flex;
    justify-content: center;
    padding: 0 2.75rem 10rem 2.75rem;

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 82rem;
      gap: 2.5rem;
    }
  }
}

::ng-deep .app-iframe-panel {
  display: flex;
  flex-direction: column;

  .app-iframe {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: none;
  }
}

::ng-deep .mat-mdc-tab-list {
  max-width: 10.6875rem;

  @include mat.tabs-overrides(
    (
      active-indicator-color: vars.$on-tertiary-fixed,
      active-ripple-color: vars.$on-tertiary-fixed,
      active-focus-indicator-color: vars.$on-tertiary-fixed,
      active-hover-indicator-color: vars.$on-tertiary-fixed,
      active-indicator-height: 0.125rem,
    )
  );
}
