<ccf-page-header [headerCard]="headerCardData"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData" class="description"></ccf-page-data>
<ccf-use-button [buttonData]="buttonData" class="button-container"></ccf-use-button>
<div class="image-container">
    <img src="assets/images/cell_pop_body_image.svg">
    <p><strong>Figure 1.</strong> Ten datasets from the Human Digital Twin paper by Soumya et al., see
        <b><a href="https://www.biorxiv.org/content/10.1101/2022.03.30.486438v1" target="_blank">
                https://www.biorxiv.org/content/10.1101/2022.03.30.486438v1
            </a></b>.
    </p>
</div>
<ccf-page-data [data]="acknowledgmentsData" class="description"></ccf-page-data>