<ccf-page-header [headerCard]="headerCardData"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData" class="description"></ccf-page-data>
<ccf-use-button [buttonData]="buttonData" class="button-container"></ccf-use-button>
<div class="image-container">
<img src="assets/images/cell_pop_body_image.svg">
<p>
    <strong>Figure 1.</strong> Ten datasets from the 
    <a href="https://www.biorxiv.org/content/10.1101/2022.03.30.486438v1" target="_blank">
        Human Digital Twin
    </a>paper by Soumya et al.
</p>
</div>
<ccf-page-data [data]="acknowledgmentsData" class="description"></ccf-page-data>