:host {
  display: grid;
  grid-template-areas:
    'header'
    'content';

  hra-header {
    grid-area: header;
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
  }
}
