<ng-container hraFeature="kg-explorer">
  <hra-header baseUrl="lod.humanatlas.io/" [breadcrumbs]="crumbs()" [progress]="isNavigating()" hraFeature="header">
    <hra-help-button [action]="menuOptions"></hra-help-button>

    <mat-menu hraFeature="help-menu" #menuOptions="matMenu" class="help-menu">
      @for (option of helpMenuOptions(); track option) {
        @if (option.divider) {
          <mat-divider />
        }
        <a
          [hraFeature]="option.label | slugify"
          hraClickEvent
          class="option"
          mat-menu-item
          [attr.href]="option.url"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="option-text">
            <span class="option-name">
              {{ option.label }}
            </span>
            <span class="option-description">
              {{ option.description }}
            </span>
          </div>
        </a>
      }
    </mat-menu>
  </hra-header>
  <div class="content">
    <router-outlet />
  </div>
</ng-container>
