:host {
  display: block;

  .content {
    display: flex;
    flex-direction: column;
  }

  hra-footer {
    position: relative;
    z-index: 1;
  }

  ::ng-deep .navigation {
    display: none !important;

    @media (min-width: 640px) {
      display: flex !important;
    }
  }
}
