<hra-error-indicator
  [errors]="[
    `The visualization could not be rendered due to some errors. Below mentioned are a list of problems that could've
  occurred.
  `,
  ]"
></hra-error-indicator>
<div class="description">
  <ul>
    <img *ngIf="error.hasGidError" alt="Valid google sheet url example" width="100%" src="assets/urlScreen.png" />
    <li *ngIf="error.hasGidError">
      <strong>Please copy and use the sheet URL from the Address bar like from above example.</strong>
    </li>
    <li *ngIf="error.hasGidError">
      <strong>Do not use the Share URL from Google Sheets (URLs ending with ?usp=sharing).</strong>
    </li>
    <li>The data version that you selected is deprecated for the sheet.</li>
    <li class="pt-1">The format of the data didn't match the format of the master tables.</li>
    <li class="pt-1">Network issues.</li>
  </ul>
</div>
<code class="error-message">{{ error.msg }}</code>
