@use 'utils';
@use 'vars';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 4rem;

  @include utils.use-font(label, medium);

  .description {
    color: vars.$primary;
  }

  .error-message {
    color: vars.$error;
    margin-top: 1rem;
  }
}
