:host {
  display: flex;
  align-items: center;

  .versions {
    max-width: 22rem;
    height: 2.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #444c65;
    border: 1px solid #444c65;
    border-radius: 2px;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

    ::ng-deep .mat-mdc-select-trigger {
      height: 100%;
      justify-content: space-between;
      padding: 0rem 1rem;
      letter-spacing: 0.5px;

      .mat-mdc-select-value {
        width: unset;
      }
    }

    ::ng-deep .mat-mdc-select-arrow-wrapper {
      padding-left: 12px;
    }
  }

  @media (max-width: 26.75rem) {
    .versions {
      max-width: unset;
      width: calc(100vw - 2rem);
    }
  }
}

.mat-select-value-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
  color: #444a65;
  min-height: 42px;
}

::ng-deep .versions-panel {
  position: relative !important;
  top: 1px;
}

::ng-deep
  #option-text.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: unset;
}

::ng-deep .mat-select-panel {
  max-width: unset !important;
}
