@use '@angular/material' as mat;
@use '../../../styles/palettes' as palettes;
@use 'sass:map';

$blue: mat.define-palette(palettes.$hra-blue4-palette, 500);
$blue-theme: mat.define-light-theme(
  (
    color: (
      primary: $blue,
      accent: $blue,
    ),
  )
);
:host {
  @include mat.button-color($blue-theme);

  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  justify-content: space-between;
  $button-text-color: map.get(palettes.$hra-blue1-palette, 500);

  & div:not(:first-child, :last-child) {
    margin: 1rem 0;

    button:not(:last-child) {
      margin-right: 1rem;
    }
  }

  span.mat-caption {
    font-size: 0.9375rem;
    letter-spacing: unset;
    margin-right: 3rem;
  }

  .mat-divider-vertical {
    height: 65%;
  }

  .info {
    vertical-align: middle;
    margin-bottom: 2px;
  }

  button {
    --mdc-filled-button-label-text-color: #{button-text-color};
  }

  .home {
    height: 2.5rem;

    & * {
      height: 100%;
    }

    .hra-logo {
      margin-right: 0.5rem;
      margin-left: 0.75rem;
    }
  }

  .help {
    button {
      padding: 0.75rem 1.5rem;
      font-size: 0.9375rem;
      margin-right: 0.75rem;
    }
  }

  @media (max-width: 1544px) {
    .reset,
    .embed {
      span {
        display: block;
      }
    }
  }
}
