<div class="home">
  <img src="../../../assets/logo/hra_small.svg" class="hra-logo" alt="Human Reference Atlas Logo" />
  <img src="../../../assets/logo/cde_logo.svg" class="cde-logo" alt="Cell Distance Explorer Logo" />
</div>
<mat-divider vertical></mat-divider>
<div class="reset">
  <span class="mat-caption">
    Reset
    <mat-icon class="material-symbols-rounded info"> info </mat-icon>
  </span>
  <button mat-flat-button color="primary" class="mat-caption">
    <mat-icon class="material-symbols-rounded"> restart_alt </mat-icon>
    Visualization View
  </button>
  <button mat-flat-button color="primary" class="mat-caption">
    <mat-icon class="material-symbols-rounded"> restart_alt </mat-icon>
    All Settings
  </button>
</div>
<mat-divider vertical></mat-divider>
<div class="embed">
  <span class="mat-caption">
    Embed Visualization
    <mat-icon class="material-symbols-rounded info"> info </mat-icon>
  </span>
  <button mat-flat-button color="primary" class="mat-caption">
    <mat-icon class="material-symbols-rounded"> download </mat-icon>
    Documentation
  </button>
  <button mat-flat-button color="primary" class="mat-caption">
    <mat-icon class="material-symbols-rounded"> code </mat-icon>
    Code
  </button>
  <button mat-flat-button color="primary" class="mat-caption">
    <mat-icon class="material-symbols-rounded"> download </mat-icon>
    Nodes
  </button>
  <button mat-flat-button color="primary" class="mat-caption">
    <mat-icon class="material-symbols-rounded"> download </mat-icon>
    Edges
  </button>
</div>
<mat-divider vertical></mat-divider>
<div class="help">
  <button mat-button class="mat-caption">
    Help
    <mat-icon class="material-symbols-rounded" iconPositionEnd> open_in_new </mat-icon>
  </button>
</div>
