<hra-metadata-layout
  [rows]="rows()"
  [columns]="columns()"
  [version]="currentVersion()"
  [availableVersions]="availableVersions()"
  [downloadOptions]="downloadOptions()"
  (versionChange)="currentVersion.set($event)"
>
  <hra-metadata-layout-header>
    <hra-page-section [tagline]="metadata().was_derived_from.title" [icons]="icons()"> </hra-page-section>
    @if (getImage()) {
      @if (imageTypes[metadata().type] === 'image/svg+xml') {
        <img [src]="getImage()" alt="Metadata Image" class="metadata-image" />
      }
      @if (imageTypes[metadata().type] === 'model/gltf-binary') {
        <div class="viewer-container">
          <model-viewer class="model-viewer" [src]="getImage()" shadow-intensity="1" camera-controls auto-rotate>
          </model-viewer>
        </div>
      }
    }
    @if (getCsv()) {
      <hra-table class="csv-table" [csvUrl]="getCsv()"></hra-table>
    }
  </hra-metadata-layout-header>

  <hra-metadata-layout-content [class.mediumScreen]="!isWMediumScreen()">
    <div class="sections">
      <hra-page-section class="description" tagline="Description" [level]="2">
        <markdown [data]="metadata().was_derived_from.description" />
      </hra-page-section>
      <hra-page-section tagline="Publisher" [level]="2">
        <markdown [data]="metadata().was_derived_from.publisher" />
      </hra-page-section>
      <hra-page-section tagline="Funder" [level]="2">
        <ul>
          @for (funder of metadata().was_derived_from.funders; track $index) {
            <li>{{`${funder.funder} (Award number ${funder.awardNumber})`}}</li>
          }
        </ul>
      </hra-page-section>
      <hra-page-section tagline="License" [level]="2">
        <markdown [data]="metadata().license" />
      </hra-page-section>
      <!-- <hra-page-section tagline="Tags" [level]="2">
        @for (funder of metadata().tags; track $index) {
          <markdown [data]="metadata().tags[$index]" />
        }
      </hra-page-section> -->
    </div>
    <div class="provenance-menu">
      <div class="selector-and-buttons">
        <hra-version-selector
          [version]="currentVersion()"
          [availableVersions]="availableVersions()"
          (versionChange)="currentVersion.set($event)"
        ></hra-version-selector>

        <div class="provenance-buttons">
          <button mat-flat-button class="downloads button" [matMenuTriggerFor]="options">
            Downloads
            <mat-icon>download</mat-icon>
          </button>

          <mat-menu #options="matMenu">
            @for (option of downloadOptions(); track option) {
              <button mat-menu-item (click)="saveFile(option.url || '', option.id)">
                <mat-icon>{{ option.icon }}</mat-icon>
                <div class="option-text">
                  <span class="option-name">
                    {{ option.name }}
                  </span>
                  <span class="option-description">
                    {{ option.description }}
                  </span>
                </div>
              </button>
            }
          </mat-menu>

          <button mat-button hraButtonVariant="secondary" class="view-app button">View in app</button>
        </div>
      </div>
      <hra-table class="metadata-table" [rows]="rows()" [columns]="columns()" [verticalDividers]="true" />
    </div>
  </hra-metadata-layout-content>
</hra-metadata-layout>
