@use 'light-theme';
@use 'theming';
@use 'utils';
@use 'vars';
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
@include utils.global-styles() {
  @include theming.theme(light-theme.$theme);

  .help-menu {
    width: 15rem !important;
    a {
      .title {
        color: vars.$secondary;
      }
      .description {
        color: vars.$primary;
      }
    }
  }
}

/* Material Bottom Sheet Style Overrides */
@include mat.bottom-sheet-overrides(
  (
    container-shape: 1rem,
  )
);
