@use 'light-theme';
@use 'theming';
@use 'utils';
@use 'vars';
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
@include utils.global-styles() {
  @include theming.theme(light-theme.$theme);

  /* Material Bottom Sheet Style Overrides */
  @include mat.bottom-sheet-overrides(
    (
      container-shape: 1rem,
    )
  );

  .help-menu {
    --mat-menu-item-with-icon-leading-spacing: 0.75rem;
    --mat-menu-item-with-icon-trailing-spacing: 0.75rem;

    .mat-mdc-menu-item {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    width: 15rem !important;
    a {
      .title {
        color: vars.$secondary;
      }
      .description {
        color: vars.$primary;
      }
    }
  }
}
