@use 'utils';
@use 'vars';

:host {
  display: block;
  height: 3rem;

  .file-input {
    display: none;
  }

  .selected-file {
    @include utils.use-font(label, medium);

    background-color: vars.$surface-container;
    border-radius: 2rem;
    color: vars.$primary;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    padding-left: 1.25rem;
  }

  .upload-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    @include utils.use-font(label, medium);
    color: vars.$primary;
  }
}
