@use 'utils';
@use 'vars';
@use '@angular/material' as mat;

:host {
  display: block;

  .splash-header {
    position: relative;
    width: 100%;
    height: 900px;

    .splash-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .splash-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-width: 46.25rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10rem 5.625rem;

      .icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 2rem;
      }

      .title {
        @include utils.use-font(display, large);
        color: vars.$secondary;
        margin-bottom: 3.5rem;
      }

      .actions {
        display: flex;
        gap: 2rem;
      }
    }
  }

  .section-title {
    @include utils.use-font(headline, large);
    text-align: center;
    color: vars.$secondary;
    margin-bottom: 1rem;
  }

  .section-description {
    @include utils.use-font(body, xl);
    text-align: center;
    color: vars.$primary;
    margin-bottom: 5rem;
  }

  .demonstration-video-section {
    padding: 6rem 2.5rem;
    background: linear-gradient(vars.$surface-container, vars.$surface-container-lowest);

    .split-sections {
      display: flex;
      gap: 64px;
      justify-content: center;
      height: 24.375rem;

      .section-selector-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 100%;

        .section-selectors {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          margin-right: 1rem;
        }

        .chapters {
          @include utils.use-font(title, large);
        }

        .ss-header {
          @include utils.use-font(title, medium);
          padding-bottom: 0.3125rem;
          color: vars.$secondary;
        }

        .ss-desc {
          @include utils.use-font(body, large);
          color: vars.$primary;
        }

        .section-selector {
          background-color: white;
          border: 0.0625rem solid vars.$surface-dim;
          border-left-width: 1rem;
          outline: none;
          border-radius: 0.5rem;
          height: unset;
          padding: 1rem 2rem 1rem 1rem;
          justify-content: start;
          text-align: left;
          transition: all 0.2s;
          width: 100%;
          @include mat.button-overrides(
            (
              text-state-layer-color: vars.$surface-container-lowest,
            )
          );
        }

        .section-selector:not(.section-selected):hover {
          border-color: vars.$outline-variant;
        }

        .section-selector:active {
          transform: scale(0.99);
          border-color: vars.$outline !important;
        }

        .section-selected,
        .section-selected:focus {
          border-color: vars.$tertiary;
        }
      }
    }
  }

  .contributors-section {
    padding: 6rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contributors-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 5rem;
      width: 100%;
      max-width: 62.5rem;

      hra-profile-card {
        justify-self: center;

        .social-media-actions {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: center;

          @include utils.use-font(label, large);
          color: vars.$on-tertiary-fixed;
        }
      }
    }
  }
}
