<div class="splash-header">
  <img class="splash-img" src="assets/images/splash.png" alt="Splash Image" />
  <div class="splash-content">
    <hra-icon class="icon" [svgIcon]="'product:asctb-reporter'"></hra-icon>
    <div class="title">Create and visualize Human Reference Atlas Data</div>
    <div class="actions">
      <button mat-button hraCtaButton hraButtonVariant="primary">
        Explore visualization
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </button>
      <button mat-button hraCtaButton hraButtonVariant="secondary">
        Launch playground
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="demonstration-video-section">
  <div class="section-title">Demonstration video</div>
  <div class="section-description">Learn about the features and functionality of this application.</div>
  <div class="split-sections">
    <div class="youtube-video-container">
      <youtube-player videoId="pzUFmDhQEO8" [playerVars]="{ rel: 0, showinfo: 0 }"></youtube-player>
    </div>
    <div class="section-selector-container">
      <div class="chapters">Chapters</div>
      <ng-scrollbar hraScrollOverflowFade>
        <div class="section-selectors">
          <button
            mat-button
            class="section-selector section-selected"
            hraButtonVariant="primary"
            [disableRipple]="true"
          >
            <div class="ss-header">Introduction</div>
            <div class="ss-desc">
              Learn about the ASCT+B Reporter, why it was built, and who was involved building it.
            </div>
          </button>
          <button mat-button class="section-selector" hraButtonVariant="primary" [disableRipple]="true">
            <div class="ss-header">Getting Started</div>
            <div class="ss-desc">Learn about the application's toolbar.</div>
          </button>
          <button mat-button class="section-selector" hraButtonVariant="primary" [disableRipple]="true">
            <div class="ss-header">Search</div>
            <div class="ss-desc">Search entities by typing their names.</div>
          </button>
          <button mat-button class="section-selector" hraButtonVariant="primary" [disableRipple]="true">
            <div class="ss-header">Indented List</div>
            <div class="ss-desc">View the data in a hierarchical format.</div>
          </button>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>
<div class="contributors-section">
  <div class="section-title">Contributors</div>
  <div class="section-description">The core team who built the ASCT+B Reporter</div>
  <div class="contributors-grid">
    @for (item of [1, 2, 3, 4, 5, 6, 7, 8]; track item) {
      <hra-profile-card
        [pictureUrl]="'assets/ui-images/placeholder.png'"
        [name]="'Hello World'"
        [description]="'Description'"
        [centerContent]="true"
      >
        <div class="social-media-actions">
          <a mat-icon-button [hraIconButtonVariant]="'color'" [hraIconButtonSize]="'small'">
            <mat-icon color="accent">mail</mat-icon>
          </a>
          <a mat-icon-button [hraIconButtonVariant]="'color'" [hraIconButtonSize]="'small'">
            <mat-icon color="accent">person</mat-icon>
          </a>
          <a mat-icon-button [hraIconButtonVariant]="'color'" [hraIconButtonSize]="'small'">
            <mat-icon svgIcon="social:linkedin" color="accent"></mat-icon>
          </a>
          <a mat-icon-button [hraIconButtonVariant]="'color'" [hraIconButtonSize]="'small'">
            <mat-icon svgIcon="social:github" color="accent"></mat-icon>
          </a>
        </div>
      </hra-profile-card>
    }
  </div>
</div>
<hra-footer></hra-footer>
