<div class="splash-header" hraFeature="header">
  <img class="splash-img" alt="Splash Image" [src]="'assets/images/splash.png' | assetUrl" />
  <div class="splash-content">
    <hra-icon class="icon" svgIcon="product:asctb-reporter" />
    <div class="title">Create and visualize Human Reference Atlas Data</div>
    <div class="actions">
      <a
        mat-button
        hraCtaButton
        hraButtonVariant="primary"
        hraFeature="explore-visualization"
        hraClickEvent
        routerLink="/vis"
      >
        Explore visualization
        <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
      </a>
      <a
        mat-button
        hraCtaButton
        hraButtonVariant="secondary"
        hraFeature="launch-playground"
        hraClickEvent
        routerLink="/vis"
        [queryParams]="{ playground: true, selectedOrgans: 'example' }"
      >
        Launch playground
        <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
      </a>
    </div>
  </div>
</div>
<div class="demonstration-video-section" hraFeature="demo-video">
  <div class="section-title">Demonstration video</div>
  <div class="section-description">Learn about the features and functionality of this application.</div>
  <div class="split-sections">
    <div class="youtube-video-container">
      <hra-youtube-player
        hraFeature="player"
        videoId="pzUFmDhQEO8"
        label="ASCT+B Reporter demonstration"
        #youtubePlayer
      />
    </div>
    <div class="section-selector-container">
      <div class="chapters">Chapters</div>
      <ng-scrollbar hraScrollOverflowFade>
        <div class="section-selectors">
          @for (section of videoSections; track section) {
            <button
              mat-button
              class="section-selector"
              hraButtonVariant="primary"
              hraClickEvent
              [class.section-selected]="$index === selectedVideoSection()"
              [hraFeature]="section.header | slugify"
              [disableRipple]="true"
              (click)="seekVideo(section.sec, $index)"
            >
              <div class="ss-header">{{ section.header }}</div>
              <div class="ss-desc">
                {{ section.desc }}
              </div>
            </button>
          }
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>
<div class="contributors-section" hraFeature="contributors">
  <div class="section-title">Contributors</div>
  <div class="section-description">The core team who built the ASCT+B Reporter</div>
  <div class="contributors-grid">
    @for (contributor of contributors; track contributor) {
      <hra-profile-card
        [pictureUrl]="contributor.img"
        [name]="contributor.name"
        [description]="contributor.desc"
        [centerContent]="true"
        [hraFeature]="contributor.name | slugify"
      >
        <div class="social-media-actions">
          <a
            *ngIf="contributor.mail"
            mat-icon-button
            hraIconButtonVariant="color"
            hraIconButtonSize="large"
            hraFeature="email"
            hraClickEvent
            target="_blank"
            [href]="`mailto:${contributor.mail}`"
          >
            <mat-icon color="accent">mail</mat-icon>
          </a>
          <a
            *ngIf="contributor.link"
            mat-icon-button
            hraIconButtonVariant="color"
            hraIconButtonSize="large"
            hraFeature="personal-website"
            hraClickEvent
            target="_blank"
            [href]="contributor.link"
          >
            <mat-icon color="accent">person</mat-icon>
          </a>
          <a
            *ngIf="contributor.linkedin"
            mat-icon-button
            hraIconButtonVariant="color"
            hraIconButtonSize="large"
            hraFeature="linkedin"
            hraClickEvent
            target="_blank"
            [href]="contributor.linkedin"
          >
            <mat-icon svgIcon="social:linkedin" color="accent" />
          </a>
          <a
            *ngIf="contributor.github"
            mat-icon-button
            hraIconButtonVariant="color"
            hraIconButtonSize="large"
            hraFeature="github"
            hraClickEvent
            target="_blank"
            [href]="contributor.github"
          >
            <mat-icon svgIcon="social:github" color="accent" />
          </a>
        </div>
      </hra-profile-card>
    }
  </div>
</div>
<hra-footer />
