:host {
  display: flex;

  .pagination-container {
    display: flex;

    ::ng-deep span {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0.875rem;
      border: 0.125rem solid var(--mat-sys-primary);
      border-radius: 100%;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        border: 2px solid var(--mat-sys-tertiary);
      }
    }

    ::ng-deep .swiper-pagination-bullet-active::before {
      content: '';
      background-color: var(--mat-sys-tertiary);
      display: block;
      position: relative;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      top: 3px;
      left: 3px;
    }
  }

  button {
    --mdc-icon-button-state-layer-size: 2.5rem;
  }
}
