@use '@angular/material' as mat;
@use '../../../../../../../libs/design-system/styles/vars' as vars;

:host {
  display: flex;
  align-items: center;

  .pagination-container {
    display: flex;

    ::ng-deep span {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0.875rem;
      border: 0.125rem solid vars.$primary;
      border-radius: 100%;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        border: 0.125rem solid vars.$tertiary;
      }
    }

    ::ng-deep .swiper-pagination-bullet-active::before {
      content: '';
      background-color: vars.$tertiary;
      display: block;
      position: relative;
      border-radius: 100%;
      width: 0.625rem;
      height: 0.625rem;
      top: 0.1875rem;
      left: 0.1875rem;
    }
  }

  button {
    @include mat.button-overrides(
      (
        state-layer-size: 2.5rem,
      )
    );
  }
}
