@use '@angular/material' as mat;
@use 'vars';
@use 'light-theme';
@use 'theming';
@use 'utils';

@include utils.global-styles() {
  @include theming.theme(light-theme.$theme);
  @include mat.chips-overrides(
    (
      outline-color: vars.$outline-variant,
      label-text-color: vars.$on-primary-fixed,
      label-text-font: vars.$label-medium-font,
      label-text-line-height: vars.$label-medium-line-height,
      label-text-size: vars.$label-medium-size,
      label-text-tracking: vars.$label-medium-tracking,
      label-text-weight: vars.$label-medium-weight,
    )
  );

  @include mat.form-field-overrides(
    (
      container-vertical-padding: 0.75rem,

      filled-label-text-font: vars.$body-large-font,
      filled-label-text-size: vars.$body-large-size,
      filled-label-text-tracking: vars.$body-large-tracking,
      filled-label-text-weight: vars.$body-large-weight,

      container-text-font: vars.$body-large-font,
      container-text-size: vars.$body-large-size,
      container-text-line-height: vars.$body-large-line-height,
      container-text-tracking: vars.$body-large-tracking,
      container-text-weight: vars.$body-large-weight,
    )
  );

  @include mat.select-overrides(
    (
      trigger-text-font: vars.$body-large-font,
      trigger-text-size: vars.$body-large-size,
      trigger-text-line-height: vars.$body-large-line-height,
      trigger-text-tracking: vars.$body-large-tracking,
      trigger-text-weight: vars.$body-large-weight,
    )
  );

  mat-form-field {
    label.mdc-floating-label--float-above {
      letter-spacing: 0.4px !important;
      transform: translateY(-85%) scale(0.75) !important;
    }
  }

  .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
  .mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
  .mat-mdc-standard-chip .mat-mdc-chip-action-label {
    overflow: hidden !important;
    cursor: pointer;
  }

  mat-snack-bar-container {
    .mat-mdc-snackbar-surface {
      min-width: auto !important;
    }

    hra-snackbar {
      gap: 0 !important;
    }
  }
}
