@use 'utils';
@use 'vars';
@import './../../../assets/stylesheets/_colors.scss';

:host {
  .title {
    @include utils.use-font(label, large);
    padding: 0.5rem 1rem;
    height: 3rem;
  }

  .content {
    padding: 0 1rem 1rem 1rem;
    .vis-controls {
      .control-title {
        @include utils.use-font(label, medium);
        color: vars.$primary;
        margin-bottom: 0.5rem;
      }

      .filters {
        display: flex;
        align-items: center;
        gap: 1rem;

        .full-width {
          flex: 1;
          mat-button-toggle {
            flex: 1;
          }
        }
      }
    }
  }

  .function-button {
    width: 100% !important;
    background-color: #f5f5f5;
    padding: 0 0.625rem 0 0.625rem !important;

    ::ng-deep {
      .mat-form-field {
        width: auto !important;
      }

      .mat-select-value {
        max-width: 100%;
        width: auto;
      }
    }
  }

  .biomarker-icon-type {
    font-size: 1.125rem;
  }

  .d-flex {
    gap: 1rem;
  }

  ::ng-deep {
    .cell-types-panel {
      left: 74px;
      position: fixed !important;
      width: 140px !important;
    }
  }

  .control-title ::ng-deep .mat-mdc-select-trigger {
    .mat-mdc-select-value {
      width: 7rem;
      .mat-mdc-select-value-text {
        padding-left: 1rem;
      }
    }
  }
}
