<div hraFeature="visualization-controls-functions">
  <div class="title">Visualization controls</div>

  <div class="content">
    <!-- Cell Type Controls -->
    <div class="vis-controls" hraFeature="cell-type">
      <div class="control-title">Cell types</div>
      <div class="filters">
        <mat-form-field>
          <mat-label>Sort</mat-label>
          <mat-select
            disableRipple
            panelClass="options-container"
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('CT', 'sort', $event)"
            [value]="(config$ | async)?.CT?.sort"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
            hraFeature="sort"
            [hraModelChangeEvent]="{ value: (config$ | async)?.CT?.sort }"
          >
            <mat-option *ngFor="let option of sortOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Size</mat-label>
          <mat-select
            disableRipple
            panelClass="options-container"
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('CT', 'size', $event)"
            [value]="(config$ | async)?.CT?.size"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
            hraFeature="size"
            [hraModelChangeEvent]="{ value: (config$ | async)?.CT?.size }"
          >
            <mat-option *ngFor="let option of ctSizeOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Biomarkers Controls -->
    <div class="vis-controls" hraFeature="biomarkers">
      <div class="control-title">Biomarkers</div>
      <div class="filters">
        <mat-form-field>
          <mat-label>Sort</mat-label>
          <mat-select
            disableRipple
            panelClass="options-container"
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('BM', 'sort', $event)"
            [value]="(config$ | async)?.BM?.sort"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
            hraFeature="sort"
            [hraModelChangeEvent]="{ value: (config$ | async)?.BM?.sort }"
          >
            <mat-option *ngFor="let option of sortOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Size</mat-label>
          <mat-select
            disableRipple
            panelClass="options-container"
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('BM', 'size', $event)"
            [value]="(config$ | async)?.BM?.size"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
            hraFeature="size"
            [hraModelChangeEvent]="{ value: (config$ | async)?.BM?.size }"
          >
            <mat-option *ngFor="let option of bmSizeOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filters">
        <mat-form-field class="full-width">
          <mat-label>Biomarker type</mat-label>
          <mat-select
            disableRipple
            panelClass="options-container"
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('BM', 'type', $event)"
            [value]="(config$ | async)?.BM?.type"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
            hraFeature="type"
            [hraModelChangeEvent]="{ value: (config$ | async)?.BM?.type }"
          >
            <mat-option *ngFor="let option of bimodalBTypeOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- OMAP Controls -->
    <div class="vis-controls" hraFeature="omap">
      <div class="control-title">Organ Mapping Antibody Panels filters</div>
      <div class="filters">
        <mat-button-toggle-group
          hraButtonToggleSize="medium"
          class="full-width"
          multiple="true"
          hideMultipleSelectionIndicator="false"
        >
          <mat-button-toggle
            [checked]="omaps.organsOnly"
            (change)="
              handleOMAPOptionToggle({
                organsOnly: !omaps.organsOnly,
                proteinsOnly: omaps.proteinsOnly,
              })
            "
            hraFeature="organs-only"
            hraClickEvent
            >Organs only</mat-button-toggle
          >
          <mat-button-toggle
            [checked]="omaps.proteinsOnly"
            (change)="
              handleOMAPOptionToggle({
                proteinsOnly: !omaps.proteinsOnly,
                organsOnly: omaps.organsOnly,
              })
            "
            hraFeature="proteins-only"
            hraClickEvent
            >Proteins only</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
