@use 'utils';
@use 'vars';

.mw {
  min-width: 15.625rem;
}
.display-option {
  display: inline-block;
}
.help-icon {
  color: vars.$secondary;
}

:host {
  .sidenav-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;

    .title {
      @include utils.use-font(title, small);
    }
  }

  .title-container {
    display: flex;
    align-items: center;
  }
}
