<cde-header></cde-header>
<section class="create-and-explore">
  <div class="create-explore-content">
    <div class="header">
      <h2>Create and Explore Cell Distance Visualizations</h2>
      <h4>
        This website supports visualization and quantification of cells and cell-cell distance distributions in
        processed spatial molecular data. Resulting data and visualizations can be explored, downloaded, and can be
        embedded on websites.
      </h4>
    </div>
    <cde-visual-card [cardData]="data"></cde-visual-card>
  </div>
</section>
<section class="vccf">
  <div class="grid-container">
    <h2 class="title">Background Information: Constructing the Vasculature Common Coordinate Framework</h2>
    <h4 class="description">
      The vasculature is the human body's delivery system. It is also a cornerstone of medicine, helping surgeons guide
      surgeries, pathologists diagnose disease, and serving as a landmark for medical practitioners of all stripes. The
      Vasculature Common Coordinate Framework (VCCF) taps into this organic infrastructure in order to map the cells in
      the body based on their proximity to nearby blood vessels.
    </h4>
    <div class="buttons">
      <a
        class="hra-btn cta-filled"
        href="https://doi.org/10.3389/fcvm.2020.00029"
        target="_blank"
        rel="noopener noreferrer"
        >Read VCCF Paper
        <mat-icon iconPositionEnd> east </mat-icon>
      </a>
      <a class="hra-btn cta-flat" href="https://humanatlas.io/vccf" target="_blank" rel="noopener noreferrer"
        >VCCF Visualization Poster
        <mat-icon iconPositionEnd> east </mat-icon>
      </a>
    </div>
    <div class="youtube-player">
      <youtube-player videoId="zQeMgxo8n_U" [width]="644" [height]="362"></youtube-player>
    </div>
  </div>
</section>
<cde-footer></cde-footer>
