:host {
  & > * {
    max-width: 120rem;
    margin: 0 auto;
  }
  display: block;
  background-color: rgba(252, 252, 252, 1);

  .create-explore-content {
    margin: 4rem 10rem 7rem;
  }

  .header {
    margin: 0 4.5rem 0 2.5rem;
  }

  .header h1 {
    margin: 1.5rem 0;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 5.625rem;
  }

  .header p {
    font-family: 'Omnes';
    margin: 0 0 4rem 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
  }

  .vccf {
    background: url(/assets/backgrounds/eui_bg.png) no-repeat;
    opacity: 98%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 62.8125rem;
  }

  .vccf a:first-of-type {
    margin-right: 3rem;
  }

  .paper {
    max-width: 46.5rem;
    margin-left: 13.5rem;
  }

  .paper h2 {
    font-size: 2.625rem;
    line-height: 3.2813rem;
    font-weight: 500;
  }

  .paper p {
    font-family: 'Omnes';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 1.4px;
  }

  .hra-btn {
    display: inline-block;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 0.15625rem 1.5rem;
    width: max-content;
    line-height: 2.15625rem;

    .mat-icon {
      vertical-align: middle;
      margin-left: 0.75rem;
    }
  }

  .youtube-player {
    max-height: min(100vh, 22.625rem);
    max-width: min(100vw, 40.25rem);
    margin: 0 12.25rem 0 7.5rem;
  }
}
