:host {
  & > * {
    margin: 0 auto;
  }
  display: block;
  background-color: rgba(252, 252, 252, 1);

  .create-explore-content {
    margin: 32px 112px 112px 112px;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 1.3px;
  }

  // .header {
  //   margin: 0 4.5rem 0 2.5rem;
  // }

  .header h1 {
    font-size: 2.625rem;
    max-width: 50%;
    line-height: 63px;
    letter-spacing: -0.0325em;
  }

  .header p {
    margin: 0 0 3.5rem 0;
  }

  .vccf {
    background: url('../../../assets/backgrounds/eui_bg.png') no-repeat;
    opacity: 98%;
    padding: 17.5rem 0;
    display: flex;
    flex-wrap: wrap;
    padding: 120px 96px 120px 96px;
  }

  .vccf h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .vccf a:first-of-type {
    margin-right: 2rem;
  }

  .vccf .content {
    display: flex;
  }

  .paper {
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .background-header-2 {
    display: none;
  }

  .links {
    width: 200%;
  }

  .hra-btn {
    display: inline-block;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 0.25rem 1.5rem;
    width: max-content;
    line-height: 2.15625rem;

    .mat-icon {
      vertical-align: middle;
      margin-left: 0.75rem;
    }
  }

  .youtube-player {
    width: 50%;

    youtube-player {
      display: flex;
      height: 100%;
      padding-left: 6rem;
      contain: size;
    }

    ::ng-deep youtube-player > div {
      width: 100%;
    }

    ::ng-deep .youtube-player-placeholder,
    ::ng-deep iframe {
      width: 100%;
      max-height: calc(100% - 3rem);
    }
  }

  @media (min-width: 1440px) {
    .create-explore-content {
      margin: 48px 128px 112px 128px;
    }

    .vccf {
      padding: 160px 156px 160px 156px;
    }

    .vccf .content {
      gap: 48px;
    }

    youtube-player {
      padding-left: 3rem !important;
    }

    ::ng-deep .youtube-player-placeholder,
    ::ng-deep iframe {
      max-height: 100% !important;
    }
  }

  @media (min-width: 1920px) {
    .background-header-1 {
      display: none;
    }

    .background-header-2 {
      display: unset;
    }
  }
}
