:host {
  & > section {
    margin: 0 auto;
  }
  display: block;
  background-color: rgba(252, 252, 252, 1);
  position: relative;
  top: 4.5rem;

  h4 {
    color: var(--mat-sys-primary);
  }

  .create-explore-content {
    padding: 3rem 1rem 5rem 1rem;

    .header .title {
      font: var(--mat-sys-display-small);
      letter-spacing: var(--mat-sys-display-small-tracking);
      margin: 0 0 0.5rem 0;
    }

    .header .description {
      font: var(--mat-sys-body-splash);
      letter-spacing: var(--mat-sys-body-splash-tracking);
      margin: 0 0 3rem 0;
    }
  }

  .vccf-container {
    background: url('../../../assets/backgrounds/eui_bg.png') no-repeat;
    opacity: 98%;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .vccf {
    max-width: 18rem;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      'video'
      'content-container';
    row-gap: 3rem;
  }

  .vccf .content-container {
    grid-area: content-container;
    background: var(--mat-sys-on-primary);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 16px 0px rgb(from var(--mat-sys-shadow) r g b / 0.24);
  }

  .vccf .content {
    grid-area: content;
    display: flex;
  }

  .paper {
    display: flex;
    flex-direction: column;
  }

  .background-header {
    grid-area: header;
    font: var(--mat-sys-headline-small);
    letter-spacing: var(--mat-sys-headline-small-tracking);
    line-height: 2.25rem;
    margin: 0 0 0.5rem 0;
  }

  .background-text {
    font: var(--mat-sys-body-medium);
    letter-spacing: var(--mat-sys-body-medium-tracking);
    margin: 0 0 2rem 0;
  }

  .links {
    .vccf-paper {
      margin-bottom: 1rem;
    }

    mat-icon {
      margin-left: 0.25rem;
    }
  }

  .youtube-player {
    grid-area: video;

    ::ng-deep .youtube-player-placeholder,
    ::ng-deep iframe {
      width: 100% !important;
    }

    .youtube-player,
    ::ng-deep .youtube-player-placeholder,
    ::ng-deep iframe {
      height: 157px !important;

      @media (min-width: 430px) {
        height: 217px !important;
      }

      @media (min-width: 768px) {
        height: 353px !important;
      }

      @media (min-width: 1280px) {
        height: 262px !important;
      }

      @media (min-width: 1440px) {
        height: 320px !important;
      }
    }
  }

  @media (min-width: 430px) {
    .vccf {
      max-width: 23.75rem;

      .content-container {
        padding: 1.5rem 2rem;
      }

      .background-header {
        font: var(--mat-sys-headline-medium);
        letter-spacing: var(--mat-sys-headline-medium-tracking);
      }

      .background-text {
        font: var(--mat-sys-body-large);
        letter-spacing: var(--mat-sys-body-large-tracking);
      }
    }
  }

  @media (min-width: 544px) {
    .create-explore-content {
      .header .title {
        font: var(--mat-sys-display-medium);
        letter-spacing: var(--mat-sys-display-medium-tracking);
      }
    }

    .vccf {
      max-width: 29.25rem;
    }

    .youtube-player {
      padding: 0 40.5px;
    }

    .links {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .vccf-paper {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) {
    .create-and-explore {
      max-width: 38.75rem;
    }

    .create-explore-content {
      .header .title {
        font: var(--mat-sys-display-large);
        letter-spacing: var(--mat-sys-display-large-tracking);
      }
    }

    .vccf {
      max-width: 39.4375rem;
    }

    .youtube-player {
      padding: 0;
    }

    .links {
      gap: 2rem;
    }
  }

  @media (min-width: 1012px) {
    .create-and-explore {
      max-width: 53rem;

      .create-explore-content {
        padding: 3rem 0 5rem 0;
      }
    }

    .header {
      padding: 0 4.5rem 0 2.5rem;
    }

    .vccf {
      padding: 7.5rem 0;

      .content-container {
        padding: 2rem 2.5rem;
      }

      .background-header {
        font: var(--mat-sys-headline-large);
        letter-spacing: var(--mat-sys-headline-large-tracking);
      }
    }

    .links {
      gap: 3rem;
    }
  }

  @media (min-width: 1280px) {
    .create-and-explore {
      max-width: 77.5rem;
    }

    .vccf {
      max-width: 71.6875rem;
      grid-template-columns: 55% auto;
      grid-template-rows: auto;
      grid-template-areas: 'content-container video';
      column-gap: 3rem;
    }

    .youtube-player {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media (min-width: 1440px) {
    .create-explore-content {
      padding: 5rem 0 7rem 0;
    }

    .vccf {
      max-width: 82.625rem;
      column-gap: 7.5rem;
    }
  }

  @media (min-width: 1920px) {
    .create-and-explore {
      max-width: 100rem;
    }

    .create-explore-content {
      padding: 5rem 0 7rem 0;

      .header .description {
        margin-bottom: 4rem;
      }
    }

    .vccf {
      max-width: 94.25rem;
      column-gap: 9.5625rem;
    }
  }
}
