@use 'vars';
@use 'utils';

:host {
  background-color: vars.$secondary-container;
  display: block;

  section {
    padding: 6rem 2.5rem;
  }

  .visualize {
    .cards-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(387px, 1fr));
      gap: 1.5rem;
      justify-items: center;
      max-width: 107.5rem;
      width: 100%;

      hra-collection-card {
        max-width: 24.1875rem;

        .label {
          @include utils.use-font(label, large);
        }

        .supporting-text {
          @include utils.use-font(label, medium);
          margin-bottom: 1rem;
        }

        hra-collection-card-action {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    .title {
      @include utils.use-font(display, large);
      margin-bottom: 3.5rem;
      text-align: center;
    }
  }

  .cite {
    background-image: url(/assets/backgrounds/cde-lung-bg.png);

    .content-container {
      margin: 0 auto;
      max-width: 90rem;
    }

    .content {
      max-width: 59.25rem;

      .title {
        @include utils.use-font(headline, medium);
        margin-bottom: 0.75rem;
      }

      .description {
        @include utils.use-font(body, xl);
      }

      .copy-citation {
        margin-top: 1.5rem;
      }
    }
  }
}
