<hra-nav-header-buttons
  app="rui"
  [appLink]="(homeUrl$ | async) ?? 'https://apps.humanatlas.io/rui/'"
  appTitle="Registration User Interface"
  [brandmark]="true"
></hra-nav-header-buttons>
<ccf-left-sidebar [modalClosed]="registrationStarted"> </ccf-left-sidebar>
<hra-expansion-panel [title]="'Registration'" disabled class="registration">
  <hra-expansion-panel-actions>
    <button mat-icon-button [matMenuTriggerFor]="menu" hraIconButtonSize="large" aria-label="Icon to open nested menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item matRipple matRippleColor="#201E3D14" (click)="resetStage()">Reset all</button>
      <mat-divider class="menu-divider"></mat-divider>
      <button mat-menu-item matRipple matRippleColor="#201E3D14" (click)="resetCamera()">Reset camera view</button>
      <button mat-menu-item matRipple matRippleColor="#201E3D14" (click)="resetBlock()">Reset tissue block</button>
      <mat-divider class="menu-divider"></mat-divider>
      <button mat-menu-item matRipple matRippleColor="#201E3D14" (click)="resetMetadata()">
        Reset registration metadata
      </button>
    </mat-menu>
  </hra-expansion-panel-actions>
  <hra-expansion-panel-header-content>
    <mat-button-toggle-group
      name="sideSelect"
      aria-label="Side Select"
      hideSingleSelectionIndicator
      hraButtonToggleSize="medium"
      (change)="updateSide($event.value)"
    >
      <mat-button-toggle value="left">Left</mat-button-toggle>
      <mat-button-toggle value="right">Right</mat-button-toggle>
      <mat-button-toggle value="anterior" checked>Anterior</mat-button-toggle>
      <mat-button-toggle value="posterior">Posterior</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group
      name="modeSelect"
      aria-label="Mode Select"
      hideSingleSelectionIndicator
      hraButtonToggleSize="medium"
      (change)="updateView($event.value === 'preview')"
    >
      <mat-button-toggle value="register" checked>Register</mat-button-toggle>
      <mat-button-toggle value="preview">Preview</mat-button-toggle>
    </mat-button-toggle-group>
  </hra-expansion-panel-header-content>
</hra-expansion-panel>
<ccf-content class="stage-content" [disablePositionChange]="disablePositionChange"></ccf-content>
<ccf-right-sidebar
  [modalClosed]="registrationStarted"
  (registrationExpanded)="registrationToggle($event)"
></ccf-right-sidebar>
