:host {
  display: grid;
  grid-template-columns: 21rem minmax(586px, calc(100vw - 43.25rem - 4px)) 22.25rem;
  grid-template-rows: 0rem 4.5rem auto;
  grid-template-areas:
    'back back back'
    'header registration metadata'
    'left content metadata';
  height: 100%;

  &.embedded {
    grid-template-rows: 3rem 4.5rem auto;
  }

  &:not(.embedded) .back-bar {
    display: none;
  }

  ccf-registration-modal {
    display: none;
  }

  .back-bar {
    grid-area: back;
  }

  hra-nav-header-buttons {
    grid-area: header;
  }

  .registration {
    grid-area: registration;
    border-left: 1px solid #acb5c3;
    border-right: 1px solid #acb5c3;
  }

  ccf-right-sidebar {
    grid-area: metadata;
  }

  ccf-left-sidebar {
    grid-area: left;
    border-top: 1px solid #acb5c3;
  }

  .stage-content {
    grid-area: content;
  }

  hra-nav-header-buttons {
    margin: 1rem 0.75rem;
  }

  hra-expansion-panel {
    padding: 1rem;

    ::ng-deep .title {
      font: var(--mat-sys-label-large);
    }

    hra-expansion-panel-header-content {
      display: flex;
      gap: 1rem;
      mat-button-toggle-group {
        --mat-standard-button-toggle-height: auto;
      }
    }
  }
}

::ng-deep .cdk-global-overlay-wrapper:has(.usage-snackbar) {
  z-index: 2000 !important;
  --mdc-snackbar-container-color: var(--mat-sys-surface-dim);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-secondary);
}
