<mat-tab-group
  class="remove-border-bottom"
  hraClickEvent
  hraClickEventTriggerOn="none"
  [mat-stretch-tabs]="false"
  [(selectedIndex)]="tabIndex"
  (selectedTabChange)="tabChange($event); event.logEvent(undefined, undefined, { tab: $event.tab.textLabel })"
  #event="hraClickEvent"
>
  <mat-tab label="Visualization">
    @if (error().error.hasError) {
      <app-error [error]="error().error"></app-error>
    } @else {
      <app-tree></app-tree>
    }
  </mat-tab>
  <mat-tab label="Table">
    <div #spreadsheet></div>
  </mat-tab>
  <mat-tab label="Upload">
    <app-upload (uploadForm)="upload($event)"></app-upload>
  </mat-tab>
</mat-tab-group>
