.example-card {
  flex-direction: column;
  margin-bottom: 10px;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  display: flex;
  height: 300px;
  width: 400px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  line-height: normal;
  flex-wrap: wrap;
  max-width: 60%;
  justify-content: space-between
}


.nav-card-title {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5%;
  color: #0A6EBD;
  font-weight: 400;
  line-height: 142.02%;
}

a {
  text-decoration: none;
}

::ng-deep mat-card-content {
  gap: 16px;
  font-weight: 300;
}

.description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 142.02%;
}