:host {
  .clipboard-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .url-card {
    justify-content: center;
    max-width: 37.25rem;
    background-color: rgb(235, 237, 239);
    border-left: solid rgb(22, 144, 198) 5px;
    padding: 1rem 1rem;
    overflow: hidden;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  .copy-btn {
    display: flex;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0rem 1.5rem;
    margin-left: 0.0625rem;
    min-width: 7.75rem;
    color: #444c65;
    border-radius: 6.25rem;
    height: 40px;
    background-color: #f7f2fa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    white-space: normal;
    letter-spacing: 0;
  }

  ::ng-deep .mat-mdc-raised-button .mdc-button__label {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 5px;
  }

  @media screen and (max-width: 428px) {
    .clipboard-container {
      flex-direction: column;
    }

    .copy-btn,
    .tryme {
      width: 50%;
    }
  }

  @media screen and (max-width: 300px) {
    .buttons {
      flex-direction: column;
    }
    .copy-btn,
    .tryme {
      width: 100%;
    }
  }
}
