@use '@angular/material' as mat;
@use '../../../styles/palettes' as palettes;
@use 'sass:map';

$blue: mat.define-palette(palettes.$hra-blue4-palette, 500);
$blue-theme: mat.define-light-theme(
  (
    color: (
      primary: $blue,
      accent: $blue,
    ),
  )
);

:host {
  @include mat.button-color($blue-theme);

  display: grid;
  row-gap: 0.75rem;
  overflow: hidden;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  $button-text-color: map.get(palettes.$hra-blue1-palette, 500);
  --mat-table-background-color: white;
  --mdc-checkbox-unselected-icon-color: #201e3d;
  --mat-sort-arrow-color: #4b4b5e;
  --mat-table-row-item-container-height: 1.75rem;
  --mat-table-row-item-outline-width: 0;
  --mat-table-header-headline-color: var(--mat-sort-arrow-color);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 0.9375rem;
      mat-icon {
        vertical-align: middle;
      }
    }

    button {
      --mdc-filled-button-label-text-color: #{button-text-color};
    }
  }

  .cell-count {
    display: flex;
    justify-content: space-between;

    .mat-caption {
      font-weight: 400;

      span {
        display: block;
      }
    }
  }

  .table-overflow-container {
    overflow: auto;

    table {
      ::ng-deep {
        thead {
          .mat-sort-header-arrow {
            opacity: 1 !important;
            transform: none !important;
          }

          tr th:last-child > div {
            justify-content: flex-end;
            margin-right: 0.75rem;
          }
        }

        tbody tr td.mdc-data-table__cell:last-child {
          text-align: end;
          padding-right: 0.75rem;
          color: var(--mat-sort-arrow-color);
        }
      }

      .mat-mdc-header-row {
        height: unset;

        & > * {
          padding-bottom: 0.5rem;
        }
      }

      td.name {
        font-size: 14px;
        font-weight: 400;
      }

      .mdc-data-table__cell,
      .mdc-data-table__header-cell {
        padding: 0;
      }

      .color-picker {
        height: 1.125rem;
        width: 1.125rem;
        background-color: #201e3d;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 4px;
      }

      .anchor {
        background-color: var(--mdc-checkbox-unselected-icon-color);
        border-radius: 50%;
        color: white;
        vertical-align: middle;
        height: 1.125rem;
        width: 1.125rem;
        font-size: 1rem;
        text-align: center;
        align-content: center;
      }
    }
  }
}
