<div class="header">
  <div class="header-left">
    <div class="title">Configure Spatial Search</div>
    <a
      class="help"
      mat-icon-button
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/hubmapconsortium/hra-ui/wiki/Application-Guides#how-to-use-the-spatial-search"
    >
      <mat-icon>help</mat-icon>
    </a>
  </div>
  <button class="close" mat-icon-button (click)="closeDialog.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<ccf-spatial-search-inputs
  [organs]="organs()"
  [sex]="sex()"
  [selectedOrgan]="selectedOrgan()"
  (updateOrgan)="updateOrgan.emit($event)"
  (updateSex)="updateSex.emit($event)"
></ccf-spatial-search-inputs>

<button mat-flat-button class="continue-button" [disabled]="!selectedOrgan()" (click)="buttonClicked.emit()">
  Continue
</button>
