:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  --mdc-chip-label-text-color: var(--mat-sys-on-primary-fixed-variant);

  .label {
    font: var(--mat-sys-label-medium);
    margin-bottom: 0.25rem;
  }

  ::ng-deep .mdc-evolution-chip-set__chips {
    margin: 0 !important;
    gap: 0.25rem;

    .mdc-evolution-chip__text-label {
      font: var(--mat-sys-label-medium);
      max-width: 13.75rem;
      overflow: hidden;
    }

    .mat-mdc-chip {
      margin: 0;
    }
  }

  .icon.remove {
    color: var(--mat-sys-on-primary-fixed-variant);
  }
}
