<h3 mat-dialog-title class="header">
  Heads up!
  <button mat-icon-button mat-dialog-close class="header-close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</h3>

<mat-dialog-content class="content"
  >This website is optimized for Chrome or Firefox on a minimum resolution of 1280x832.</mat-dialog-content
>

<mat-dialog-actions class="buttons">
  <a mat-flat-button color="primary" class="atlas-btn cta-filled" href="https://humanatlas.io/">
    Explore the Atlas
    <mat-icon iconPositionEnd> east </mat-icon>
  </a>
  <button mat-button mat-dialog-close class="btn-stroked" (click)="close()">Continue using this website</button>
</mat-dialog-actions>
