<div class="header">
  <h3>Heads up!</h3>
  <button mat-icon-button class="header-close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<span class="content">This website is optimized for Chrome or Firefox on a minimum resolution of 1280x832.</span>

<div class="buttons">
  <a href="https://humanatlas.io/">
    <button mat-flat-button color="primary" class="atlas-btn cta-filled">
      Explore the Atlas
      <mat-icon iconPositionEnd> east </mat-icon>
    </button>
  </a>
  <button mat-button class="btn-stroked" (click)="close()">Continue using this website</button>
</div>
