<ccf-page-header [headerCard]="headerCardDetails"></ccf-page-header>
<ccf-page-data [data]="overviewData"></ccf-page-data>
<ccf-page-data [data]="tutorialData"></ccf-page-data>
<youtube-model [height]="height" [width]="width" [videoId]="videoId" [title]="title"></youtube-model>
<ccf-page-data [data]="interfacedata"></ccf-page-data>
<!-- <youtube-player [height]="height" [width]="width" [videoId]="videoId" [title]="title"></youtube-player> -->
<ccf-page-data [data]="acknowledgeData"></ccf-page-data>