:host {
  display: block;
  padding-bottom: 2rem;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .description {
    padding: 1.5rem 2rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
  }

  mat-card-header {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    padding: 1rem 2rem;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: unset;
    padding-bottom: 1rem !important;
  }

  .header-container {
    width: 100%;
    margin: 1rem 0;
  }

  .title-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .mat-mdc-raised-button {
    font-weight: 500;
    font-size: 1rem;
    padding: 0rem 1.5rem;
    margin-left: 1px;
    min-width: 124px;
    color: #444c65;
    border-radius: 6.25rem;
    height: 40px;
    background-color: #f7f2fa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    white-space: normal;
    letter-spacing: 0;
    line-height: 20px;
  }

  .header-subtitle {
    font-size: 1rem;
  }

  .simple-image-card {
    padding: unset;
  }

  ::ng-deep .mat-card-header-text {
    margin: unset !important;
  }

  @media (max-width: 26.75rem) {
    .mat-mdc-card-header {
      font-size: 1.125rem;
      padding: 1rem;
    }

    .description {
      padding: 1rem;
    }

    .mat-card-actions {
      pointer-events: none;
    }

    .title-btn {
      flex-wrap: unset;
      flex-direction: column;
    }
  }
}

::ng-deep .custom-modal {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  .mat-icon {
    padding-bottom: 0.625rem;
    height: 1.75rem;
  }

  .dialog-header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .mat-button-toggle-focus-overlay {
    display: none;
  }

  .mdc-dialog__title {
    display: flex;
    --mdc-dialog-subhead-weight: 300;
    --mdc-dialog-subhead-size: 1.5rem;
    --mdc-dialog-subhead-line-height: 1.5rem;
    --mdc-dialog-subhead-tracking: 0.005rem;
    margin: unset;
    padding: 0;
  }
}

::ng-deep .modal {
  padding: 1rem;
  max-width: calc(100vw - 1rem) !important;

  img {
    max-height: calc(100vh - 7.5rem - 1px);
  }

  .mat-divider {
    margin: 0 -1.5rem 0 -2rem;
  }
}
