@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: url('./metropolis.regular.otf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: bold;
  font-weight: 500;
  src: url('./metropolis.medium.otf') format('truetype');
}
