<ccf-choose-version [releaseDate]="versions" (selectedVersion)="updateSelection($event)"
  [selectedDate]="selectedVersion" class="description">
</ccf-choose-version>
<table mat-table [dataSource]="selectedData" class="mat-elevation-z8 download-table" matSort>
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="label">{{columnLabels.type}}</th>
    <td mat-cell *matCellDef="let row">
      <ng-container *ngIf="row.url; else noLink">
        <a [href]="row.url" target="_blank">{{ row.label }}</a>
      </ng-container>
      <ng-template #noLink>
        {{ row.label }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="links">
    <th mat-header-cell *matHeaderCellDef>
      {{columnLabels.download}}
      <span class="material-symbols-outlined icon">file_download</span>
    </th>
    <td mat-cell *matCellDef="let row">
      <ng-container *ngFor="let item of row.links; last as last">
        <a [href]="item.link" target="_blank">{{ item.label }}</a>
        <ng-container *ngIf="!last"> | </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <ng-container *ngIf="displayMetadata" matColumnDef="releaseVersion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="releaseVersion">{{columnLabels.releaseVersion}}</th>
    <td mat-cell *matCellDef="let row">
      {{ row.releaseVersion }}
    </td>

  </ng-container>
  <ng-container *ngIf="displayMetadata" matColumnDef="digitalObjectType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="digitalObjectType">{{columnLabels.digitalObjectType}}</th>
    <td mat-cell *matCellDef="let row">
      {{ row.dot }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>