:host {
  .donor-card {
    cursor: pointer;
    grid-template-columns: 16.75rem min-content;

    &:hover,
    &.highlighted {
      box-shadow:
        0px 6px 2px -2px rgba(0, 0, 0, 0.2),
        0px 4px 4px 0px rgba(0, 0, 0, 0.14),
        0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    }
  }

  .expanded-cards {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.5rem;

    .block-card {
      margin-left: 0.5rem;
      grid-template-columns: 16.25rem min-content;
    }

    .section-card {
      margin-left: 0.75rem;
      grid-template-columns: 16rem min-content;
    }
  }
}
