:host {
  .donor-card {
    cursor: pointer;
  }

  .expanded-cards {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.5rem;

    .block-card {
      margin-left: 0.5rem;
    }

    .section-card {
      margin-left: 0.75rem;
      margin-right: -0.25rem;
    }
  }
}
