@use 'vars';

.control-pane-container {
  height: calc(100% - 12.1rem);
  width: 100%;
  position: absolute;
  left: 0;
}

.control-pane {
  width: 20.5rem;
  border-right: 0.0625rem solid vars.$outline;
  min-width: 3.125rem;
  border-radius: 0;
  background-color: var(--mat-sys-surface-container-lowest);
}

.tree-div {
  max-width: 100%;
  overflow-x: auto;
}

.compare-sidenav {
  width: 40.625rem !important;
}

.example-box {
  cursor: move;
  z-index: 5;
}
.box-container {
  position: absolute;
  width: 15.625rem;
  left: 0.625rem;
  z-index: 2;
}

::ng-deep {
  mat-dialog-container .mat-mdc-dialog-surface {
    border-radius: 0.5rem;
  }
}
