@use 'vars';

.control-pane-container {
  height: calc(100% - 7.1rem);
  width: 100%;
  position: absolute;
  left: 0;
}

.control-pane {
  width: 20.5rem;
  border-right: 0.0625rem solid vars.$outline;
  min-width: 3.125rem;
  border-radius: 0;
  background-color: var(--mat-sys-surface-container-lowest);
}

.tree-div {
  max-width: 100%;
  overflow-x: auto;
}

.right-sidenav {
  min-width: 31.25rem;
  max-width: 43.75rem;
  overflow-x: auto;
  border-left: 0.1875rem solid #ececec;
  box-shadow: none !important;
  z-index: 10 !important;
}

.compare-sidenav {
  width: 40.625rem !important;
}

.example-box {
  cursor: move;
  z-index: 5;
}
.box-container {
  position: absolute;
  width: 15.625rem;
  left: 0.625rem;
  z-index: 2;
}
