<div class="h-100 w-100">
  <app-navbar [cache]="(getFromCache$ | async) ?? false"></app-navbar>
  <mat-drawer-container class="control-pane-container h-100" autosize>
    <mat-drawer #controlPaneDrawer class="control-pane" mode="side" [opened]="pane$ | async">
      <app-control-pane [error]="error"></app-control-pane>
    </mat-drawer>

    <mat-drawer-content>
      <div id="content" class="h-100 w-100">
        <app-error *ngIf="error.hasError" [error]="error"></app-error>

        <div #treeDiv class="tree-div" *ngIf="(mode$ | async) === 'vis'">
          <app-tree *ngIf="!error.hasError"></app-tree>
        </div>

        <div class="playground-dig" *ngIf="(mode$ | async) === 'playground'">
          <app-playground></app-playground>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
