<ccf-page-header [headerCard]="pageHeaderData"></ccf-page-header>
<announcement-card></announcement-card>
<ccf-simple-tile [definitions]="tileDefinition"></ccf-simple-tile>
<ccf-page-data [data]="overview" class="description"></ccf-page-data>
<ccf-page-data [data]="history" class="description"></ccf-page-data>
<ccf-page-data [data]="references" class="description"></ccf-page-data>
<ccf-page-data [data]="presentations" class="description"></ccf-page-data>
<ccf-page-data [data]="acknowledgments" class="description"></ccf-page-data>