@use '../../../../../../../libs/design-system/styles/vars' as vars;

:host {
  mat-form-field {
    --mdc-filled-text-field-active-indicator-color: #{vars.$primary};
    --mdc-filled-text-field-focus-active-indicator-color: #{vars.$primary};
    --mdc-filled-text-field-input-text-color: #{vars.$primary};
    --mat-form-field-trailing-icon-color: #{vars.$primary};
    --mat-form-field-leading-icon-color: #{vars.$primary};
    width: 100%;
  }

  mat-label {
    color: vars.$inverse-surface;
    font: vars.$label-medium;
  }

  mat-icon {
    color: vars.$primary-fixed;
  }

  .search-icon {
    padding-right: 0.5rem;
  }

  .results {
    background: vars.$surface-container-low;
    border-top: 2px solid vars.$primary;
    box-shadow: 0px 5px 4px 0px #201e3d29;
    padding: 0.5rem 0;
  }

  mat-checkbox {
    --mdc-checkbox-state-layer-size: 3rem;
    --mdc-checkbox-selected-icon-color: #{vars.$on-tertiary-fixed};
    --mdc-checkbox-selected-focus-icon-color: #{vars.$on-tertiary-fixed};

    ::ng-deep label {
      font: vars.$label-medium;
      padding-right: 0.5rem;
    }
  }
}
