<mat-form-field [class.expanded]="resultsVisible" subscriptSizing="dynamic">
  <mat-label class="form-input-label">Search</mat-label>
  <input matInput [formControl]="searchControl" #search />
  <mat-icon class="search-icon" matPrefix>search</mat-icon>
  <button
    matSuffix
    mat-icon-button
    class="add-icon"
    hraIconButtonSize="small"
    [class.active]="hasCheckedTags()"
    [disabled]="!hasCheckedTags()"
    (click)="addTags(); search.focus()"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-form-field>

@if (resultsVisible && searchResults.totalCount > 0) {
  <div class="results">
    @for (result of searchResults.results; track result.id) {
      <div class="item">
        <mat-checkbox labelPosition="after" [(ngModel)]="checkedResults[result.id]">
          {{ result.label }}
        </mat-checkbox>
      </div>
    }
  </div>
}
