<mat-form-field [class.expanded]="resultsVisible" subscriptSizing="dynamic">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="searchControl" #search />
  <mat-icon class="search-icon" matPrefix>search</mat-icon>
  <button
    matSuffix
    mat-icon-button
    class="add-icon"
    hraIconButtonSize="small"
    [class.active]="hasCheckedTags()"
    [disabled]="!hasCheckedTags()"
    (click)="addTags(); search.focus()"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="resultsVisible && searchResults.totalCount > 0" class="results">
  <div *ngFor="let result of searchResults.results; trackBy: tagId" class="item">
    <mat-checkbox labelPosition="after" [(ngModel)]="checkedResults[result.id]">
      {{ result.label }}
    </mat-checkbox>
  </div>
</div>
