@use '@angular/material' as mat;
@use '../../../../../../../libs/design-system/styles/vars' as vars;

:host {
  mat-form-field {
    width: 100%;
    @include mat.form-field-overrides(
      (
        filled-active-indicator-color: vars.$primary,
        filled-focus-active-indicator-color: vars.$primary,
        filled-input-text-color: vars.$primary,
        leading-icon-color: vars.$primary,
        trailing-icon-color: vars.$primary,
      )
    );
  }

  mat-label {
    color: vars.$inverse-surface;
    font: vars.$label-medium;
  }

  mat-icon {
    color: vars.$primary-fixed;
  }

  .search-icon {
    padding-right: 0.5rem;
  }

  .results {
    background: vars.$surface-container-low;
    border-top: 2px solid vars.$primary;
    box-shadow: 0px 5px 4px 0px #201e3d29;
    padding: 0.5rem 0;
  }

  mat-checkbox {
    ::ng-deep label {
      font: vars.$label-medium;
      padding-right: 0.5rem;
    }
  }
  @include mat.checkbox-overrides(
    (
      selected-icon-color: vars.$on-tertiary-fixed,
      selected-focus-icon-color: vars.$on-tertiary-fixed,
      state-layer-size: 3rem,
    )
  );
}
