@use '@angular/material' as mat;
@use 'utils';
@use 'vars';

$header-height: 4.5rem;
$category-height: 4rem;
$socials-height: 4.5rem;
$horizontal-padding: 1.25rem;
$category-inner-horizontal-padding: 0.5rem;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: vars.$surface-bright;
  justify-content: space-between;

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0 $horizontal-padding;
    color: vars.$secondary;
  }

  .divider {
    margin: 0 $horizontal-padding;

    @include mat.divider-overrides(
      (
        color: vars.$outline,
      )
    );
  }

  .categories-container {
    height: calc(100% - $header-height - $socials-height);
    --scrollbar-offset: 2;

    .categories {
      @include mat.expansion-overrides(
        (
          container-shape: vars.$corner-none,
          container-background-color: vars.$surface-bright,
          container-elevation-shadow: none,
          header-collapsed-state-height: $category-height,
          header-expanded-state-height: $category-height,
          header-text-color: vars.$secondary,
          header-text-font: vars.$title-medium-font,
          header-text-size: vars.$title-medium-size,
          header-text-weight: vars.$title-medium-weight,
          header-text-line-height: vars.$title-medium-line-height,
          header-text-tracking: vars.$title-medium-tracking,
        )
      );

      .category {
        margin: 0 $horizontal-padding;
      }

      .category.link {
        width: calc(100% - 2 * $horizontal-padding);
        height: $category-height;
        justify-content: start;
        padding: 0 $category-inner-horizontal-padding;
        border-radius: vars.$corner-none;
        @include utils.use-font(title, medium);
      }

      .category.panel {
        .header {
          padding: 0 0 0 $category-inner-horizontal-padding;

          .title {
            display: flex;
            justify-content: space-between;
            margin-right: 0;

            .toggle::after {
              display: block;
              content: 'add';
            }
          }
        }

        &.mat-expanded .header .title .toggle::after {
          content: 'remove';
        }

        ::ng-deep .mat-expansion-panel-body {
          padding: 0 0 1.25rem;
        }

        .content {
          margin: 0 $category-inner-horizontal-padding;
        }
      }

      > *:last-child {
        margin-bottom: 1.25rem;
      }
    }
  }

  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $socials-height;
    padding: 1rem $horizontal-padding;
    background: vars.$surface-container;
  }
}
