<header class="menu-header">
  <a
    class="logo"
    hraFeature="logo"
    hraClickEvent
    aria-label="Visit CNS"
    hraLink="https://cns.iu.edu/"
    [inlineSVG]="'assets/logo/cns_header_logo.svg' | assetUrl"
  >
  </a>

  <button mat-icon-button (click)="closeMenu.emit()">
    <mat-icon>close</mat-icon>
  </button>
</header>

<mat-divider class="divider" />

<ng-scrollbar class="categories-container">
  <mat-accordion class="categories" displayMode="flat" multi="false">
    @for (option of menuOptions().options; track option) {
      @if (option.type === 'item') {
        <a
          mat-button
          hraSecondaryButton
          hraClickEvent
          class="category link"
          [hraFeature]="option.label | slugify"
          [hraLink]="option.url"
          [hraLinkExternal]="option.external"
        >
          {{ option.label }}
        </a>
      } @else {
        <mat-expansion-panel class="category panel" hideToggle>
          <mat-expansion-panel-header class="header">
            <mat-panel-title class="title">
              {{ option.label }}
              <mat-icon class="toggle" />
            </mat-panel-title>
          </mat-expansion-panel-header>

          <cns-menu-content class="content" [menu]="option" />
        </mat-expansion-panel>
      }

      <mat-divider class="divider" />
    }
  </mat-accordion>
</ng-scrollbar>

<div class="socials">
  @for (id of socials(); track id) {
    <hra-social-media-button size="large" variant="color" [id]="$any(id)" />
  }
</div>
