<hra-table-of-contents-layout>
  <hra-table-of-contents-layout-header>
    @if (studyData(); as study) {
      <hra-page-section hraFeature="study-page" [tagline]="study.tagline">
        <div class="study-header">
          <mat-chip-set>
            <mat-chip hraChipSize="small">
              {{ study.label }}
            </mat-chip>
            <mat-chip hraChipSize="small">
              {{ study.supportingText }}
            </mat-chip>

            @if (study.taglineChips && study.taglineChips.length > 0) {
              @for (chip of study.taglineChips; track chip) {
                <mat-chip hraChipSize="small">
                  {{ chip }}
                </mat-chip>
              }
            }

            @if (study.tags && study.tags.length > 0) {
              @for (tag of study.tags; track tag.text) {
                <mat-chip hraChipSize="small">
                  <mat-icon>{{ tag.icon }}</mat-icon>
                  {{ tag.text }}
                </mat-chip>
              }
            }
          </mat-chip-set>
        </div>

        <img class="study-banner" alt="Study Banner" [src]="study.image" />
      </hra-page-section>
    }
  </hra-table-of-contents-layout-header>

  <hra-page-section hraFeature="overview" tagline="Overview" anchor="overview" [level]="2">
    @if (studyData()?.description) {
      <p>{{ studyData()!.description }}</p>
    }
  </hra-page-section>

  <hra-page-section hraFeature="publications" tagline="Publications" anchor="publications" [level]="2">
    @if (studyData()?.publications && studyData()!.publications.length > 0) {
      <ul class="citations-list">
        @for (pub of studyData()!.publications; track pub.url) {
          <li>
            <a hraHyperlink [attr.href]="pub.url">{{ pub.label || pub.url }}</a>
          </li>
        }
      </ul>
    } @else {
      <p>No source data available</p>
    }
  </hra-page-section>

  <hra-page-section hraFeature="datasets" tagline="Datasets" anchor="datasets" [level]="2">
    @if (studyData()?.datasets && studyData()!.datasets.length > 0) {
      <div class="datasets-toolbar">
        <hra-search-filter
          label="Search"
          [totalCount]="studyData()?.datasets?.length ?? 0"
          [viewingCount]="datasetRows().length"
          [(search)]="searchQuery"
        />
        <mat-icon class="download-icon" (click)="onDownloadCSVButtonClicked()">download</mat-icon>
      </div>
      <hra-table
        [columns]="datasetColumns"
        [rows]="datasetRows()"
        [enableSort]="true"
        (routeClicked)="onExploreDataset($event)"
      />
    } @else {
      <p>No datasets available</p>
    }
  </hra-page-section>

  @if (studyData()?.euiUrl) {
    <hra-page-section
      hraFeature="eui-view"
      tagline="View in the Exploration User Interface"
      anchor="eui-view"
      [level]="2"
    >
      This data has been registered spatially into the Human Reference Atlas.

      <hra-text-hyperlink
        hraFeature="eui-link"
        text="Use app"
        icon="arrow_right_alt"
        [url]="studyData()?.euiUrl ?? ''"
      />
    </hra-page-section>
  }
</hra-table-of-contents-layout>
<hra-footer />
