<mat-sidenav-container class="container">
  <mat-sidenav
    class="filter-sidenav"
    aria-label="Filter research"
    [mode]="sidebarStore.mode()"
    [opened]="sidebarStore.isOpen()"
    [disableClose]="sidebarStore.mode() === 'side'"
    (closedStart)="sidebarStore.close()"
  >
    <hra-filter-menu
      tagline="Research at the Cyberinfrastructure for Network Science Center"
      [filters]="store.filters()"
      [counts]="store.counts()"
      (filtersChange)="store.updateFilters($event)"
    >
      <mat-form-field subscriptSizing="dynamic">
        <hra-icon class="select-icon" matPrefix>{{ store.view() === 'gallery' ? 'cards' : 'list' }}</hra-icon>
        <mat-label>View as</mat-label>
        <mat-select [value]="store.view()" (valueChange)="store.setView($event)">
          <mat-option value="gallery">
            <hra-icon class="select-icon" fontIcon="cards" />
            Gallery
          </mat-option>
          <mat-option value="list">
            <hra-icon class="select-icon" fontIcon="list" />
            List
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic">
        <hra-icon class="select-icon" matPrefix>sort</hra-icon>
        <mat-label>Sort by</mat-label>
        <mat-select [value]="store.sortBy()" (valueChange)="store.setSortBy($event)">
          <mat-option value="nameAsc">Ascending (A-Z) by title</mat-option>
          <mat-option value="nameDesc">Descending (Z-A) by title</mat-option>
          <mat-option value="newest">Newest</mat-option>
          <mat-option value="oldest">Oldest</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic">
        <hra-icon class="select-icon" matPrefix>category</hra-icon>
        <mat-label>Group by</mat-label>
        <mat-select [value]="store.groupBy()" (valueChange)="store.setGroupBy($event)">
          <mat-option [value]="null">None</mat-option>
          <mat-option value="publicationType">Publication type</mat-option>
          <mat-option value="year">Year</mat-option>
        </mat-select>
      </mat-form-field>
    </hra-filter-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <hra-search-filter
      label="Search"
      separator="/"
      [totalCount]="store.numResearchItems()"
      [viewingCount]="store.numFilteredItems()"
      [search]="store.search() ?? ''"
      (searchChange)="store.setSearch($event)"
    />
    <ng-scrollbar hraScrollOverflowFade>
      <div class="content">
        @if (store.numFilteredItems() === 0) {
          <hra-no-results-indicator (clearFilters)="store.resetFilters()" />
        } @else if (store.view() === 'gallery') {
          @for (group of store.sortedGroupedItems(); track group.label) {
            <section class="gallery-group">
              @if (group.label) {
                <h3 hra-section-link underlined class="group-title">{{ group.label }}</h3>
              }

              <hra-gallery-grid [dataSource]="group.items">
                <hra-gallery-card
                  *hraGalleryGridItem="let item"
                  imageSrc=""
                  [tagline]="item.title"
                  [date]="(item.dateStart | date) ?? ''"
                  [link]="item.link || ''"
                  [external]="true"
                  [tags]="item.tags"
                />
              </hra-gallery-grid>
            </section>
          }
        } @else {
          <hra-list-view [data]="store.sortedGroupedListItems()" [groupBy]="store.groupBy() !== null" />
        }

        <div class="page-end">
          <mat-divider />
          <hra-end-of-results-indicator [count]="store.numFilteredItems()" />
        </div>

        <cns-footer />
      </div>
    </ng-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>
