@use 'utils';
@use 'vars' as vars;

:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  .header {
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    background: linear-gradient(rgba(235, 244, 235, 0.48), rgba(235, 244, 235, 0.8), rgba(235, 244, 235, 1));

    button {
      margin: 0.25rem;
    }
  }

  mat-sidenav {
    border-right: 1px solid vars.$outline;
    border-radius: 0;
    width: auto;
  }

  mat-sidenav-container {
    width: 100%;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5rem);
    align-items: center;
  }

  .search,
  ng-scrollbar {
    max-width: 100rem;
    width: 100%;
  }

  .search {
    padding: 1.5rem 2.5rem;

    @media (max-width: 639px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  ng-scrollbar {
    hra-grid-container,
    hra-list-view {
      padding: 0 2.5rem 2.5rem;

      @media (max-width: 639px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    .page-end {
      padding: 0 2.5rem;

      @media (max-width: 639px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    hra-end-of-results-indicator {
      padding-top: 2rem;
      padding-bottom: 2.5rem;
    }
  }

  .action-link {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.25rem;
    font: vars.$label-large;
    @include utils.use-font(label, large);
  }

  .gallery-group {
    display: flex;
    flex-direction: column;

    .group-title {
      padding: 0 2.5rem 2.5rem;
    }
  }

  // Control styles
  .toggle-group {
    width: fit-content;
    max-width: 100%;
    --mat-button-toggle-height: 2rem;
  }
  mat-button-toggle {
    font: var(--mat-sys-label-medium);
  }
  mat-label {
    font: var(--mat-sys-label-medium);
    --mat-form-field-filled-label-text-color: var(--mat-sys-primary);
  }
  .select-icon {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    --mat-form-field-leading-icon-color: var(--mat-sys-secondary);
  }
}

mat-option {
  padding: 0 0.75rem;

  ::ng-deep mat-icon {
    margin-right: 0.75rem !important;
  }

  ::ng-deep span {
    display: flex;
    align-items: center;
  }
}
