@use 'utils';
@use 'vars' as vars;
@use '@angular/material' as mat;

:host {
  @include mat.sidenav-overrides(
    (
      container-background-color: vars.$surface-container-low,
      content-background-color: vars.$on-primary,
      container-divider-color: vars.$outline,
      container-width: auto,
      container-shape: 0,
    )
  );

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5rem);
    align-items: center;
  }

  hra-search-filter {
    padding: 1.5rem 2.5rem 2rem;
    max-width: 100rem;

    @media (max-width: 639px) {
      padding: 1.5rem 1.25rem 2rem;
    }
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2.5rem;

    @media (max-width: 639px) {
      padding: 0 1.25rem;
    }

    hra-list-view,
    hra-grid-container,
    .gallery-groups,
    .page-end,
    cns-footer {
      width: 100%;
    }
  }

  .gallery-groups {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .gallery-group {
      hra-grid-container {
        margin-top: 1rem;
      }
    }
  }

  hra-grid-container {
    gap: 3rem;
  }

  .page-end {
    padding-bottom: 2.5rem;
  }

  mat-divider {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  hra-end-of-results-indicator {
    padding: 0;
    flex-direction: row;
  }

  cns-footer {
    padding-left: 0;
    padding-right: 0;
  }

  ng-scrollbar {
    width: 100%;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.25rem;
    font: vars.$label-large;
    @include utils.use-font(label, large);
  }

  // Control styles
  mat-label {
    font: var(--mat-sys-label-medium);
    --mat-form-field-filled-label-text-color: var(--mat-sys-primary);
  }
  .select-icon {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    --mat-form-field-leading-icon-color: var(--mat-sys-secondary);
  }
}

mat-option {
  padding: 0 0.75rem;

  ::ng-deep mat-icon {
    margin-right: 0.75rem !important;
  }

  ::ng-deep span {
    display: flex;
    align-items: center;
  }
}
