<mat-sidenav-container autosize [hasBackdrop]="!isWideScreen()">
  <mat-sidenav
    [mode]="!isWideScreen() ? 'over' : 'side'"
    [opened]="menuOpen()"
    [fixedInViewport]="true"
    [fixedTopGap]="56"
    #sidenav
  >
    <hra-filter-menu
      tagline="Research at the Cyberinfrastructure for Network Science Center"
      [filters]="filters()"
      (filtersChange)="updateFilters($event)"
    >
      <mat-form-field subscriptSizing="dynamic">
        <hra-icon class="select-icon" matPrefix>{{ viewType() === 'gallery' ? 'cards' : 'list' }}</hra-icon>
        <mat-label>View as</mat-label>
        <mat-select [value]="viewType()" (selectionChange)="viewType.set($event.value)">
          @for (option of viewAsOptions(); track option) {
            <mat-option [value]="option.id">
              <hra-icon class="select-icon" [fontIcon]="option.id === 'gallery' ? 'cards' : 'list'" />
              {{ option.label }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic">
        <hra-icon class="select-icon" matPrefix>sort</hra-icon>
        <mat-label>Sort by</mat-label>
        <mat-select [value]="sortBy()" (selectionChange)="sortBy.set($event.value)">
          @for (option of sortByOptions(); track option) {
            <mat-option [value]="option.id">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic">
        <hra-icon class="select-icon" matPrefix>category</hra-icon>
        <mat-label>Group by</mat-label>
        <mat-select [value]="groupBy()" (selectionChange)="groupBy.set($event.value)">
          @for (option of groupByOptions(); track option) {
            <mat-option [value]="option.id">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </hra-filter-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="search">
      <hra-search-filter
        label="Search"
        separator="/"
        [totalCount]="totalCount()"
        [viewingCount]="viewingCount()"
        [(search)]="search"
      />
    </div>
    @if (viewingCount() === 0) {
      <ng-container [ngTemplateOutlet]="empty" />
    } @else {
      <ng-scrollbar hraScrollOverflowFade>
        @if (groupBy() !== 'none' && viewType() === 'gallery') {
          @for (group of setGroupedItems(filteredItems()); track group) {
            <div class="gallery-group">
              <h3 hra-section-link underlined class="group-title">{{ group[0] }}</h3>
              <hra-grid-container>
                @for (item of group[1]; track $index) {
                  <hra-gallery-card
                    [tagline]="item.title || ''"
                    [imageSrc]="item.imgSrc"
                    [date]="item.dateStart"
                    [link]="item.link || ''"
                    [external]="true"
                    [tags]="fetchTagLabels(item.tags)"
                  />
                }
              </hra-grid-container>
            </div>
          }
        }

        @if (groupBy() === 'none' && viewType() === 'gallery') {
          <hra-grid-container>
            @for (item of filteredItems(); track $index) {
              <hra-gallery-card
                [tagline]="item.title || ''"
                [imageSrc]="item.imgSrc"
                [date]="item.dateStart"
                [link]="item.link || ''"
                [external]="true"
                [tags]="fetchTagLabels(item.tags)"
              />
            }
          </hra-grid-container>
        }

        @if (viewType() === 'list') {
          <hra-list-view [data]="convertToListItems(filteredItems())" [groupBy]="groupBy() !== 'none'" />
        }

        <div class="page-end">
          <mat-divider />
          <hra-end-of-results-indicator [count]="viewingCount()" />
        </div>
        <cns-footer />
      </ng-scrollbar>
    }
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #empty>
  <div class="empty">
    <div>No results. Adjust filters or search again.</div>
    <button mat-flat-button (click)="clearFilters()">Clear filters</button>
  </div>
</ng-template>
