@use 'utils';
@use 'vars' as vars;
@use '@angular/material' as mat;

:host {
  .container {
    @include mat.sidenav-overrides(
      (
        container-background-color: vars.$surface-container-low,
        content-background-color: vars.$on-primary,
        container-divider-color: vars.$outline-variant,
        container-width: 20rem,
        container-shape: vars.$corner-none,
      )
    );
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5rem);
    align-items: center;
  }

  hra-search-filter {
    padding: 1.5rem 2.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    max-width: 100rem;
    margin: 0 auto;
    background-color: vars.$on-primary;

    @media (max-width: 639px) {
      padding: 1.5rem 1.25rem 2rem;
    }
  }

  ng-scrollbar {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2.5rem;

    @media (max-width: 639px) {
      padding: 0 1.25rem;
    }

    &:has(.gallery-group) {
      gap: 3rem;
    }

    section {
      width: 100%;
    }

    .page-end {
      width: 100%;
      padding-bottom: 2.5rem;

      mat-divider {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
      }

      cns-footer {
        padding-left: 0;
        padding-right: 0;
      }
    }

    hra-end-of-results-indicator {
      padding: 0;
      flex-direction: row;
    }
  }

  // Control styles
  mat-label {
    font: var(--mat-sys-label-medium);
    --mat-form-field-filled-label-text-color: var(--mat-sys-primary);
  }
  .select-icon {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    --mat-form-field-leading-icon-color: var(--mat-sys-secondary);
  }
}

mat-option {
  padding: 0 0.75rem;

  ::ng-deep mat-icon {
    margin-right: 0.75rem !important;
  }

  ::ng-deep span {
    display: flex;
    align-items: center;
  }
}
