@use '@angular/material' as mat;
@use 'vars';
@use 'utils';

:host {
  display: block;

  .action {
    width: fit-content;
  }

  @include mat.divider-overrides(
    (
      color: vars.$outline,
    )
  );

  ::ng-deep hra-breadcrumbs .navigation .crumbs .crumb {
    @include utils.use-font('label', 'medium');
  }
}
