<div class="p-2" hraFeature="doi">
  <div class="sheet-header">
    <div>
      <span class="h5">DOI Details</span>
    </div>
    <div>
      <button mat-icon-button hraFeature="close" hraClickEvent (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="doi">
    @for (item of displayData; track item.id) {
      @if (item.doi; as doi) {
        <label><strong>DOI: </strong></label>
        <span>
          {{ doi }}
        </span>

        <div class="pt-1"></div>
      }

      @if (item.id; as id) {
        <label><strong>Id: </strong></label>
        <span>
          {{ id }}
        </span>

        <div class="pt-1"></div>
      }

      @if (item.notes; as notes) {
        <label><strong>Notes: </strong></label>
        <span>
          {{ notes }}
        </span>
      }

      @if (!$last) {
        <hr />
      }
    }
  </div>
</div>
