:host {
  display: block;

  .main {
    display: flex;

    .content {
      flex: 1 1;
      width: 100%;
    }

    &.cta-active {
      --hra-table-of-contents-layout-top-offset: 10rem;
      --hra-site-navigation-top-offset: 7.5rem;
    }
  }

  hra-site-navigation {
    display: none;
  }

  @media (min-width: 1100px) {
    hra-site-navigation {
      display: block;
    }

    .main.navigation-visible .content {
      max-width: calc(100% - 20rem);
    }
  }
}
