<app-sidenav>
  <div header>
    <app-sidenav-header
      [title]="'Compare Data'"
      (closeSideNav)="closeCompare.emit(true)"
      [tooltipString]="'Link your own data to compare it with the Master Data Tables'"
    ></app-sidenav-header>
  </div>

  <div body>
    <ng-scrollbar>
      <div class="content px-3">
        <form [formGroup]="formGroup">
          <div formArrayName="sheets">
            <div *ngFor="let sheet of CSControls.controls; let i = index" class="sheet">
              <div class="dataset-block" [formGroupName]="i">
                <div class="title-container">
                  <div class="title">Dataset {{ i + 1 }}</div>
                  <button
                    mat-icon-button
                    [style.visibility]="formGroup.value.sheets.length === 1 ? 'hidden' : 'visible'"
                    (click)="removeCompareSheetRow(i)"
                  >
                    <mat-icon color="red">delete</mat-icon>
                  </button>
                </div>
                <div class="subtitle">Add data</div>
                <div class="data-source-selector">
                  <mat-button-toggle-group
                    hraButtonToggleSize="medium"
                    [hideSingleSelectionIndicator]="false"
                    #dataSource="matButtonToggleGroup"
                    (change)="onDataSourceChange(i)"
                  >
                    <mat-button-toggle value="file" checked>Upload file</mat-button-toggle>
                    <mat-button-toggle value="link">Link URL</mat-button-toggle>
                  </mat-button-toggle-group>

                  <button
                    mat-button
                    hraButtonVariant="primary"
                    hraButtonSize="medium"
                    [matMenuTriggerFor]="templatesMenu"
                  >
                    Templates
                  </button>
                </div>

                @if (dataSource.value === 'file') {
                  <app-file-upload
                    formControlName="fileName"
                    (fileFormDataEvent)="upload($event, sheet)"
                  ></app-file-upload>
                } @else {
                  <mat-form-field class="full-width" subscriptSizing="dynamic">
                    <mat-label>Google Sheet or CSV URL</mat-label>
                    <input matInput formControlName="link" />
                  </mat-form-field>
                }

                <div class="metadata-container">
                  <div class="subtitle">Optional: Configure metadata & color</div>
                  <div class="dataset-title-color">
                    <mat-form-field appearance="fill" subscriptSizing="dynamic">
                      <mat-label>Title</mat-label>
                      <input matInput placeholder="Sheet {{ i + 1 }}" formControlName="title" />
                    </mat-form-field>
                    <div class="color-selector">
                      <div>Dataset color:</div>
                      <div class="color-wrapper">
                        <input
                          type="color"
                          formControlName="color"
                          [style.backgroundColor]="sheet.get('color')?.value"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="dataset-description">
                    <mat-form-field class="full-width" appearance="fill" subscriptSizing="dynamic">
                      <mat-label>Data Description</mat-label>
                      <input matInput placeholder="This data maps amazing structures!" formControlName="description" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-scrollbar>

    <mat-menu #templatesMenu="matMenu">
      <a
        mat-menu-item
        href="https://docs.google.com/spreadsheets/d/1smQ8_3F-KSRlY7bmozsoM1EonQL4ahNaXP7zeQFf3Ko/edit#gid=0"
        target="_blank"
        >ASCT+B Table template</a
      >
      <a
        mat-menu-item
        href="https://docs.google.com/spreadsheets/d/1DE4Bh2PI7mgaMciMOky2OTduNwYNRU-DyYQPT8szJ-Y/edit#gid=0"
        target="_blank"
        >OMAP Compare template</a
      >
    </mat-menu>
  </div>

  <div footer>
    <div class="mt-2" class="button-container">
      <button mat-button hraButtonSize="medium" (click)="addCompareSheetRow()">
        <mat-icon>add_circle</mat-icon>
        Add Dataset
      </button>
      <button
        mat-flat-button
        hraButtonSize="medium"
        (click)="compare()"
        [ngClass]="{ 'compare-button-color': !formValid }"
      >
        Compare
      </button>
    </div>
  </div>
</app-sidenav>
