<ccf-page-header [headerCard]="headerData" class="page-header"></ccf-page-header>
<announcement-card [messages]="announcementDetails" class="description"></announcement-card>
<ccf-page-data [data]="overviewData"></ccf-page-data>
<ccf-use-button [buttonData]="organCsvButton" class="description"></ccf-use-button>
<ccf-sop-links [links]="sopData" class="description"></ccf-sop-links>
<ccf-choose-version [releaseDate]="versionData" [selectedDate]="placeholderDate" (selectedVersion)="setVersion($event.version)" class="description"></ccf-choose-version>
<ccf-organ-tabs [tabs]="tabsImages" [currentOrgan]="organData[0].name" (organName)="setOrgan($event)" [panelClass]="'panelClass'"></ccf-organ-tabs>
<ccf-two-dim-image [cardTitle]="cardTitle" [tissueData]="organData" [isMultirow]="false"></ccf-two-dim-image>
<ccf-page-data [data]="termsOfUseData" class="description"></ccf-page-data>
<ccf-page-data [data]="licenseData" class="description"></ccf-page-data>
<ccf-page-data [data]="citationData" class="description"></ccf-page-data>
<ccf-page-data [data]="referenceOrgans" class="description"></ccf-page-data>
<ccf-page-data [data]="referencesData" class="description"></ccf-page-data>


