:host {
  max-width: 77rem;

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
  }

  @media (max-width: 26.75rem) {
    padding: 0rem 1rem;
  }
}

::ng-deep .panelClass {
  position: relative;
  top: 40px;
  left: 1rem;
  min-width: unset !important;
}