<a class="hra-home" href="https://humanatlas.io" target="_blank" rel="noopener noreferrer">
  <img class="logo large" [attr.src]="'assets/logo/hra_logo_black.svg' | assetUrl" alt="Human Reference Atlas home" />
  <img class="logo small" [attr.src]="'assets/logo/hra_small.svg' | assetUrl" alt="Human Reference Atlas home" />
</a>
<a class="cde-home" routerLink="/">
  <img [attr.src]="'assets/logo/cde_logo.svg' | assetUrl" alt="Cell Distance Explorer home" />
  <span>
    <div class="cde-label">Cell Distance Explorer</div>
    <div class="preview-app">HRA Preview Application</div>
  </span>
</a>

<div class="filler"></div>

<!-- Disable until help page is made -->
<!-- <a mat-button class="help" routerLink="/help">Help</a> -->
