@use '@angular/material' as mat;

@mixin color($theme) {
  cde-header {
    .hra-home,
    .cde-home {
      &:focus-visible {
        outline-color: mat.get-theme-color($theme, primary, default);
      }
    }

    .help {
      --mdc-text-button-label-text-color: #{mat.get-theme-color($theme, accent, default)};
      border-color: mat.get-theme-color($theme, accent, lighter);

      &:hover {
        border-color: mat.get-theme-color($theme, primary, default);
      }

      &:active {
        --mdc-text-button-label-text-color: #{mat.get-theme-color($theme, primary, darker)};
        border-color: mat.get-theme-color($theme, primary, darker);
      }

      &:focus-visible {
        --mat-text-button-state-layer-color: white;
        border-color: mat.get-theme-color($theme, primary, default);
      }
    }
  }
}

@mixin typography($theme) {
  cde-header {
    @include mat.button-typography($theme);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
