<a class="hra-home" href="https://humanatlas.io" target="_blank" rel="noopener noreferrer">
  <img class="logo large" src="assets/logo/hra_logo_black.svg" alt="Human Reference Atlas home" />
  <img class="logo small" src="assets/logo/hra_small.svg" alt="Human Reference Atlas home" />
</a>
<a class="cde-home" [href]="homeLink()">
  <img src="assets/logo/cde_logo.svg" alt="Cell Distance Explorer home" />
</a>

<div class="filler"></div>

<!-- Disable until help page is made -->
<!-- <a mat-button class="help" routerLink="/help">Help</a> -->
