@use 'sass:math';

:host {
  $logo-height: 3rem;

  display: flex;
  height: 9rem;
  padding: 0 5rem;
  align-items: center;
  gap: 2rem;

  .hra-home,
  .cde-home {
    height: $logo-height;
    border-radius: 0.5rem;

    img {
      height: $logo-height;
    }
  }

  .help {
    $border-width: 0.125rem;
    $bottom-border-width: 0.125rem;

    height: 2.6875rem;
    padding: 0.5rem 5rem 0.5rem 0.25rem;

    &:not(:focus-visible) {
      border-bottom-style: solid;
      border-bottom-width: $bottom-border-width;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus-visible {
      padding: (0.5rem - $border-width) (5rem - $border-width) (0.5rem - $border-width + $bottom-border-width)
        (0.25rem - $border-width);
      border-style: solid;
      border-width: $border-width;
    }
  }

  .filler {
    flex-grow: 1;
  }
}
