<ccf-toolbar></ccf-toolbar>
<div class="main-content">
    <div style="float: left;">
        <img src="assets/images/heading_img.JPG" class="landing-img">
    </div>
    <div class="landing-title">Human Reference Atlas</div>
    <div class="landing-subtitle">3D Multiscale Biomolecular Human Reference Atlas Construction, Visualization and Usage</div>
</div>
<br>
<ccf-simple-tile></ccf-simple-tile>
<ccf-carousel></ccf-carousel>
<br>
<div class="content-title">Explore the Human Reference Atlas</div>
<br>
<ccf-section-card></ccf-section-card>
<ccf-bottom-toolbar></ccf-bottom-toolbar>
<router-outlet></router-outlet>
