.landing-title{
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    line-height: 100%;
    color: #212121;
  }
  
  .landing-subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    color: #444C65;
    line-height: 100%;
  }

  .content-title{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    letter-spacing: 0.5%;
    color: #212121;
    padding-left: 20%;
  }

  .main-content{
    margin-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .landing-img{
    height: 75px;
    width: 50px;
  }