<mat-form-field
  hraFeature="chips"
  subscriptSizing="dynamic"
  [class.visible]="chips().length > 0"
  [class.error]="errorState()"
>
  <div class="chips-area">
    <mat-chip-grid aria-label="Option selection" [formControl]="form()" #chipGrid>
      @for (option of chips(); track option) {
        <mat-chip-row [hraFeature]="option | slugify" (removed)="remove(option)">
          <span hraFeature="label" hraClickEvent>{{ option }}</span>
          <button hraFeature="remove" hraClickEvent matChipRemove [attr.aria-label]="'remove ' + option">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    @if (chips().length > 0) {
      <button hraFeature="clear" hraClickEvent mat-icon-button (click)="clearAll()">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>
  <mat-icon matPrefix class="search-icon">search</mat-icon>
  <mat-label>{{ label() }}</mat-label>
  <div hraFeature="search" class="search-container">
    <input
      hraClickEvent
      placeholder="Search"
      class="search-input"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [(ngModel)]="currentInputValue"
      (matChipInputTokenEnd)="add($event)"
      (keydown)="closeAutocomplete($event)"
      #searchInput="matAutocompleteTrigger"
    />
    @if (errorState()) {
      <mat-icon class="error-icon" svgIcon="error" />
    }
  </div>
  <mat-autocomplete (optionSelected)="optionSelected($event)" #auto="matAutocomplete">
    <ng-scrollbar>
      @for (option of filteredOptions(); track option) {
        <div class="autocomplete-option" [hraFeature]="option | slugify">
          <mat-checkbox
            hraFeature="checkbox"
            hraClickEvent
            class="autocomplete-checkbox"
            [checked]="chips().includes(option)"
            (change)="checkboxSelected($event, option); auto.showPanel = false"
          />
          <mat-option hraFeature="label" hraClickEvent [value]="option">{{ option }}</mat-option>
        </div>
      }
    </ng-scrollbar>
  </mat-autocomplete>
</mat-form-field>

@if (errorState()) {
  <mat-error>No matches found</mat-error>
}
