@use '@angular/material' as mat;
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
$typography: mat.define-typography-config(
  $font-family: (
    'Inter',
    sans-serif,
  ),
);

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($typography);`
@include mat.all-component-typographies($typography);
@include mat.core();

$hra-pallete: (
  50: #edefff,
  100: #d1daef,
  200: #b9c1db,
  300: #9ea8c6,
  400: #8a94b5,
  500: #7582a5,
  600: #667393,
  700: #545f7c,
  800: #444c65,
  900: #30374d,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$my-accent: mat.define-palette($hra-pallete, 800, 200, 900);

$my-primary: mat.define-palette($hra-pallete, 800, 200, 900);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

a:-webkit-any-link {
  color: #054f89;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.content-title {
  font-weight: 300;
  font-size: 1.5rem;
}

.page-data {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
}

.accuracy-prizes {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.list-links {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
  color: #054f89;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.description,
.button-container {
  margin-bottom: 2.5rem;
}

.page-title {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.005rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.hra-bold {
  font-weight: 500;
}

strong {
  font-weight: normal;
  font-weight: 500;
}

.page-header {
  display: block;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

//styles for kaggle-21 links
.datasets {
  font-size: 1rem;
  line-height: 0.5rem;
  flex-basis: 0%;
  padding-bottom: 2rem;
  min-width: 200px;
  letter-spacing: 0.005rem;
  flex-grow: 1;
}

@media (max-width: 28.75rem) {
  .datasets {
    text-align: center;
  }
}

//landing page media queries
@media (max-width: 38.5rem) {
  .landing-title {
    font-size: 1.75rem !important;
  }

  .landing-subtitle {
    font-size: 1.25rem !important;
    line-height: 1.5rem !important;
  }

  .landing-img {
    width: 48px !important;
    height: 112px !important;
    max-height: unset !important;
  }

  .card-title {
    font-size: 1.375rem !important;
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 80rem) {
  .page-title {
    font-size: 1.75rem;
  }
}
