:host {
  .card-container {
    padding-bottom: 2rem;
  }

  .card-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 142.02%;

    letter-spacing: 0.005em;
  }

  .mat-stroked-button {
    border: 1px solid #444c65;
    padding: 0 15px;
    line-height: 34px;
    color: #444c65;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;

    letter-spacing: 0.005em;
  }

  button {
    float: right;
  }

  .mat-card > .mat-card-actions {
    margin-bottom: unset;
    padding-bottom: unset;
    margin-left: unset;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 142.02%;

    letter-spacing: 0.005em;

    color: #212121;
  }

  .image-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .units-container {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 0.5rem;
  }
}
