:host {
  .mat-card {
    margin-bottom: 2rem;
    padding: unset;
  }

  .card-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    padding: 1.6875rem 2rem;
    margin-bottom: unset;
  }

  .mat-stroked-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0rem 1.5rem;
    margin-left: 1px;
    min-width: 10.5rem;
    color: #444C65;
    border-radius: 6.25rem;
    height: 40px;
    background-color: #F7F2FA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .mat-card-actions .mat-stroked-button {
    margin-right: 1rem;
  }

  a,
  button {
    float: right;
  }

  .mat-card > .mat-card-actions {
    margin-bottom: unset;
    padding-bottom: unset;
    margin-left: unset;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    color: #212121;
  }

  .mat-card-actions {
    margin-left: 0.01rem;
    margin-right: unset;
    margin-bottom: unset;
    padding: unset;
  }

  .image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 28rem;
  }

  .multirow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .split {
    width: 49%;
  }

  .no-split {
    width: 100%;
  }

  .units-container {
    padding: 1.688rem 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .model-container {
    display: flex;
    justify-content: center;
  }

  a:-webkit-any-link {
    text-decoration: unset !important;
  }

  .filler {
    flex-grow: 1;
  }

  .mat-card-actions:not(.mat-card-actions-align-end)
    .mat-stroked-button:first-child {
    margin: 0 1rem;
  }

  .image-container img {
    object-fit: contain;
    width: 100%;
  }

  .download-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media (max-width: 72rem) {
    .mat-card-actions .mat-stroked-button {
      margin: 0 0.5rem;
      margin-bottom: 1rem;
      padding: 0;
    }

    .mat-card-actions:not(.mat-card-actions-align-end)
      .mat-stroked-button:first-child {
      margin: 0 0.5rem 1rem 0.5rem;
    }
  }

  @media (max-width: 46rem) {
    .multirow {
      flex-direction: column;
    }

    .split {
      width: unset;
    }

    .download-buttons {
      display: flex;
      flex-direction: column;
    }

    .units-container {
      flex-direction: row;
      align-items: flex-start;
      padding: 1rem;
    }

    .tissue-name {
      margin-bottom: 1rem;
      font-size: 1.125rem;
    }

    .card-title {
      font-size: 1.125rem;
      padding: 1rem;
    }

    .three-dim-name {
      font-size: 1.125rem;
    }

    .mat-card-actions .mat-divider {
      max-width: unset;
      width: 100%;
    }
  }
}

::ng-deep .two-dim-image-modal {
  .dialog-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .mat-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 55rem;
    min-width: 55rem;
    object-fit: contain;
  }

  .mat-dialog-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    margin: unset;
    margin-right: 0.5rem;
  }

  .mat-stroked-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0rem 1.5rem;
    margin-left: 1px;
    min-width: 10.5rem;
    color: #444C65;
    border-radius: 6.25rem;
    height: 40px;
    background-color: #F7F2FA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    margin-right: 1rem;
  }

  .mat-stroked-button:last-child {
    margin-right: unset;
  }

  .mat-stroked-button:not([class*=mat-elevation-z]) {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .dialog-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .img-container {
    max-width: 664px;
    height: 792px;
  }

  a:-webkit-any-link {
    text-decoration: unset !important;
  }

  .dialog-buttons {
    display: flex;
    padding-top: 1.5rem;
  }

  .filler {
    flex-grow: 1;
  }

  @media (max-width: 26.75rem) {
    .filler {
      display: none;
    }
  }
}
