<mat-card>
    <mat-card-title class="card-title">{{cardTitle}}</mat-card-title>
    <mat-divider></mat-divider>
    <span *ngFor="let tissues of tissueData" [class.multirow]="!isMultirow">
        <ng-container *ngFor="let tissue of tissues.tissueData; even as even; last as last;">
            <mat-card-actions [class.split]="!isMultirow">
                <div class="units-container" *ngIf="isMultirow; else: downloadGlb">
                    <div>{{tissue.name}}</div>
                    <div style="flex-grow: 1;"></div>
                    <a mat-stroked-button disableRipple="true" href="{{tissue.url}}">
                        Info
                        <mat-icon>info</mat-icon>
                    </a>
                    <a mat-stroked-button disableRipple="true" [href]="tissue.image" download>
                        Download .png
                        <mat-icon>download</mat-icon>
                    </a>
                    <a [href]="tissue.svg" mat-stroked-button disableRipple="true" download>
                        Download .svg
                        <mat-icon>download</mat-icon>
                    </a>
                </div>
                <ng-template #downloadGlb>
                    <div class="units-container">
                        <div>{{tissue.name}}</div>
                        <div style="flex-grow: 1;"></div>
                        <div>
                            <a [href]="tissue.threeDimImage" download mat-stroked-button disableRipple="true">
                                Download .glb
                                <mat-icon>download</mat-icon>
                            </a>
                            <a mat-stroked-button disableRipple="true" href="{{tissue.url}}">
                                Info
                                <mat-icon>info</mat-icon>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <mat-divider *ngIf="!isMultirow"></mat-divider>
                <div class="image-container" *ngIf="tissue.image; else: threeDimensionContainer">
                    <img [src]="tissue.image" (click)="openImageViewer(imageContent)">
                    <ng-template #imageContent>
                        <div class="dialog-header">
                            <div mat-dialog-title>{{tissue.name}}</div>
                            <div style="flex-grow:1;"></div>
                            <a mat-dialog-close mat-stroked-button [disableRipple]="true" href="{{tissue.url}}">
                                Info
                                <mat-icon>info</mat-icon>
                            </a>
                            <a mat-stroked-button disableRipple="true" [href]="tissue.image" download>
                                Download .png
                                <mat-icon>download</mat-icon>
                            </a>
                            <a [href]="tissue.svg" mat-stroked-button disableRipple="true" download>
                                Download .svg
                                <mat-icon>download</mat-icon>
                            </a>
                            <button mat-dialog-close mat-button [disableRipple]="true">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <div class="img-container">
                            <img [src]="tissue.expandedImage" class="dialog-image">
                        </div>
                    </ng-template>
                </div>
                <ng-template #threeDimensionContainer>
                    <div class="model-container">
                        <model-viewer class="model-viewer" alt="{{tissue.alt}}" src="{{tissue.threeDimImage}}"
                            shadow-intensity="1" camera-controls auto-rotate style="height: 400px;">
                        </model-viewer>
                    </div>
                </ng-template>
            </mat-card-actions>
            <mat-divider [vertical]="!isMultirow" *ngIf="isMultirow && last || even"></mat-divider>
        </ng-container>
    </span>
</mat-card>