:host {
  .mat-card {
    margin-bottom: 2rem;
    padding: unset;
  }

  .mat-card-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    padding: 1rem;
    margin-bottom: unset;
  }

  .mat-stroked-button {
    border: 0.063rem solid #444c65;
    padding: 0 0.938rem;
    line-height: 2.125rem;
    color: #444c65;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.005em;
    border-radius: 0rem;
  }

  a,
  button {
    float: right;
  }

  .mat-card > .mat-card-actions {
    margin-bottom: unset;
    padding-bottom: unset;
    margin-left: unset;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;

    letter-spacing: 0.005em;

    color: #212121;
  }

  .mat-card-actions {
    margin-left: 0.01rem;
    margin-right: unset;
    margin-bottom: unset;
  }

  .image-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .multirow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .split {
    width: 49%;
  }

  .units-container {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #212121;
    display: flex;
  }

  .mat-card-actions > .mat-divider {
    margin-top: 0.5rem;
    width: 39rem;
  }

  .model-container {
    display: flex;
    justify-content: center;
  }
}

::ng-deep .two-dim-image-modal {
  .dialog-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .mat-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55rem;
    width: 55rem;
    object-fit: contain;
  }

  .mat-dialog-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #212121;
    margin: unset;
    margin-right: 0.5rem;
  }

  .mat-stroked-button {
    border: 0.063rem solid #444c65;
    line-height: 2.125rem;
    color: #444c65;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.005em;
    margin-right: 0.5rem;
    border-radius: 0.125rem;
  }

  .dialog-image {
    width: 100%;
    height: 100%;
  }

  .img-container {
    width: 664px;
    height: 792px;
  }
}
