<div class="card-container">
    <mat-card>
        <mat-card-title class="card-title">{{cardTitle}}</mat-card-title>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let tissues of tissueData">
            <span [class.multirow]="isMultirow===false">
                <mat-card-actions *ngFor="let tissue of tissues.tissueData; last as last">
                    <div class="units-container">
                        {{tissue.name}}
                        <button mat-stroked-button disableRipple="true">
                            Download
                            <mat-icon>download</mat-icon>
                        </button>
                        <a mat-stroked-button disableRipple="true" href="{{tissue.url}}" style="float: right;">
                            Info
                            <mat-icon>info</mat-icon>
                        </a>
                    </div>
                    <div class="image-container">
                        <img [src]="tissue.image" (click)="openImageViewer(imageContent)">
                        <ng-template #imageContent>
                            <div class="dialog-header">
                                <span mat-dialog-title>{{tissue.name}}</span>
                                <div style="flex-grow:1;"></div>
                                <a mat-dialog-close mat-stroked-button [disableRipple]="true" href="{{tissue.url}}">
                                    Info
                                    <mat-icon>info</mat-icon>
                                </a>
                                <button mat-dialog-close mat-stroked-button [disableRipple]="true">
                                    Download
                                    <mat-icon>download</mat-icon>
                                </button>
                                <button mat-dialog-close mat-button [disableRipple]="true">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                            <img [src]="tissue.expandedImage">
                        </ng-template>
                    </div>
                    <mat-divider *ngIf="!last"></mat-divider>
                </mat-card-actions>
            </span>

        </ng-container>
    </mat-card>
</div>