<ccf-page-header [headerCard]="azimuthHeader"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewAzimuthData" class="description"></ccf-page-data>
<ccf-page-data [data]="azimuthCtandCount" class="description"></ccf-page-data>
<ccf-page-data [data]="comparisonOfCXG" class="description"></ccf-page-data>
<ccf-table [typeCount]="(tableData | async) ?? []" [displayedColumns]="displayedColumnsData" [columns]="headerInfo" [isOrgan]="true" [additionalHeaders]="additionalHeaders" [additionalColumnsData]="additionalColumnsData" [cellHeaders]="cellData" [cellHeadersData]="cellHeaders" class="description"></ccf-table>
<ccf-page-data [data]="AzimuthCTCounts" class="description"></ccf-page-data>
<ccf-page-data [data]="CodeOnGitHub" class="description"></ccf-page-data>
<ccf-page-data [data]="TermsOfUse" class="description"></ccf-page-data>
<ccf-page-data [data]="License" class="description"></ccf-page-data>
<ccf-page-data [data]="Citation" class="description"></ccf-page-data>
<ccf-page-data [data]="Acknowledgements" class="description"></ccf-page-data>
<ccf-page-data [data]="References" class="description"></ccf-page-data>

