<mat-form-field
  hraFeature="search"
  hraClickEvent
  class="search-field"
  subscriptSizing="dynamic"
  (click)="openSearchList()"
>
  <mat-label>Search Structures</mat-label>
  <mat-icon matPrefix>search</mat-icon>
  <input matInput readonly [value]="selectionLabel()" [disabled]="searchOpen() || disabled()" />
  <mat-icon matSuffix>arrow_drop_down</mat-icon>
</mat-form-field>

<div *ngIf="searchOpen() && !disabled()" class="search-modal" hraFeature="search-modal">
  <div class="search-controls">
    <mat-form-field cdkTrapFocus subscriptSizing="dynamic" [cdkTrapFocusAutoCapture]="true">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search Structures</mat-label>
      <input cdkFocusInitial matInput [(ngModel)]="searchValue" #searchField />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear search"
        matTooltip="Clear search"
        hraFeature="clear-search"
        hraClickEvent
        (click)="searchValue.set('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        matSuffix
        mat-icon-button
        aria-label="Close"
        matTooltip="Close"
        hraFeature="close-search"
        hraClickEvent
        (click)="closeSearchList()"
      >
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
    </mat-form-field>

    <div class="search-options">
      <div class="toggle-group">
        <div class="label">Show only</div>

        <mat-button-toggle-group
          multiple
          hraButtonToggleSize="small"
          name="searchFilterButtons"
          [value]="categories()"
          [hideMultipleSelectionIndicator]="false"
          (change)="categories.set($event.value)"
          #group="matButtonToggleGroup"
        >
          <mat-button-toggle
            value="Anatomical Structures"
            matTooltip="Anatomical Structures"
            hraFeature="as"
            hraClickEvent
            >AS</mat-button-toggle
          >

          <mat-button-toggle value="Cell Types" matTooltip="Cell Types" hraFeature="ct" hraClickEvent
            >CT</mat-button-toggle
          >
          <mat-button-toggle value="Biomarkers" matTooltip="Biomarkers" hraFeature="b" hraClickEvent
            >B</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <div class="select-actions">
        <button
          mat-button
          hraButtonVariant="primary"
          hraButtonSize="small"
          aria-label="Select All"
          hraFeature="select-all"
          hraClickEvent
          (click)="selectAllOptions()"
        >
          Select All
        </button>
        <button
          mat-button
          hraButtonVariant="primary"
          hraButtonSize="small"
          aria-label="Deselect All"
          hraFeature="deselect-all"
          hraClickEvent
          (click)="deselectAllOptions()"
        >
          Deselect All
        </button>
      </div>
    </div>
  </div>
  <mat-selection-list
    [multiple]="true"
    [compareWith]="selectionCompareFunction"
    (selectionChange)="toggleOption($event.options[0])"
    #multiSelect
  >
    <mat-list-item *ngIf="filteredStructures().length === 0">
      <div>No matches.</div>
    </mat-list-item>
    <mat-list-option
      *ngFor="let structure of filteredStructures()"
      hraFeature="structure"
      color="primary"
      checkboxPosition="before"
      [hraClickEvent]="{ structure: structure.name }"
      [value]="structure"
      [selected]="selectionSet().has(structure)"
    >
      <div class="structure-group">
        <div class="structure-name">
          {{ structure.name }}
        </div>
        <div class="structure-group-name">{{ structure.groupName }}</div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
