@use '@angular/material' as mat;
@use 'vars';
@use 'utils';

:host {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;

  .search-field {
    flex: 1;
    user-select: none;

    &,
    input {
      cursor: pointer;
    }
  }

  .structure-group {
    display: flex;
    justify-content: space-between;

    .structure-name {
      @include utils.use-font(label, medium);
      color: vars.$secondary;
    }

    .structure-group-name {
      @include utils.use-font(label, small);
      color: vars.$primary;
    }
  }

  .structure-group-name {
    font-size: 8pt;
  }

  .search-modal {
    background: white;
    position: absolute;
    width: 100%;
    top: 1rem;
    z-index: 20;
    border-bottom: 0.1875rem solid rgba(68, 74, 101, 0.063);
    border-radius: 0.25rem;

    .search-controls {
      position: absolute;
      z-index: 30;
      border-bottom: 0.0625rem solid vars.$outline-variant;
      background: white;
      width: 100%;

      mat-form-field {
        width: 100%;

        button[matSuffix] {
          margin-right: 0.25rem;
        }
      }

      .search-options {
        margin: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toggle-group {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .label {
            @include utils.use-font(label, small);
            color: vars.$secondary;
          }
        }

        .select-actions {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    mat-selection-list {
      margin-top: 5.9375rem;
      overflow-y: scroll;
      height: 18.75rem;
    }

    mat-list-option {
      height: 2.5rem;
      font-size: 11pt;
    }
  }

  .droprown-arrow-icon {
    transform: scale(1.4);
  }
}
