<hra-header baseUrl="https://apps.humanatlas.io/" [breadcrumbs]="crumbs() ?? []">
  <a mat-icon-button hraPlainTooltip="ASCT+B Table metadata" [matMenuTriggerFor]="nestedMenu.childMenu">
    <mat-icon>table</mat-icon>
  </a>
  <a mat-icon-button hraPlainTooltip="View in Knowledge Graph" href="https://lod.humanatlas.io/asct-b" target="_blank">
    <mat-icon>database</mat-icon>
  </a>
  <a
    mat-icon-button
    hraPlainTooltip="GitHub repository"
    href="https://github.com/hubmapconsortium/hra-ui"
    target="_blank"
  >
    <mat-icon svgIcon="social:github"></mat-icon>
  </a>
  <a
    mat-icon-button
    href="https://humanatlas.io/user-story/7"
    rel="noopener noreferrer"
    hraPlainTooltip="Help & documentation"
  >
    <mat-icon>help</mat-icon>
  </a></hra-header
>
<app-table-nested-menu
  #nestedMenu
  [sheetDetails]="(configService.allSheetConfigurations$ | async) ?? []"
></app-table-nested-menu>
<router-outlet></router-outlet>
