::ng-deep .registration-modal {
  --mat-dialog-container-max-width: 100%;
  --mat-dialog-container-min-width: 100%;
  --mat-dialog-container-small-max-width: 100%;
  --mdc-dialog-container-shape: 0;
  --mdc-dialog-container-color: var(--sys-surface-container-low);
  height: 100%;
  width: 100%;
}
