@use 'vars';

:host {
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-columns: 17rem calc(100% - 17rem);
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar biomarker';

  .header {
    grid-area: header;
    .intro {
      width: 100% !important;
    }
  }

  .sidebar {
    grid-area: sidebar;
    overflow: auto;
    width: 17rem;
    height: 100%;

    ::ng-deep .label {
      height: 3.5rem;
      font-size: 1rem;
    }
  }

  .biomarker {
    grid-area: biomarker;
    // display: contents;
    // width: 50rem;
    overflow: auto;
    height: 100%;
  }
}

::ng-deep hra-table {
  max-width: unset !important;
  height: 100% !important;
}

::ng-deep .content {
  width: auto !important;
  .toggle {
    width: auto !important;
  }
  .table-content {
    overflow: auto !important;
  }
}

::ng-deep {
  svg {
    max-height: 100% !important;
  }
  .table-header {
    width: auto !important;
  }

  .table {
    height: calc(100% - 3.5rem);
  }
  .source-list {
    height: 100%;
  }
}

::ng-deep .biomarker {
  height: 100% !important;
}
