@use 'vars';

:host {
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-columns: 17rem calc(100% - 17rem);
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar biomarker';

  .header {
    grid-area: header;
    .intro {
      width: 100% !important;
    }
  }

  .sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    overflow-x: hidden;
    width: 17rem;
    height: 100%;

    ::ng-deep .label {
      height: 3.5rem;
      font-size: 1rem;
    }
  }

  .biomarker {
    grid-area: biomarker;
    overflow: hidden;
    height: 100%;

    ::ng-deep {
      ftu-wc-biomarker-details {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      mat-tab-group {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .mat-mdc-tab-body-wrapper {
        flex-grow: 1;
        overflow: hidden;
      }

      .mat-mdc-tab-body-content {
        height: 100%;
        overflow: hidden;
      }

      ftu-interactive-svg {
        height: 100%;
        display: flex;

        .svg {
          min-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        svg {
          width: auto !important;
          height: auto !important;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

::ng-deep hra-table {
  max-width: unset !important;
  height: 100% !important;
}

::ng-deep .content {
  .toggle {
    width: auto !important;
  }
  .table-content {
    overflow: auto !important;
  }
}

::ng-deep {
  .table-header {
    width: auto !important;
  }

  .table {
    height: calc(100% - 3.5rem);
  }

  .source-list {
    height: 100%;
  }

  .biomarker {
    height: 100% !important;
  }
}
