<hra-fullscreen-container [fullscreen]="isFullscreen()">
  <ftu-wc-intro class="header illustration" [class.display]="isFullscreen()"></ftu-wc-intro>
  <ftu-tissue-library-behavior [class.display]="isFullscreen()" class="sidebar"></ftu-tissue-library-behavior>
  <hra-fullscreen-content class="biomarker">
    <ftu-wc-biomarker-details></ftu-wc-biomarker-details>
  </hra-fullscreen-content>
  <ftu-footer-behavior class="footer illustration" [class.display]="isFullscreen()"></ftu-footer-behavior>
</hra-fullscreen-container>
