:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  border: 1px solid #acb5c3;
  border-bottom: none;

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    padding: 0 1rem;

    .reset {
      transform: scaleX(-1);
      cursor: pointer;
      transition: 0.6s;
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
    }

    .gizmo {
      width: 3.375rem;
    }
  }

  .main-content {
    display: flex;
    height: calc(100% - 7.5rem);
    padding: 0.5rem;

    .body-ui {
      transition: opacity 1s;
    }
  }

  // Temporary for displaying dev information
  .ccf-store-debug {
    color: white;
    position: absolute;
    top: 0.5rem;
    max-width: 55rem;
  }
}
