<mat-form-field>
  <mat-label>Release Version</mat-label>
  <mat-select
    disableRipple
    panelClass="options-container"
    (selectionChange)="navigateToVersion($event.value)"
    [value]="version()"
  >
    <mat-select-trigger>
      {{ selectedVersionLabel() }}
    </mat-select-trigger>
    @for (ver of versions(); track $index) {
      <mat-option [value]="ver.version">
        <div>{{ ver.label }}</div>
        <div class="release-date">{{ ver.date }}</div>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
