@use '@angular/material' as mat;
@use 'vars';

:host {
  display: block;
  height: calc(100vh - 3.5rem);
  background-color: vars.$background;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  hra-search-filter,
  .content > *:not(cns-footer) {
    max-width: 101.25rem;
    width: calc(100% - 2.5rem);

    @media (min-width: 640px) {
      width: calc(100% - 5rem);
    }
  }

  hra-search-filter {
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  ng-scrollbar {
    flex: 1;
    min-height: 0;
    width: 100%;

    ::ng-deep ng-scroll-content {
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 3.5rem);
    color: vars.$on-background;

    .title {
      margin-bottom: 2rem;
    }

    .gallery-view {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .gallery-group .group-title {
        margin-bottom: 1rem;

        @include mat.divider-overrides(
          (
            color: vars.$outline,
          )
        );
      }
    }

    .page-end {
      padding-bottom: 2.5rem;
      margin-bottom: auto;

      mat-divider {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
      }
    }

    hra-end-of-results-indicator {
      padding: 0;
      flex-direction: row;
    }
  }
}
