<div class="main-content">
    <div class="hubmap-title">
        <img src="assets/images/hubmap_dude.svg" class="landing-img">
    </div>
    <div class="landing-title">{{title}}</div>
    <div class="landing-subtitle">{{subtitle}}</div>
</div>
<announcement-card></announcement-card>
<ccf-simple-tile [definitions]="definitions"></ccf-simple-tile>
<div style="width: 100%;">
    <ccf-carousel [carouselInfo]="carouselInfo"></ccf-carousel>
</div>

<div class="card-title">{{cardsHeading}}</div>
<ccf-section-card [cards]="cards"></ccf-section-card>