:host {
  max-width: 77rem;

  .hubmap-title {
    float: left;
  }

  .main-content {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
  }

  .landing-img {
    max-height: 4.375rem;
    max-width: 3.125rem;
    object-fit: contain;
  }

  .landing-title {
    font-size: 2.25rem;
    line-height: 2.125rem;
    color: #212121;
    font-weight: 300;
  }

  .landing-subtitle {
    font-size: 1.75rem;
    font-weight: 300;
    color: #444c65;
    line-height: 2.125rem;
  }

  .card-title {
    font-size: 2.25rem;
    color: #212121;
    font-weight: 300;
    line-height: 2.75rem;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
  }

  .carousel-container {
    width: 100%;
  }

  @media (max-width: 26.75rem) {
    padding: 0rem 1rem;

    .landing-title {
      font-size: 1.75rem;
    }

    .landing-subtitle {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .landing-img {
      width: 48px;
      height: 112px;
      max-height: unset;
    }

    .card-title {
      font-size: 22px;
      margin-bottom: 1rem;
    }

    .carousel-container {
      width: calc(100vw - 32px);
    }
  }
}
