:host {
  max-width: 77rem;

  .hubmap-title {
    float: left;
  }

  .main-content {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
  }

  .landing-img {
    max-height: 4.375rem;
    max-width: 3.125rem;
    object-fit: contain;
  }

  .landing-title {
    font-size: 2.25rem;
    line-height: 2.125rem;
    color: #212121;
    font-weight: 300;
  }

  .landing-subtitle {
    font-size: 1.75rem;
    font-weight: 300;
    color: #444c65;
    line-height: 2.125rem;
  }

  .content-title {
    font-size: 2.25rem;
    color: #212121;
    font-weight: 300;
    line-height: 2.75rem;
    padding-bottom: 2rem;
    padding-top: 3.5rem;
  }

  @media (max-width: 26.75rem) {
    padding: 0rem 1rem;
  }
}
