@use '@angular/material' as mat;

$primary: mat.m2-define-palette(map.get(palettes.$palettes, 'red'), 700, 500, 900);
$accent: mat.m2-define-palette(map.get(palettes.$palettes, 'blue'), 900, 800, 900);

$typography: mat.m2-define-typography-config(
  $font-family: 'Metropolis',
  $body-1: mat.m2-define-typography-level(18px, 27px, 500),
  $caption: mat.m2-define-typography-level(15px, 22.5px, 400),
);

$theme: (
  color: (
    primary: $primary,
    accent: $accent,
  ),
  typography: $typography,
  density: 0,
);
