@use 'sass:map';
@use '@angular/material' as mat;
@use '../constants/palettes' as palettes;

$primary: mat.m2-define-palette(map.get(palettes.$palettes, 'red'), 600, 500, 900);
$accent: mat.m2-define-palette(map.get(palettes.$palettes, 'blue'), 600, 500, 900);

$typography: mat.m2-define-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.m2-define-typography-level(72px, 90px, 500, $letter-spacing: -0.05em),
  $headline-6: mat.m2-define-typography-level(42px, 63px, 500, $letter-spacing: -1.25px),
  $subtitle-1: mat.m2-define-typography-level(16px, 24px, 500),
  $subtitle-2: mat.m2-define-typography-level(24px, 36px, 500),
  $body-1: mat.m2-define-typography-level(20px, 30px, 400, 'Nunito Sans Variable', $letter-spacing: 0.07em),
  $body-2: mat.m2-define-typography-level(18px, 27px, 500, 'Nunito Sans Variable', $letter-spacing: 0.05em),
  $button: mat.m2-define-typography-level(16px, 24px, 500),
  $caption: mat.m2-define-typography-level(16px, 24px, 500, $letter-spacing: 0.005em),
);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: $typography,
    density: 0,
  )
);
