:host {
  display: block;
  width: 100%;
  max-width: 77rem;

  .faq {
    padding-top: 0.5rem;
  }

  .existing-omaps {
    padding-bottom: 2rem;
  }

  .list-container {
    padding-bottom: 1.5rem;
  }

  @media (max-width: 26.75rem) {
    padding: 0rem 1rem;
  }
}
