:host {
  display: block;

  .subheader {
    font: vars.$title-small;
    color: vars.$primary;
    margin-bottom: 1rem;
  }

  .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    .field:not(.mat-form-field-invalid) {
      height: 3rem;
    }

    .email {
      grid-column: 1 / span 2;
    }
  }
}
