:host {
  .menu-tree-button {
    background-color: #444c65;
    z-index: 2;
  }

  .mat-icon-button {
    color: white;
  }
}

::ng-deep {
  .example-tree-invisible {
    display: none;
  }

  .mat-tree {
    width: 26rem;
    border: 1px solid #e0e0e0;
    border-radius: 0px 0px 8px 8px;
    height: auto;
    overflow-y: auto;
  }

  .inverse {
    transform: rotate(180deg);
    display: inline-block;
  }

  .menu-tree-backdrop {
    margin-top: 3.5rem;
  }
}

.mat-tree-node,
.mat-parent-node {
  font-size: 1rem;
  color: #444c65;
  font-weight: 300;
  line-height: 1.5rem;
}

.mat-tree-node {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .mat-divider {
    width: 100%;
  }
}
