<ccf-page-header [headerCard]="hraUsageHeading"></ccf-page-header>
<ccf-page-data [data]="hubmapMetricsData"></ccf-page-data>
<div class="image-container">
    <img src="assets/images/ccfUiRequestsMay.png" class="request-image"/>
</div>
<p class="image-title">CCF Ontology (including published glb files) production requests for May:</p>
<div class="image-container">
    <img src="assets/images/ontologyProductionRequests.png" class="request-image"/>
</div>
<p class="image-title">CCF API Requests for May:</p>
<div class="image-container">
    <img src="assets/images/apiRequestsMay.png" class="request-image"/>
</div>
<p class="image-title">CCF Ontology Bioportal Visits:</p>
<div class="image-container">
    <img src="assets/images/bioportalVisits.png" class="request-image"/>
</div>
<ccf-page-data [data]="trainingMaterials"></ccf-page-data>
