<ccf-page-header [headerCard]="hraUsageHeading" class="page-header"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<!-- <ccf-page-data [data]="hraMetrics" class="description"></ccf-page-data> -->
<ccf-page-data [data]="hubmapMetricsData" class="description"></ccf-page-data>
<ccf-page-data [data]="gtexMetrics" class="description"></ccf-page-data>
<ccf-page-data [data]="softwareData" class="description"></ccf-page-data>

<div class="image-container">
    <img src="assets/images/ccfUiRequestsMay.png" class="request-image"/>
</div>
<p class="image-title">CCF Ontology (including published glb files) production requests for May:</p>
<div class="image-container">
    <img src="assets/images/ontologyProductionRequests.png" class="request-image"/>
</div>
<p class="image-title">CCF API Requests for May:</p>
<div class="image-container">
    <img src="assets/images/apiRequestsMay.png" class="request-image"/>
</div>
<p class="image-title">CCF Ontology Bioportal Visits:</p>
<div class="image-container">
    <img src="assets/images/bioportalVisits.png" class="request-image"/>
</div>
<ccf-page-data [data]="trainingMaterials" class="description"></ccf-page-data>
<ccf-page-data [data]="licenses" class="description"></ccf-page-data>
