:host {
  max-width: 77rem;

  .image-container {
    display: flex;
    justify-content: center;
  }

  .image-title {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.005em;
    color: #000000;
    padding-bottom: 2rem;
    line-height: 2rem;
  }

  .request-image {
    height: 100%;
    min-width: 70%;
    padding-bottom: 3.5rem;
  }

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
  }
}
