@use 'vars';

:host {
  display: block;
  height: 100%;

  .opacity-settings {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.25rem;
    font: vars.$label-large;
  }

  hra-expansion-panel {
    ccf-visibility-menu {
      padding: 0 0.75rem;
    }
  }

  .as-expansion {
    border-bottom: 1px solid #acb5c3;
  }
}

::ng-deep {
  .opacity-overlay {
    button.mat-mdc-menu-item .mat-mdc-menu-item-text {
      font: vars.$label-medium;
    }
  }
}
