@use 'vars';

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .opacity-settings {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.25rem;
    font: vars.$label-large;
  }

  hra-expansion-panel {
    overflow: hidden;
    min-height: 2.5rem;

    ::ng-deep cdk-accordion {
      height: 100%;
      width: 100%;

      .content {
        height: calc(100% - 2.5rem);

        .expansion-body {
          height: 100%;
        }
      }
    }
  }

  ccf-visibility-menu {
    height: 100%;
    padding: 0 0.75rem;
  }

  .as-expansion {
    border-bottom: 1px solid #acb5c3;
  }
}

::ng-deep {
  .opacity-overlay {
    button.mat-mdc-menu-item .mat-mdc-menu-item-text {
      font: vars.$label-medium;
    }
  }
}
