<div hraFeature="opacity-settings" class="opacity-settings">
  Opacity Settings
  <button
    hraFeature="toggle"
    hraClickEvent
    mat-icon-button
    [matMenuTriggerFor]="menu"
    hraIconButtonSize="large"
    aria-label="Icon to open nested menu"
    hraPlainTooltip="More"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu hraFeature="menu" #menu="matMenu" class="opacity-overlay">
    <button hraFeature="reset-all" hraClickEvent mat-menu-item>
      <span (click)="anatomical.setAllOpacity(20); landmarks.setAllOpacity(0)">Reset All Settings</span>
    </button>
    <mat-divider class="menu-divider"></mat-divider>
    <button hraFeature="reset-as" hraClickEvent mat-menu-item>
      <span (click)="anatomical.setAllOpacity(20)">Reset anatomical structures</span>
    </button>
    <button hraFeature="reset-landmarks" hraClickEvent mat-menu-item>
      <span (click)="landmarks.setAllOpacity(0)">Reset landmarks</span>
    </button>
  </mat-menu>
</div>

<hra-expansion-panel tagline="Anatomical Structures" class="as-expansion" [tooltip]="asTooltip">
  <ccf-visibility-menu
    hraFeature="AS-visibility"
    #anatomical
    [items]="$any(model.anatomicalStructures$ | async) ?? []"
    (itemsChange)="model.setAnatomicalStructures($event)"
  >
  </ccf-visibility-menu>
</hra-expansion-panel>

<hra-expansion-panel tagline="Landmarks" class="landmarks-expansion" [tooltip]="landmarksTooltip">
  <ccf-visibility-menu
    hraFeature="landmarks-visibility"
    #landmarks
    [items]="$any(model.extractionSites$ | async)"
    (itemsChange)="model.setExtractionSites($event)"
  >
  </ccf-visibility-menu>
</hra-expansion-panel>
