:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;

  .rotation-value {
    cursor: pointer;

    input {
      cursor: pointer;
    }

    width: 5rem;
    --mdc-filled-text-field-input-text-color: var(--sys-on-primary-fixed-variant);
    --mdc-filled-text-field-label-text-color: var(--sys-on-primary-fixed-variant);

    .mdc-floating-label {
      transform: translateY(-100%);
    }
  }
}

::ng-deep .rotation-slider-overlay {
  .slider-container {
    display: flex;
    align-items: center;
    background: var(--sys-on-primary);
    border-radius: 0.5rem;
    box-shadow: 0px 5px 4px 0px #201e3d29;
    padding: 1rem;

    mat-form-field {
      width: 5rem;
    }

    mat-slider {
      --mdc-slider-active-track-color: var(--sys-on-tertiary-fixed);
      --mdc-slider-inactive-track-color: #acb5c3;
      --mdc-slider-handle-color: var(--sys-on-tertiary-fixed);
      --mdc-slider-active-track-height: 2px;
      --mdc-slider-inactive-track-height: 2px;
      width: 11.5rem;
      margin: 0 1.5rem;

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
      }

      mat-slider-visual-thumb {
        transition: none;
      }

      .mdc-slider__track--inactive {
        opacity: 1;
      }
    }
  }
}
