<mat-form-field
  class="input"
  hraClickEvent
  subscriptSizing="dynamic"
  (click)="showSlider()"
  hraPlainTooltip="Rotation is measured in degrees"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <mat-label class="text form-input-label">{{ sliderAxis.toUpperCase() }}</mat-label>
  <input
    matInput
    [value]="rotation[sliderAxis]"
    class="input"
    type="number"
    [min]="-180"
    [max]="180"
    (change)="changeRotation.emit($any($event.target).value)"
  />
</mat-form-field>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isSliderOpen()"
  cdkConnectedOverlayHasBackdrop="true"
  cdkConnectedOverlayPanelClass="rotation-slider-overlay"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayPositions]="positions"
  (backdropClick)="closeSlider()"
>
  <div hraFeature="rotation-slider" class="slider-container">
    <button
      hraFeature="reset"
      hraClickEvent
      mat-icon-button
      class="icon reset"
      (click)="resetRotation.emit()"
      hraPlainTooltip="Reset"
    >
      <mat-icon>reset_settings</mat-icon>
    </button>
    <mat-slider
      hraFeature="slider"
      hraClickEvent
      class="slider"
      [max]="180"
      [min]="-180"
      [step]="step"
      disableRipple
      hraPlainTooltip="Hold shift while using the slider to rotate in smaller increments by 30 degrees"
    >
      <input
        class="slider-input"
        matSliderThumb
        [value]="rotation[sliderAxis]"
        (input)="changeRotation.emit(slider.value)"
        #slider
      />
    </mat-slider>
  </div>
</ng-template>
