@use 'vars';
@use '@angular/material' as mat;

:host {
  @include mat.form-field-overrides(
    (
      filled-label-text-color: vars.$primary,
      filled-input-text-color: vars.$primary,
      filled-with-label-container-padding-top: 23px,
      filled-with-label-container-padding-bottom: 0px,
    )
  );

  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;

  .rotation-value {
    cursor: pointer;
    width: 5rem;
    font: var(--mat-sys-label-medium);

    input {
      cursor: pointer;
    }

    ::ng-deep .mdc-floating-label {
      transform: translateY(-100%);
      top: 1.25rem;
    }
  }
}

::ng-deep .rotation-slider-overlay {
  .slider-container {
    display: flex;
    align-items: center;
    background: vars.$on-primary;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 4px 0px #201e3d29;
    padding: 1rem;

    mat-form-field {
      width: 5rem;
    }

    mat-slider {
      --mdc-slider-active-track-color: #{vars.$on-tertiary-fixed};
      --mdc-slider-inactive-track-color: #acb5c3;
      --mdc-slider-handle-color: #{vars.$on-tertiary-fixed};
      --mdc-slider-active-track-height: 2px;
      --mdc-slider-inactive-track-height: 2px;
      width: 11.5rem;
      margin: 0 1.5rem;

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
      }

      mat-slider-visual-thumb {
        transition: none;
      }

      .mdc-slider__track--inactive {
        opacity: 1;
      }
    }
  }
}
