@use 'vars';

:host {
  .title-wrapper {
    white-space: nowrap;
  }

  .title {
    font-weight: 600;
    display: inline-block;
  }

  .tree-vis {
    background-color: vars.$on-primary;
    overflow: auto;
    height: calc(100vh - 12.1rem);

    ::ng-deep .marks {
      width: 100%;
      height: fit-content;
    }
  }
}
