@use 'vars';

:host {
  .title-wrapper {
    white-space: nowrap;
  }

  .title {
    font-weight: 600;
    display: inline-block;
  }

  .scroll-bar-horizontal {
    background-color: vars.$surface-container-lowest;
    overflow: scroll;
    height: calc(100vh - 12.1rem);
  }
}
