:host {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .symbol {
    height: 8rem;
    max-width: 8rem;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  mat-card {
    padding: unset;
    margin-bottom: 0.063rem;
    display: flex;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  a {
    width: 100%;
    display: flex;
  }

  .body,
  a > .body {
    margin-left: 1.5rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .nav-card-title {
    display: flex;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    color: #0a6ebd;
  }

  .nav-card-description {
    padding-top: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
    color: #212121;
  }

  a {
    text-decoration: none;
    color: #0a6ebd;
    font-weight: unset;
  }

  .mat-icon {
    height: 1.313rem;
    padding-left: 10.5px;
  }

  @media (max-width: 26.75rem) {
    .body {
      padding: 1rem 0rem;
      padding-right: 1rem;
    }

    .symbol {
      height: auto;
      width: 80px;
      min-width: 80px;
      background-color: #444C65;
    }

    .nav-card-title {
      flex-wrap: wrap;
    }

    .mat-icon {
      padding: 0;
    }
  }
}
