<div class="long-card">
  <mat-card *ngFor="let longButton of longButtonItems">
    <div class="symbol">
      <img [src]="longButton.icon" class="img-cls"/>
    </div>
    <div class="body">
      <div class="nav-card-title">
        {{longButton.title}}
        <div *ngIf="longButton.externalLink">
          <a href="https://portal.hubmapconsortium.org/" target="_blank"><mat-icon>open_in_new</mat-icon></a>
        </div>
      </div>
      <div class="nav-card-description">
        {{longButton.body}}
      </div>
    </div>
  </mat-card>
</div>