<mat-card *ngFor="let longButton of longButtonItems" (click)="cardRoutes.emit(longButton)">
  <a *ngIf="longButton.externalLink; else: route" [href]="longButton.externalLink" target="_blank">
    <ng-container *ngTemplateOutlet="content; context: { $implicit: true }">
    </ng-container>
  </a>
  <ng-template #route>
    <ng-container *ngTemplateOutlet="content">
    </ng-container>
  </ng-template>

  <ng-template let-isExternal #content>
    <div class="symbol">
      <img [src]="longButton.icon" class="card-image" />
    </div>
    <div class="body">
      <div class="nav-card-title">
        {{ longButton.title }}
        <mat-icon *ngIf="isExternal">open_in_new</mat-icon>
      </div>
      <div class="nav-card-description">
        {{longButton.body}}
      </div>
    </div>
  </ng-template>
</mat-card>