:host {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .symbol {
    float: left;
    height: 8rem;
    width: 8rem;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  mat-card {
    padding: 0rem 1rem 0rem 0rem;
    box-shadow: #212121;
    margin-bottom: 0.063rem;
    display: flex;
    overflow: hidden;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  a {
    width: 100%;
    display: flex;
  }

  .body,
  a > .body {
    margin-left: 1.5rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .nav-card-title {
    display: flex;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    color: #0a6ebd;
  }

  .nav-card-description {
    padding-top: 0.5rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
    color: #212121;
  }

  a {
    text-decoration: none;
    color: #0a6ebd;
    font-weight: unset;
  }

  .mat-icon {
    height: 1.313rem;
    padding-left: 10.5px;
  }

  @media(max-width: 26.75rem) {
    mat-card {
      width: 23.75rem;
    }

    img {
      background-color: #444C65;
    }

    .symbol {
      height: inherit;
      width: 5rem;
    }

    .body {
      margin: 1rem;
    }
  }
}
