@use 'vars' as vars;
@use 'utils';
@use '@angular/material' as mat;

:host {
  display: block;
  height: calc(100vh - 3.5rem);
  width: 100%;

  .container {
    height: 100%;

    // TODO elevation shadow
    @include mat.sidenav-overrides(
      (
        container-background-color: vars.$surface-container-low,
        container-divider-color: vars.$outline-variant,
        container-shape: vars.$corner-none,
        container-width: 20rem,
        content-background-color: vars.$on-primary,
      )
    );

    .sidebar {
      .filters {
        .team-toggle {
          width: min-content;

          @include mat.button-toggle-overrides(
            (
              shape: vars.$corner-extra-small,
            )
          );
        }

        .sort-by,
        .group-by {
          width: 100%;
        }
      }
    }

    .content {
      max-width: 81.25rem;
      margin: 0 auto;
      --profile-card-border-color: #8dc63f;
      --profile-card-description-color: #{vars.$primary};

      .search-bar {
        position: sticky;
        top: 0;
        z-index: 10;
        padding: 2rem 2.5rem;
        background-color: vars.$on-primary;
      }

      .profile-list {
        margin: 2.5rem;

        .section .gallery {
          gap: 5rem 2.5rem;
        }
      }
    }
  }
}
