<div cdkOverlayOrigin class="content" aria-hidden="true" (click)="open()" #fallbackOrigin="cdkOverlayOrigin">
  <span class="label">{{ label() }}</span>

  <!-- TODO icon -->
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayLockPosition
  cdkConnectedOverlayBackdropClass="dual-slider-transparent-backdrop"
  [cdkConnectedOverlayOpen]="panelOpen()"
  [cdkConnectedOverlayOrigin]="panelOrigin() ?? fallbackOrigin"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  (overlayOutsideClick)="panelOpen.set(false)"
  (detach)="afterClose()"
>
  <div
    cdkTrapFocus
    cdkTrapFocusAutoCapture
    class="dual-slider-panel"
    [attr.id]="panelId"
    [attr.aria-label]="ariaLabel() || null"
    [attr.aria-labelledby]="panelLabelledBy()"
  >
    <form class="dual-slider-form" [formGroup]="range">
      <mat-form-field class="number-input min" floatLabel="always">
        <mat-label>≥{{ min() }}</mat-label>
        <input matInput type="number" formControlName="low" />
      </mat-form-field>

      <mat-slider discrete [min]="min()" [max]="max()" step="1" [disabled]="disabled">
        <input matSliderStartThumb [value]="low()" />
        <input matSliderEndThumb [value]="high()" />
      </mat-slider>

      <mat-form-field class="number-input max" floatLabel="always">
        <mat-label>≤{{ max() }}</mat-label>
        <input matInput type="number" formControlName="high" />
      </mat-form-field>
    </form>
  </div>
</ng-template>
