<div class="header">
  <span class="text title">Tissue Section</span>
</div>

<div class="slices-inputs">
  <mat-form-field hraFeature="thickness" hraClickEvent>
    <mat-label class="text form-input-label">Thickness (μm)</mat-label>
    <input
      matInput
      ccfNumbersOnly
      class="input"
      type="number"
      hraPlainTooltip="Tissue thickness is measured in micrometers"
      [value]="emptyStringIfNaN(slicesConfig().thickness)"
      (keyup)="updateSlicesData($event, 'thickness')"
    />
  </mat-form-field>

  <mat-form-field hraFeature="num-slices" hraClickEvent>
    <mat-label class="text form-input-label">#Sections</mat-label>
    <input
      matInput
      ccfNumbersOnly
      class="input"
      type="number"
      hraPlainTooltip="Total number of tissue sections"
      [value]="emptyStringIfNaN(slicesConfig().numSlices)"
      (keyup)="updateSlicesData($event, 'numSlices')"
    />
  </mat-form-field>
</div>
