:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .header {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0.5rem 0;
  }

  .slices-inputs {
    display: flex;
    gap: 1rem;
    margin: 0 auto;

    .field {
      .suffix {
        display: none;
      }

      &.mat-focused .suffix,
      .suffix.show {
        display: initial;
      }
    }
    ::ng-deep mat-form-field {
      .mat-mdc-form-field-infix {
        width: auto;
      }
    }
  }
}
