<div class="header">
  <span class="text title">Tissue Section</span>
</div>

<div class="slices-inputs">
  <mat-form-field>
    <mat-label class="text form-input-label">Thickness (μm)</mat-label>
    <input
      matInput
      ccfNumbersOnly
      class="input"
      type="number"
      [value]="emptyStringIfNaN(slicesConfig.thickness)"
      (keyup)="updateSlicesData($event, 'thickness')"
      hraMicroTooltip="Tissue thickness is measured in micrometers"
    />
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label class="text form-input-label">#Sections</mat-label>
    <input
      matInput
      ccfNumbersOnly
      class="input"
      type="number"
      [value]="emptyStringIfNaN(slicesConfig.numSlices)"
      (keyup)="updateSlicesData($event, 'numSlices')"
      hraMicroTooltip="Total number of tissue sections"
    />
  </mat-form-field>
</div>
