:host {
  max-width: 77rem;
  width: 100%;
  display: block;

  .table-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    padding-bottom: 1.5rem;
  }

  @media (max-width: 26.75rem) {
    padding: 0rem 1rem;

    img {
      width: 100%;
    }
  }
}
