<div class="header">Size</div>

<div class="size-inputs">
  <mat-form-field class="field" hraMicroTooltip="Size is measured in millimeters">
    <mat-label class="text form-input-label">Width</mat-label>
    <input
      matInput
      class="input"
      type="number"
      placeholder=""
      [value]="blockSize.x"
      (keyup)="updateBlockSizes($event, 'x')"
      matTooltip="Enter tissue block width."
    />
  </mat-form-field>

  <mat-form-field class="field" hraMicroTooltip="Size is measured in millimeters">
    <mat-label class="text form-input-label">Height</mat-label>
    <input
      matInput
      class="input"
      type="number"
      placeholder=""
      [value]="blockSize.y"
      (keyup)="updateBlockSizes($event, 'y')"
      matTooltip="Enter tissue block height."
    />
  </mat-form-field>

  <mat-form-field class="field" hraMicroTooltip="Size is measured in millimeters">
    <mat-label class="text form-input-label">Depth</mat-label>
    <input
      matInput
      class="input"
      type="number"
      placeholder=""
      [value]="blockSize.z"
      (keyup)="updateBlockSizes($event, 'z')"
      matTooltip="Enter tissue block depth."
    />
  </mat-form-field>
</div>
