@use 'vars';
@use '@angular/material' as mat;

:host {
  @include mat.form-field-overrides(
    (
      filled-label-text-color: vars.$primary,
      filled-input-text-color: vars.$primary,
      filled-with-label-container-padding-top: 23px,
      filled-with-label-container-padding-bottom: 0px,
    )
  );

  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    .title {
      font: vars.$label-medium;
      color: vars.$secondary;
    }

    .units {
      font: vars.$label-small;
      color: vars.$primary;
    }
  }

  .size-inputs {
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 5rem;
      font: var(--mat-sys-label-medium);

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .suffix {
        display: none;
      }

      ::ng-deep {
        .mdc-text-field {
          padding: 0 0.75rem;

          .mat-mdc-form-field-icon-suffix {
            padding: 1rem 0 0rem 0.25rem;
          }
        }
        .mat-mdc-form-field-subscript-wrapper {
          height: 0;
        }

        .mdc-floating-label {
          transform: translateY(-100%);
          top: 1.25rem;
        }
      }
    }
  }
}
