:host {
  display: flex;
  flex-direction: column;

  .header {
    align-items: center;
    padding: 0.5rem 0;
    font: vars.$label-medium;
  }

  .size-inputs {
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 5rem;
      --mdc-filled-text-field-input-text-color: #{vars.$on-primary-fixed-variant};
      --mdc-filled-text-field-label-text-color: #{vars.$on-primary-fixed-variant};

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .suffix {
        display: none;
      }

      ::ng-deep {
        .mdc-text-field {
          padding: 0 0.75rem;

          .mat-mdc-form-field-icon-suffix {
            padding: 1rem 0 0px 0.25rem;
          }
        }
        .mat-mdc-form-field-subscript-wrapper {
          height: 0;
        }

        .mdc-floating-label {
          transform: translateY(-100%);
        }
      }
    }
  }
}
