<div class="header">
  <span class="text title">Size</span>
  <span class="units">Millimeters</span>
</div>

<div class="size-inputs">
  <mat-form-field hraFeature="x" hraClickEvent class="field" hraPlainTooltip="Size is measured in millimeters">
    <mat-label class="text form-input-label">Width</mat-label>
    <input
      matInput
      class="input"
      type="number"
      placeholder=""
      matTooltip="Enter tissue block width."
      [value]="blockSize().x"
      (keyup)="updateBlockSizes($event, 'x')"
    />
  </mat-form-field>

  <mat-form-field hraFeature="y" hraClickEvent class="field" hraPlainTooltip="Size is measured in millimeters">
    <mat-label class="text form-input-label">Height</mat-label>
    <input
      matInput
      class="input"
      type="number"
      placeholder=""
      matTooltip="Enter tissue block height."
      [value]="blockSize().y"
      (keyup)="updateBlockSizes($event, 'y')"
    />
  </mat-form-field>

  <mat-form-field hraFeature="z" hraClickEvent class="field" hraPlainTooltip="Size is measured in millimeters">
    <mat-label class="text form-input-label">Depth</mat-label>
    <input
      matInput
      class="input"
      type="number"
      placeholder=""
      matTooltip="Enter tissue block depth."
      [value]="blockSize().z"
      (keyup)="updateBlockSizes($event, 'z')"
    />
  </mat-form-field>
</div>
