@use 'vars';

:host {
  display: block;
  max-width: 72.5rem;
  margin: 0 auto;
  margin-top: 7.1875rem;
}

h1 {
  font: vars.$display-large;
  letter-spacing: vars.$display-large-tracking;
  margin: 0;
}

.title {
  color: var(--mat-sys-on-secondary-container);
}

.info-text {
  font: vars.$body-large;
  letter-spacing: vars.$body-large-tracking;
  color: vars.$on-secondary-container;
}

.bottom-cards {
  margin-top: 3rem;
  margin-bottom: 10.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  .card {
    width: 36.25rem;
    --hra-workflow-card-header-padding: 0 0 0.5rem 0;
  }

  .card-1 {
    p {
      font: vars.$label-large;
      letter-spacing: vars.$label-large-tracking;
      color: vars.$primary;
    }
  }

  .card-2 {
    font: vars.$label-medium;
    letter-spacing: vars.$label-medium-tracking;
  }

  .metadata-container {
    display: flex;

    .titles,
    .values {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .values {
      color: vars.$primary;
      margin-left: 0.5rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

::ng-deep {
  .eui-overlay-container {
    width: 100vw;

    & > div {
      width: 100vw;
    }

    & > .ng-star-inserted {
      margin-bottom: 3rem;
    }

    &.cdk-overlay-pane .mat-mdc-menu-panel {
      max-width: 22rem;
      margin-left: 0.05rem;
      .mat-mdc-menu-content {
        padding: 0;
      }
    }
  }
}
