:host {
  display: block;
  max-width: 72.5rem;
  margin: 0 auto;
  margin-top: 7.1875rem;
}

h1 {
  font: var(--sys-display-large);
  letter-spacing: var(--sys-display-large-tracking);
  margin: 0;
}

.info-text {
  font: var(--sys-body-large);
  letter-spacing: var(--sys-body-large-tracking);
  color: var(--sys-on-secondary-container);
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.table-container {
  margin-top: 3rem;
  margin-bottom: 0.3125rem;

  caption {
    display: none;
  }

  .more-icon {
    display: flex;
  }

  .predictions-table {
    background-color: var(--sys-secondary-container);
    border-collapse: collapse;

    th,
    td {
      font: var(--sys-label-medium);
      letter-spacing: var(--sys-label-medium-tracking);
      border: 0.0625rem solid var(--sys-outline);
    }

    th {
      color: var(--sys-on-primary-container);
      background-color: var(--sys-surface-container);
    }
    td {
      color: var(--sys-inverse-surface);
      white-space: nowrap;

      .link {
        color: var(--sys-on-tertiary-container);
      }
    }
  }

  .dataset-table {
    td {
      max-width: 262.3296px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Remove default Material padding
  ::ng-deep .mat-cell:first-of-type,
  ::ng-deep .mat-header-cell:first-of-type {
    padding-left: 1rem;
  }

  ::ng-deep .mat-cell:last-of-type,
  ::ng-deep .mat-header-cell:last-of-type {
    padding-right: 1rem;
  }
}

::ng-deep .hra-app table[matSort] .mat-sort-header-container {
  max-width: 13rem;
}
