<mat-toolbar class="bottom-bar">
    <div class="disclaimer">
        HuBMAP data is managed and published in the Data Portal and HRA according to FAIR principles, including
        standardized processing
        with reproducible pipelines. HuBMAP data may also be processed by other methods in scientific results published
        by
        HuBMAP consortium collaborations.
    </div>
    <div class="contact-copyright">
        <a href="mailto:infoccf@indiana.edu" mat-stroked-button class="bottom-button">
            <mat-icon>mail_outline</mat-icon>
            Contact the HRA Team
        </a>
        <div class="copyright">
            <mat-icon>copyright</mat-icon>
            <p>2023 All Rights Reserved</p>
        </div>
    </div>
</mat-toolbar>