:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #c2cae5;

  .bottom-button {
    position: absolute;
    right: 0;
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    background-color: #fafafa;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005em;
    color: #444c65;
    padding: 0.5rem 1rem;
  }

  .bottom-bar {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.063rem;
    padding: 0rem 1.5rem;
  }

  mat-toolbar {
    background-color: #c2cae5;
    max-width: 77rem;
    position: relative;
    min-height: 5.563rem;
    padding: unset;
  }

  ::ng-deep span > mat-icon {
    font-size: 1.313rem;
  }

  p {
    margin-top: 0.1rem;
  }
  
  a:-webkit-any-link {
    text-decoration: unset !important;
  }

  .copyright {
    display: flex;

    mat-icon {
      padding-right: 0.2rem;
    }
  }

  @media (max-width: 26.75rem) {
    .bottom-bar {
      margin-right: 1.5rem;
    }
  }
}
