<img class="image" alt="" [src]="item().imageSrc | assetUrl" />

<div class="info" hraFeature="content">
  <div class="tagline">{{ item().tagline }}</div>
  <div class="description">{{ item().description }}</div>

  @if (getLinkType(item()) === 'url') {
    <a
      mat-button
      hraCtaButton
      class="action"
      target="_blank"
      hraFeature="carousel-external-link"
      hraClickEvent
      [href]="getLink(item())"
    >
      {{ item().action }}
      <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
    </a>
  } @else {
    <!-- <a mat-stroked-button class="get-button" [routerLink]="['', item().route]">{{ item().buttonText }}</a> -->
    <a mat-button hraCtaButton class="action" hraFeature="action" hraClickEvent target="_blank">
      {{ item().action }}
      <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
    </a>
  }
</div>
