<ccf-choose-version [releaseDate]="versionData" [selectedDate]="version" (selectedVersion)="setVersion($event.version)"
    class="description"></ccf-choose-version>
<ccf-organ-tabs [tabs]="filterImages" [currentOrgan]="organData[0].name" (organName)="setOrgan($event)"
    (organName)="setFtu($event)" [panelClass]="'panelClass'"></ccf-organ-tabs>
<ccf-two-dim-image [cardTitle]="cardTitle" [tissueData]="organData" [isMultirow]="isMultiRow"></ccf-two-dim-image>
<div class="table-heading-container" *ngIf="tableRequired">
    <div class="content-title">{{tableTitle}}</div>
    <a mat-raised-button href="assets/table-data/ftu-cell-count-5th-release.csv" class="download-btn">
        <span class="material-symbols-outlined">download</span>Download CSV</a>
</div>
<ccf-table *ngIf="tableRequired" [typeCount]="(tableData | async) ?? []" [displayedColumns]="(columns | async) ?? []"
    [columns]="headerInfo" [isTotal]="true" class="description"></ccf-table>