:host {
  .table-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2rem;

    .download-btn:hover {
      background: rgba(103, 80, 164, 0.08);
    }

    .download-btn:focus,
    .download-btn:active {
      background: rgba(103, 80, 164, 0.12);
    }

    .download-btn:disabled {
      background: rgba(29, 27, 32, 0.12);
    }

    .download-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 0.875rem;
      padding: 0rem 1.5rem;
      margin-left: 1px;
      min-width: 124px;
      color: #444c65;
      border-radius: 6.25rem;
      height: 40px;
      background-color: #f7f2fa;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    }
  }
}
