:host {
  display: block;
  height: 100%;

  .card-actions {
    display: flex;
    height: 4.5rem;
    border-top: 0.0625rem solid var(--sys-outline-variant);
    background-color: var(--sys-surface-container-low);
    padding: 1rem;

    .filler {
      flex-grow: 1;
    }
  }

  .embed-app {
    border: none;
  }
}
