<hra-flat-card
  [tagline]="tagline()"
  [showHelpButton]="false"
  [showDivider]="true"
  [showButtonsFooter]="tabIndex() === 0"
  (closeClick)="closeSidenav.emit()"
>
  @if (showApp()) {
    <mat-tab-group class="tab-group" animationDuration="700ms" [(selectedIndex)]="tabIndex" dynamicHeight="true">
      <mat-tab label="Embed">
        <hra-code-block [code]="code()" language="html"></hra-code-block>
      </mat-tab>

      <mat-tab label="Use App">
        <div class="iframe-container">
          <iframe title="useAppIframe" class="app-iframe" [srcdoc]="appSrcDoc()"></iframe>
        </div>
      </mat-tab>
    </mat-tab-group>
  } @else {
    <hra-code-block [code]="code()" language="html"></hra-code-block>
  }

  <hra-flat-card-actions class="card-actions">
    <button
      mat-button
      hraPrimaryButton
      hraButtonSize="medium"
      [disabled]="documentLink() === ''"
      (click)="openDocumentLink()"
    >
      Documentation
    </button>
    <div class="filler"></div>
    <button
      mat-flat-button
      hraPrimaryButton
      hraButtonSize="medium"
      (cdkCopyToClipboardCopied)="openCopiedSnackbar()"
      [cdkCopyToClipboard]="code()"
    >
      Copy
    </button>
  </hra-flat-card-actions>
</hra-flat-card>
