@use 'vars';

:host {
  display: block;
  height: 100%;
  width: 100%;

  .card-actions {
    .filler {
      flex-grow: 1;
    }
  }

  .iframe-container .app-iframe {
    border: none;
    width: 28.875rem;
    height: calc(100vh - 9.5rem);
  }
}
