<form>
  <mat-form-field class="organ-form-field" subscriptSizing="dynamic">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>{{ selectedOrgans().length > 0 ? 'Visible Organs' : 'Organs' }}</mat-label>
    <input
      matInput
      name="currentOrganInput"
      class="organ-input"
      [(ngModel)]="searchInput"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      #organInput
    />
    @if (selectedOrgans().length > 0) {
      <div class="visible-indicator">{{ searchTextField() }}</div>
    }
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="add($event)">
      <mat-chip-grid class="organ-select-chips" #chipGrid aria-label="Organ selection">
        @for (organ of selectedOrgans(); track organ) {
          <mat-chip-row (removed)="remove(organ)">
            {{ organ.name }}
            <button matChipRemove [attr.aria-label]="'remove ' + organ.name">
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <ng-scrollbar class="organ-list">
        @for (organ of filteredOrgans(); track organ) {
          <div class="autocomplete-option">
            <mat-checkbox
              class="autocomplete-checkbox"
              (change)="selected($event, organ); auto.showPanel = false"
              [checked]="isChecked(organ)"
            ></mat-checkbox>
            <mat-option [value]="organ">{{ organ.name }}</mat-option>
          </div>
        }
      </ng-scrollbar>
    </mat-autocomplete>
  </mat-form-field>
</form>
