<form hraFeature="organ-select">
  <mat-form-field class="organ-form-field" subscriptSizing="dynamic" floatLabel="always">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Organs</mat-label>
    <input
      hraFeature="organ-search"
      hraClickEvent
      name="currentOrganInput"
      class="organ-input"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [placeholder]="searchTextPlaceholder()"
      [(ngModel)]="searchInput"
      #organInput
    />
    <mat-autocomplete
      hideSingleSelectionIndicator
      (optionSelected)="optionSelected($event)"
      (opened)="hidePlaceholder.set(true)"
      (closed)="hidePlaceholder.set(false)"
      #auto="matAutocomplete"
    >
      <mat-chip-grid hraFeature="chips" class="organ-select-chips" aria-label="Organ selection" #chipGrid>
        @for (organ of selectedOrgans(); track organ) {
          <mat-chip-row [hraFeature]="organ.name | slugify" (removed)="remove(organ)">
            <span hraFeature="label" hraClickEvent>{{ organ.name }}</span>
            <button hraFeature="remove" hraClickEvent matChipRemove [attr.aria-label]="'remove ' + organ.name">
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <ng-scrollbar hraFeature="list" class="organ-list">
        @for (organ of filteredOrgans(); track organ) {
          <div class="autocomplete-option" [hraFeature]="organ.name | slugify">
            <mat-checkbox
              hraFeature="toggle"
              hraClickEvent
              class="autocomplete-checkbox"
              [checked]="isChecked(organ)"
              (change)="checkboxSelected($event, organ)"
            />
            <mat-option hraFeature="select" hraClickEvent [value]="organ">{{ organ.name }}</mat-option>
          </div>
        }
      </ng-scrollbar>
    </mat-autocomplete>
  </mat-form-field>
</form>
