:host {
  .organ-form-field {
    width: 100%;
    --mdc-filled-text-field-container-color: #{vars.$surface-container};
    --mdc-filled-text-field-label-text-color: #{vars.$on-primary-fixed};
    --mat-form-field-container-height: 3rem;
    --mat-form-field-filled-with-label-container-padding-top: 1rem;
    --mat-form-field-filled-with-label-container-padding-bottom: 0rem;
  }

  mat-form-field,
  mat-label {
    color: vars.$on-primary-fixed;
    font: vars.$label-medium;
    letter-spacing: vars.$label-medium-tracking;
  }

  ::ng-deep .mdc-floating-label--float-above {
    transform: translateY(-100%) !important;

    mat-label {
      font: vars.$label-small !important;
      letter-spacing: vars.$label-small-tracking;
    }
  }

  .organ-input {
    margin-left: 0;
    height: 2rem;
    line-height: 2rem;
  }
}

.organ-select-chips {
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.organ-list {
  border-top: 1px solid vars.$outline-variant;
}
