@let tooltip = filterOptionCategory().tooltip;

<ng-container hraFeature="filter-overlay">
  <div class="top-row">
    <hra-info-button hraFeature="info" hraClickEvent>
      <span hraInfoButtonTagline>{{ filterOptionCategory().label }}</span>
      {{ tooltip?.description ?? '' }}

      @if (tooltip?.actionText && tooltip?.actionUrl) {
        <div hraInfoButtonActions>
          <a mat-button color="accent" [href]="tooltip?.actionUrl" target="_blank">
            {{ tooltip?.actionText }}
          </a>
        </div>
      }
    </hra-info-button>
    <button
      hraFeature="toggle"
      hraClickEvent
      mat-button
      hraButtonVariant="secondary"
      class="category-button"
      color="primary"
      [hraRichTooltip]="content"
      [hraRichTooltipPositions]="tooltipPositions()"
    >
      {{ filterOptionCategory().label }}
    </button>
  </div>

  <mat-chip-set hraFeature="active-options">
    @for (option of chips(); track option.id) {
      <mat-chip [hraFeature]="option.label | slugify" hraClickEvent (removed)="remove(option)" disableRipple>
        {{ option.label }}
        <button hraFeature="remove" hraClickEvent matChipRemove [attr.aria-label]="'remove ' + option.label">
          <mat-icon>close</mat-icon>
        </button>
      </mat-chip>
    }
  </mat-chip-set>

  <hra-rich-tooltip-container #content class="filter-menu">
    <hra-rich-tooltip-content class="filter-menu-content">
      <mat-form-field hraFeature="search" hraClickEvent class="search field" subscriptSizing="dynamic">
        <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input matInput type="text" [formControl]="searchControl" placeholder="Search" />
      </mat-form-field>

      <ng-scrollbar>
        <mat-action-list>
          @for (option of filteredOptions(); track option.id) {
            <div
              [hraFeature]="option.label | slugify"
              class="option-content"
              [class.selected]="selectedOptions().includes(option)"
              [class.large]="option.secondaryLabel"
            >
              @let tooltip = option.tooltip;
              @if (tooltip) {
                <hra-info-button hraFeature="info" hraClickEvent>
                  {{ tooltip.description }}

                  @if (tooltip.actionUrl) {
                    <div hraInfoButtonActions>
                      <a mat-button color="accent" [href]="tooltip.actionUrl" target="_blank">
                        {{ tooltip.actionText }}
                      </a>
                    </div>
                  }
                </hra-info-button>
              }
              <button
                [hraFeature]="selectedOptions().includes(option) ? 'deselect' : 'select'"
                hraClickEvent
                mat-list-item
                class="option"
                (click)="selectOption(option)"
              >
                <div class="labels-count">
                  <span class="option-labels">
                    <div class="option-primary-label">{{ option.label }}</div>
                    @if (option.secondaryLabel) {
                      <div class="option-secondary-label">{{ option.secondaryLabel }}</div>
                    }
                  </span>
                  <span class="option-count">{{ option.count }}</span>
                </div>
              </button>
            </div>
          }
        </mat-action-list>
      </ng-scrollbar>
    </hra-rich-tooltip-content>
  </hra-rich-tooltip-container>
</ng-container>
