@use '@angular/material' as mat;

$small: mat.m2-define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.m2-define-typography-level(2rem, 3rem, 500, $letter-spacing: -1.25px),
  $headline-6: mat.m2-define-typography-level(1.5rem, 2.25rem, 500),
  $body-2: mat.m2-define-typography-level(1rem, 1.5rem, 500),
  $button: mat.m2-define-typography-level(0.6875rem, 1.03125rem, 500, $letter-spacing: 0.002em),
);

$large: mat.m2-define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.m2-define-typography-level(2.625rem, 3.9375rem, 500, $letter-spacing: 0.0325em),
  $headline-6: mat.m2-define-typography-level(2rem, 3rem, 500),
  $body-2: mat.m2-define-typography-level(1.125rem, 1.6875rem, 500),
  $button: mat.m2-define-typography-level(1.125rem, 1.6875rem, 500),
);
