@use '@angular/material' as mat;

$xx-small: mat.m2-define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.m2-define-typography-level(2rem, 3rem, 500, $letter-spacing: -1.25px),
  $headline-6: mat.m2-define-typography-level(1.5rem, 2.25rem, 500),
  $subtitle-1: mat.m2-define-typography-level(0.875rem, 1.3125rem, 400, $letter-spacing: 0.005em),
  $body-1: mat.m2-define-typography-level(1.125rem, 1.6875rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $body-2: mat.m2-define-typography-level(0.875rem, 1.3125rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $button: mat.m2-define-typography-level(0.6875rem, 1.03125rem, 500, $letter-spacing: 0.002em),
);

$x-small: mat.m2-define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.m2-define-typography-level(2rem, 3rem, 500, $letter-spacing: -1.25px),
  $headline-6: mat.m2-define-typography-level(1.75rem, 2.625rem, 500),
  $subtitle-1: mat.m2-define-typography-level(0.875rem, 1.3125rem, 400, $letter-spacing: 0.005em),
  $body-1: mat.m2-define-typography-level(1.125rem, 1.6875rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $body-2: mat.m2-define-typography-level(1rem, 1.5rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $button: mat.m2-define-typography-level(0.6875rem, 1.03125rem, 500, $letter-spacing: 0.002em),
);

$small: mat.m2-define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.m2-define-typography-level(2.375rem, 3.5625rem, 500, $letter-spacing: -1.75px),
  $headline-6: mat.m2-define-typography-level(1.75rem, 2.625rem, 500),
  $subtitle-1: mat.m2-define-typography-level(1.25rem, 1.875rem, 400, $letter-spacing: 0.013em),
  $body-1: mat.m2-define-typography-level(1.125rem, 1.6875rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $body-2: mat.m2-define-typography-level(1rem, 1.5rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $button: mat.m2-define-typography-level(1.125rem, 1.6875rem, 500),
);

$medium: $small;

$large: mat.m2-define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.m2-define-typography-level(2.625rem, 3.9375rem, 500, $letter-spacing: -1.25px),
  $headline-6: mat.m2-define-typography-level(2rem, 3rem, 500),
  $subtitle-1: mat.m2-define-typography-level(1.5rem, 2.25rem, 500),
  $body-1: mat.m2-define-typography-level(1.125rem, 1.6875rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $body-2: mat.m2-define-typography-level(1rem, 1.5rem, 400, 'Nunito Sans', $letter-spacing: 0.5px),
  $button: mat.m2-define-typography-level(1.125rem, 1.6875rem, 500),
);

$x-large: $large;
$xx-large: $x-large;
$xxx-large: $xx-large;
