@use '@angular/material' as mat;
@use './themable-sections/header' as header-section;
@use './themes/header' as header-theme;
@use './themes/main' as main-theme;

$_theme: main-theme.$theme;

@include mat.core();
@include mat.core-theme($_theme);
@include mat.typography-hierarchy($_theme);

// Add theme mixin for material components here!
@include mat.button-theme($_theme);
@include mat.button-toggle-theme($_theme);
@include mat.card-theme($_theme);
@include mat.divider-theme($_theme);
@include mat.form-field-theme($_theme);
@include mat.icon-theme($_theme);
@include mat.progress-bar-theme($_theme);
@include mat.select-theme($_theme);

// Add section theme mixins here!
@include header-section.theme(header-theme.$theme);
