@use '@angular/material' as mat;

$xx-small: mat.define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.define-typography-level(1.5rem, 2.25rem, 500),
  $headline-6: mat.define-typography-level(0.9375rem, 1.40625rem, 500),
  $subtitle-1: mat.define-typography-level(0.875rem, 1.3125rem, 400, $letter-spacing: 0.005em),
  $body-1: mat.define-typography-level(0.75rem, 1.3125rem, 400, $letter-spacing: 0.005em),
  $body-2: mat.define-typography-level(0.6875rem, 1.03125rem, 500, $letter-spacing: 0.002em),
  $button: mat.define-typography-level(0.6875rem, 1.03125rem, 500, $letter-spacing: 0.002em),
);

$x-small: $xx-small;

$small: mat.define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.define-typography-level(2rem, 3rem, 500),
  $headline-6: mat.define-typography-level(1.5rem, 2.25rem, 500),
  $subtitle-1: mat.define-typography-level(1.25rem, 1.875rem, 400, $letter-spacing: 0.013em),
  $body-1: mat.define-typography-level(1.25rem, 1.875rem, 400, $letter-spacing: 0.013em),
  $body-2: mat.define-typography-level(1.125rem, 1.6875rem, 500, $letter-spacing: 0.0125em),
  $button: mat.define-typography-level(1.125rem, 1.6875rem, 500),
);

$medium: $small;

$large: mat.define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.define-typography-level(2rem, 3rem, 500),
  $headline-6: mat.define-typography-level(2rem, 3rem, 500),
  $subtitle-1: mat.define-typography-level(1.5rem, 2.25rem, 500),
  $body-1: mat.define-typography-level(1.125rem, 1.6875rem, 500),
  $body-2: mat.define-typography-level(1.125rem, 1.6875rem, 500),
  $button: mat.define-typography-level(1.125rem, 1.6875rem, 500),
);

$x-large: mat.define-rem-typography-config(
  $font-family: 'Metropolis',
  $headline-5: mat.define-typography-level(2.625rem, 3.9375rem, 500, $letter-spacing: 0.0325em),
  $headline-6: mat.define-typography-level(2rem, 3rem, 500),
  $subtitle-1: mat.define-typography-level(1.5rem, 2.25rem, 500),
  $body-1: mat.define-typography-level(1.125rem, 1.6875rem, 500),
  $body-2: mat.define-typography-level(1.125rem, 1.6875rem, 500),
  $button: mat.define-typography-level(1.125rem, 1.6875rem, 500),
  $caption: mat.define-typography-level(0.875rem, 1.3125rem, 500, $letter-spacing: 0.005em),
);

$xx-large: $x-large;
$xxx-large: $xx-large;
