:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .mat-toolbar {
    max-width: 77rem;
    padding: 0;
    background: #444c65;
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: 3.5rem;
  }

  .hubmap-header {
    color: #ffffff;
    font-family: "Impact";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.438rem;
  }

  .hra-header {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    color: #c2cae5;
    letter-spacing: -0.025em;
    line-height: 2.438rem;
    text-transform: uppercase;
  }
}
