:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .mat-toolbar {
    max-width: 77rem;
    padding: 0;
    background: #444c65;
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: 3.5rem;
  }

  .hubmap-header {
    color: #ffffff;
    font-family: "Impact";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.438rem;
    text-decoration: none;
    padding-right: 1rem;
  }

  .hra-header {
    font-weight: 300;
    font-size: 2rem;
    color: #c2cae5;
    letter-spacing: -0.025em;
    line-height: 2.438rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav-small {
    display: none;
  }

  menu-tree {
    display: none;
  }

  @media (max-width: 26.75rem) {
    .mat-toolbar {
      padding: 0rem 1rem;
    }
    .hubmap-header {
      font-size: 1.5rem;
    }

    .hra-header {
      font-size: 1.25rem;
    }

    ccf-navbar {
      display: none;
    }

    menu-tree {
      display: unset;
    }

    .hubmap-header {
      display: none;
    }
  }

  @media (max-width: 80rem) {
    .hubmap-header {
      display: none;
    }

    .mat-toolbar {
      padding: 0rem 1rem;
    }
  }

  @media (max-width: 62.5rem) {
    ccf-navbar {
      display: none;
    }

    menu-tree {
      display: unset;
    }
  }
}

::ng-deep {
  .mat-parent-node {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .mat-nested-tree-node div.menu-name {
    padding-left: 2rem;
  }

  div.menu-name {
    padding-left: 1rem;
  }
}
