@use 'angular-material-css-vars/src/lib/variables' as mat-css-vars;
@use 'angular-material-css-vars/src/lib/public-util' as mat-css-utilities;
@use 'reset';
@use 'theming';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$mat-css-default-light-theme: map-merge(
  mat-css-vars.$default-light-theme,
  (
    --palette-primary-100: mat-css-utilities.hex-to-rgb(#c6ecf6),
    --palette-primary-500: mat-css-utilities.hex-to-rgb(#006298),
    --palette-primary-700: mat-css-utilities.hex-to-rgb(#00385f),
  )
);

@include theming.init($default-theme: $mat-css-default-light-theme);

// $default-theme: variables.$default-light-theme,
