<div class="title">Tissue Registration Metadata</div>

<div class="workflows">
  <hra-workflow-card>
    <h2 class="header">
      <hra-step-indicator class="step-number" [value]="1"></hra-step-indicator>
      <span class="card-title">Optional: Upload Previous Registration</span>
    </h2>

    @if (registrationSelected) {
      <hra-delete-file-button [fileName]="uploadedFileName" (cancelLoad)="removeFile()"></hra-delete-file-button>
    } @else {
      <ccf-json-file-reader
        (parsedJson)="handleRegistrationUpload($any($event))"
        (fileName)="uploadedFileName = $event"
        label="Upload"
      ></ccf-json-file-reader>
    }
  </hra-workflow-card>

  <hra-workflow-card>
    <h2 class="header">
      <hra-step-indicator class="step-number" [value]="2"></hra-step-indicator>
      <span class="card-title">Add Metadata</span>
    </h2>

    <form [formGroup]="registrationForm">
      <span class="subheader">Author</span>
      <div class="metadata-1">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>First name</mat-label>
          <input
            matInput
            formControlName="firstName"
            cdeMarkEmptyFormControl
            [value]="$any(page.user$ | async).firstName"
          />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Middle name (optional)</mat-label>
          <input
            matInput
            formControlName="middleName"
            cdeMarkEmptyFormControl
            [value]="$any(page.user$ | async).middleName"
          />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Last name</mat-label>
          <input
            matInput
            formControlName="lastName"
            cdeMarkEmptyFormControl
            [value]="$any(page.user$ | async).lastName"
          />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" cdeMarkEmptyFormControl [value]="$any(page.user$ | async).email" />
          <mat-error *ngIf="registrationForm.controls['email'].invalid">{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>ORCID (optional)</mat-label>
          <input
            matInput
            formControlName="orcid"
            cdeMarkEmptyFormControl
            maxlength="19"
            [value]="$any(page.user$ | async).orcid"
            (input)="updateOrcid($any($event.target).value)"
          />
          <mat-error *ngIf="registrationForm.controls['orcid'].invalid">{{ getOrcidErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

      <span class="subheader">Donor</span>
      <div class="metadata-2">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Sex</mat-label>
          <mat-select disableRipple formControlName="sex" panelClass="options-container" cdeMarkEmptyFormControl>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Organ</mat-label>
          <input type="text" matInput formControlName="organ" [matAutocomplete]="auto" />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="organSelect($event.option.value)"
          >
            @for (organ of filteredOptions | async; track organ) {
              <mat-option [value]="organ">{{ organ.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Publication DOI (optional)</mat-label>
          <input matInput formControlName="publicationDOI" cdeMarkEmptyFormControl />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Consortium (Optional)</mat-label>
          <input matInput formControlName="consortium" cdeMarkEmptyFormControl />
        </mat-form-field>
      </div>
    </form>
  </hra-workflow-card>

  <hra-workflow-card>
    <h2 class="header">
      <hra-step-indicator class="step-number" [value]="3"></hra-step-indicator>
      <span class="card-title">Register Data Spatially</span>
    </h2>

    @if (!organSelected || !nameValid || !emailValid() || !sexSelected || !orcidValid) {
      <hra-error-indicator [errors]="['Please add required metadata.']"></hra-error-indicator>
    }

    <button
      class="registration-button"
      mat-flat-button
      hraCallToActionButton
      hraPrimaryButton
      [disabled]="!organSelected || !nameValid || !emailValid() || !sexSelected || !orcidValid"
      (click)="registerButtonClick($event)"
    >
      Register
      <mat-icon class="material-symbols-rounded" iconPositionEnd>arrow_right_alt</mat-icon>
    </button>
  </hra-workflow-card>
</div>
