:host {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    font: var(--sys-headline-large);
    letter-spacing: var(--sys-headline-large-tracking);
  }

  .workflows {
    border-radius: 1rem;
    border: 1px solid #acb5c3;
    overflow: hidden;
  }

  hra-workflow-card {
    width: 100%;
    border-radius: 0;
    box-shadow: unset;

    .header {
      display: flex;
      align-items: center;
      height: 2.5rem;
      margin: 0;

      .step-number {
        margin-right: 0.75rem;
      }

      .card-title {
        margin-right: 0.75rem;
        font: var(--sys-title-large);
      }
    }
  }

  hra-workflow-card:not(:last-child) {
    border-bottom: 1px solid #acb5c3;
  }

  form {
    display: flex;
    flex-direction: column;

    .subheader {
      font: var(--sys-title-small);
      margin-bottom: 1rem;
    }

    .metadata-1 {
      margin-bottom: 1.5rem;
    }

    .metadata-1,
    .metadata-2 {
      display: flex;
      gap: 1rem;
    }

    mat-form-field {
      flex-grow: 1;
    }
  }

  .registration-button {
    align-self: flex-start;
  }
}
