@use 'utils';

:host {
  .banner {
    aspect-ratio: 4 / 1;
    width: 100%;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    max-width: 87.5rem;
    margin: auto;
  }

  .header {
    @include utils.use-font(display, medium);
  }
}
