@use '../../../styles/cta' as cta;

:host {
  align-self: flex-start;
  width: 100%;
  background-color: #d5dbe3;
  --mat-text-button-pressed-state-layer-opacity: 0;
  --mat-text-button-hover-state-layer-opacity: 0;
  --mdc-text-button-container-shape: 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6563rem 2.5rem 1.6563rem 1rem;

    .logos {
      a img:first-child {
        margin-right: 2rem;
      }
    }

    .menu-btns {
      display: flex;
      column-gap: 5rem;

      button {
        padding: 0.5rem 1rem;
        &:hover {
          @include cta.flatHover();
        }

        &:active {
          @include cta.flatActive();
        }

        &:focus-visible {
          @include cta.flatFocus();
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .header {
      margin: 1.6563rem 2rem 1.6563rem 1rem;
      .menu-btns {
        gap: 2rem;
      }
    }
  }

  @media (max-width: 1280px) {
    .header {
      margin: 1.25rem 1.5rem 1.25rem 1rem;

      .menu-btns {
        gap: 1.5rem;
      }
    }
  }

  @media (max-width: 1012px) {
    .header {
      margin: 1rem 1.5rem 1rem 1rem;

      .menu-btns {
        gap: 0.25rem;
      }
    }
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    .header {
      .logos {
        a {
          &:first-child img {
            margin-right: 1rem;
            width: 6.0625rem;
            height: 2.5rem;
          }

          &:last-child img {
            width: 10.5625rem;
            height: 2.5rem;
          }
        }
      }

      .menu-btns {
        button {
          font-size: 0.875rem;
          line-height: 1.3125rem;
        }
      }
    }
  }
}
