<div class="header">
  <div class="logos">
    <a href="https://humanatlas.io/" target="_blank" rel="noopener noreferrer">
      <img [attr.src]="'assets/logo/hra-logo-2.svg' | assetUrl" alt="Human Reference Atlas logo" class="hra-logo" />
      <img
        [attr.src]="'assets/logo/hra-logo-small-2.svg' | assetUrl"
        alt="Small Size Human Reference Atlas logo"
        class="hra-mini-logo"
      />
    </a>
    <a [routerLink]="''" (click)="closeMenu()" class="dashboards-home">
      <img [attr.src]="'assets/logo/dashboard.svg' | assetUrl" alt="HRA Dashboard logo" class="dashboard-logo" />
      <span>
        <div class="dashboards-label mat-body-1">Dashboard</div>
        <div class="preview-app mat-caption">HRA Preview Application</div>
      </span>
    </a>
  </div>
  <span class="menu-btns">
    <button [routerLink]="'data'" disableRipple mat-button>Data</button>
    <button [routerLink]="'usage'" disableRipple mat-button>Usage</button>
    <button [routerLink]="'publications'" disableRipple mat-button>Publications</button>
    <button [routerLink]="'experimental-data'" disableRipple mat-button>Experimental Data</button>
    <button [routerLink]="'diversity-and-inclusion'" disableRipple mat-button>Diversity & Inclusion</button>
  </span>
  <button
    mat-button
    disableRipple
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="menu"
    aria-label="Icon button with a menu"
    class="menu-toggle"
    (menuOpened)="menuOpen = true"
    (menuClosed)="menuOpen = false"
  >
    <mat-icon class="material-symbols-rounded">
      {{ menuTrigger.menuOpen ? 'close' : 'menu' }}
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu-panel">
    <a mat-menu-item disableRipple class="cta-flat" [routerLink]="'data'"> Data </a>
    <a mat-menu-item disableRipple class="cta-flat" [routerLink]="'usage'"> Usage </a>
    <a mat-menu-item disableRipple class="cta-flat" [routerLink]="'publications'"> Publications </a>
    <a mat-menu-item disableRipple class="cta-flat" [routerLink]="'experimental-data'"> Experimental Data </a>
    <a mat-menu-item disableRipple class="cta-flat" [routerLink]="'diversity-and-inclusion'"> Diversity & Inclusion </a>
  </mat-menu>
</div>
