@use '../../../styles/cta' as cta;

:host {
  position: relative;
  z-index: 1001;
  align-self: flex-start;
  width: 100%;
  background-color: #d5dbe3;
  --mat-text-button-pressed-state-layer-opacity: 0;
  --mat-text-button-hover-state-layer-opacity: 0;
  --mdc-text-button-container-shape: 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6563rem 2.5rem 1.6563rem 1rem;

    .logos {
      a img:first-child {
        margin-right: 2rem;
      }

      .hra-mini-logo {
        display: none;
        margin-right: 0.25rem;
        height: 2rem;
        width: 2rem;
      }
    }

    .menu-btns {
      display: flex;
      column-gap: 5rem;

      button {
        padding: 0.5rem 1rem;
        &:hover {
          @include cta.flatHover();
        }

        &:active {
          @include cta.flatActive();
        }

        &:focus-visible {
          @include cta.flatFocus();
        }
      }
    }

    .menu-toggle {
      display: none;
      padding: 0;
      height: 1.5rem;
      width: 1.5rem;
      min-width: auto;

      .mat-icon {
        margin: 0;
      }
    }
  }

  @media (max-width: 1440px) {
    .header {
      margin: 1.6563rem 2rem 1.6563rem 1rem;
      .menu-btns {
        gap: 2rem;
      }
    }
  }

  @media (max-width: 1280px) {
    .header {
      margin: 1.25rem 1.5rem 1.25rem 1rem;

      .menu-btns {
        gap: 1.5rem;
      }
    }
  }

  @media (max-width: 1012px) {
    .header {
      margin: 1rem 1.5rem 1rem 1rem;

      .menu-btns {
        gap: 0.25rem;
      }
    }
  }

  @media (max-width: 768px) {
    .header {
      margin: 0.75rem 1rem;
      .logos {
        a {
          vertical-align: sub;
        }
        .hra-logo {
          display: none;
        }

        .hra-mini-logo {
          display: inline;
        }

        .dashboard-logo {
          height: 2rem;
          width: 7.625rem;
        }
      }

      .menu-btns {
        display: none;
      }

      .menu-toggle {
        display: block;
      }
    }
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    .header {
      .logos {
        a {
          &:first-child img {
            margin-right: 1rem;
            width: 6.0625rem;
            height: 2.5rem;
          }

          &:last-child img {
            width: 10.5625rem;
            height: 2.5rem;
          }
        }
      }

      .menu-btns {
        button {
          font-size: 0.875rem;
          line-height: 1.3125rem;
        }
      }
    }
  }
}

:host(.menu-open) {
  background-color: #e6eaf0;
}

::ng-deep {
  .cdk-overlay-pane .mat-mdc-menu-panel {
    position: relative;
    background-color: #e6eaf0;
    padding: 2.5rem 3rem;
    top: 3rem;
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
    display: block;

    .mat-mdc-menu-content {
      padding: 0;
      display: grid;
      row-gap: 2.5rem;

      .mat-mdc-menu-item {
        width: fit-content;
        --mat-menu-item-label-text-color: #201e3d;
        font-weight: 500;
      }

      .mat-mdc-menu-item-text {
        padding: 0.5rem;
      }
    }
  }

  @media (max-width: 544px) {
    .cdk-overlay-pane .mat-mdc-menu-panel {
      padding: 2rem;

      .mat-mdc-menu-content {
        row-gap: 2rem;
      }
    }
  }

  @media (max-width: 430px) {
    .cdk-overlay-pane .mat-mdc-menu-panel {
      padding: 2rem 1rem;

      .mat-mdc-menu-content {
        row-gap: 1.5rem;
      }
    }
  }

  @media (max-width: 320px) {
    .cdk-overlay-pane .mat-mdc-menu-panel {
      padding: 1rem;

      .mat-mdc-menu-content {
        row-gap: 1rem;
      }
    }
  }
}
