:host {
  display: flex;
  ::ng-deep .mat-card-image {
    width: unset;
  }

  .contact-card {
    height: 350px;
    width: 280px;
    padding: 2rem;
    margin-right: 1.5rem;
    &:hover {
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
        0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .mat-card-image {
    height: 168px;
    width: 168px;
  }

  .work-field {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    color: #444c65;
  }

  .contact-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #212121;
  }

  .designation {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #212121;
    padding-top: 1rem;
  }

  .contact-email {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
  }
}
