:host {
  display: flex;
  flex-wrap: wrap;
  ::ng-deep .mat-card-image {
    width: unset;
  }

  .contact-card {
    height: 26rem;
    width: 17.5rem;
    padding: 2rem;
    &:hover {
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
        0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    }
    border: 1px solid #E0E0E0;
  }

  .contact-card:not(:last-child) {
    margin-right: 1.5rem;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .mat-card-image {
    height: 168px;
    width: 168px;
  }

  .work-field {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    color: #444c65;
  }

  .contact-name {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4202rem;
    letter-spacing: 0.005rem;
    color: #212121;
  }

  .designation {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
    color: #212121;
    padding-top: 1rem;
  }

  .contact-email {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 80rem) {
    .contact-card {
      margin-bottom: 1rem;

    }
  }

  @media (max-width: 58.5rem) {
    .contact-card:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  @media (max-width: 26.75rem) {
    .contact-card {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .mat-card-content {
      text-align: center;
    }

    .contact-email {
      justify-content: center;
    }

    .contact-card:not(:last-child) {
      margin-right: unset;
    }
  }
}
