<ccf-page-header [headerCard]="headerCardDetails" class="page-header"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData" class="description"></ccf-page-data>
<ccf-use-button [buttonData]="useRuiButton" class="button-container"></ccf-use-button>
<ccf-sop-links [links]="ruiSopData" class="description"></ccf-sop-links>
<youtube-model [height]="height" [width]="width" [videoId]="videoId" [title]="title" [playerTitle]="playerTitle"></youtube-model>
<ccf-page-data [data]="interfacedata" class="description"></ccf-page-data>