<div class="title">Legend</div>
<div class="legends">
  @let _legends = legendList$ | async | orderBy: 'sortOrder';
  @for (l of _legends; track l) {
    <div>
      @switch (l.name) {
        @case ('Lipids Biomarkers') {
          <img class="polygon" alt="lipids" [attr.src]="'legends/squareSymbol.svg' | assetUrl" />
        }
        @case ('Protein Biomarkers') {
          <img class="polygon" alt="protein" [attr.src]="'legends/diamondSymbol.svg' | assetUrl" />
        }
        @case ('Metabolites Biomarkers') {
          <img class="polygon" alt="metabolites" [attr.src]="'legends/triangleSymbol.svg' | assetUrl" />
        }
        @case ('Proteoforms Biomarkers') {
          <img class="polygon" alt="proteoforms" [attr.src]="'legends/crossSymbol.svg' | assetUrl" />
        }
        @default {
          <div [style]="getLegendStyles(l)" [class]="getLegendClasses(l)"></div>
        }
      }
      <span class="legend-label">{{ l.name }}</span>
    </div>
  }
</div>
