@use 'utils';
@use 'vars';
@use './../../../../public/stylesheets/_colors.scss';

:host {
  .title {
    @include utils.use-font(label, large);
    padding: 0.5rem 1rem;
    height: 3rem;
  }

  .circle {
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 50%;
    display: inline-block;
  }

  .rect {
    height: 0.0625rem;
    width: 0.9375rem;
    display: inline-block;
  }

  .polygon {
    display: inline-block;
    height: 0.9375rem;
    width: 0.9375rem;
    background-color: unset !important;
    background-repeat: no-repeat;
  }

  .legends {
    & > div {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    padding: 0 1rem 1rem 1rem;
    border-bottom: 0.0625rem solid vars.$outline;

    .legend-label {
      @include utils.use-font(label, medium);
      padding-left: 0.5rem;
      letter-spacing: 0.1px;
    }
  }
}
