@use 'utils';
@use 'vars';
@import './../../../assets/stylesheets/_colors.scss';

:host {
  .title {
    @include utils.use-font(label, large);
    padding: 0.5rem 1rem;
    height: 3rem;
  }

  .circle {
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 50%;
    display: inline-block;
  }

  .rect {
    height: 0.125rem;
    width: 0.9375rem;
    display: inline-block;
  }

  .polygon {
    display: inline-block;
    height: 1.063rem;
    width: 1.063rem;
    background-color: unset !important;
    background-repeat: no-repeat;
    background-position: -0.438rem -0.438rem;
  }

  .protein {
    @extend .polygon;
    background-image: url(../../../assets/legends/diamondSymbol.svg);
  }

  .lipids {
    @extend .polygon;
    background-image: url(../../../assets/legends/squareSymbol.svg);
  }

  .metabolites {
    @extend .polygon;
    background-image: url(../../../assets/legends/triangleSymbol.svg);
  }

  .proteoforms {
    @extend .polygon;
    background-image: url(../../../assets/legends/crossSymbol.svg);
  }

  .legends {
    & > div {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    padding: 0 1rem 1rem 1rem;
    border-bottom: 0.0625rem solid vars.$outline;

    .legend-label {
      @include utils.use-font(label, medium);
      padding-left: 0.5rem;
      letter-spacing: 0.1px;
      font-size: 14px;
    }
  }
}
