<div class="title">Legend</div>
<div class="legends">
  @let _legends = legends | orderBy: 'sortOrder';
  @for (l of _legends; track l) {
    <div>
      <div
        [ngStyle]="{
          'background-color': l.style === 'stroke' ? 'transparent' : l.color,
          border: l.style === 'stroke' ? '3px solid ' + l.color : 'none',
          'border-style': l.style === 'stroke' ? 'dotted' : 'none',
        }"
        [ngClass]="{
          rect:
            l.name === 'Protein Presence' ||
            l.name === 'Protein Absence' ||
            l.name === 'AS-AS, AS-CT, CT-BM Paths' ||
            l.name === 'Intermediate Protein',
          circle:
            l.name === 'Gene Biomarkers' ||
            (!l.bmType &&
              l.name !== 'Protein Presence' &&
              l.name !== 'Protein Absence' &&
              l.name !== 'AS-AS, AS-CT, CT-BM Paths' &&
              l.name !== 'Intermediate Protein'),
          protein: l.name === 'Protein Biomarkers',
          lipids: l.name === 'Lipids Biomarkers',
          metabolites: l.name === 'Metabolites Biomarkers',
          proteoforms: l.name === 'Proteoforms Biomarkers',
        }"
      ></div>
      <span class="legend-label">{{ l.name }}</span>
    </div>
  }
</div>
