<mat-dialog-content>
  <div class="header">
    <div class="title">Review and Download</div>
    <div class="filler"></div>
    <button mat-icon-button class="close" hraIconButtonSize="large">
      <mat-icon (click)="close()">clear</mat-icon>
    </button>
  </div>

  <div class="metadata-tables">
    @for (type of ['Author Metadata', 'Donor Metadata', 'Tissue Block Registration']; track type) {
      <div class="metadata-table">
        <div class="type-title">{{ type }}</div>
        <table>
          @for (data of metaData[type]; track data) {
            <tr>
              <td class="data-label">{{ data.label }}</td>
              <td class="data-value">{{ data.value }}</td>
            </tr>
          }
        </table>
      </div>
    }
  </div>

  <button mat-button mat-flat-button class="download-button" (click)="downloadClicked()">
    {{ data.registrationCallbackSet ? 'Register' : 'Download' }}
  </button>
</mat-dialog-content>
