@use '../../../../../../../libs/design-system/styles/vars' as vars;

:host {
  mat-dialog-content {
    --mat-dialog-content-padding: 1.5rem;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    color: vars.$secondary;
  }

  .type-title,
  .data-value {
    color: vars.$primary-fixed;
  }

  .header {
    display: flex;
    align-items: center;
    font: vars.$headline-small;
    margin-bottom: 0.75rem;

    .filler {
      flex-grow: 1;
    }
  }

  .metadata-tables {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .type-title {
    font: vars.$title-small;
    margin-bottom: 0.5rem;
  }

  table {
    width: 100%;
    border-spacing: 0;
    font: vars.$label-medium;

    td {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #acb5c3;
      border-right: 1px solid #acb5c3;
    }

    tr td:first-child {
      border-left: 1px solid #acb5c3;
      width: 14.5rem;
      background-color: vars.$surface-container;
    }

    tr:first-child {
      td {
        border-top: 1px solid #acb5c3;
      }

      td:first-child {
        border-top-left-radius: 0.5rem;
      }

      td:last-child {
        border-top-right-radius: 0.5rem;
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 0.5rem;
      }

      td:last-child {
        border-bottom-right-radius: 0.5rem;
      }
    }
  }

  .download-button {
    width: fit-content;
    margin-top: 1.5rem;
    min-height: 2.5rem;
  }
}
