<div class="tabs-container">
    <mat-tab-group mat-align-tabs="start" [disableRipple]="true">
        <mat-tab disabled={{tab.disabled}} *ngFor="let tab of tabs">
            <ng-template mat-tab-label>
                <div *ngIf="tab.disabled; else disabled">
                    <img [src]="tab.imgUrl" class="organ-image">
                </div>
                <ng-template #disabled>
                    <img [src]="tab.imgUrl" class="organ-image" (click)="organName.emit(tab.organName)">
                </ng-template>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>