:host {
  .organ-tabs {
    padding-bottom: 2rem;
  }

  ::ng-deep .mat-tab-label {
    height: 9rem;
    opacity: 1;
    border-bottom: unset;
    min-width: 0 !important;
    padding: 0rem !important;
    position: relative;
    overflow: visible;
    border-radius: 0.25rem;
  }

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #444c65;
    height: 0.5rem;
  }

  .organ-image {
    mix-blend-mode: multiply;
  }

  ::ng-deep .mat-tab-label-active {
    background: rgba(0, 0, 0, 0.04);
  }

  ::ng-deep .mat-ink-bar {
    display: none;
  }

  ::ng-deep .mat-tab-header {
    border-bottom: unset;
  }

  ::ng-deep .mat-tab-labels {
    display: block !important;
    padding-bottom: 0.5rem;
  }

  ::ng-deep {
    .mat-tab-label-active::after,
    .mat-tab-label:hover::after {
      content: "";
      width: 100%;
      height: 0.5rem;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.031rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    .mat-tab-label-active::after {
      background-color: #444c65;
    }

    .mat-tab-label:not(.mat-tab-label-active):hover::after {
      background-color: #c2cae5;
    }
  }

  .organ-select {
    display: none;
  }

  @media (max-width: 63rem) {
    display: flex;
    margin-bottom: 3.5rem;

    .organ-select {
      display: initial;
      max-width: 21rem;
      height: 2.5rem;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.4202rem;
      letter-spacing: 0.005rem;
      color: #444c65;
      border: 1px solid #444c65;
      border-radius: 2px;

      ::ng-deep .mat-select-trigger {
        height: 100%;
        justify-content: space-between;
        padding: 0rem 1rem;

        .mat-select-value {
          width: unset;
        }
      }

      ::ng-deep .mat-select-arrow-wrapper {
        padding-left: 12px;
      }
    }

    .organ-tabs {
      display: none;
    }
  }
}
