@use 'sass:map';

$breakpoints: (
  'xx-small': (
    min: 0px,
    max: 429.99999px,
  ),
  'x-small': (
    min: 430px,
    max: 543.99999px,
  ),
  'small': (
    min: 544px,
    max: 767.99999px,
  ),
  'medium': (
    min: 768px,
    max: 1011.99999px,
  ),
  'large': (
    min: 1012px,
    max: 1279.99999px,
  ),
  'x-large': (
    min: 1280px,
    max: 1439.99999px,
  ),
  'xx-large': (
    min: 1440px,
    max: 1919.99999px,
  ),
  'xxx-large': (
    min: 1920px,
    max: 999999999px,
  ),
);

@mixin breakpoint($names...) {
  $query: '';

  @each $name in $names {
    @if $query != '' {
      $query: $query + ', ';
    }

    $point: map.get($breakpoints, $name);
    $min: map.get($point, 'min');
    $max: map.get($point, 'max');
    $query: $query + '(min-width: #{$min}) and (max-width: #{$max})';
  }

  @media #{$query} {
    @content;
  }
}
