:host {
  position: relative;

  .version, .table {
    margin-bottom: 2.5rem;
  }

  &:not(.scroll-end)::after {
    position: absolute;
    content: "";
    width: 50px;
    top: 5rem;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Gradient for blur effect */
  }

  .download-csv-xlsx {
    display: flex;
  }

  .download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0rem 1.5rem;
    margin-left: 1px;
    min-width: 124px;
    color: #444C65;
    border-radius: 6.25rem;
    height: 40px;
    background-color: #F7F2FA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .download-btn:hover {
    background: rgba(103, 80, 164, 0.08);
  }

  .download-btn:focus,
  .download-btn:active {
    background: rgba(103, 80, 164, 0.12);
  }

  .download-btn:disabled {
    background: rgba(29, 27, 32, 0.12);
  }

  .margin {
    margin-right: 1rem;
  }

  @media (max-width: 26.75rem) {
    &:not(.scroll-end)::after {
      top: 8rem;
    }

    .download-csv-xlsx {
      flex-wrap: wrap;
    }

    .version {
      margin-bottom: 2rem;
    }

    .download-btn {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
