<ccf-choose-version *ngIf="!versionChooserDisabled" [releaseDate]="versionData" [selectedDate]="release"
    (selectedVersion)="setData($event)" class="version"></ccf-choose-version>

<ccf-table cdkScrollable [typeCount]="(tableData | async) ?? []" [displayedColumns]="(columns | async) ?? []"
    [columns]="headerInfo" [isTotal]="isTotal" [isOrgan]="true" [additionalHeaders]="additionalHeaders"
    [additionalColumnsData]="additionalColumnsData" [cellHeaders]="cellHeaders" [cellHeadersData]="cellHeadersData"
    class="table" #table></ccf-table>