:host {
  position: relative;

  .version, .table {
    margin-bottom: 2.5rem;
  }

  &:not(.scroll-end)::after {
    position: absolute;
    content: "";
    width: 50px;
    top: 5rem;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Gradient for blur effect */
  }
}
