:host {
  .title {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .description,
  .button-container {
    margin-bottom: 2.5rem;
  }

  .page-header {
    display: block;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 26.75rem) {
    padding-left: 1rem;
    padding-right: 1rem;

    .title {
      font-size: 1.75rem;
    }
  }
}
