:host {
  .title {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .description,
  .button-container {
    margin-bottom: 2.5rem;
    width: fit-content;
  }

  .page-header {
    display: block;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #444c65;
  }

  mat-drawer {
    min-width: 306px;
  }

  .toc-list {
    border: #e0e0e0 2px solid;
    padding-top: unset;
    position: static;
    list-style: none;
    margin: unset;
    padding: unset;
    border-radius: 4px;
    background-color: white;

    li {
      display: flex;
      align-items: center;
      padding: 0rem 1rem;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      border-bottom: #e0e0e0 1px solid;
      color: #0a6ebd;
      height: 3rem;

      &:hover {
        background-color: #f5f5f5;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        color: #444C65;
        cursor: pointer;
      }
    }
  }

  .scrolled {
    position: fixed;
    top: 4rem;
  }

  .mat-drawer-side {
    border-right: unset;
    padding-right: 2.5rem;
  }

  .download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0rem 1.5rem;
    margin-left: 1px;
    min-width: 124px;
    width: fit-content;
    color: #444c65;
    border-radius: 6.25rem;
    height: 40px;
    background-color: #f7f2fa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .download-button:hover {
    background: rgba(103, 80, 164, 0.08);
  }

  .download-button:focus,
  .download-button:active {
    background: rgba(103, 80, 164, 0.12);
  }

  .download-button:disabled {
    background: rgba(29, 27, 32, 0.12);
  }

  .icon {
    margin-right: 11px;
  }

  menu-tree {
    display: none;
  }

  .menu {
    position: fixed;
    top: 2.5rem;
    z-index: 10;
  }

  @media (max-width: 26.75rem) {
    menu-tree {
      display: block;
    }

    mat-drawer {
      display: none;
    }

    ccf-page-header {
      margin-top: 4rem !important;
    }
  }
}

::ng-deep {
  .tree-class {
    border-radius: 0.25rem;
    max-width: 288px;
    padding: unset;
  }

  .overlay-position {
    max-height: calc(100vh - 4.5rem);

    .mat-tree-node {
      font-weight: 500;
      color: #0a6ebd;
    }
  }

  .tree-class .table-of-contents {
    padding: 0.75rem 0rem;
    padding-left: 1rem;
  }
}
