@use './styles/cta' as cta;
@use './styles/global/resets';
@use './styles/global/fonts';
@use './styles/material-theming';

body {
  margin: 0;
  background: linear-gradient(180deg, #d5dbe3 0%, #ffffff 100%);
}

a {
  text-decoration: none;
}
