:host {
  display: grid;
  grid-template-columns: 24.5rem auto 24.625rem;
  grid-template-rows: 0rem 5rem calc(100vh - 5rem);
  grid-template-areas:
    'back back back'
    'header vis-panel right'
    'left content right';

  background-color: var(--sys-surface-container-low);

  &.embedded {
    grid-template-rows: 3rem 4.5rem auto;
  }

  &:not(.embedded) hra-back-button-bar {
    display: none;
  }

  hra-back-button-bar {
    grid-area: back;
  }

  ::ng-deep hra-nav-header-buttons {
    grid-area: header;
    height: 3rem;
    margin: 1rem 0rem;
    justify-content: center;

    hra-brandmark,
    mat-icon {
      height: 3rem !important;
      width: 3rem !important;
    }

    .hra-logo {
      width: 3rem !important;
    }

    .app-logo {
      margin-right: 0rem !important;
    }

    .app-name {
      margin-left: 0.75rem !important;
    }

    .logos-text .app-label {
      font: var(--sys-title-medium) !important;
      letter-spacing: var(--sys-title-medium-tracking) !important;
    }
  }

  .vis-panel {
    grid-area: vis-panel;
    margin: 0 1rem;
  }

  .left-panel {
    grid-area: left;

    .filter-data {
      display: flex;
      align-items: center;
      height: 2.5rem;
    }

    .filter-text {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
      margin-left: 3rem;
    }

    .ontologies {
      height: calc(100% - 9rem);
      display: flex;
      gap: 1.5rem;
      flex-direction: column;

      ccf-ontology-selection {
        flex: 1 1;
        overflow: auto;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 0.25rem;
        }

        &.firefox {
          padding-right: 0.5rem;
        }

        &.biomarker-selection {
          flex-basis: 30%;
        }
      }

      .no-selection-notice {
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .right-panel {
    grid-area: right;
  }

  .content {
    grid-area: content;
  }
}
