<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav class="sidenav-content" mode="over">
    <div class="sidenav-header">
      <span class="sidenav-title"> Data Filters </span>
      <div style="flex-grow: 1"></div>
      <button mat-icon-button hraIconButtonSize="large" disableRipple (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <ccf-filters-content
      [technologyFilters]="(data.technologyFilterData$ | async) ?? []"
      [providerFilters]="(data.providerFilterData$ | async) ?? []"
      [spatialSearchFilters]="$any(selectableSearches$ | async)"
      [filters]="$any(data.filter$ | async)"
      (applyFilters)="data.updateFilter($event); sidenav.toggle()"
      (spatialSearchSelected)="setSelectedSearches($event)"
      (spatialSearchRemoved)="removeSpatialSearch($event)"
    >
    </ccf-filters-content>
  </mat-sidenav>

  <div class="page-content">
    <hra-back-button-bar></hra-back-button-bar>

    <hra-nav-header-buttons
      app="eui"
      [appLink]="(homeUrl$ | async) ?? 'https://apps.humanatlas.io/eui/'"
      appTitle="Exploration User Interface"
      [brandmark]="true"
    ></hra-nav-header-buttons>

    <hra-expansion-panel [tagline]="'Body Visualization'" disabled class="vis-panel">
      <hra-expansion-panel-actions>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          hraIconButtonSize="large"
          aria-label="Icon to open nested menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="submenu">
            <mat-icon>info</mat-icon>
            Info
            <mat-icon class="expand-arrow">arrow_right</mat-icon>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="submenu2">
            <mat-icon>visibility</mat-icon>
            Organ visibility
            <mat-icon class="expand-arrow">arrow_right</mat-icon>
          </button>
          <mat-divider class="menu-divider"></mat-divider>
          <button mat-menu-item (click)="resetView()">
            <mat-icon class="reset icon" svgIcon="reset_wrench"></mat-icon>
            Reset visualization view
          </button>
        </mat-menu>
        <mat-menu #submenu="matMenu">
          <button mat-menu-item>
            All Human Reference Atlas organs may be viewed in the Body Visualization section. Show/hide organs with the
            organ search feature. Hiding and showing organs does not filter data results.
          </button>
        </mat-menu>
        <mat-menu #submenu2="matMenu">
          <button mat-menu-item (click)="selectAllOrgans()">
            <mat-icon>visibility</mat-icon>
            Show all organs
          </button>
          <button mat-menu-item (click)="clearAllOrgans()">
            <mat-icon>visibility_off</mat-icon>
            Hide all organs
          </button>
          <mat-divider class="menu-divider"></mat-divider>
          <button mat-menu-item (click)="scene.setDefaultOrgans()">
            <mat-icon class="reset icon" svgIcon="reset_wrench"></mat-icon>
            Reset to default organ view
          </button>
        </mat-menu>
      </hra-expansion-panel-actions>
      <hra-expansion-panel-header-content>
        <ccf-organ-select></ccf-organ-select>
      </hra-expansion-panel-header-content>
    </hra-expansion-panel>

    <div class="left-panel">
      <div class="filter-data">
        <div class="filter-button-label">Filters</div>
        <button mat-icon-button hraIconButtonSize="large" disableRipple (click)="sidenav.toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
        <div class="filter-text">
          <div class="sex filter-tag">Sex: {{ (data.filter$ | async)?.sex }}</div>
          <div class="bmi filter-tag">
            BMI: {{ $any(data.filter$ | async)?.bmiRange[0] }}-{{ $any(data.filter$ | async)?.bmiRange[1] }}
          </div>
          <div class="age filter-tag">
            Age: {{ $any(data.filter$ | async)?.ageRange[0] }}-{{ $any(data.filter$ | async)?.ageRange[1] }}
          </div>
        </div>
      </div>

      <div class="toggle-settings">
        <mat-button-toggle-group
          multiple
          name="multiSelect"
          aria-label="Multi Select"
          hraButtonToggleSize="small"
          hideMultipleSelectionIndicator
          (change)="toggleSelection($event.value)"
        >
          @for (option of menuOptions; track option) {
            <mat-button-toggle [value]="option" checked>{{ option }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
      <div class="ontologies">
        @if (isItemSelected('Anatomical Structures')) {
          <ccf-ontology-selection
            class="ontology-selection"
            [class.firefox]="isFirefox"
            [treeModel]="(ontologyTreeModel$ | async)!"
            [termData]="(data.ontologyTermsFullData$ | async) ?? {}"
            [occurenceData]="(data.ontologyTermOccurencesData$ | async) ?? {}"
            placeholderText="Search anatomical structures..."
            (ontologySelection)="ontologySelected($any($event), 'anatomical-structures')"
          >
          </ccf-ontology-selection>
        }
        @if (isItemSelected('Cell Types')) {
          <ccf-ontology-selection
            class="cell-type-selection"
            [class.firefox]="isFirefox"
            [treeModel]="(cellTypeTreeModel$ | async)!"
            [termData]="(data.cellTypeTermsFullData$ | async) ?? {}"
            [occurenceData]="(data.cellTypeTermOccurencesData$ | async) ?? {}"
            placeholderText="Search cell types..."
            (ontologySelection)="ontologySelected($any($event), 'cell-type')"
          >
          </ccf-ontology-selection>
        }
        @if (isItemSelected('Biomarkers')) {
          <ccf-ontology-selection
            class="biomarker-selection"
            [class.firefox]="isFirefox"
            [treeModel]="(biomarkersTreeModel$ | async)!"
            [termData]="(data.biomarkerTermsFullData$ | async) ?? {}"
            [occurenceData]="(data.biomarkerTermOccurencesData$ | async) ?? {}"
            placeholderText="Search Biomarkers..."
            (ontologySelection)="ontologySelected($any($event), 'biomarkers')"
          >
          </ccf-ontology-selection>
        }

        @if (selectedtoggleOptions.length === 0) {
          <div class="no-selection-notice">
            No anatomical structures, cell types, or biomarkers selected. Use the above buttons to view the registered
            listings.
          </div>
        }
      </div>
    </div>

    <div class="content">
      <button class="spatial-search-button" mat-flat-button (click)="spatialFlowService.startSpatialSearchFlow()">
        Spatial Search
      </button>
      <ccf-body-ui
        #bodyUI
        class="stage-content"
        [scene]="$any(scene.scene$ | async)"
        (nodeClick)="scene.sceneNodeClicked($event)"
        (nodeHoverStart)="scene.sceneNodeHovered($event)"
        (nodeHoverStop)="scene.sceneNodeUnhover()"
        [bounds]="{ x: 2.2, y: 2, z: 0.4 }"
      >
      </ccf-body-ui>
    </div>

    <div class="right-panel">
      <ccf-results-browser
        [listResults]="(listResultsState.listResults$ | async) ?? []"
        [aggregateData]="(data.aggregateData$ | async) ?? []"
        (listResultSelected)="listResultsState.selectListResult(asMutable($event))"
        (listResultDeselected)="listResultsState.deselectListResult(asMutable($event))"
        (listResultExpansionChange)="listResultsState.changeExpansion(asMutable($event))"
        (linkClicked)="openiFrameViewer($event)"
        (itemUnhovered)="listResultsState.unHighlightNode()"
        [header]="(header$ | async) ?? false"
      >
      </ccf-results-browser>
    </div>
  </div>
</mat-sidenav-container>
