:host {
  display: grid;
  grid-template-columns: 24.5rem auto 24.625rem;
  grid-template-rows: 0rem 5rem calc(100vh - 5rem);
  grid-template-areas:
    'back back back'
    'header vis-panel right'
    'left content right';

  background-color: var(--sys-surface-container-low);

  &.embedded {
    grid-template-rows: 3rem 4.5rem auto;
  }

  &:not(.embedded) hra-back-button-bar {
    display: none;
  }

  hra-back-button-bar {
    grid-area: back;
  }

  ::ng-deep hra-nav-header-buttons {
    grid-area: header;
    height: 3rem;
    margin: 1rem 0rem;
    justify-content: center;

    hra-brandmark,
    mat-icon {
      height: 3rem !important;
      width: 3rem !important;
    }

    .hra-logo {
      width: 3rem !important;
    }

    .app-logo {
      margin-right: 0rem !important;
    }

    .app-name {
      margin-left: 0.75rem !important;
    }

    .logos-text .app-label {
      font: var(--sys-title-medium) !important;
      letter-spacing: var(--sys-title-medium-tracking) !important;
    }
  }

  .vis-panel {
    grid-area: vis-panel;
    margin: 0 1rem;
  }

  .left-panel {
    grid-area: left;
    display: grid;
    grid-template-rows: 3.375rem 3rem auto;
    grid-template-areas:
      'filter'
      'toggle'
      'ontologies';

    .filter-data {
      grid-area: filter;
      display: flex;
      align-items: center;
    }

    .filter-text {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
      margin-left: 3rem;
    }

    .toggle-settings {
      grid-area: toggle;
      padding: 0 1rem;
    }

    mat-button-toggle-group {
      --mat-standard-button-toggle-selected-state-text-color: var(--sys-secondary);
      width: 100%;
    }

    .ontologies {
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 11.375rem);

      ccf-ontology-selection {
        flex: 1 1;
        overflow: hidden;

        &.firefox {
          padding-right: 0.5rem;
        }
      }
    }
  }

  .right-panel {
    grid-area: right;
  }

  .content {
    grid-area: content;
  }

  .no-selection-notice {
    font: var(--sys-body-medium);
    color: var(--sys-secondary);
    padding: 0 1rem;
  }
}

::ng-deep .hra-app .mat-mdc-menu-panel {
  min-width: 280px;
  --mat-menu-item-with-icon-leading-spacing: 0.75rem;
  --mat-menu-item-with-icon-trailing-spacing: 0.75rem;
  .expand-arrow {
    --mat-menu-item-spacing: 0.75rem;
  }
}
