@use '@angular/material' as mat;
@use 'vars';
@use 'utils';

:host {
  /** Material Tab Style Overrides */
  @include mat.tabs-overrides(
    (
      active-indicator-color: vars.$on-tertiary-fixed,
      active-focus-indicator-color: vars.$on-tertiary-fixed,
      active-hover-indicator-color: vars.$on-tertiary-fixed,
      active-focus-label-text-color: vars.$secondary,

      inactive-label-text-color: vars.$primary,
    )
  );

  .logs-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    .logs-list-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      @include utils.use-font(label, medium);
    }
  }

  .debug-log {
    min-width: 31.25rem;
  }

  ::ng-deep .mat-list-item-content {
    padding: 0 !important;
  }

  :host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    align-items: flex-start;
  }

  .i2 {
    @include utils.use-font(label, medium);
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
  }

  .check_circle {
    color: #66bb6a !important;
  }

  .error {
    color: #ffca28 !important;
  }

  .cancel {
    color: #ff5722 !important;
  }
  .mat-list-container {
    padding: 0;
  }
  .list-item-first {
    padding-left: 0;
  }
  .error-icon-list {
    color: grey;
  }
  .list-item-section {
    width: 100%;
  }
  .expansion-panel-container {
    box-shadow: none !important;
  }
  .expansion-panel-header {
    width: 99%;
  }
  .expansion-panel-content {
    text-align: start;
    max-height: 18.75rem;
    overflow: auto;
  }
  .error-list-container {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
  }
}
