<app-sidenav>
  <div header>
    <app-sidenav-header
      [title]="'Debug Log'"
      [tooltipString]="
        'Displays important messages about problems that occurred during the creation of the visualization(s).'
      "
      (closeSideNav)="closeDebug.emit()"
    ></app-sidenav-header>
  </div>

  <div body class="debug-log">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab [label]="currentSheet().display">
        <div class="content">
          <div class="logs-list">
            <div *ngFor="let l of logs().sheetLogs.messages" class="logs-list-item">
              <mat-icon class="error-icon-list" [ngClass]="l.icon">{{ l.icon }}</mat-icon>
              <div [innerHTML]="l.text"></div>
            </div>
            <div *ngIf="logs().sheetLogs.MULTI_IN_LINKS.length" class="logs-list">
              <mat-icon class="error mt-1">error</mat-icon>
              <div mat-line class="error-list-container">
                <mat-expansion-panel class="expansion-panel-container w-100">
                  <mat-expansion-panel-header
                    class="p-0 expansion-panel-header"
                    [collapsedHeight]="'2.1875rem'"
                    [expandedHeight]="'2.1875rem'"
                  >
                    <mat-panel-title>
                      <div>
                        <p class="i2" [innerHTML]="'Nodes with multiple in-links'"></p>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="expansion-panel-content">
                    <p class="i2" *ngFor="let i of logs().sheetLogs.MULTI_IN_LINKS" [innerHTML]="i"></p>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
            <div *ngIf="logs().sheetLogs.SELF_LINKS.length" class="logs-list-item">
              <mat-icon class="error mt-1">error</mat-icon>
              <div mat-line class="error-list-container">
                <mat-expansion-panel class="expansion-panel-container w-100">
                  <mat-expansion-panel-header
                    class="p-0 expansion-panel-header"
                    [collapsedHeight]="'2.1875rem'"
                    [expandedHeight]="'2.1875rem'"
                  >
                    <mat-panel-title>
                      <div>
                        <p class="i2" [innerHTML]="'Nodes with self-links'"></p>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="expansion-panel-content">
                    <p class="i2" *ngFor="let i of logs().sheetLogs.SELF_LINKS" [innerHTML]="i"></p>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
            <div *ngIf="logs().sheetLogs.NO_IN_LINKS.length" class="logs-list-item">
              <mat-icon class="error mt-1">error</mat-icon>
              <div mat-line class="error-list-container">
                <mat-expansion-panel class="expansion-panel-container w-100">
                  <mat-expansion-panel-header
                    class="p-0 expansion-panel-header"
                    [collapsedHeight]="'2.1875rem'"
                    [expandedHeight]="'2.1875rem'"
                  >
                    <mat-panel-title>
                      <div>
                        <p class="i2" [innerHTML]="'Nodes with no in-links'"></p>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="expansion-panel-content">
                    <p class="i2" *ngFor="let i of logs().sheetLogs.NO_IN_LINKS" [innerHTML]="i"></p>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
            <div *ngIf="logs().sheetLogs.NO_OUT_LINKS.length" class="logs-list-item">
              <mat-icon class="error mt-1">error</mat-icon>
              <div mat-line class="error-list-container">
                <mat-expansion-panel class="expansion-panel-container w-100">
                  <mat-expansion-panel-header
                    class="p-0 expansion-panel-header"
                    [collapsedHeight]="'2.1875rem'"
                    [expandedHeight]="'2.1875rem'"
                  >
                    <mat-panel-title>
                      <div>
                        <p class="i2" [innerHTML]="'Nodes with no out-links'"></p>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="expansion-panel-content">
                    <p class="i2" *ngFor="let i of logs().sheetLogs.NO_OUT_LINKS" [innerHTML]="i"></p>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="All Logs">
        <div class="logs-list mt-2" *ngFor="let AL of logs().allLogs">
          <div *ngFor="let l of AL.messages" class="logs-list-item py-2">
            <mat-icon class="error-icon-list" [ngClass]="l.icon">{{ l.icon }}</mat-icon>
            <div mat-line class="error-list-container">
              <span class="i2" [innerHTML]="l.text"></span>
            </div>
          </div>
          <div *ngIf="AL.MULTI_IN_LINKS.length" class="logs-list-item list-item-section mt-2">
            <mat-icon class="error mt-1">error</mat-icon>
            <div mat-line class="error-list-container">
              <mat-expansion-panel class="expansion-panel-container w-100">
                <mat-expansion-panel-header
                  class="p-0 expansion-panel-header"
                  [collapsedHeight]="'2.1875rem'"
                  [expandedHeight]="'2.1875rem'"
                >
                  <mat-panel-title>
                    <div>
                      <p class="i2" [innerHTML]="'Nodes with multiple in-links'"></p>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                  <p class="i2" *ngFor="let i of logs().sheetLogs.MULTI_IN_LINKS" [innerHTML]="i"></p>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
          <div *ngIf="AL.SELF_LINKS.length" class="logs-list-item list-item-section mt-2">
            <mat-icon class="error mt-1">error</mat-icon>
            <div mat-line class="error-list-container">
              <mat-expansion-panel class="expansion-panel-container w-100">
                <mat-expansion-panel-header
                  class="p-0 expansion-panel-header"
                  [collapsedHeight]="'2.1875rem'"
                  [expandedHeight]="'2.1875rem'"
                >
                  <mat-panel-title>
                    <div>
                      <p class="i2" [innerHTML]="'Nodes with self-links'"></p>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                  <p class="i2" *ngFor="let i of logs().sheetLogs.SELF_LINKS" [innerHTML]="i"></p>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
          <div *ngIf="AL.NO_IN_LINKS.length" class="logs-list-item list-item-section mt-2">
            <mat-icon class="error mt-1">error</mat-icon>
            <div mat-line class="error-list-container">
              <mat-expansion-panel class="expansion-panel-container w-100">
                <mat-expansion-panel-header
                  class="p-0 expansion-panel-header"
                  [collapsedHeight]="'2.1875rem'"
                  [expandedHeight]="'2.1875rem'"
                >
                  <mat-panel-title>
                    <div>
                      <p class="i2" [innerHTML]="'Nodes with no in-links'"></p>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                  <p class="i2" *ngFor="let i of logs().sheetLogs.NO_IN_LINKS" [innerHTML]="i"></p>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
          <div *ngIf="AL.NO_OUT_LINKS.length" class="logsList list-item-section mt-2">
            <mat-icon class="error mt-1">error</mat-icon>
            <div mat-line class="error-list-container">
              <mat-expansion-panel class="expansion-panel-container w-100">
                <mat-expansion-panel-header
                  class="p-0 expansion-panel-header"
                  [collapsedHeight]="'2.1875rem'"
                  [expandedHeight]="'2.1875rem'"
                >
                  <mat-panel-title>
                    <div>
                      <p class="i2" [innerHTML]="'Nodes with no out-links'"></p>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                  <p class="i2" *ngFor="let i of logs().sheetLogs.NO_OUT_LINKS" [innerHTML]="i"></p>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-sidenav>
