:host {
  display: block;
  background: linear-gradient(to bottom, #e6eaf0, #ffffff);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 120px;
}

h1 {
  font: var(--sys-display-large);
  letter-spacing: var(--sys-display-large-tracking);
  font-weight: 500;
  margin: 0;
}

.info-text {
  font: var(--sys-body-large);
  letter-spacing: var(--sys-body-large-tracking);
  color: #4c4c58;
}

.table-container {
  margin-top: 48px;
  margin-bottom: 5px;

  caption {
    display: none;
  }

  .more-icon {
    display: flex;
  }

  .predictions-table {
    background-color: #fcfcfc;
    border-collapse: collapse;

    th,
    td {
      font: var(--sys-label-medium);
      letter-spacing: var(--sys-label-medium-tracking);
      font-weight: 500;
      border: 1px solid #acb5c3;
    }

    th {
      color: #201e3d;
      background-color: #eff2f5;
    }
    td {
      color: #4b4b5e;

      &:last-child {
        color: #b20a2f;
      }
    }
  }

  // Remove default Material padding
  ::ng-deep .mat-cell:first-of-type,
  ::ng-deep .mat-header-cell:first-of-type {
    padding-left: 16px;
  }

  ::ng-deep .mat-cell:last-of-type,
  ::ng-deep .mat-header-cell:last-of-type {
    padding-right: 16px;
  }
}
