:host {
  display: block;
  max-width: 72.5rem;
  margin: 10rem auto;
}

h1 {
  font: var(--mat-sys-display-large);
  letter-spacing: var(--mat-sys-display-large-tracking);
  margin: 0;
  word-wrap: break-word;
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.info-text {
  font: var(--mat-sys-body-large);
  letter-spacing: var(--mat-sys-body-large-tracking);
  color: var(--mat-sys-on-secondary-container);
  word-wrap: break-word;
}

.table-container {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem; // TODO
  overflow: hidden;

  caption {
    display: none;
  }

  .more-icon {
    display: flex;
  }

  .table-overflow-container {
    max-width: calc(100vw - 4rem);
    max-height: 26rem;
    overflow: auto;
    border: 1px solid var(--mat-sys-outline);
    border-radius: 0.25rem;

    .predictions-table {
      background-color: var(--mat-sys-secondary-container);
      width: 100%;
      min-width: 54.0625rem;

      tr:not(:last-child) {
        border-bottom: 0.0625rem solid var(--mat-sys-outline);
      }

      th,
      td {
        font: var(--mat-sys-label-medium);
        letter-spacing: var(--mat-sys-label-medium-tracking);

        &:not(:last-child) {
          border-right: 0.0625rem solid var(--mat-sys-outline);
        }
      }

      th {
        color: var(--mat-sys-on-primary-container);
        background-color: var(--mat-sys-surface-container);
      }
      td {
        color: var(--mat-sys-inverse-surface);
      }
    }
  }

  // Remove default Material padding
  ::ng-deep .mat-cell:first-of-type,
  ::ng-deep .mat-header-cell:first-of-type {
    padding-left: 1rem;
  }

  ::ng-deep .mat-cell:last-of-type,
  ::ng-deep .mat-header-cell:last-of-type {
    padding-right: 1rem;
  }
}
::ng-deep {
  .tooltip-panel {
    background-color: white;
    box-shadow: rgb(from var(--mat-sys-secondary) r g b / 24%);
    border-radius: 0.5rem;
    max-width: 22rem;
    font: var(--mat-sys-label-medium);
    letter-spacing: var(--mat-sys-label-medium-tracking);
    color: var(--mat-sys-primary);
  }

  .cdk-overlay-connected-position-bounding-box {
    margin-left: 0.5rem;
  }

  .cdk-overlay-pane .mat-mdc-menu-panel {
    max-width: 22rem;
    margin-left: 0.05rem;
    .mat-mdc-menu-content {
      padding: 0;
    }
  }
}
