:host {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  ccf-slices-input {
    margin: 0.75rem 0 1.5rem 0;
  }

  hra-expansion-panel {
    ::ng-deep {
      .header > .title {
        font: var(--mat-sys-label-large);
      }
      .content {
        margin: 0 1rem;
      }
    }

    &.tissue-block-settings {
      ::ng-deep {
        .content {
          .expansion-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 40px 0 28px;
          }
        }
      }
    }

    .position {
      display: flex;
      flex-direction: column;

      .label {
        padding: 0.5rem 0;
        font: var(--mat-sys-label-medium);
      }

      .box {
        height: 3rem;
        width: 5rem;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12px;

        span {
          color: var(--mat-sys-on-primary-fixed-variant);
        }

        .position-label {
          font: var(--mat-sys-label-small);
        }
        .position-value {
          font: var(--mat-sys-label-medium);
        }
      }

      .x-position {
        background-color: color-mix(in srgb, #d50000 8%, transparent);
        margin-bottom: 0.5rem;
      }

      .y-position {
        background-color: color-mix(in srgb, #00c853 8%, transparent);
        margin-bottom: 0.5rem;
      }

      .z-position {
        background-color: color-mix(in srgb, #2979ff 8%, transparent);
      }
    }
  }

  .tissue-block-settings {
    border-bottom: 1px solid #acb5c3;
  }

  .as-tags {
    ccf-tag-list {
      margin-top: 1rem;
    }

    ::ng-deep .header {
      height: 3.5rem;
    }
  }

  .buttons {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #acb5c3;
    margin-top: 1rem;
  }

  .info-button-container {
    height: 3.75rem;
    display: flex;
    justify-content: flex-end;
  }

  .review-button {
    ::ng-deep .mat-mdc-button-disabled {
      pointer-events: auto;
      box-shadow: none;
    }
  }
}
