<hra-expansion-panel [title]="'Tissue Block Settings'" class="tissue-block-settings">
  <hra-expansion-panel-actions>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      hraIconButtonSize="large"
      aria-label="Icon to open nested menu"
      hraMicroTooltip="More"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="settings-overlay">
      <button
        mat-menu-item
        matRipple
        matRippleColor="#201E3D14"
        (click)="
          setDefaultPosition(); blocksize.refreshBlockSize(); slices.refreshSlices(); rotation.resetAllRotations()
        "
      >
        Reset all settings
      </button>
      <mat-divider class="menu-divider"></mat-divider>
      <button mat-menu-item matRipple matRippleColor="#201E3D14" (click)="setDefaultPosition()">Reset position</button>
      <button mat-menu-item matRipple matRippleColor="#201E3D14" (click)="blocksize.refreshBlockSize()">
        Reset size
      </button>
      <button mat-menu-item matRipple matRippleColor="#201E3D14" (click)="rotation.resetAllRotations()">
        Reset rotation
      </button>
    </mat-menu>
  </hra-expansion-panel-actions>
  <hra-expansion-panel-header-content>
    <button
      mat-icon-button
      [matMenuTriggerFor]="help"
      hraIconButtonSize="large"
      aria-label="Icon to open nested menu"
      hraMicroTooltip="App guides and training resources"
    >
      <mat-icon>help</mat-icon>
    </button>
    <mat-menu #help="matMenu">
      <a
        mat-menu-item
        href="https://youtu.be/vk9oReXWfkY
        target="_blank"
        rel="noopener noreferrer"
      >
        Watch video tutorial
      </a>
      <a
        mat-menu-item
        href="https://github.com/hubmapconsortium/hra-ui/wiki/Application-Guides#registration-user-interface"
        target="_blank"
        rel="noopener noreferrer"
      >
        Use app guide
      </a>
      <a mat-menu-item href="https://doi.org/10.5281/zenodo.5575776" target="_blank" rel="noopener noreferrer">
        Use standard operating procedure
      </a>
      <mat-divider class="menu-divider"></mat-divider>
      <a mat-menu-item href="https://apps.humanatlas.io/eui/" target="_blank" rel="noopener noreferrer">
        Explore all registrations
      </a>
    </mat-menu>
  </hra-expansion-panel-header-content>
  <div class="position">
    <span class="label">Position</span>
    <div class="x-position box" hraMicroTooltip="Current position of the tissue block measured in millimeters">
      <span class="position-label">X</span>
      <span class="position-value">{{ (position$ | async)?.x }}</span>
    </div>
    <div class="y-position box" hraMicroTooltip="Current position of the tissue block measured in millimeters">
      <span class="position-label">Y</span>
      <span class="position-value">{{ (position$ | async)?.y }}</span>
    </div>
    <div class="z-position box" hraMicroTooltip="Current position of the tissue block measured in millimeters">
      <span class="position-label">Z</span>
      <span class="position-value">{{ (position$ | async)?.z }}</span>
    </div>
  </div>
  <ccf-block-size-input
    #blocksize
    [blockSize]="(model.blockSize$ | async)!"
    (blockSizeChange)="model.setBlockSize($event)"
  >
  </ccf-block-size-input>

  <ccf-rotation-slider
    #rotation
    [rotation]="$any(model.rotation$ | async)"
    (rotationChange)="model.setRotation($event)"
  >
  </ccf-rotation-slider>

  <ccf-slices-input
    #slices
    [slicesConfig]="$any(model.slicesConfig$ | async)"
    (slicesConfigChange)="model.setSlicesConfig($event)"
  >
  </ccf-slices-input>
</hra-expansion-panel>
<hra-expansion-panel [title]="'Anatomical Structure Tags'" class="as-tags">
  <ccf-tag-search [search]="astags.searchExternal" (added)="astags.addTags($event)"> </ccf-tag-search>
  <ccf-tag-list
    *ngIf="(model.organ$ | async)?.name; else tagListPlaceholder"
    class="tag-list"
    [tags]="(astags.tags$ | async) ?? []"
    (tagRemoved)="astags.removeTag($event)"
  >
  </ccf-tag-list>
  <ng-template #tagListPlaceholder> </ng-template>
</hra-expansion-panel>
<div style="flex-grow: 1"></div>
<div class="buttons">
  <button mat-button hraButtonSize="medium" (click)="metadata.openModal('edit')">Edit Metadata</button>

  <ccf-review-button
    class="review-button"
    [registrationCallbackSet]="(page.registrationCallbackSet$ | async) ?? false"
    [displayErrors]="(registration.displayErrors$ | async) ?? false"
    [userValid]="(registration.valid$ | async) ?? false"
    [metaData]="(registration.metadata$ | async) ?? []"
    (registerData)="registration.register()"
    (enterErrorMode)="registration.setDisplayErrors(!registration.isValid)"
  >
  </ccf-review-button>
</div>
