<hra-expansion-panel hraFeature="tissue-block-settings" tagline="Tissue Block Settings" class="tissue-block-settings">
  <hra-expansion-panel-actions>
    <button
      hraFeature="toggle"
      hraClickEvent
      mat-icon-button
      [matMenuTriggerFor]="menu"
      hraIconButtonSize="large"
      aria-label="Open the tissue block settings' action menu"
      hraPlainTooltip="More"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu hraFeature="menu" #menu="matMenu" class="settings-overlay">
      <button
        hraFeature="reset-all"
        hraClickEvent
        mat-menu-item
        matRipple
        matRippleColor="#201E3D14"
        (click)="
          setDefaultPosition(); blocksize.refreshBlockSize(); slices.refreshSlices(); rotation.resetAllRotations()
        "
      >
        Reset all settings
      </button>
      <mat-divider class="menu-divider"></mat-divider>
      <button
        hraFeature="reset-position"
        hraClickEvent
        mat-menu-item
        matRipple
        matRippleColor="#201E3D14"
        (click)="setDefaultPosition()"
      >
        Reset position
      </button>
      <button
        hraFeature="reset-size"
        hraClickEvent
        mat-menu-item
        matRipple
        matRippleColor="#201E3D14"
        (click)="blocksize.refreshBlockSize()"
      >
        Reset size
      </button>
      <button
        hraFeature="reset-rotation"
        hraClickEvent
        mat-menu-item
        matRipple
        matRippleColor="#201E3D14"
        (click)="rotation.resetAllRotations()"
      >
        Reset rotation
      </button>
    </mat-menu>
  </hra-expansion-panel-actions>

  <hra-expansion-panel-header-content>
    <button
      hraFeature="help"
      hraClickEvent
      mat-icon-button
      [matMenuTriggerFor]="help"
      hraIconButtonSize="large"
      aria-label="Open the tissue block settings' help menu"
      hraPlainTooltip="App guides and training resources"
    >
      <mat-icon>help</mat-icon>
    </button>
    <mat-menu hraFeature="menu" #help="matMenu">
      <a
        hraFeature="watch-video"
        hraClickEvent
        mat-menu-item
        href="https://youtu.be/18imQj068Iw"
        target="_blank"
        rel="noopener noreferrer"
      >
        Watch video tutorial
      </a>
      <a
        hraFeature="app-guide"
        hraClickEvent
        mat-menu-item
        href="https://github.com/hubmapconsortium/hra-ui/wiki/Application-Guides#registration-user-interface"
        target="_blank"
        rel="noopener noreferrer"
      >
        Use app guide
      </a>
      <a
        hraFeature="sop"
        hraClickEvent
        mat-menu-item
        href="https://doi.org/10.5281/zenodo.5575776"
        target="_blank"
        rel="noopener noreferrer"
      >
        Use standard operating procedure
      </a>
      <mat-divider class="menu-divider"></mat-divider>
      <a
        hraFeature="explore-registrations"
        hraClickEvent
        mat-menu-item
        href="https://apps.humanatlas.io/eui/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Explore all registrations
      </a>
    </mat-menu>
  </hra-expansion-panel-header-content>

  <div hraFeature="position" class="position">
    <div class="header">
      <span class="text title">Position</span>
      <span class="units">Millimeters</span>
    </div>
    <div
      hraFeature="x"
      hraClickEvent
      class="x-position box"
      hraPlainTooltip="Use mouse/keyboard to adjust block position"
    >
      <span class="position-label">X</span>
      <span class="position-value">{{ (position$ | async)?.x }}</span>
    </div>
    <div
      hraFeature="y"
      hraClickEvent
      class="y-position box"
      hraPlainTooltip="Use mouse/keyboard to adjust block position"
    >
      <span class="position-label">Y</span>
      <span class="position-value">{{ (position$ | async)?.y }}</span>
    </div>
    <div
      hraFeature="z"
      hraClickEvent
      class="z-position box"
      hraPlainTooltip="Use mouse/keyboard to adjust block position"
    >
      <span class="position-label">Z</span>
      <span class="position-value">{{ (position$ | async)?.z }}</span>
    </div>
  </div>

  <ccf-block-size-input
    hraFeature="block-size"
    #blocksize
    [blockSize]="(model.blockSize$ | async)!"
    (blockSizeChange)="model.setBlockSize($event)"
  >
  </ccf-block-size-input>
  <ccf-rotation-slider
    hraFeature="rotation"
    #rotation
    [rotation]="$any(model.rotation$ | async)"
    (rotationChange)="model.setRotation($event)"
  >
  </ccf-rotation-slider>
  <ccf-slices-input
    hraFeature="slices"
    #slices
    [slicesConfig]="$any(model.slicesConfig$ | async)"
    (slicesConfigChange)="model.setSlicesConfig($event)"
  >
  </ccf-slices-input>
</hra-expansion-panel>

<hra-expansion-panel hraFeature="AS-tags" tagline="Anatomical Structure Tags" class="as-tags">
  <hra-expansion-panel-actions>
    <button
      hraFeature="toggle"
      hraClickEvent
      mat-icon-button
      [matMenuTriggerFor]="asTagsActionMenu"
      hraIconButtonSize="large"
      aria-label="Open the anatomical structure tags' action menu"
      hraPlainTooltip="More"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu hraFeature="menu" #asTagsActionMenu="matMenu" class="settings-overlay">
      <button class="expanded" mat-menu-item matRipple matRippleColor="#201E3D14" [matMenuTriggerFor]="submenu">
        Info
        <mat-icon class="expand-arrow">arrow_right</mat-icon>
      </button>

      <mat-menu #submenu="matMenu" class="info-submenu">
        Tags identify major anatomical components of the tissue block being registered.
      </mat-menu>

      <mat-divider class="menu-divider"></mat-divider>

      <button
        hraFeature="reset"
        hraClickEvent
        mat-menu-item
        matRipple
        matRippleColor="#201E3D14"
        (click)="astags.reset()"
      >
        Reset all anatomical structure tags
      </button>
    </mat-menu>
  </hra-expansion-panel-actions>

  <div class="as-tags-content">
    <ccf-tag-search hraFeature="tag-search" [search]="astags.searchExternal" (added)="astags.addTags($event)">
    </ccf-tag-search>
    @if (assignedTags().length > 0) {
      <ccf-tag-list
        class="tag-list"
        label="Automatically Detected"
        [tags]="assignedTags()"
        (tagRemoved)="astags.removeTag($event)"
      >
      </ccf-tag-list>
    }
    @if (addedTags().length > 0) {
      <ccf-tag-list
        class="tag-list"
        label="Manually Added"
        [tags]="addedTags()"
        (tagRemoved)="astags.removeTag($event)"
      >
      </ccf-tag-list>
    }
    @if (removedTags().length > 0) {
      <ccf-tag-list
        class="tag-list"
        label="Manually Removed"
        [tags]="removedTags()"
        (tagRemoved)="astags.removeTag($event)"
      >
      </ccf-tag-list>
    }
  </div>
</hra-expansion-panel>

<div class="buttons">
  <button
    hraFeature="edit-metadata"
    hraClickEvent
    mat-button
    hraButtonSize="medium"
    (click)="metadata.openModal('edit')"
  >
    Edit Metadata
  </button>

  <ccf-review-button
    class="review-button"
    [registrationCallbackSet]="(page.registrationCallbackSet$ | async) ?? false"
    [displayErrors]="(registration.displayErrors$ | async) ?? false"
    [userValid]="(registration.valid$ | async) ?? false"
    [metaData]="(registration.metadata$ | async) ?? []"
    (registerData)="registration.register()"
    (enterErrorMode)="registration.setDisplayErrors(!registration.isValid)"
  />
</div>
