@use '../../../../../../../libs/design-system/styles/vars' as vars;

:host {
  display: grid;
  align-items: center;
  grid-template-rows: auto auto;
  grid-template-areas:
    'header menu-icon'
    'content content';

  background: vars.$on-primary;
  box-shadow: 0px 5px 16px 0px rgb(from vars.$shadow r g b / 24%);
  padding: 0.25rem 0 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font: vars.$label-small;
  letter-spacing: vars.$label-small-tracking;

  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
  }

  .title {
    color: vars.$secondary;
  }

  .label,
  .content {
    color: vars.$primary;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .menu-icon {
    grid-area: menu-icon;
  }

  .content {
    grid-area: content;
  }
}
