@use '../../../../libs/design-system/styles/vars' as vars;

:host {
  display: block;
  background: linear-gradient(
    to bottom,
    vars.$surface-container-high,
    vars.$surface-container-lowest
  );

  .content {
    display: flex;
    flex-direction: column;
  }
}
