:host {
  display: block;
  background: linear-gradient(
    to bottom,
    var(--mat-sys-surface-container-high),
    var(--mat-sys-surface-container-lowest)
  );

  .content {
    display: flex;
    flex-direction: column;
  }
}
