<ng-container hraFeature="hra-apps">
  <hra-header
    baseUrl="https://apps.humanatlas.io/"
    [menus]="menus()"
    [cta]="cta"
    [breadcrumbs]="crumbs()"
    [progress]="isNavigating()"
    [(ctaDismissed)]="ctaDismissed"
  >
    @if (!isHraPopVisualizerPage()) {
      <hra-help-button [action]="getHelpUrl()"></hra-help-button>
    } @else {
      <!-- Help & documentation Menu -->
      <mat-menu #helpMenu class="more-menu">
        <a mat-menu-item href="https://youtu.be/Ueei7BOctzY?si=WGE7HydMaFW1ABqv" target="_blank">
          <div>Watch demo video</div>
        </a>
        <mat-divider />
        <a mat-menu-item href="https://doi.org/10.1101/2025.08.14.670406" target="_blank">
          <div>Read publication</div>
        </a>
      </mat-menu>

      <hra-help-button [action]="helpMenu"></hra-help-button>
    }
  </hra-header>
  <div class="content" [class.cta-active]="!ctaDismissed()">
    <router-outlet></router-outlet>
  </div>
  <hra-footer></hra-footer>
</ng-container>
