<hra-header
  baseUrl="https://apps.humanatlas.io/"
  [menus]="menus()"
  [cta]="cta"
  [breadcrumbs]="crumbs()"
  [progress]="isNavigating()"
  [(ctaDismissed)]="ctaDismissed"
>
  @if (!isHraPopVisualizerPage()) {
    <a mat-icon-button [href]="getHelpUrl()" target="_blank" rel="noopener noreferrer">
      <mat-icon>help</mat-icon>
    </a>
  } @else {
    <a mat-icon-button [matMenuTriggerFor]="helpMenu" target="_blank" rel="noopener noreferrer">
      <mat-icon>help</mat-icon>
    </a>
    <!-- Help & documentation Menu -->
    <mat-menu #helpMenu class="more-menu">
      <a mat-menu-item href="https://youtu.be/Ueei7BOctzY?si=WGE7HydMaFW1ABqv" target="_blank">
        <div>Watch demo video</div>
      </a>
      <mat-divider />
      <a mat-menu-item href="https://doi.org/10.1101/2025.08.14.670406" target="_blank">
        <div>Read publication</div>
      </a>
    </mat-menu>
  }
</hra-header>
<div class="content" [class.cta-active]="!ctaDismissed()">
  <router-outlet></router-outlet>
</div>
<hra-footer></hra-footer>
