:host {
  display: block;
  background: linear-gradient(
    to bottom,
    var(--mat-sys-surface-container-high),
    var(--mat-sys-surface-container-lowest)
  );

  .content {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 944px) {
  .content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
