<ccf-page-header [headerCard]="pageHeader"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData"></ccf-page-data>
<div class="table-title">
    {{tableTitle}}
</div>
    <ul class="main">
        <li class="main-item">
            <a href="https://docs.google.com/document/u/0/d/1bHi61R2T2GqwgRGH2OtlimWtz2HL_5KyH5tQpzzH898/edit" target="_blank">Introduction to the Human Reference Atlas</a>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">Standard Operating Procedures</a>
            <ul>
                <li class="page-data">
                    <p>Managing SOPs</p>
                    <ul>
                        <li>
                            <a href="https://docs.google.com/document/u/0/d/18c9OZ8glq7Avgef9yuf5bzSMQ_p12EuxmPr0vW01Wck/edit" target="_blank">Section Overview Template</a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/document/d/1EFupv_ehdX-kiybceP64T54XZwI0iq-ZqG26s7_ijLY/edit#" target="_blank">SOP Template</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://docs.google.com/document/d/1IBuPOt2mkPOOMF9vUsZk5HQ3vm9M7WjnlW-ZOMG6wSY/edit#" target="_blank">Glossary</a>
                </li>
                <li class="page-data">
                    <p>Design Style Guide</p>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="https://docs.google.com/document/u/0/d/1l20H7brenvTh4Vomrns4SPZbqQxRnrnO7sOF3BtN2b4/edit" target="_blank">3D Tissue Registration</a>
            <ul>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5575776" target="_blank">Using the CCF Registration User Interface</a>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5746143" target="_blank">Assigning the Same RUI Location to Multiple Tissue
                        Blocks</a>
                </li>
                <li>
                    <p class="page-data">Constructing a Millitome and Generating Virtual Tissue
                        Blocks</p>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.7382703" target="_blank">Millitome Use</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <p class="page-data">Anatomical Structures and Cell Type Segmentation</p>
            <ul>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5565027" target="_blank">Manual Segmentation of Tissue</a>
                </li>
                <li>
                    <p class="page-data">Running a Kaggle Competition</p>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <p class="page-data">Anatomical Structures and Cell Type Annotation</p>
            <ul>
                <li>
                    <p class="page-data">Computing Cell Type Populations from Cell by Gene
                        Matrices</p>
                </li>
                <li>
                    <p class="page-data">Computing Cell Type Populations from CODEX data</p>
                </li>
                <li>
                    <p class="page-data">Using Cell Type Population Data in HRA Interfaces</p>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <p class="page-data">VCCF Framework</p>
            <ul>
                <li>
                    <p class="page-data">Creating Organ Vessel Maps</p>
                </li>
                <li>
                    <p class="page-data">Blood vasculature that does not connect with ASCT+B Tables</p>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <p class="page-data">Vasculature Computations</p>
            <ul>
                <li>
                    <p class="page-data">Computing Vessel Properties</p>
                </li>
                <li>
                    <p class="page-data">Computing Cell Type to Vasculature Distance Distributions</p>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="https://docs.google.com/document/d/1oppBW06hfCUifii7LAI2MpaFED78atMx-r6ezyzPTqw/edit#heading=h.6ys5lo962o6b" target="_blank">Anatomical Structures, Cell Types, Plus Biomarkers (ASCT+B) Tables</a>
            <ul>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5746152" target="_blank">Authoring ASCT+B Tables</a>
                </li>
                <li>
                    <p class="page-data">Authoring ASCT+B Tables ASCT+B Generator Python script</p>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5749882" target="_blank">Construction of Organ Mapping Antibody Panels (OMAPs)</a>
                    <ul>
                        <li>
                            <a href="https://software.docs.hubmapconsortium.org/avr/avr-faq.html" target="_blank">FAQ: Frequently Asked Questions (FAQ) for Organ Mapping Antibody Panels (OMAPs)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.7418623" target="_blank">Constructing Antibody Validation Reports (AVRs)</a>
                    <ul>
                        <li>
                            <a href="https://software.docs.hubmapconsortium.org/avr/avr-faq.html" target="_blank">FAQ:  Frequently Asked Questions (FAQ) for Antibody Validation Report (AVR)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="page-data">Creating a Crosswalk from ASCT+B Tables to Azimuth Reference Maps</p>
                </li>
                <li>
                    <p class="page-data">Mapping Experimental Data to the HRA Using OMAPs or Azimuth</p>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5639622" target="_blank">ASCT+B Table Communications</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="https://docs.google.com/document/d/1NOY6PsjGr1GDa39PZaTxoSvr0Ee4L8rW6lyYqNgyBC0/edit#heading=h.6ys5lo962o6b" target="_blank">3D Reference Object Library</a>
            <ul>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.7384275" target="_blank">Creating 3D models from Datasets</a>
                </li>
                <li>
                    <p class="page-data">Creating a Crosswalk from ASCT+B Tables to 3D Reference Objects</p>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5944196" target="_blank">3D Reference Object Approval</a>
                </li>
                <li>
                    <p class="page-data">Using 3D Reference Objects</p>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <p class="page-data">2D Functional Tissue Unit (FTU) Reference Object Library</p>
            <ul>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.6703107" target="_blank">Creating 2D Illustrations for Functional Tissue Units</a>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.6703376" target="_blank">Style Guide: Human Reference Atlas 2D Functional Tissue Unit (FTU) Illustrations</a>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.5748154" target="_blank">Creating a Crosswalk from ASCT+B Tables to 2D Functional Tissue Unit Models</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <p class="page-data">HRA Validation and Review</p>
            <ul>
                <li>
                    <p class="page-data">Internal Validation of ASCT+B Tables, and 2D and 3D Reference Objects</p>
                </li>
                <li>
                    <p class="page-data">Validation Checks Performed by the DO-CMS </p>
                </li>
                <li>
                    <p class="page-data">ASCT+B Table Validation with CCF_Tools</p>
                </li>
                <li>
                    <p class="page-data">Reporter Validation Checks</p>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="https://docs.google.com/document/d/1ZlJV61GA60ZtWoCu8HE93fBPOxPootfAe-ggAzipWEM/edit#heading=h.6ys5lo962o6b" target="_blank">Human Reference Atlas Publication</a>
            <ul>
                <li>
                    <p class="page-data">Tracking Digital Object Status</p>
                </li>
                <li>
                    <p class="page-data">Maintaining the HRA Portal</p>
                </li>
                <li>
                    <p class="page-data">Designing Organ Icons</p>
                </li>
                <li>
                    <a href="https://doi.org/10.5281/zenodo.7384461" target="_blank">Registering Digital Object Identifiers</a>
                </li>
                <li>
                    <p class="page-data">Publishing CCF.OWL on BioPortal and OLS</p>
                </li>
                <li>
                    <p class="page-data">HRA Release Process</p>
                </li>
            </ul>
        </li>
    </ul>
<ccf-page-data [data]="acknowledgmentsData" class="description"></ccf-page-data>
