:host {
  max-width: 77rem;

  a:-webkit-any-link {
    font-size: 1rem;
  }

  li {
    list-style: none !important;
  }

  .main {
    margin-block-start: unset;
    margin-block-end: unset;
    padding-inline-start: unset;
  }

  .main-item {
    padding-bottom: 1rem;
  }

  li>a {
    display: inline-block;
    padding-bottom: 1rem;
  }

  @media (max-width: 80rem) {
    padding: 0rem 1rem;
  }
}
