<ccf-page-header [headerCard]="pageHeader"></ccf-page-header>
<ccf-page-data [data]="overviewData"></ccf-page-data>
<div class="table-title">
    {{tableTitle}}
</div>
    <ul class="main">
        <li class="main-item">
            <a href="www.google.com" target="_blank">Introduction to the Human Reference Atlas</a>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">Standard Operating Procedures</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Managing SOPs</a>
                    <ul>
                        <li>
                            <a href="www.google.com" target="_blank">Section Overview Template</a>
                        </li>
                        <li>
                            <a href="www.google.com" target="_blank">SOP Template</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Digital Object Status and Tracking</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Glossary</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">3D Tissue Registration</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Using the CCF Registration User Interface</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Assigning the Same RUI Location to Multiple Tissue
                        Blocks</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Constructing a Millitome and Generating Virtual Tissue
                        Blocks</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Millitome Use</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">Anatomical Structures and Cell Type Segmentation</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Manual Segmentation of Tissue</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Running a Kaggle Competition</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">Anatomical Structures and Cell Type Annotation</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Computing Cell Type Populations from Cell by Gene
                        Matrices</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Computing Cell Type Populations from CODEX data</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Using Cell Type Population Data in HRA Interfaces</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">VCCF Framework</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Creating Organ Vessel Maps</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Blood vasculature that does not connect with ASCT+B Tables</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">Vasculature Computations</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Computing Vessel Properties</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Computing Cell Type to Vasculature Distance Distributions</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">Anatomical Structures, Cell Types, Plus Biomarkers (ASCT+B) Tables</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Authoring ASCT+B Tables</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Authoring ASCT+B Tables ASCT+B Generator Python script</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">FAQ: Constructing OMAPs</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Creating a Crosswalk from ASCT+B Tables to Azimuth Reference Maps</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">ASCT+B Table Communications</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">3D Reference Object Library</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Creating 3D reference Objects - what is required in order to make a 3D object, how its done</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Creating a Crosswalk from ASCT+B Tables to 3D Reference Objects</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">3D Reference Object Approval</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Using 3D Reference Objects</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">2D Functional Tissue Unit (FTU) Reference Object Library</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Creating 2D Illustrations for Functional Tissue Units</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Style Guide: Human Reference Atlas 2D Functional Tissue Unit (FTU) Illustrations</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Creating a Crosswalk from ASCT+B Tables to 2D Functional Tissue Unit Models</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">HRA Validation and Review</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">Internal Validation of ASCT+B Tables, and 2D and 3D Reference Objects</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Validation Checks Performed by the DO-CMS </a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">ASCT+B Table Validation with CCF_Tools</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Reporter Validation Checks</a>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <a href="www.google.com" target="_blank">Human Reference Atlas Publication</a>
            <ul>
                <li>
                    <a href="www.google.com" target="_blank">HRA Portal Maintenance</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Organ Icon Design</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Minting DOIs</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">Publishing CCF.OWL on BioPortal and OLS</a>
                </li>
                <li>
                    <a href="www.google.com" target="_blank">HRA Release Process</a>
                </li>
            </ul>
        </li>
    </ul>
<!-- <ccf-table [typeCount]="(tableData|async)??[]" [displayedColumns]="displayedColumnsData" [columns]="headerInfo" [isOrgan]="false"></ccf-table> -->

<ccf-page-data [data]="acknowledgmentsData"></ccf-page-data>
