@use "@angular/material" as mat;
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

$typography: mat.define-typography-config(
  $font-family: (
    "Inter",
    sans-serif,
  ),
);

@include mat.core($typography);

$hra-pallete: (
  50: #edefff,
  100: #d1daef,
  200: #b9c1db,
  300: #9ea8c6,
  400: #8a94b5,
  500: #7582a5,
  600: #667393,
  700: #545f7c,
  800: #444c65,
  900: #30374d,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$my-accent: mat.define-palette($hra-pallete, 800, 200, 900);

$my-primary: mat.define-palette($hra-pallete, 800, 200, 900);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

a:-webkit-any-link {
  color: #3d72bf;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.content-title {
  font-weight: 300;
  font-size: 1.5rem;
}

.page-data {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
}

.accuracy-prizes {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4202rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.list-links {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
  color: #0a6ebd;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.description,
.button-container {
  margin-bottom: 2.5rem;
}

.page-title {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.005rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.hra-bold {
  font-weight: 500;
}