:host {
  .button-container {
    padding-bottom: 2rem;
  }

  .mat-raised-button {
    background-color: #fafafa;
    border: 0.063rem solid #444c65;
    border-radius: 0.125rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.005rem;
    color: #444c65;
    box-shadow: unset;
  }
}
