@use 'utils';

:host {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2.5rem 1rem;

  @media (min-width: 40rem) {
    padding: 2.5rem 2.5rem;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .version-select {
    width: 15.5rem;

    // Keep the mat select label from shrinking
    ::ng-deep .mdc-floating-label {
      transform: translateY(-106%) !important;
    }

    mat-select-trigger {
      @include utils.use-font(label, medium);
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .section-button {
    margin-top: 1.5rem;
  }

  ::ng-deep .item-list {
    p {
      margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    ul {
      margin: 0;
      list-style-type: disc;
    }
  }

  ::ng-deep .item-content {
    p {
      display: flex;
      flex-direction: column;
    }

    img {
      max-width: 800px;
    }
  }
}

.release-label {
  display: flex;
  flex-direction: column;

  .release-name {
    @include utils.use-font(label, medium);
    color: var(--mat-sys-secondary);
  }

  .release-date {
    @include utils.use-font(label, small);
    color: var(--mat-sys-primary);
  }
}

// Styling for selected dropdown items
.mat-mdc-option-active {
  --mat-option-selected-state-label-text-color: var(--mat-sys-on-tertiary-fixed);
  background-color: utils.with-alpha(var(--mat-sys-tertiary), 20%) !important;
  outline: none !important;
}
