@use 'utils';

:host {
  .page-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .subsection-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .version-select {
    width: 15.5rem;

    // Keep the mat select label from shrinking
    ::ng-deep .mdc-floating-label {
      transform: translateY(-106%) !important;
    }

    mat-select-trigger {
      @include utils.use-font(label, medium);
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .section-button {
    width: fit-content;
  }

  ::ng-deep markdown {
    p {
      margin: 0;
    }

    ul {
      margin: 0;
      list-style-type: disc;
      padding-inline-start: 1.5rem;
    }

    img {
      max-width: 50rem;
    }

    a {
      color: var(--mat-sys-on-tertiary-fixed);
    }
  }
}

.release-label {
  display: flex;
  flex-direction: column;

  .release-name {
    @include utils.use-font(label, medium);
    color: var(--mat-sys-secondary);
  }

  .release-date {
    @include utils.use-font(label, small);
    color: var(--mat-sys-primary);
  }
}

// Styling for selected dropdown items
.mat-mdc-option-active {
  --mat-option-selected-state-label-text-color: var(--mat-sys-on-tertiary-fixed);
  background-color: utils.with-alpha(var(--mat-sys-tertiary), 20%) !important;
  outline: none !important;
}
