<hra-page-section tagline="Release Notes" level="1" underlined>
  <div class="header-content">
    What's new in the Human Reference Atlas.
    <mat-form-field class="version-select" subscriptSizing="dynamic">
      <mat-label>Release Version</mat-label>
      <mat-select
        disableRipple
        panelClass="options-container"
        [(ngModel)]="currentVersion"
        (selectionChange)="navigate($event)"
      >
        <mat-select-trigger>{{ currentVersion().label }}</mat-select-trigger>
        @for (dataset of versions(); track dataset.version) {
          <mat-option [value]="dataset">
            <div class="release-label">
              <span class="release-name">{{ dataset.label }}</span>
              <span class="release-date">{{ dataset.date }}</span>
            </div>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</hra-page-section>

<hra-page-section [tagline]="`${currentVersion().label}, ${currentVersion().date}`" level="2" underlined>
  <markdown [data]="currentVersion().description"></markdown>
</hra-page-section>

@for (data of currentVersionData(); track data.header) {
  <hra-page-section [tagline]="data.header" [level]="data.level">
    <div class="section-content">
      @if (data.pageData) {
        <div class="initial-section-content">
          <markdown class="item-list" [data]="data.pageData.itemList"></markdown>
          <markdown class="item-content" [data]="data.pageData.content"></markdown>
          @if (data.pageData.buttonUrl) {
            <a mat-button hraCtaButton class="action section-button" [href]="data.pageData.buttonUrl" target="_blank">
              {{ data.pageData.buttonText }}
              <mat-icon iconPositionEnd>arrow_forward</mat-icon>
            </a>
          }
        </div>
      }
      @for (section of data.sections; track section.header) {
        <hra-page-section [tagline]="section.header" [level]="section.level">
          <div class="subsection-content">
            @if (section.pageData) {
              <markdown class="item-list" [data]="section.pageData.itemList"></markdown>
              <markdown class="item-content" [data]="section.pageData.content"></markdown>
              @if (section.pageData.buttonUrl) {
                <a
                  mat-button
                  hraCtaButton
                  class="action section-button"
                  [href]="section.pageData.buttonUrl"
                  target="_blank"
                >
                  {{ section.pageData.buttonText }}
                  <mat-icon iconPositionEnd>arrow_forward</mat-icon>
                </a>
              }
            }
          </div>
        </hra-page-section>
      }
    </div>
  </hra-page-section>
}
