:host {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;

  .long-card {
    width: 14.5rem;
    height: 42rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 5px 16px 0px rgba(32, 30, 61, 0.24);
    outline-offset: 0;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: contain;
    }

    .label {
      margin: 1.5rem 1.5rem 0;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 500;
      width: fit-content;
      color: #b20a2f;
      display: flex;
      align-items: center;
    }

    mat-icon {
      vertical-align: middle;
      margin-left: 0.5rem;
    }
  }
  @media (max-width: 544px) {
    justify-content: center;
  }
  @media (min-width: 545px) and (max-width: 768px) {
    gap: 0.75rem;
  }

  @media (min-width: 1013px) and (max-width: 1280px) {
    gap: 0.5rem;
  }

  @media (min-width: 1281px) and (max-width: 1440px) {
    gap: 1.875rem;
  }

  @media (min-width: 1441px) {
    .long-card {
      width: 17rem;
      height: 51rem;

      .label {
        margin: 3rem 1.5rem 0;
        font-size: 1.125rem;
        line-height: 1.6875rem;
      }
    }
  }
}
