@use '@angular/material' as mat;
@use 'vars';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  --hra-table-of-contents-layout-top-offset: 0rem;

  ::ng-deep router-outlet + * {
    overflow-y: auto;
  }

  // Set flat-button font globally
  @include mat.button-overrides(
    (
      filled-label-text-font: vars.$label-medium-font,
      filled-label-text-size: vars.$label-medium-size,
      filled-label-text-tracking: vars.$label-medium-tracking,
      filled-label-text-weight: vars.$label-medium-weight,
    )
  );
}
