@if (header() !== false) {
  <hra-header baseUrl="https://apps.humanatlas.io/cde/" [breadcrumbs]="crumbs()" hraFeature="cde-app-header">
    <a
      mat-icon-button
      [matMenuTriggerFor]="exploreMenu"
      rel="noopener noreferrer"
      hraPlainTooltip="Explore sample data"
      hraFeature="explore-sample-data"
      hraClickEvent
    >
      <mat-icon>explore</mat-icon>
    </a>
    <a mat-icon-button routerLink="/create" hraPlainTooltip="Upload data" hraFeature="upload-data" hraClickEvent>
      <mat-icon>upload</mat-icon>
    </a>
    <a
      mat-icon-button
      href="https://humanatlas.io/user-story/5"
      rel="noopener noreferrer"
      hraPlainTooltip="Help & documentation"
      hraFeature="help-and-documentation"
      hraClickEvent
    >
      <mat-icon>help</mat-icon>
    </a>

    <!-- Explore sample data Menu -->
    <mat-menu #exploreMenu class="more-menu" hraFeature="explore-sample-data-menu">
      <a mat-menu-item routerLink="/example/0" target="_blank" hraFeature="2d-intestine-data" hraClickEvent>
        <div class="title">2D intestine data</div>
        <div class="description">CyCIF colorectal cancer data from Peter Sorger Lab</div>
      </a>
      <mat-divider />
      <a mat-menu-item routerLink="/example/1" target="_blank" hraFeature="3d-skin-data" hraClickEvent>
        <div class="title">3D skin data</div>
        <div class="description">Cell DIVE skin data from GE Healthcare</div>
      </a>
    </mat-menu>
  </hra-header>
}
<router-outlet></router-outlet>
