<!-- <ccf-page-header [headerCard]="kaggle2021Header" class="page-header"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData" class="description"></ccf-page-data>
<ccf-page-data [data]="awardsCeremony" class="description"></ccf-page-data>

<div class="content-title">Winning Teams</div>
<div class="accuracy-prizes">Accuracy Prizes</div>
<div style="padding-bottom: 1rem;">
    <mat-card>
        <img src="assets/images/accuracy_prizes.svg" class="prize-image">
    </mat-card>
    <ccf-prize-card [prizeCard]="accuracyPrizeData"></ccf-prize-card>
    <div class="accuracy-prizes">Judge Prizes</div>
    <ccf-prize-card [prizeCard]="judgesPrizeData"></ccf-prize-card>
    <div class="accuracy-prizes">Kudos!</div>
    <ccf-prize-card [prizeCard]="kudosData"></ccf-prize-card>
</div>
<ccf-page-data [data]="datasetsData" class="description"></ccf-page-data>
<div class="datasets-container">
    <a href="https://portal.hubmapconsortium.org/browse/dataset/8adc3c31ca84ec4b958ed20a7c4f4919"
        title="HuBMAP ID that links to dataset" target="_blank">HBM875.QHDJ.259</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/13f68db2ce711221e402e6af2d8cad45"
        title="HuBMAP ID that links to dataset" target="_blank">HBM463.JRTB.582</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/058f837db913d4c3d0854eb2229c2695"
        title="HuBMAP ID that links to dataset" target="_blank">HBM958.GHFM.676</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/751d7b4638d6bfe51756669a4f192c00"
        title="HuBMAP ID that links to dataset" target="_blank">HBM636.ZPTS.368</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/64fb1a207109beb61404b7e0b4c60810"
        title="HuBMAP ID that links to dataset" target="_blank">HBM725.PDDC.788</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/46bab56124c61f7a66c50c3cde0aa596"
        title="HuBMAP ID that links to dataset" target="_blank">HBM636.GVWP.354</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/7eef1634020f429f9855ff319ff0c65e"
        title="HuBMAP ID that links to dataset" target="_blank">HBM362.PTQJ.743</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/9eb457ab0141f7ba734e337917a9bde9"
        title="HuBMAP ID that links to dataset" target="_blank">HBM783.GDKK.879</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/7810dadcb43b35ef9de6378f3d53b532"
        title="HuBMAP ID that links to dataset" target="_blank">HBM389.MBWW.346</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/7aed690c306ad4a8e08b7ec794e3a304"
        title="HuBMAP ID that links to dataset" target="_blank">HBM879.CDHB.995</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/8030bee708b211203104616629480b52"
        title="HuBMAP ID that links to dataset" target="_blank">HBM662.PMPZ.644</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/47f4411d2eba0edaad6951c5cc1bc03b"
        title="HuBMAP ID that links to dataset" target="_blank">HBM833.DBGG.252</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/ae7723aee8bc809afe0a05756bdf91de"
        title="HuBMAP ID that links to dataset" target="_blank">HBM473.FKKH.583</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/5eacc268fa94d3419580ff04c9a9c76d"
        title="HuBMAP ID that links to dataset" target="_blank">HBM874.RZDW.757</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/7e3f3b5d1890f9612efb91d3a820cdcc"
        title="HuBMAP ID that links to dataset" target="_blank">HBM849.XMPC.398</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/3d2c9295c0e05f4d81d23ee95e9dad23"
        title="HuBMAP ID that links to dataset" target="_blank">HBM623.RPMC.638</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/1e9b9d5ac57ac8bd4093f2503675a2cd"
        title="HuBMAP ID that links to dataset" target="_blank">HBM979.HDZH.896</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/d0be34d165e38dc3b9074aca578a1c46"
        title="HuBMAP ID that links to dataset" target="_blank">HBM276.PGFS.693</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/484b359a4b9d4e370f52c4c3fef782a3"
        title="HuBMAP ID that links to dataset" target="_blank">HBM264.XSVF.528</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/20fea3266c0b545def76080a3f545d0a"
        title="HuBMAP ID that links to dataset" target="_blank">HBM676.SNVK.793</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/d63f77a8a5b4c23a328f526517a52ff9"
        title="HuBMAP ID that links to dataset" target="_blank">HBM984.PMZN.942</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/bb820445c6d02c53ecc7ff6e98681742"
        title="HuBMAP ID that links to dataset" target="_blank">HBM649.XFQG.775</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/8690897fced9931da34d66d669c1d698"
        title="HuBMAP ID that links to dataset" target="_blank">HBM627.RSGW.898</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/9472427491eb889f5884175a8a0d59bf"
        title="HuBMAP ID that links to dataset" target="_blank">HBM344.LLLV.539</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/56416e5ba064fef6e3cffc6fb3f47eb7"
        title="HuBMAP ID that links to dataset" target="_blank">HBM296.RLWW.755</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/32d2d8cd78933cf74f9855ca764a1391"
        title="HuBMAP ID that links to dataset" target="_blank">HBM324.ZGZM.874</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/7afaa263c0c928094459c597940e0351"
        title="HuBMAP ID that links to dataset" target="_blank">HBM673.JJRZ.435</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/7308530b92438fdbe258b501aeb86069"
        title="HuBMAP ID that links to dataset" target="_blank">HBM227.THVC.544</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/b4c8ef4fdbc94b884e8f3251ac9143bd"
        title="HuBMAP ID that links to dataset" target="_blank">HBM649.DLZF.463</a>
    <a href="https://portal.hubmapconsortium.org/browse/dataset/0a13556dc03c91eca001161c82facf36"
        title="HuBMAP ID that links to dataset" target="_blank">HBM832.FQKR.463</a>
</div>
<ccf-page-data [data]="acknowledgmentsData" class="description"></ccf-page-data> -->
<ccf-page-renderer [defs]="data"></ccf-page-renderer>
