@use '../../../../../../../libs/design-system/styles/vars' as vars;

:host {
  display: grid;
  grid-template-areas: 'scene info-panel';
  grid-template-rows: calc(100vh - 2rem);
  grid-template-columns: auto 27.75rem;
  background-color: vars.$surface-container-low;

  .spatial-search-scene {
    grid-area: scene;
    display: flex;
    background: black;

    .sidebar {
      .minimap-scene {
        margin: 1.5rem;
        height: 13.5rem;
        width: 15.5rem;

        ::ng-deep .body-ui {
          background-color: #232f3a;
        }
      }

      ccf-spatial-search-keyboard-ui-behavior {
        margin: 2rem 0 4rem 0;
        display: flex;
        justify-content: center;
      }

      ccf-xyz-position {
        color: vars.$surface-container;
        font: vars.$label-large;
        margin: 0 auto;
        width: fit-content;
      }
    }
  }

  .info-panel {
    grid-area: info-panel;
    display: grid;
    grid-template-rows: 4.25rem 3rem 4.5rem calc(100% - 17.25rem) 5.5rem;
    grid-template-areas:
      'header'
      'organ-sex-selection'
      'radius-slider'
      'results'
      'buttons';
  }

  .header {
    grid-area: header;
    display: flex;
    padding: 1rem 0.75rem 1rem 1rem;
    align-items: center;
    font: vars.$label-large;
    color: vars.$secondary;
  }

  .organ-sex-selection {
    grid-area: organ-sex-selection;
    display: flex;
    padding: 0 1rem;
  }

  .radius-slider {
    grid-area: radius-slider;
    display: flex;
    font: vars.$label-medium;
    color: vars.$secondary;
    margin: 0 1rem;

    .slider-title {
      display: flex;
      align-items: center;
    }

    .slider-container {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .slider {
        width: 100%;
        --mdc-slider-handle-color: #{vars.$secondary};
        --mdc-slider-active-track-color: #{vars.$secondary};
        --mdc-slider-inactive-track-color: #acb5c3;

        margin: 0 1rem;

        ::ng-deep .mdc-slider__track--inactive {
          opacity: 1;
        }
      }

      .radius-value {
        white-space: nowrap;
      }
    }
  }

  .results {
    grid-area: results;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'tissues'
      'as'
      'ct';
  }

  .tissue-block {
    grid-area: tissues;
  }

  .anatomical-structures {
    grid-area: as;
  }

  .cell-type {
    grid-area: ct;
  }

  .button-container {
    grid-area: buttons;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid vars.$outline-variant;

    button {
      line-height: normal;
    }
  }

  .tissue-block,
  .anatomical-structures,
  .cell-type {
    border-top: 1px solid #acb5c3;
  }
}

::ng-deep .spatial-search-ui {
  --mdc-dialog-container-shape: 0.75rem;
  --mdc-dialog-container-color: #{vars.$surface-container-low};
}
