@use 'utils';
@use 'vars';
@use '@angular/material' as mat;
@import './../../../assets/stylesheets/_colors.scss';

:host {
  .checkboxes {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem 0 1rem;
    mat-checkbox {
      display: block;
    }
  }

  .radios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem 0.5rem 1rem;

    @include mat.radio-overrides(
      (
        selected-icon-color: vars.$on-tertiary-fixed,
        selected-pressed-icon-color: vars.$on-tertiary-fixed,
        selected-focus-icon-color: vars.$on-tertiary-fixed,
        selected-hover-icon-color: vars.$on-tertiary-fixed,

        unselected-icon-color: vars.$primary,
        unselected-pressed-icon-color: vars.$primary,
        unselected-focus-icon-color: vars.$primary,
        unselected-hover-icon-color: vars.$primary,

        ripple-color: vars.$primary,
        checked-ripple-color: vars.$on-tertiary-fixed,
      )
    );
  }

  .controls {
    padding: 0 1rem 1rem 1rem;

    .title {
      @include utils.use-font(label, medium);
      color: vars.$primary;
      margin-bottom: 0.5rem;
    }

    .toggle-full-width {
      width: 100%;
      mat-button-toggle {
        flex: 1;
      }
    }

    .control {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      margin-bottom: 1rem;
      mat-form-field {
        width: 5rem;
      }
      mat-slider {
        flex: 1;
        margin: 0;
      }
    }
  }

  .numberInput {
    background-color: #fafafa !important;
    border-radius: 0.25rem !important;
    font: inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 500%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
  }

  .controls .mat-expansion-panel-header-description {
    justify-content: flex-end !important;
    align-items: center;
    margin-right: 0 !important;
  }

  .controls .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .controls .mat-expansion-panel-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .vis-controls {
    font-size: 0.9rem;
  }
}
