<div class="controls" hraFeature="tree-controls">
  <div class="title">Tree controls</div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Width</mat-label>
      <input [(ngModel)]="config.width" type="number" matInput (change)="changeWidth()" />
    </mat-form-field>
    <mat-slider tickInterval="100" min="100" max="1000" (change)="changeWidth()" discrete>
      <input matSliderThumb [(ngModel)]="config.width" />
    </mat-slider>
  </div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Height</mat-label>
      <input [(ngModel)]="config.height" type="number" matInput (change)="changeHeight()" />
    </mat-form-field>
    <mat-slider tickInterval="100" min="100" max="7000" (change)="changeHeight()" discrete>
      <input matSliderThumb [(ngModel)]="config.height"
    /></mat-slider>
  </div>
</div>

<div class="controls" hraFeature="bimodal-distance-controls">
  <div class="title">Bimodal distance controls</div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>X</mat-label>
      <input [(ngModel)]="config.bimodal_distance_x" type="number" matInput (change)="changeBimodalDistanceX()" />
    </mat-form-field>
    <mat-slider
      thumbLabel
      color="primary"
      tickInterval="100"
      min="50"
      max="500"
      (change)="changeBimodalDistanceX()"
      discrete
    >
      <input matSliderThumb [(ngModel)]="config.bimodal_distance_x"
    /></mat-slider>
  </div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Y</mat-label>
      <input [(ngModel)]="config.bimodal_distance_y" type="number" matInput (change)="changeBimodalDistanceY()" />
    </mat-form-field>
    <mat-slider tickInterval="100" min="10" max="200" (change)="changeBimodalDistanceY()" discrete>
      <input matSliderThumb [(ngModel)]="config.bimodal_distance_y" />
    </mat-slider>
  </div>
</div>

<div class="ids" hraFeature="ids-labels">
  <div class="label">IDs & labels</div>

  <div class="checkboxes">
    <mat-slide-toggle
      *ngIf="currentSheet.name === 'all' || (currentSheet.name === 'some' && selectedOrgans.length > 8)"
      [checked]="config.show_all_AS"
      (change)="changeShowAS()"
      matTooltip="Toggle Visibility of Anatomical Structures"
      matTooltipPosition="below"
      hraFeature="show-all-as"
      [hraClickEvent]="{ enabled: config.show_all_AS }"
    >
      Show all AS
    </mat-slide-toggle>
    <mat-slide-toggle
      [checked]="config.show_ontology"
      (change)="changeShowOntology()"
      matTooltip="Toggle Visibility of Ontology Links"
      matTooltipPosition="below"
      hraFeature="show-ontology"
      [hraClickEvent]="{ enabled: config.show_ontology }"
    >
      Show ontology IDs
    </mat-slide-toggle>
  </div>

  <mat-button-toggle-group hraButtonToggleSize="medium" hideSingleSelectionIndicator="false">
    <mat-button-toggle
      value="1"
      [checked]="config.discrepencyLabel"
      (change)="showDiscrepencyLabel()"
      hraFeature="discrepency-label"
      hraClickEvent
    >
      Label mismatch
    </mat-button-toggle>
    <mat-button-toggle
      value="2"
      [checked]="config.discrepencyId"
      (change)="showDiscrepencyId()"
      hraFeature="discrepency-id"
      hraClickEvent
    >
      ID Missing
    </mat-button-toggle>
    <mat-button-toggle
      value="3"
      [checked]="config.duplicateId"
      (change)="showDuplicateId()"
      hraFeature="duplicate-id"
      hraClickEvent
    >
      ID Duplicates
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
