@use 'utils';
@use 'vars';
@use '@angular/material' as mat;
@use './../../../assets/stylesheets/_colors.scss';

:host {
  .controls {
    padding: 0 1rem 0.5rem 1rem;

    .title {
      @include utils.use-font(label, medium);
      color: vars.$primary;
      margin-bottom: 0.5rem;
    }

    .toggle-full-width {
      width: 100%;
      mat-button-toggle {
        flex: 1;
      }
    }

    .control {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      margin-bottom: 1rem;
      mat-form-field {
        width: 5rem;
      }
      mat-slider {
        flex: 1;
        margin: 0;
      }
    }
  }

  .numberInput {
    background-color: #fafafa !important;
    border-radius: 0.25rem !important;
    font: inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 500%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
  }

  .controls .mat-expansion-panel-header-description {
    justify-content: flex-end !important;
    align-items: center;
    margin-right: 0 !important;
  }

  .controls .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .controls .mat-expansion-panel-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .vis-controls {
    font-size: 0.9rem;
  }

  .ids {
    margin: 0 1rem 1rem 1rem;

    .label {
      @include utils.use-font(label, medium);
      color: vars.$primary;
      margin-bottom: 0.5rem;
    }

    .checkboxes {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 0.75rem;

      @include mat.slide-toggle-overrides(
        (
          label-text-color: vars.$primary,
          label-text-font: vars.$label-medium-font,
          label-text-line-height: vars.$label-medium-line-height,
          label-text-size: vars.$label-medium-size,
          label-text-tracking: vars.$label-medium-tracking,
          label-text-weight: vars.$label-medium-weight,
        )
      );
    }

    mat-button-toggle-group {
      width: 100%;

      @include mat.button-toggle-overrides(
        (
          label-text-font: vars.$label-small-font,
          label-text-line-height: vars.$label-small-line-height,
          label-text-size: vars.$label-small-size,
          label-text-tracking: vars.$label-small-tracking,
          label-text-weight: vars.$label-small-weight,
        )
      );

      mat-button-toggle {
        flex: 1;
      }
    }
  }
}
