<div class="controls" hraFeature="tree-controls">
  <div class="title">Tree controls</div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Width</mat-label>
      <input type="number" matInput [(ngModel)]="config.width" (change)="changeWidth()" />
    </mat-form-field>
    <mat-slider
      hraFeature="width"
      tickInterval="100"
      min="100"
      max="1000"
      discrete
      [hraClickEvent]="{ width: config.width }"
      (change)="changeWidth()"
    >
      <input matSliderThumb [(ngModel)]="config.width" />
    </mat-slider>
  </div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Height</mat-label>
      <input type="number" matInput [(ngModel)]="config.height" (change)="changeHeight()" />
    </mat-form-field>
    <mat-slider
      hraFeature="height"
      tickInterval="100"
      min="100"
      max="7000"
      discrete
      [hraClickEvent]="{ height: config.height }"
      (change)="changeHeight()"
    >
      <input matSliderThumb [(ngModel)]="config.height"
    /></mat-slider>
  </div>
</div>

<div class="controls" hraFeature="bimodal-distance-controls">
  <div class="title">Bimodal distance controls</div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>X</mat-label>
      <input type="number" matInput [(ngModel)]="config.bimodal_distance_x" (change)="changeBimodalDistanceX()" />
    </mat-form-field>
    <mat-slider
      hraFeature="x"
      thumbLabel
      color="primary"
      tickInterval="100"
      min="50"
      max="500"
      discrete
      [hraClickEvent]="{ x: config.bimodal_distance_x }"
      (change)="changeBimodalDistanceX()"
    >
      <input matSliderThumb [(ngModel)]="config.bimodal_distance_x" />
    </mat-slider>
  </div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Y</mat-label>
      <input type="number" matInput [(ngModel)]="config.bimodal_distance_y" (change)="changeBimodalDistanceY()" />
    </mat-form-field>
    <mat-slider
      hraFeature="y"
      tickInterval="100"
      min="10"
      max="200"
      discrete
      [hraClickEvent]="{ y: config.bimodal_distance_y }"
      (change)="changeBimodalDistanceY()"
    >
      <input matSliderThumb [(ngModel)]="config.bimodal_distance_y" />
    </mat-slider>
  </div>
</div>

<div class="ids" hraFeature="ids-labels">
  <div class="label">IDs & labels</div>

  <div class="checkboxes">
    <mat-slide-toggle
      *ngIf="currentSheet.name === 'all' || (currentSheet.name === 'some' && selectedOrgans.length > 8)"
      matTooltip="Toggle Visibility of Anatomical Structures"
      matTooltipPosition="below"
      hraFeature="show-all-as"
      [checked]="config.show_all_AS"
      [hraClickEvent]="{ enabled: config.show_all_AS }"
      (change)="changeShowAS()"
    >
      Show all AS
    </mat-slide-toggle>
    <mat-slide-toggle
      matTooltip="Toggle Visibility of Ontology Links"
      matTooltipPosition="below"
      hraFeature="show-ontology-ids"
      [checked]="config.show_ontology"
      [hraClickEvent]="{ enabled: config.show_ontology }"
      (change)="changeShowOntology()"
    >
      Show ontology IDs
    </mat-slide-toggle>
  </div>

  <mat-button-toggle-group hraButtonToggleSize="medium" hideSingleSelectionIndicator="false">
    <mat-button-toggle
      value="1"
      hraFeature="discrepency-label"
      hraClickEvent
      [checked]="config.discrepencyLabel"
      (change)="showDiscrepencyLabel()"
    >
      Label mismatch
    </mat-button-toggle>
    <mat-button-toggle
      value="2"
      hraFeature="discrepency-id"
      hraClickEvent
      [checked]="config.discrepencyId"
      (change)="showDiscrepencyId()"
    >
      ID Missing
    </mat-button-toggle>
    <mat-button-toggle
      value="3"
      hraFeature="duplicate-id"
      hraClickEvent
      [checked]="config.duplicateId"
      (change)="showDuplicateId()"
    >
      ID Duplicates
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
