<div class="checkboxes">
  <mat-checkbox
    *ngIf="currentSheet.name === 'all' || (currentSheet.name === 'some' && selectedOrgans.length > 8)"
    [checked]="config.show_all_AS"
    (change)="changeShowAS()"
    matTooltip="Toggle Visibility of Anatomical Structures"
    matTooltipPosition="below"
    >Show all AS</mat-checkbox
  >
  <mat-checkbox
    [checked]="config.show_ontology"
    (change)="changeShowOntology()"
    matTooltip="Toggle Visibility of Ontology Links"
    matTooltipPosition="below"
    >Ontology IDs</mat-checkbox
  >
</div>

<mat-radio-group class="radios">
  <mat-radio-button value="1" [checked]="config.discrepencyLabel" (change)="showDiscrepencyLabel()"
    >Label mismatch</mat-radio-button
  >
  <mat-radio-button value="2" [checked]="config.discrepencyId" (change)="showDiscrepencyId()"
    >ID Missing</mat-radio-button
  >
  <mat-radio-button value="3" [checked]="config.duplicateId" (change)="showDuplicateId()"
    >ID Duplicates</mat-radio-button
  >
</mat-radio-group>

<div class="controls">
  <div class="title">Tree controls</div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Width</mat-label>
      <input [(ngModel)]="config.width" type="number" matInput (change)="changeWidth()" />
    </mat-form-field>
    <mat-slider tickInterval="100" min="100" max="1000" (change)="changeWidth()">
      <input matSliderThumb [(ngModel)]="config.width" />
    </mat-slider>
  </div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Height</mat-label>
      <input [(ngModel)]="config.height" type="number" matInput (change)="changeHeight()" />
    </mat-form-field>
    <mat-slider tickInterval="100" min="100" max="7000" (change)="changeHeight()">
      <input matSliderThumb [(ngModel)]="config.height"
    /></mat-slider>
  </div>
</div>

<div class="controls">
  <div class="title">Bimodal distance controls</div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>X</mat-label>
      <input [(ngModel)]="config.bimodal_distance_x" type="number" matInput (change)="changeBimodalDistanceX()" />
    </mat-form-field>
    <mat-slider thumbLabel color="primary" tickInterval="100" min="50" max="500" (change)="changeBimodalDistanceX()">
      <input matSliderThumb [(ngModel)]="config.bimodal_distance_x"
    /></mat-slider>
  </div>
  <div class="control">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Y</mat-label>
      <input [(ngModel)]="config.bimodal_distance_y" type="number" matInput (change)="changeBimodalDistanceY()" />
    </mat-form-field>
    <mat-slider tickInterval="100" min="10" max="200" (change)="changeBimodalDistanceY()">
      <input matSliderThumb [(ngModel)]="config.bimodal_distance_y" />
    </mat-slider>
  </div>
</div>
