@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-ontology-tree {
    .node {
      .toggle {
        background: mat.m2-get-color-from-palette($background, background);
        color: mat.m2-get-color-from-palette($foreground, text);
      }

      .text {
        color: mat.m2-get-color-from-palette($primary, text);

        &:hover {
          color: mat.m2-get-color-from-palette($accent);
        }
      }

      .selected {
        color: mat.m2-get-color-from-palette($foreground, selected-ontology-text);
      }

      .filtered-out {
        color: mat.m2-get-color-from-palette($primary, text);
      }

      .unavailable {
        color: mat.m2-get-color-from-palette($foreground, disabled-text);
      }
    }
  }
}
