<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef class="table-title" mat-sort-header>
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row">
        {{ column.cell(row) }}
      </td>
    <ng-container *ngIf="isTotal">
      <td mat-cell *matCellDef="let row" [innerHtml]="column.cell(row)" [class.transform]="isOrgan"></td>
      <td mat-footer-cell *matFooterCellDef class="table-footer">
        <ng-container *ngIf="isNumericColumn(column.columnDef); else totalLabel">
          {{ getTotal(column.columnDef) }}
        </ng-container>
        <ng-template #totalLabel>
          <ng-container *ngIf="column.isTotalRequired; else blank">Totals</ng-container>
        </ng-template>
        <ng-template #blank></ng-template>
      </td>
    </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <div class="first-column">
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </div>
    <div *ngIf="isTotal">
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </div>
  </table>
</div>