$text-color: #212121;
$background-color: #ffffff;
$border-color: #e0e0e0;

@mixin default-font($weight: 500) {
  font-family: "Inter";
  font-style: normal;
  font-weight: $weight;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
}

@mixin text-alignment($type, $text-align) {
  $text-align-to-justify-content: (
    start: start,
    left: start,
    end: end,
    right: end,
    center: center,
  );
  $text-align-to-padding-side: (
    start: left,
    left: left,
    end: right,
    right: right,
    center: ''
  );
  $text-align-to-text-align: (
    start: left,
    left: left,
    end: right,
    right: right,
    center: ''
  );
  $justify-content: map-get($text-align-to-justify-content, $text-align);
  $padding-side: map-get($text-align-to-padding-side, $text-align);
  $text-align: map-get($text-align-to-text-align, $text-align);

  .alignment-#{$type} {
    text-align: $text-align;

    @if $padding-side != '' {
      padding-#{$padding-side}: 1rem;
    }
  }

  ::ng-deep th.alignment-#{$type} > * {
    justify-content: $justify-content;

    .mat-sort-header-content {
      text-align: $text-align;
    }
  }
}

:host {
  display: block;
  width: 100%;
  overflow-x: auto;

  .data-table {
    table-layout: fixed;
    min-width: 100%;
    background-color: $background-color;
    border: 0.063rem solid $border-color;
    box-shadow: 0rem 0.125rem 0.063rem rgba(0, 0, 0, 0.16);

    .table-title,
    .table-cell,
    .table-footer {
      @include default-font();
      min-width: 6.125rem;
      color: $text-color;
      text-overflow: ellipsis;
      white-space: break-spaces;
    }

    .table-title {
      vertical-align: text-top;
      padding: 1rem;
      max-width: 150px;
    }

    td.mat-footer-cell:first-of-type {
      padding-left: 1rem;
    }

    .table-cell {
      font-weight: 300;
      box-sizing:border-box;
    }

    .table-footer:not(:first-child) {
      text-align: right;
      box-sizing:border-box;
      white-space: unset;
      padding-right: 1rem;
    }

    td.mat-cell:last-of-type {
      box-sizing: border-box;
      padding-right: 1rem;
    }

    td.mat-footer-cell:last-of-type {
      box-sizing: border-box;
      padding-right: 1rem;
    }

    @include text-alignment(default, right);
    @include text-alignment(start, start);
    @include text-alignment(end, end);
    @include text-alignment(center, center);

    ::ng-deep .mat-sort-header-arrow {
      color: #212121 !important;
      &:hover {
        transform: rotate(180deg) !important;
        color: #ebebeb !important;
      }
    }

    .additional-header {
      text-align: center;
    }

    ::ng-deep
      .mat-sort-header-container:not(.mat-sort-header-sorted)
      .mat-sort-header-arrow {
      opacity: 0.54 !important;
      transform: rotate(180deg) !important;
      color: #ebebeb !important;
      size: 3rem;
      &:hover {
        color: #8b8383 !important;
      }
    }

    ::ng-deep .mat-sort-header-content {
      // text-align: left;
      white-space: normal;
    }

    ::ng-deep .mat-column-csv {
      white-space: nowrap !important;
      align-items: center;
    }

    ::ng-deep td.mat-column-csv {
      text-align: left !important;
      padding-left: 1rem;
      padding-right: unset !important;
    }
  }
}
