$text-color: #212121;
$background-color: #ffffff;
$border-color: #e0e0e0;

@mixin default-font($weight: 500) {
  font-family: "Inter";
  font-style: normal;
  font-weight: $weight;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
}

@mixin text-alignment($type, $text-align) {
  $text-align-to-justify-content: (
    start: start,
    left: start,
    end: end,
    right: end,
    center: center,
  );

  .alignment-#{$type} {
    text-align: $text-align;
  }

  ::ng-deep th.alignment-#{$type} > * {
    justify-content: map-get($text-align-to-justify-content, $text-align);
  }
}

:host {
  display: block;

  .data-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    table-layout: fixed;
    background-color: $background-color;
    border: 0.063rem solid $border-color;
    box-shadow: 0rem 0.125rem 0.063rem rgba(0, 0, 0, 0.16);

    .table-title,
    .table-cell,
    .table-footer {
      @include default-font();
      min-width: 150px; // TODO fix me
      color: $text-color;
      text-overflow: ellipsis;
      white-space: break-spaces;
    }

    .table-cell {
      font-weight: 300;
    }

    .table-footer:not(:first-child) {
      text-align: right;
    }

    @include text-alignment(default, right);
    @include text-alignment(start, start);
    @include text-alignment(end, end);
    @include text-alignment(center, center);

    ::ng-deep .mat-sort-header-arrow {
      color: #212121 !important;
      &:hover {
        transform: rotate(180deg) !important;
        color: #ebebeb !important;
      }
    }

    .additional-header {
      text-align: center;
    }

    ::ng-deep
      .mat-sort-header-container:not(.mat-sort-header-sorted)
      .mat-sort-header-arrow {
      opacity: 0.54 !important;
      transform: rotate(180deg) !important;
      color: #ebebeb;
      size: 3rem;
    }

    ::ng-deep .mat-column-csv {
      height: inherit;
      display: flex;
      padding: 0.5rem;
      align-items: center;
    }

  }

  // ::ng-deep table > thead > tr > th:nth-child(1) .mat-sort-header-arrow {
  //   color: #212121 !important;
  //   &:hover {
  //     transform: rotate(360deg) !important;
  //     color: #ebebeb !important;
  //   }
  // }

  // .row-one > th {
  //   text-align: center;
  // }

  // th.mat-header-cell:last-of-type {
  //   padding-right: 1rem;
  // }

  // table td:first-child {
  //   text-align: left;
  //   overflow: visible;
  //   white-space: break-spaces;
  // }

  // ::ng-deep .mat-sort-header-content {
  //   white-space: break-spaces;
  //   text-align: left;
  // }
}
