:host {
  display: block;
  td {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    color: #212121;
  }

  .table-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
    color: #212121;
  }

  .table-footer {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    color: #212121;
    text-align: right;
  }

  ::ng-deep table > tbody > tr > td:nth-child(0) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #212121;
  }

  table {
    width: 100%;
    table-layout: fixed;
    background-color: #ffffff;
    border: 0.063rem solid #e0e0e0;
    box-shadow: 0rem 0.125rem 0.063rem rgba(0, 0, 0, 0.16);
  }

  th,
  td {
    width: auto;
    text-overflow: ellipsis;
    white-space: break-spaces;
  }

  .mat-column-organ {
    width: 12rem;
    justify-content: left !important;
  }

  .mat-column-Name {
    width: 10rem;
  }

  ::ng-deep table > thead > tr > th:nth-child(1) .mat-sort-header-arrow {
    color: #212121 !important;
    &:hover {
      transform: rotate(360deg) !important;
      color: #ebebeb !important;
    }
  }

  ::ng-deep
    .mat-sort-header-container:not(.mat-sort-header-sorted)
    .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: rotate(180deg) !important;
    color: #ebebeb;
    size: 3rem;
  }

  .additional-header {
    text-align: center;
  }

  .row-one > th {
    text-align: center;
  }

  th.mat-header-cell:last-of-type {
    padding-right: 1rem;
  }

  ::ng-deep .demo-table a {
    text-decoration: none;
    color: #0a6ebd;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.005rem;
    display: block;
    width: fit-content;
  }

  table td:first-child {
    text-align: left;
    overflow: visible;
    white-space: break-spaces;
  }

  .alignment-end{
    text-align: end;
  }

  .alignment-default{
    text-align: right;
  }

  ::ng-deep .alignment-end > .mat-sort-header-container{
    justify-content: end;
  }

  ::ng-deep .mat-sort-header-content {
    white-space: break-spaces;
    text-align: left;
  }

  ::ng-deep .mat-column-csv{
    height: inherit;
    display: flex;
    padding: 0.5rem;
    align-items: center;
  }
}
