<ftu-fullscreen-container
  class="content-container"
  [fullscreen]="isFullscreen()"
  [illustrationTemplate]="illustration"
  [biomarkerTemplate]="biomarker"
  [sourceListTemplate]="sourceListTemplate"
  [(fullscreentabIndex)]="fullscreentabIndex"
  (closeFullscreen)="closefullscreen()"
>
  <ng-template #illustration>
    <div class="left-side">
      <ftu-medical-illustration-behavior
        class="illustration"
        [(isFullscreen)]="isFullscreen"
        (isFullscreenChange)="fullscreentabIndex.set(0)"
      />
    </div>
  </ng-template>

  <ng-template #biomarker>
    <div class="fullscreen-content-container">
      <ftu-biomarker-details
        class="illustration-details"
        (isBiomarkerfullscreenChange)="fullscreentabIndex.set(2)"
        (sourceListTemplate)="setSourceList($event)"
      />
    </div>
  </ng-template>
</ftu-fullscreen-container>
