@use 'vars';

:host {
  display: flex;
  flex-direction: column;
  min-width: 59rem;
  height: 100%;

  .content-container {
    display: flex;
    height: 100%;

    .left-side {
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 46.3125rem);
      flex-grow: 1;

      ftu-medical-illustration-behavior {
        height: calc(100% - 17rem);

        @media (min-width: 1440px) {
          height: calc(100% - 9.5rem);
        }

        @media (min-width: 1820px) {
          height: calc(100% - 5rem);
        }
      }

      ftu-footer-behavior {
        min-height: 5rem;

        @media (min-width: 1820px) {
          ::ng-deep hra-footer {
            padding: 0 2rem;

            .filler {
              flex-grow: 1;
            }
          }
        }
      }

      ::ng-deep hra-interactive-svg {
        display: flex;
        height: calc(100% - 3rem);
      }
    }

    .fullscreen-content-container {
      &,
      .illustration-details {
        height: 100%;
        z-index: 1;
      }

      .illustration-details {
        border-left: 1px solid rgba(vars.$light-dividers);
      }
    }
  }

  .fullscreen-on::ng-deep {
    ftu-biomarker-details {
      grid-template-columns: 0.5fr 0.5fr 1fr;

      hra-source-list {
        width: unset !important;

        hra-label-box {
          width: auto;
        }
      }
    }

    hra-label-box.table-header {
      width: auto;
    }

    hra-biomarker-table {
      max-width: none;
    }
  }
}
