@use 'variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  min-width: 59rem;

  .content-container {
    display: flex;

    .left-side {
      max-width: calc(100% - 46.3125rem);
      width: 100%;
    }

    .fullscreen-content-container {
      &,
      .illustration-details {
        height: 100%;
        z-index: 1;
      }

      .illustration-details {
        border-left: 1px solid rgba(vars.$light-dividers);
      }
    }
  }

  .fullscreen-on::ng-deep {
    ftu-biomarker-details {
      grid-template-columns: 0.5fr 0.5fr 1fr;

      hra-source-list {
        width: unset !important;

        hra-label-box {
          width: auto;
        }
      }
    }

    hra-label-box.table-header {
      width: auto;
    }

    hra-biomarker-table {
      max-width: none;
    }
  }
}
