<ftu-fullscreen-container
  class="content-container"
  [fullscreen]="isFullscreen()"
  [(fullscreentabIndex)]="fullscreentabIndex"
  (closeFullscreen)="closefullscreen()"
  [illustrationTemplate]="illustration"
  [biomarkerTemplate]="biomarker"
  [sourceListTemplate]="sourceListTemplate"
>
  <ng-template #illustration>
    <div class="left-side">
      <ftu-medical-illustration-behavior
        [(isFullscreen)]="isFullscreen"
        (isFullscreenChange)="fullscreentabIndex.set(0)"
        class="illustration"
      ></ftu-medical-illustration-behavior>
    </div>
  </ng-template>

  <ng-template #biomarker>
    <div class="fullscreen-content-container">
      <ftu-biomarker-details
        (isBiomarkerfullscreenChange)="fullscreentabIndex.set(2)"
        class="illustration-details"
        (sourceListTemplate)="setSourceList($event)"
      >
      </ftu-biomarker-details>
    </div>
  </ng-template>
</ftu-fullscreen-container>
