:host {
  display: block;
  height: 100%;

  .content-container {
    display: flex;
    height: calc(100% - 5rem - 1px);

    .illustration {
      flex-grow: 1;
    }

    .fullscreen-content-container {
      &,
      .illustration-details {
        height: 100%;
      }

      .illustration-details {
        border-left: 0.063rem solid #d3d3d3;
      }
    }
  }
  .display {
    display: none;
  }
}
