@use 'vars';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(calc(100% - 18.75rem), 3fr) minmax(13.5rem, 1fr);
    grid-template-areas:
      'illustration illustration-details'
      'source-list source-list';
    height: 100%;

    &.fullscreen {
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr;

      .fullscreen-content-container {
        border-left: none;
        height: 100%;
      }

      .source-list {
        border-top: none;
        height: 100%;
        max-height: unset;
      }
    }

    .illustration {
      grid-area: illustration;
    }

    .fullscreen-content-container {
      grid-area: illustration-details;
      position: relative;
      border-left: 0.0625rem solid vars.$outline;

      .illustration-details {
        height: 100%;
      }
    }

    .source-list {
      grid-area: source-list;
      border-top: 1px solid vars.$outline;
    }
  }
}
