<ng-container hraFeature="info-bottom-sheet">
  @if (loading || info.name === '') {
    <div class="loader-container">
      <hra-progress-spinner size="large" color="color" />
      <div>Please wait while the data loads...</div>
    </div>
  } @else {
    <div class="sheet-header">
      <div class="name">{{ info.name }}</div>
      <button mat-icon-button hraFeature="close" hraClickEvent (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-divider class="header" />

    @if (error.hasError) {
      <div class="pt-3">
        Could not fetch data {{ !info.notes ? 'and notes' : '' }} for
        <strong>{{ info.name }}</strong>
        {{ info.notes ? 'but we have some notes available' : '' }}. This could be because,
        <ul class="pl-3 pt-2">
          <li>Structure does not have an ontology ID.</li>
          <li>Structure has an invalid ontology ID.</li>
          <li>Broken network connection.</li>
        </ul>
        @if (info.notes; as notes) {
          <div>
            <div class="info-title">Notes</div>
            <div>
              {{ notes }}
            </div>
          </div>
        }

        @if (doiReferences.length > 0) {
          <div>
            <div class="pt-3"></div>
            <div class="info-title">DOI</div>
            <ul class="pl-3 pt-2">
              @for (ref of doiReferences; track ref.id) {
                <li>
                  {{ ref.doi }}
                </li>
              }
            </ul>
          </div>
        }
      </div>
    } @else {
      <div class="py-3 info">
        <div class="info-title">Description</div>
        <div class="info-description">
          {{ info.desc || 'No description found.' }}
        </div>

        <div class="info-title">Ontology ID</div>
        <div class="info-description">
          {{ info.ontologyId || 'No ID found.' }}
        </div>

        <div class="info-title">{{ info.ontologyCode === 'HGNC' ? 'Link' : 'IRI' }}</div>
        <div class="info-description">
          @if (info.iri; as iri) {
            <a target="_blank" hraHyperlink [attr.href]="iri">{{ iri }}</a>
          } @else {
            No IRI found.
          }
        </div>

        @for (item of info.extraLinks ?? {} | keyvalue; track item.key) {
          <div class="info-title">{{ item.key }}</div>

          <div class="info-description">
            <a target="_blank" hraHyperlink [attr.href]="item.value">{{
              item.value
                ? item.value
                : `No ${item.key}
                    found.`
            }}</a>
          </div>
        }

        <!-- REMOVE ME -->
        <div class="info-title">Notes</div>
        <markdown class="info-description" [data]="info.notes || 'No notes found.'" />

        <div class="info-title">DOI</div>
        @if (doiReferences.length > 0) {
          <ul class="info-description">
            @for (ref of doiReferences; track ref.id) {
              <li>
                {{ ref.doi }}
              </li>
            }
          </ul>
        } @else {
          <div class="info-description">No DOI references found.</div>
        }
      </div>
    }
  }
</ng-container>
