<ccf-page-header [headerCard]="headerCardDetails"></ccf-page-header>
<ccf-page-data [data]="overviewData"></ccf-page-data>
<ccf-sop-links [links]="sopLinksData"></ccf-sop-links>
<ccf-page-data [data]="existingTablesData"></ccf-page-data>
<ccf-choose-version [releaseDate]="versionData" [selectedDate]="placeholderDate" (selectedVersion)="setData($event)"></ccf-choose-version>
<ccf-table [typeCount]="(tableData | async) ?? []" [displayedColumns]="displayedColumnsData" [columns]="headerInfo" [isTotal]="true"></ccf-table>
<ccf-page-data [data]="exploreTablesData"></ccf-page-data>
