<ccf-page-header [headerCard]="headerCardDetails"></ccf-page-header>
<announcement-card class="description"></announcement-card>
<ccf-page-data [data]="overviewData" class="description"></ccf-page-data>
<ccf-sop-links [links]="sopLinksData" class="description"></ccf-sop-links>
<ccf-page-data [data]="existingTablesData" class="description"></ccf-page-data>
<ccf-choose-version [releaseDate]="versionData" [selectedDate]="release" (selectedVersion)="setData($event)" class="description"></ccf-choose-version>
<div style="width: 26rem;">
<ccf-table [typeCount]="(tableData | async) ?? []" [displayedColumns]="(columns | async) ?? []" [columns]="headerInfo" [isTotal]="true" [isOrgan]="true" class="description"></ccf-table>
</div>

<ccf-page-data [data]="exploreTablesData" class="description"></ccf-page-data>
<ccf-page-data [data]="tablesUnderDevelopmentData" class="description"></ccf-page-data>
<ccf-page-data [data]="acknowledgmentsData" class="description"></ccf-page-data>
