<hra-page-section>
  <header-content>
    <span class="header">Human Reference Atlas</span>
    <span class="subheader">
      3D Multiscale Biomolecular Human Reference Atlas Construction, Visualization and Usage
    </span>
  </header-content>
  <section-content>
    <div></div>
    <span class="description">
      The Human Reference Atlas (HRA) is a multiscale, multimodal, three-dimensional atlas of the anatomical structures
      and cells in the healthy human body. The HRA provides standard terminologies and data structures for describing
      specimens, biological structures, and spatial positions linked to existing ontologies.
    </span>
  </section-content>
</hra-page-section>

<div class="carousel-container">
  <hra-carousel [items]="computedData()['carouselItems']" />
</div>

<hra-count-info [countInfoList]="computedData()['countInfo']" />

<hra-section-cards [cardInfo]="computedData()['sectionCardInfo']" />
