@use 'utils';

:host {
  display: flex;
  flex-direction: column;

  hra-page-section,
  hra-section-cards {
    align-self: center;
  }

  hra-page-section {
    margin: 5rem 1rem;
    max-width: 80rem;

    hra-page-section-header {
      display: flex;
      flex-direction: column;

      .header {
        @include utils.use-font(display, large);
        color: var(--mat-sys-secondary);
      }

      .subheader {
        @include utils.use-font(title, large);
        color: var(--mat-sys-primary);
      }
    }

    .description {
      @include utils.use-font(body, xl);
    }
  }

  .carousel-container {
    margin: 0 1rem 5rem 1rem;

    hra-carousel {
      max-width: 80rem;
      margin: 0 auto;
    }
  }

  hra-count-info {
    padding: 2rem 1rem;
    background: var(--mat-sys-surface-dim);
  }

  hra-section-cards {
    margin: 6rem 1rem;
    max-width: 87.5rem;
  }

  @media (min-width: 640px) {
    hra-page-section {
      margin: 5rem 2.5rem;
    }

    .carousel-container {
      margin: 0 2.5rem 5rem 2.5rem;
    }

    hra-count-info {
      padding: 2rem 2.5rem;
    }

    hra-section-cards {
      margin: 6rem 2.5rem;
    }
  }
}
